@{
    @using ExpressBase.Common;
    var dsObj = EbSerializers.Json_Deserialize(ViewBag.dsObj);
    var body = (dsObj != null) ? dsObj.Body : String.Empty;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summernote</title>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <style>
        .emailpg {
            display: block;
            position: fixed;
            right: 0;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-2" id="colselect" style="height: 500px;overflow-y: auto;">
            <ul id="data-table-list"></ul>

        </div>
        <div class="col-md-8" id="summernot_container@(ViewBag.tabnum)">
            <div id="summernote@(ViewBag.tabnum)">
                @Html.Raw(body)
            </div>
        </div>
        <div class="col-md-3 pull-right emailpg">
            <div id="PropertyG"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {



            var commonO;
            if (@ViewBag.tabnum === 0) {
                commonO = $("#layout_div").data("commonObj");
            }

            var w = $('.col-md-10').css("width");
            $('#summernote@(ViewBag.tabnum)').summernote({
                width: w,
                height: 300,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true,                  // set focus to editable area after initializing summernote
                callbacks: {
                    onImageUpload: function (files) {
                        // upload image to server and create imgNode...
                        console.log(files);
                        var form_data = new FormData();

                        form_data.append('file', files[0]);


                        $.ajax({
                            data: form_data,
                            type: "POST",
                            url: "../StaticFile/UploadImageAsync",
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (url) {
                                alert(url.initialPreview);
                                $('#summernote@(ViewBag.tabnum)').summernote("insertImage", url.initialPreview);
                            }
                        });
                        //$summernote.summernote('insertNode', imgNode);
                    }
                }
            });


            commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = new EmailWrapper('@ViewBag.Refid', '@ViewBag.VersionNumber', @ViewBag.ObjType, @Html.Raw(ViewBag.dsObj), '@ViewBag.Status', @ViewBag.tabnum);
        });
    </script>
</body>
</html>
