@{
    @using ExpressBase.Common;
    var dsObj = EbSerializers.Json_Deserialize(ViewBag.dsObj);
    var body = (dsObj != null) ? dsObj.Body : String.Empty;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summernote</title>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/Common/commonBuilderStyles.css" />@*jith*@
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script src="~/js/EmailBuilder.js"></script>
    <style>
        .emailpg {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 4;
            padding-top: 37px;
            border: 1px solid #ccc;
            box-shadow: var(--eb-shadow);
            height: 100%;
            background-color: white;
            width: 300px;
        }

        .page-outer-cont {
            margin-left: 260px;
            width: calc(100% - 260px);
        }

        .note-editor.note-frame .note-statusbar .note-resizebar {
            display: none;
        }
        .panel {
            margin: 0 !important;
        }
        .page-outer-cont {
            padding-bottom: 0 !important;
        }
        .panel-body {
            height: calc(100vh - 116px) !important;
            overflow-y: auto !important;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="side-toolbar" id="colselect">
            <div class="toolbox">
                <div class="tool_items">
                    <div class="tool_item_head">
                        <i class="fa fa-caret-down"></i> Data
                    </div>
                    <div class="tool_item_body">
                        <ul id="data-table-list"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-outer-cont" id="summernot_container@(ViewBag.tabnum)">
            <div id="summernote@(ViewBag.tabnum)">
                @Html.Raw(body)
            </div>
        </div>
        <div class="emailpg">
            <div id="PropertyG"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {



            var commonO;
            if (@ViewBag.tabnum === 0) {
                commonO = $("#layout_div").data("commonObj");
            }

            var w = $('.col-md-10').css("width");
            $('#summernote@(ViewBag.tabnum)').summernote({
                width: w,
                height: 300,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true,                  // set focus to editable area after initializing summernote
                callbacks: {
                    onImageUpload: function (files) {
                        // upload image to server and create imgNode...
                        console.log(files);
                        var form_data = new FormData();

                        form_data.append('file', files[0]);


                        $.ajax({
                            data: form_data,
                            type: "POST",
                            url: "../StaticFile/UploadImageAsync",
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (url) {
                                alert(url.initialPreview);
                                $('#summernote@(ViewBag.tabnum)').summernote("insertImage", url.initialPreview);
                            }
                        });
                        //$summernote.summernote('insertNode', imgNode);
                    }
                }
            });


            commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = new EmailWrapper('@ViewBag.Refid', '@ViewBag.VersionNumber', @ViewBag.ObjType, @Html.Raw(ViewBag.dsObj), '@ViewBag.Status', @ViewBag.tabnum);
        });
    </script>
</body>
</html>
