
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    @using ExpressBase.Common;
    @using ExpressBase.Common.Objects;
    var versionObj = EbSerializers.Json_Serialize(ViewBag.dsObj);
}
<style>
    .codedit .tab-section-common {
        position: fixed;
        width: 100%;
        z-index: 100;
        padding-top: 10px;       
        background: white;
        border-bottom: 13px solid #f2f2f2;
    }
        .codedit .tab-section-common .nav > li > a {
            background: white;
            width: 150px;
            padding: 2px 15px;
            text-align: center;
            border: 1px solid #ccc;
            border-bottom: none;
        }
        .codedit .tab-section-common .nav > .active a{
            background: #f2f2f2;          
        }
    .codedit .tab-cont-common {
        margin-top: 48px;
    }
    .codedit .tab-cont-common{
        height:calc(100vh - 85px);
    }
</style>
<script>

@Html.Raw(ViewBag.Meta);
@Html.Raw(ViewBag.JsObjects);
@Html.Raw(ViewBag.EbObjectTypes);

    $(document).ready(function () {
        commonObj.init();      
    });

    var commonObj = new Eb_ObjectCommon('@ViewBag.Refid', @Html.Raw(versionObj), '@ViewBag.Status', '@ViewBag.VersionNumber', tabnum = 0, type = @ViewBag.ObjType, major = @ViewBag.Majorv, ssurl = '@ViewBag.ServiceUrl');
    $("#layout_div").data("commonObj", commonObj);

</script>

@await Component.InvokeAsync("ObjectDashboard", new { refid = ViewBag.Refid, objname = ViewBag.ObjectName, status = ViewBag.Status, desc = ViewBag.ObjectDesc, _readonly = ViewBag.ReadOnly, _type = ViewBag.ObjType, major = ViewBag.Majorv, minor = ViewBag.Minorv, patch = ViewBag.Patchv, workcopies = ViewBag.Workingcopy, _tags = ViewBag.Tags, _appId = ViewBag.AppId })


<div class="row codedit" style="margin-top:229px;">
    <div class="tab-section-common">
        <ul class="nav nav-tabs" id="versionNav">
            <li class="active"><a data-toggle="tab" class="cetab" href="#vernav0" data-verNum="@ViewBag.VersionNumber">v @ViewBag.VersionNumber</a></li>
        </ul>
    </div>
    <div class="tab-content tab-cont-common" id="versionTab">
        <div id="vernav0" class="tab-pane fade in active code_edit" data-id="new">
            @{
                if (ViewBag.ObjType == (int)EbObjectType.DataSource)
                {
                    @await Component.InvokeAsync("CodeEditor", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl })


                }
                else if (ViewBag.ObjType == (int)EbObjectType.TableVisualization)
                {
                    @await Component.InvokeAsync("DVTable", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl })

                }
                else if (ViewBag.ObjType == (int)EbObjectType.ChartVisualization)
                {
                    @await Component.InvokeAsync("DVChart", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl })

                }
                else if (ViewBag.ObjType == (int)EbObjectType.Report)
                {
                    @await Component.InvokeAsync("ReportBuilder", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl })

                }
                else if (ViewBag.ObjType == (int)EbObjectType.WebForm)
                {
                    @await Component.InvokeAsync("FormBuilder", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl })

                }
            }
        </div>
    </div>
</div>
