@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    @using Newtonsoft.Json
    var versionObj = JsonConvert.SerializeObject(ViewBag.dsObj);
}
@await Component.InvokeAsync("ObjectDashboard", new { refid = ViewBag.Refid, objname = ViewBag.ObjectName, @*totVer = ViewBag.VersionNumber,*@ status = ViewBag.Status, desc = ViewBag.ObjectDesc, _readonly = ViewBag.ReadOnly, _type = ViewBag.ObjType, major = ViewBag.Majorv, minor = ViewBag.Minorv, patch = ViewBag.Patchv, workcopies = ViewBag.Workingcopy, _tags = ViewBag.Tags })
<div class="row codedit">
    <ul class="nav nav-tabs versionNav" id="versionNav">
        <li class="active"><a data-toggle="tab" class="cetab" href="#vernav0" data-verNum="@ViewBag.VersionNumber">v @ViewBag.VersionNumber</a></li>
    </ul>
    <div class="tab-content" id="versionTab">
        <div id="vernav0" class="tab-pane fade in active code_edit" data-id="new">
            @await Component.InvokeAsync("CodeEditor", new { dsobj = versionObj , tabnum = 0, type = ViewBag.ObjType })
        </div>
    </div>
</div>
<script>
    var commonObj = new Eb_ObjectCommon('@ViewBag.Refid', @Html.Raw(versionObj), '@ViewBag.Status', '@ViewBag.VersionNumber', tabnum = 0, type = @ViewBag.ObjType);
</script>

