
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    @using ExpressBase.Common;
    @using ExpressBase.Common.Objects;
    @using ExpressBase.Common.Structures;
    var versionObj = EbSerializers.Json_Serialize(ViewBag.dsObj);
}
<style>
    .tab-section-common .nav-tabs {
        border-bottom: 2px solid #316396;
        padding-bottom: 1px;
    }
    .tab-section-common {
        background: white;
        position: fixed;
        width: 100%;
        z-index: 1;
        border-bottom: 5px solid #f2f2f2;
    }
    .tab-cont-common {
        margin-top: 34px;
    }
</style>
<script>
@Html.Raw(ViewBag.Meta);
@Html.Raw(ViewBag.JsObjects);
@Html.Raw(ViewBag.EbObjectTypes);

    $(document).ready(function () {
        commonObj.init();
    });

    var commonObj = new Eb_ObjectCommon('@ViewBag.Refid', @Html.Raw(versionObj), '@ViewBag.Status', '@ViewBag.VersionNumber', tabnum = 0, type = @ViewBag.ObjType, major = @ViewBag.Majorv, ssurl = '@ViewBag.ServiceUrl');
    $("#layout_div").data("commonObj", commonObj);
    console.log("Index   " + $("#layout_div").data("commonObj"));

</script>
<div id="object_Dashboard_main">
    @await Component.InvokeAsync("ObjectDashboard", new { refid = ViewBag.Refid, objname = ViewBag.ObjectName, status = ViewBag.Status, vernum = ViewBag.VersionNumber, workcopies = ViewBag.Workingcopy, _tags = ViewBag.Tags, _apps = ViewBag.AppId, _dashbord_tiles = ViewBag.DashboardTiles })
</div>

<div class="row codedit" id="codedit" style="margin-top:38px;">
    <div class="tab-section-common" id="tab-section-common">
        <ul class="nav nav-tabs" id="versionNav">
            @{
                var icon = "";
                if (ViewBag.VersionNumber.Substring(ViewBag.VersionNumber.Length - 1) == "w")
                {
                    icon = "fa-pencil";
                }
                else
                {
                    icon = "fa-lock";
                }
            }
            <li class="active"><a data-toggle="tab" class="cetab" href="#vernav0" data-verNum="@ViewBag.VersionNumber"><i class='fa @(icon)' aria-hidden='true'></i> v @ViewBag.VersionNumber</a></li>
            <li class=""><a data-toggle="tab" class="cetab" id="preview_tab_btn" href="#preview_tab"><i class="fa fa-play-circle" aria-hidden="true"></i> Preview</a></li>
        </ul>
    </div>
    <div class="tab-content tab-cont-common" id="versionTab">
        <div id="vernav0" class="tab-pane fade in active code_edit" data-id="new">
            @{
                if (ViewBag.ObjType == (int)EbObjectTypes.DataSource)
                {
                    @await Component.InvokeAsync("CodeEditor", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl })


                }
                else if (ViewBag.ObjType == (int)EbObjectTypes.TableVisualization)
                {
                    object o = null;
                    @await Component.InvokeAsync("DVTable", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl, counter = 0, url = ViewBag.BrowserURLContext })

                }
                else if (ViewBag.ObjType == (int)EbObjectTypes.ChartVisualization)
                {
                    object o = null;
                    @await Component.InvokeAsync("DVChart", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl, counter = 0, data = o })

                }
                else if (ViewBag.ObjType == (int)EbObjectTypes.Report)
                {
                    @await Component.InvokeAsync("ReportBuilder", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl })

                }
                else if (ViewBag.ObjType == (int)EbObjectTypes.WebForm)
                {
                    @await Component.InvokeAsync("FormBuilder", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl })

                }
                else if (ViewBag.ObjType == (int)EbObjectTypes.EmailBuilder)
                {
                    @await Component.InvokeAsync("Emailbuilder", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl })

                }

                else if (ViewBag.ObjType == (int)EbObjectTypes.BotForm)
                {
                    @await Component.InvokeAsync("BotFormBuilder", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl })

                }
                else if (ViewBag.ObjType == (int)EbObjectTypes.FilterDialog)
                {
                    @await Component.InvokeAsync("FilterDialogBuilder", new { dsobj = versionObj, tabnum = 0, type = ViewBag.ObjType, refid = ViewBag.Refid, ssurl = ViewBag.ServiceUrl })

                }
            }
        </div>
        <div class="tab-pane preview_tab" id="preview_tab">
            <div class="container-fluid" id="preview_wrapper">
            </div>
        </div>
    </div>
</div>
