
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add ChatBot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.1/croppie.min.css" />
    <link rel="stylesheet" href="~/css/EbOnBoarding/EbOnBoarding.css" />
    <link rel="stylesheet" href="~/css/EbImageCropper.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.1/croppie.min.js"></script>
    <script src="~/js/EbImageCropper.js" type="text/javascript"></script>


    <style>
        .no-padd{
            padding:0;
        }
        #embedtxt {
            color: transparent;
            background: transparent;
            border: none;
            width: 1px;
            height: 1px;
        }

        .addbot-box {
            display: inline-block;
            width: 100%;
            padding: 85px;
        }

        .addbot-cont {
            background-color: transparent;
        }

        .bot-dp {
            background: url(../images/robot2.png)center center no-repeat;
        }

        .embededscript-box {
            border: solid 1px #b2c1bf;
            padding: 5px;
            background-color: whitesmoke;
            font-family: monospace;
            font-style: italic;
        }

        .dp-cont {
            display:inline-block;
            height: 100%;
        }
            .dp-cont:hover {
                background: #cad8db;
            }

        .inp-control {
            border: none;
            padding: 3px;
            padding-top: 20px;
            font-size: 14px;
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
        }

        .inp-block {
            margin-bottom: 25px;
            border-bottom: solid 1px #ccc;
            font-family: 'Non-existant Sans', Arial, sans-serif;
        }

        .inp-control:focus {
            background-color: #339bb310;
            /*border: solid 1px #eee;*/
        }

        .inp-block label {
            display: none;
            position: absolute;
            font-weight: 100;
            color: #777;
            margin-left: 3px;
            font-size: 11px;
        }

        .inline-block {
            display: inline-block;
        }

        .pp {
            width: 24%;
            background: red;
            height: 155px;
            margin-left: 30px;
        }
        /*//////////////////////*/
        .outer-row-profsetup .profSetupSec {
            border: 1px solid #339bb3;
            border-radius: 1px;
        }
        .outer-row-profsetup .savebtn .btn {
            border-radius: 0;
        }
        .outer-row-profsetup .profimage {
            padding: 0;
            height: 130px;
        }
            .outer-row-profsetup .profimage .p-st-dp {
                height: 100%;
            }
    </style>
</head>
<body>
    @{
        Layout = "~/Views/Shared/_LayoutExternal.cshtml";
        Html.RenderPartial("_PageheaderDev");
    }

    @*Sample Bot 1 by febin*@
    @*<script type="text/javascript">
        window.EXPRESSbase_SOLUTION_ID = "ebdbhppwxyokxs20180502070745";
        window.EXPRESSbase_APP_ID = 1;
        (function () {
            d = document;
            s = d.createElement("script");
            s.src = "/js/ChatBot/ebbot-ext.js";
            //s.src = "https://expressbase.com/js/ChatBot/ebbot-ext.js";
            s.async = 1;
            d.getElementsByTagName("head")[0].appendChild(s);
            d.ebbotName = "EXPRESSbase";
            d.ebbotThemeColor = "#39c928";
            d.botdpURL = 'https://expressbase.com/images/assistant.png';
            //d.botdpURL = '../images/assistant.png';
        })();
    </script>*@

    @*Sample Bot 2 by febin*@
    @*<script type="text/javascript">
        window.EXPRESSbase_SOLUTION_ID = "ebdbhppwxyokxs20180502070745";
        window.EXPRESSbase_APP_ID = 2;
        (function () {
            d = document;
            s = d.createElement("script");
            s.src = "/js/ChatBot/ebbot-ext.js";
            //s.src = "https://expressbase.com/js/ChatBot/ebbot-ext.js";
            s.async = 1;
            d.getElementsByTagName("head")[0].appendChild(s);
            d.ebbotName = "Event";
            d.ebbotThemeColor = "#d031a7";
            d.botdpURL = 'https://expressbase.com/images/assistant.png';
            //d.botdpURL = '../images/assistant.png';
        })();
    </script>*@


    <script type="text/javascript">
            window.EXPRESSbase_SOLUTION_ID = "eb_dbpjl5pgxleq20180130063835";
            window.EXPRESSbase_APP_ID = 13;
            (function () {
                d = document;
                s = d.createElement("script");
                s.src = "/js/ChatBot/ebbot-ext.js";
                //s.src = "https://expressbase.com/js/ChatBot/ebbot-ext.js";
                s.async = 1;
                d.getElementsByTagName("head")[0].appendChild(s);
                d.ebbotName = "Bot Assistant";
                d.ebbotThemeColor = "#339bb3";
                d.botdpURL = 'https://expressbase.com/images/assistant.png';
                //d.botdpURL = '../images/assistant.png';
            })();
        </script>
    @*<svg id="boticon" class="boticon" height="0"></svg>*@



    @*<script type="text/javascript">
            window.EXPRESSbase_SOLUTION_ID = "ebdblg5luz0jcz20180219061635";
            window.EXPRESSbase_APP_ID = 23;
            (function () {
                d = document;
                s = d.createElement("script");
                s.src = "/js/ChatBot/ebbot-ext.js";
                //s.src = "https://expressbase.com/js/ChatBot/ebbot-ext.js";
                s.async = 1;
                d.getElementsByTagName("head")[0].appendChild(s);
                d.ebbotName = "ob Assistant";
                d.ebbotThemeColor = "#9b33b3";
                //d.botdpURL = 'https://expressbase.com/images/assistant.png';
                d.botdpURL = '../images/assistant.png';
            })();
        </script>
        <svg id="boticon" class="boticon" height="0"></svg>*@





    <section class="outer-row-profsetup">
        <div class="container pd-0 mr-t-50">
            <div class="col-md-8 col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-md-offset-2 profSetupSec pd-0">
                <div class="set-form-head">
                    <div class="set-form-head-name">Chatbot Setup</div>
                </div>
                <form class="form-horizontal" action="~/Tenant/ProfileSetup" method="post">

                    <br />
                    <div class="col-md-12 pd-0">
                        <div class="col-md-8 no-padd">
                            <div class="inp-block">
                                <label>Bot Name:</label>
                                <input type="text" name="_fullname" value="@ViewBag.fullname" class="inp-control" required id="botname" placeholder="Enter a name for your bot">
                            </div>
                            <div class="inp-block">
                                <label>Short Name:</label>
                                <input type="text" name="_name" value="@ViewBag.botname" class="inp-control" required id="botname" placeholder="Enter a short name for your bot">
                            </div>
                        </div>
                        <div class="col-md-4 profimage">
                            <div class="dp-cont">
                                <img src="~/images/svg/bot2.svg" id="profimage" data-toggle="modal" data-target="#eb-cropie-mod" class="p-st-dp" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="inp-block">
                                <label>Website URL:</label>
                                <input type="url" name="_url" class="inp-control" value="@ViewBag.url" required id="websitename" placeholder="Enter your website Name">
                            </div>
                            <div class="inp-block">
                                <label>Bot ID:</label>
                                <input readonly class="inp-control" value="@ViewBag.chatid">
                                <input type="hidden" value="@ViewBag.chatid" name="chatid" />
                                <input type="hidden" value="@ViewBag.botid" name="botid" />
                            </div>
                            <div class="inp-block">
                                <label>Welcome Message:</label>
                                <textarea name="_wel_msg" class="inp-control" required rows="4" id="welcomemsg" placeholder="Enter a welcome Message">@ViewBag.welcomemsg</textarea>
                            </div>
                            <input type="hidden" id="sol_id" value="sampleSOLid" name="_sol_id" />
                            <button type="submit" id="submit" style="display:none" class="btn btn-default">Submit</button>
                            @if (ViewBag.chatid != null)
                            {
                                <div class="embededscript-cont">
                                    <label style="color:white; font-weight:100;">Embedable script:</label>
                                    @*<button type="submit" id="copy" class="btn btn-sm btn-primary pull-right"><i class="fa fa-clipboard" aria-hidden="true"></i></button><br>*@


                                    <div class="input-group">
                                        <div class="embededscript-box">
                                            @Html.Raw(@"&lt;script type = 'text/javascript'&gt;
                                                                                                                                                        window.EXPRESSbase_bot_id = '$botid';
                                                                                                                                                        (function() {
                                                                                                                                                            d = document;
                                                                                                                                                            s = d.createElement('script');
                                                                                                                                                            s.src = '/js/ebbot-ext.js';
                                                                                                                                                            s.async = 1;
                                                                                                                                                            d.getElementsByTagName('head')[0].appendChild(s);
                                                                                                                                                        })();&lt;/script&gt;".Replace("$botid", ViewBag.chatid));
                                        </div>
                                        <span class="input-group-addon" id="basic-addon2" style="background-color:#337ab7;color:white;border: none;"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" tabindex="-1" id="embedtxt" value="@Html.Raw(@"&lt;script type = 'text/javascript'&gt;
                                        window.EXPRESSbase_bot_id = '$botid';
                                        (function() {
                                            d = document;
                                            s = d.createElement('script');
                                            s.src = '/js/ebbot-ext.js';
                                            s.async = 1;
                                            d.getElementsByTagName('head')[0].appendChild(s);
                                        })();&lt;/script&gt;".Replace("$botid", ViewBag.chatid));" name="_sol_id" />

                                </div>
                            }
                        </div>
                        <div class="form-group savebtn">
                            <button type="submit" id="save" value="Save" class="btn">Save Chatbot</button>
                        </div>
                    </div>
                </form>
                <input type="hidden" id="imgsrc" name="imgsrc" />
            </div>
        </div>
    </section>
    <div class="prof-setup-cropie">
        <div class="modal fade" id="eb-cropie-mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="loginmodal-container cropie" id="cropsection">
                </div>
            </div>
        </div>
    </div>
    <script>
        var upload = new EbImageCropper({
            preview: 'profimage',
            cropperContainer: 'cropsection'
        });
    </script>




</body>
</html>

<script>
        $(document).ready(function () {

            $(".inp-block label").each(function (i, e) {
                $e = $(e);
                $inp = $e.siblings(".inp-control");
                if ($inp.val() !== "")
                    $(e).show();;
            });

            $("body").on("click", ".input-group-addon", function () {
                $("#embedtxt").select();
                document.execCommand('copy');
                $("#embedtxt").blur()
            });

            $("body").on("click", ".outer-row-profsetup [value=Save]", function () {
                $("#submit").click();
            });

            $(".inp-block").on("keyup load", ".inp-control", function (e) {
                var inp = $(e.target);
                var label = inp.closest(".inp-block").find("label")
                if ($(e.target).val() !== "")
                    label.show(150);
                else
                    label.hide(100);
            });
        });



</script>
