
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add ChatBot</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.1/croppie.min.css" />
    <link rel="stylesheet" href="~/css/EbImageCropper.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.1/croppie.min.js"></script>
    <script src="~/js/EbImageCropper.js" type="text/javascript"></script>

    <style>
        #embedtxt {
            color: transparent;
            background: transparent;
            border: none;
            width: 1px;
            height: 1px;
        }

        .addbot-box {
            display: inline-block;
            width: 100%;
            padding: 85px;
        }

        .addbot-cont {
            background-color: transparent;
        }

        .bot-dp {
            background: url(../images/robot2.png)center center no-repeat;
        }

        .embededscript-box {
            border: solid 1px #b2c1bf;
            padding: 5px;
            background-color: whitesmoke;
            font-family: monospace;
            font-style: italic;
        }

        .dp-cont {
            width: 100%;
            height: 250px;
        }

        .inp-control {
            border: none;
            padding: 3px;
            padding-top: 20px;
            font-size: 13px;
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
        }

        .inp-block {
            margin-bottom: 30px;
            border-bottom: solid 1px gray;
        }

        .inp-control:focus {
            background-color: #f5f5f5;
            /*border: solid 1px #eee;*/
        }

        .inp-block label {
            display: none;
            position: absolute;
            font-weight: 100;
            color: #777;
            margin-left: 3px;
            font-size: 11px;
        }
        .inline-block{
            display:inline-block;
        }
        .pp {
            width: 24%;
            background: red;
            height: 155px;
            margin-left: 30px;
        }
    </style>
    <script>
    </script>
</head>
<body>
    @{
        Layout = "~/Views/Shared/_LayoutExternal.cshtml";
        Html.RenderPartial("_PageheaderDev");
    }
    <style>
        .mt-89 {
            margin-top: 89px;
        }

        .h-inherit {
            height: inherit;
            background-color: #efefef;
            /*BACKGROUND-IMAGE: linear-gradient(45deg,#004890 0,#1976d2 100%);*/
        }

        .pd-0 {
            padding: 0;
        }

        .outer-row-profsetup {
            height: inherit;
        }

        .profImageSec {
            background-color: transparent;
            height: inherit;
            padding: 30px;
        }

        .profSetupSec {
            height: inherit;
        }

        .prof-picDiv {
            width: 100%;
            height: 150px;
            padding: 20px;
        }

        .profDetailHead {
            color: white;
            font-size: 22px;
            padding-left: 20px;
        }

        .profImagePrevSec {
            height: inherit;
        }

        .previewsec-outer {
            width: 100%;
            height: inherit;
            background: #efefef;
            padding: 35px 10px 10px 20px;
        }

            .previewsec-outer .cropsection {
                width: 100%;
                height: 300px;
            }

        .submitsec .btn {
            float: right;
        }

        .Eb-CommonMenuStyle {
            height: 32px;
            border: none;
            position: relative !important;
        }

            .Eb-CommonMenuStyle .btn {
                border: none;
            }

        .croppie-container .cr-slider-wrap {
            width: 100%;
            padding: 5px;
            background-color: black;
            margin: 0;
            text-align: left;
        }

        .cr-slider {
            max-width: 100%;
            padding-top: 0;
            padding-bottom: 3px;
            background: white;
        }

        .cr-slider-wrap .btn {
            display: inline;
            margin-left: 5px;
            color: #fff;
            background-color: transparent;
            border-color: none;
        }

        .cr-slider-wrap input[type=range] {
            width: 99px;
            display: inline;
        }

        .imgsec-text {
            margin-top: 30px;
            color: white;
        }

        body {
            margin-top: 50px !important;
        }
    </style>
    <div class="row outer-row-profsetup">
        <div class="Eb-CommonMenuStyle">
            <div class="col-md-3 profDetailHead">Create Bot</div>
            <div class="pull-right">
                <input type="button" class="btn btn-primary" id="save" value="Save">
            </div>
        </div>
        <div class="container-fluid pd-0 h-inherit">
            <div class="col-md-2 profImageSec">
                <div class="prof-picDiv" id="profimage">
                    <div class="img-box-prof-picDiv">
                        @*<div class="bot-dp"></div>*@
                        <img src="~/images/svg/bot2.svg">
                    </div>
                </div>
            </div>
            <div class="col-md-7 profSetupSec nopadding">

                <div class="addbot-cont">
                    <div class="addbot-box">
                        @*@using (Html.BeginForm("AddBot", whichController, FormMethod.Post, new { target = "_blank" })){*@
                        <form method="post" action="../Boti/addBot">
                            <div class="inline-block" style="width:70%">
                                <div class="inp-block">
                                    <label>Bot Name:</label>
                                    <input type="text" name="_fullname" value="@ViewBag.fullname" class="inp-control" required id="botname" placeholder="Enter a name for your bot">
                                </div>
                                <div class="inp-block">
                                    <label>Short Name:</label>
                                    <input type="text" name="_name" value="@ViewBag.botname" class="inp-control" required id="botname" placeholder="Enter a short name for your bot">
                                </div>
                            </div>
                            <div class="inline-block pp">

                            </div>
                            <div class="inp-block">
                                <label>Website URL:</label>
                                <input type="url" name="_url" class="inp-control" value="@ViewBag.url" required id="websitename" placeholder="Enter your website Name">
                            </div>
                            <div class="inp-block">
                                <label>Bot ID:</label>
                                <input readonly class="inp-control" value="@ViewBag.chatid">
                                <input type="hidden" value="@ViewBag.chatid" name="chatid" />
                                <input type="hidden" value="@ViewBag.botid" name="botid" />
                            </div>
                            <div class="inp-block">
                                <label>Welcome Message:</label>
                                <textarea name="_wel_msg" class="inp-control" required rows="4" id="welcomemsg"  placeholder="Enter a welcome Message">@ViewBag.welcomemsg</textarea>
                            </div>
                            <input type="hidden" id="sol_id" value="sampleSOLid" name="_sol_id" />
                            <button type="submit" id="submit" style="display:none" class="btn btn-default">Submit</button>
                            @if (ViewBag.chatid != null)
                            {
                                <div class="embededscript-cont">
                                    <label style="color:white; font-weight:100;">Embedable script:</label>
                                    @*<button type="submit" id="copy" class="btn btn-sm btn-primary pull-right"><i class="fa fa-clipboard" aria-hidden="true"></i></button><br>*@


                                    <div class="input-group">
                                        <div class="embededscript-box">
                                            @Html.Raw(@"&lt;script type = 'text/javascript'&gt;
                                        window.EXPRESSbase_bot_id = '$botid';
                                        (function() {
                                            d = document;
                                            s = d.createElement('script');
                                            s.src = '/js/ebbot-ext.js';
                                            s.async = 1;
                                            d.getElementsByTagName('head')[0].appendChild(s);
                                        })();&lt;/script&gt;".Replace("$botid", ViewBag.chatid));
                                        </div>
                                        <span class="input-group-addon" id="basic-addon2" style="background-color:#337ab7;color:white;border: none;"><i class="fa fa-clipboard" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" tabindex="-1" id="embedtxt" value="@Html.Raw(@"&lt;script type = 'text/javascript'&gt;
                                        window.EXPRESSbase_bot_id = '$botid';
                                        (function() {
                                            d = document;
                                            s = d.createElement('script');
                                            s.src = '/js/ebbot-ext.js';
                                            s.async = 1;
                                            d.getElementsByTagName('head')[0].appendChild(s);
                                        })();&lt;/script&gt;".Replace("$botid", ViewBag.chatid));" name="_sol_id" />

                                </div>
                            }
                        </form>
                        @*}  *@
                    </div>
                </div>
            </div>
            <div class="col-md-3 nopadding">
                <div class="dp-cont" id="DP-cont"></div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    $(document).ready(function () {

        $(".inp-block label").each(function (i, e) {
            $e = $(e);
            $inp = $e.siblings(".inp-control");
            if ($inp.val() !== "")
                $(e).show();;
        });

        $("body").on("click", ".input-group-addon", function () {
            $("#embedtxt").select();
            document.execCommand('copy');
            $("#embedtxt").blur()
        });

        $("body").on("click", ".Eb-CommonMenuStyle [value=Save]", function () {
            $("#submit").click();
        });

        var upload = new EbImageCropper({
            preview: 'profimage',
            cropperContainer: 'DP-cont'
        });

        $(".inp-block").on("keyup load", ".inp-control", function (e) {
            var inp = $(e.target);
            var label = inp.closest(".inp-block").find("label")
            if ($(e.target).val() !== "")
                label.show(100);
            else
                label.hide(100);
        });
        $(".inp-block").on("load", ".inp-control", function (e) {
            alert(100);
        });
    });



</script>
