
@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
<!--Navigation bar/-->
<!--Slider-->
<script type="text/javascript">
    window.EXPRESSbase_SOLUTION_ID = "eb_dbpjl5pgxleq20180130063835";
    window.EXPRESSbase_APP_ID = 13;
    (function () {
        d = document;
        s = d.createElement("script");
        s.src = "/js/ChatBot/ebbot-ext.js";
        //s.src = "https://expressbase.azurewebsites.net/js/ChatBot/ebbot-ext.js";
        s.async = 1;
        d.getElementsByTagName("head")[0].appendChild(s);
        d.ebbotName = "Live ChatBot";
        d.ebbotThemeColor = "#31d031";
        d.botdpURL = 'http://localhost:5000/images/svg/bot2.svg';
    })();
</script>
<svg id="boticon" class="boticon" height="0"></svg>

<section class="message-box-indexpage">
   @ViewBag.message
    <i class="fa fa-close pull-right" id="close-msg"></i>    
</section>
<section class="slider">
    <div class="container-fluid">
        <div class="row eb-banner">
            <div class="col-md-12 no-padd eb-banner-text-img-sec">
                <div class="col-md-9 col-lg-9 col-sm-9 col-xs-12 bg-color-banner">
                    <h2>Fast growing Small & Midsize Businesses <br />deserve rapidly evolving software.</h2>
                    <p>
                        RAD Platform on the cloud (or hpaPaaS) specially designed for SMBs.<br />
                        Build Complex business Apps 10x faster, with drag n drop &amp; low-code.
                        Efficiently manage change in business processes with versioning & branching of objects - from a simple SQL statement to a complex Form.
                    </p>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 hidden-xs banner-img pull-right">
                    <img src="~/images/svg/cloud2.svg" />
                </div>
            </div>
            <div class="col-md-12 no-padd get-start-sec">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 col-md-offset-4 col-lg-offset-4 col-sm-offset-4">
                    <div class="no-creditcared">No credit card required.</div>

                    <form action="~/Ext/TenantExtSignup" onsubmit="return validate(this)" method="post">
                        <div class="input-group">
                            <input type="email" name="email" class="form-control emailtxt" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button type="submit" class="btn getstarted">Get Started</button>
                            </span>
                        </div>                        
                    </form>
                    <div class="form-group social-btn-sec">
                        <a style="color: #cad4d3;font-size: 12px;">Or Sign In with</a>
                        <div class="form-inline">
                            <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/facebook">
                                <i class="fa fa-facebook fa-lg"></i>
                            </a>
                            <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/twitter">
                                <i class="fa fa-twitter fa-lg"></i>
                            </a>
                            <a class="btn socialbtns" href="#">
                                <i class="fa fa-linkedin fa-lg"></i>
                            </a>
                            <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/googleoauth">
                                <i class="fa fa-google-plus fa-lg"></i>
                            </a>
                            <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/github">
                                <i class="fa fa-github fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Slider/-->
<!--work-shop-->
<section id="work-shop" class="work-shop">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h3>EXPRESSbuild Business Applications</h3>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-cloud faa-cloud animated"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Apps on cloud</h4>
                        <h6 class="content">Forget about the infrastructure, leave it to us. Focus on your applications and business.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Develop Once, Deploy Anywhere</h4>
                        <h6 class="content">Use our state-of-the-art developer Studio to develop business apps that can run anywhere.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Secure</h4>
                        <h6 class="content">Role Based Access Control (RBAC) standard implemented which will help you authorize your team members on varying Roles & permissions. All connections via https.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Own your data</h4>
                        <h6 class="content">Bring in your database (cloud hosted or in-premise) and hook it into our cloud infrastructure via a secure link.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Low Code</h4>
                        <h6 class="content">Put your existing skills to use. Code in JavaScript & SQL.</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="service-box text-center">
                    <div class="col-md-3 col-sm-12 icon-box">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="col-md-9 col-sm-12 icon-text">
                        <h4 class="ser-text">Faster Time to Market</h4>
                        <h6 class="content">Express build enterprise applications. Manage change efficiently.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ work-shop-->
<section class="overlay2 section-padding" id="products">
    <div class="container">
        <div class="row eb-banner2">
            <div class="text-center">
                <h3>Meet Our Products</h3>
            </div>
            <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                <div class="eb-banner2-text">
                    <h2>Forms</h2>
                    <h4>Fundamental to every Business software</h4>
                    <p>
                        Drag n Drop builder with auto persist/retrieval of data without writing even a single line of SQL statement<br />
                        Heightened security including field level permissions<br />
                        Infinite custom validations for data integrity<br />
                        Embeddable scripts to deploy anywhere
                    </p>
                    Go to<a href="#" class="prod-link">forms.expressbase.com</a>
                </div>
            </div>
            <img class="col-md-5 col-lg-5 col-sm-6 col-xs-12 eb-banner2-img" src="~/images/EbFormBuilder.png">
        </div>
    </div>
</section>
<section class="overlay2 section-padding bg-fafa">
    <div class="container">
        <div class="row eb-banner2">
            <img class="col-md-5 col-lg-5 col-sm-6 col-xs-12 eb-banner2-img" src="~/images/EbVisualization.png">
            <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12 padd-left-30">
                <div class="eb-banner2-text">
                    <h2>Visualizations</h2>
                    <h4>Analyse data to support decision making</h4>
                    <p>
                        Visualise your data from an SQL into both  table and chart visualisations<br />
                        Interactive dashboard enabling customisation<br />
                        Drill down dashboards<br />
                        Embed and Share visualisations
                    </p>
                    Go to<a href="#" class="prod-link">bi.expressbase.com</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="overlay2 section-padding">
    <div class="container">
        <div class="row eb-banner2">
            <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12">
                <div class="eb-banner2-text">
                    <h2>Reports</h2>
                    <h4>For portability and offline usage</h4>
                    <p>
                        Dynamically generate visually appealing PDF documents on the fly<br />
                        Scheduled Reports for automation<br />
                        State-of-the art Designer on the web
                    </p>
                    Go to<a href="#" class="prod-link">reports.expressbase.com</a>
                </div>
            </div>
            <img class="col-md-5 col-lg-5 col-sm-6 col-xs-12 eb-banner2-img" src="~/images/EbReportBuilder.png">
        </div>
    </div>
</section>

<section class="overlay2 section-padding bg-fafa">
    <div class="container">
        <div class="row eb-banner2">
            <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12 eb-banner2-img chatbot-container">
                <img src="~/images/ebchat.png">
            </div>
            <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12 padd-left-30">
                <div class="eb-banner2-text">
                    <h2>Chat bot</h2>
                    <h4>Automate repeatable work flows</h4>
                    <p class="">
                        Create your own bots using Simple Drag n Drop Builder and deploy everywhere<br />
                        Initiate and Automate business workflows from the bot itself<br />
                        An elegant solution for Data collection, Surveys and even Enterprise forms
                    </p>
                    Go to<a href="#" class="prod-link">bots.expressbase.com</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container getStarted">
    <div class="text-center">
        <h3>Sign Up now. Start building your Business Apps...</h3>
    </div>
    <div class="col-md-12 no-padd get-start-sec">
        <div class="col-md-4 col-md-offset-4 col-lg-offset-4 col-sm-4 col-xs-12 col-sm-offset-4">
            <div class="no-creditcared">No credit card required.</div>
            <form action="~/Ext/TenantExtSignup" onsubmit="return validate(this)" method="post">
                <div class="input-group">
                    <input type="email" id="emailtxt" name="email" class="form-control emailtxt" placeholder="Enter your email">
                    <span class="input-group-btn">
                        <button type="submit" class="btn getstarted">Get Started</button>
                    </span>
                </div>         
            </form>
            <div class="form-group social-btn-sec">
                <a style="color: #7b7b7b;font-size: 12px;">Or Sign In with</a>
                <div class="form-inline">
                    <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/facebook">
                        <i class="fa fa-facebook fa-lg"></i>
                    </a>
                    <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/twitter">
                        <i class="fa fa-twitter fa-lg"></i>
                    </a>
                    <a class="btn socialbtns" href="#">
                        <i class="fa fa-linkedin fa-lg"></i>
                    </a>
                    <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/googleoauth">
                        <i class="fa fa-google-plus fa-lg"></i>
                    </a>
                    <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/github">
                        <i class="fa fa-github fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--partners-->
<section id="partners" class="partners section-padding">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h3 style="margin-bottom: 30px;">We Are Supported By</h3>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 col-md-offset-4 col-lg-offset-4 col-sm-offset-">
                <a href="https://bizspark.microsoft.com/"><img src="~/images/perk-bizspark.jpg" class="img-responsive"></a>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xs-12 parteners-last">
                <a href="http://10000startups.com/"><img src="~/images/10000-startups.png" class="img-responsive"></a>
            </div>
        </div>
    </div>
</section>
<div class="bot-login-sec">
    @await Component.InvokeAsync("EbSignIn")
</div>
<!--partners/-->
@{
    Html.RenderPartial("PageFooter");
}
<script>
    $('document').ready(function () {
        //$(".getstarted").prop("disabled", true);
        $(document).scroll(function () {
            var y = $(this).scrollTop();
            if (y > $('.slider').height()) {
                $('#trial-btn').fadeIn();
                $('.navbar-default').css({ "background-color": "var(--ebbg)", "background-image": "var(--ebbgimage)" });
            } else {
                $('#trial-btn').fadeOut();
                $('.navbar-default').css({ "background-color": "transparent", "background-image": "none" });
            }
        });                   
    });

    function validate(form) {
        var email = form.email.value.trim();
        if (ValidateEmail(email)) {

            return true;
        }
        else {
            return false;

        }
    }
    function ValidateEmail(mail) {
        if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
            return (true)
        }
        return (false)
    }     
</script>
@if (ViewBag.useremail != null)
{
    <script>
            $("#login-modal").modal('toggle');
            $("#email-login").val("@ViewBag.useremail");
    </script>
}
@if (ViewBag.message != null)
{
    <script>
            $(".message-box-indexpage").show();
            $(".ext-pageheader .navbar").css("top", "40px");
            $("#close-msg").click(function (e) {
                $(".message-box-indexpage").hide();
                $(".ext-pageheader .navbar").css("top", "0");
            });    
    </script>
}