@using ExpressBase.Common.Helpers;
@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@UrlHelper.GetLoginPageDescription(ViewBag.HostValue)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/Bootstrap_JQuery/bootstrap.min.css" asp-append-version=@bApnd />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" asp-append-version=@bApnd>
    <link rel="icon" href="@UrlHelper.GetIconUrl(ViewBag.HostValue)">
    <link rel="stylesheet" type="text/css" href="~/css/EbCommonStyles/eb-style.css" asp-append-version=@bApnd />

    <script type="text/javascript" src="~/js/Bundles/bootsrap_jq.bundle.min.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/EbControls/EbMsgBox.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/EbControls/EbProgressBar.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/LayoutCommon/loadingoverlay.min.js"></script>

</head>
<body>
    <div class="html-root">
        <div id="main-cont" class="error_cont h-100" style="display: none">
            <div class="error_wrapper">
                <h2 class="text-center" id="main-msg">Please take a moment to fill out our form. Your response helps us serve you better.</h2>
                <button class="ebbtn eb_btnblue backto_home" onclick="javascript: init()">Proceed to the Form</button>
            </div>
        </div>
    </div>
</body>
</html>
<script>

    function init() {
        $.LoadingOverlay("show");
        $.ajax({
            type: "POST",
            url: "/Ext/PublicFormAuth",
            data: {
                id: '@ViewBag.id',
                p: '@ViewBag.p',
                m: '@ViewBag.m',
                _rm: '@ViewBag._rm'
            },
            error: function () {
                console.error('Something went wrong');
                $("#main-msg").text("Something went wrong");
                $("#main-cont").show();
                $.LoadingOverlay("hide");
            },
            success: function (result) {
                if (result) {
                    let resp = JSON.parse(result);

                    if (resp.status == 200) {
                        let now = new Date();
                        now.setTime(now.getTime() + 12 * 3600 * 1000);
                        let exp = now.toUTCString();

                        document.cookie = `web_btoken=${resp.web_btoken}; SameSite=None; Secure; path=/; expires=${exp}`;
                        document.cookie = `web_rtoken=${resp.web_rtoken}; SameSite=None; Secure; path=/; expires=${exp}`;
                        document.cookie = `web_authid=${resp.web_authid}; SameSite=None; Secure; path=/; expires=${exp}`;
                        document.cookie = `web_user_disp_name=${resp.web_user_disp_name}; SameSite=None; Secure; path=/; expires=${exp}`;
                        if (document.cookie.indexOf('web_btoken') > -1)
                            window.location.replace(`/WebForm/Index?_r=${resp._r}&_p=${resp._p}&_m=${resp._m}&_l=${resp._l}&_rm=${resp._rm}&_s=@ViewBag.s`);
                        else
                            window.location.replace(`/StatusCode/701`);
                    }
                    else {
                        window.location.replace(`/StatusCode/${resp.status}?m=${resp.message}`);
                    }
                }
            }.bind(this)
        });
    }
    if ('@ViewBag.s' == '0')
    {
        init();
    }
    else {
        $("#main-cont").show();
    }

</script>
