@{
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}

<script>
    $('document').ready(function () {
        $("#signUpFree").hide();

        function onSubmit(token) {
            document.getElementById("signup_form").submit();
        }

        function ValidateEmail(mail)
        {
            if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
            {
            return (true)
            }
           
        return (false)
        }
        $('input').on('blur', function () {
            if (ValidateEmail($('#email').val())) {
                $('#Ext-signUP').prop('disabled', false);
            } else {
                $('#Ext-signUP').prop('disabled', 'disabled');
            }
        });
        //$('form').goValidate();

        $("#email").focusout(function () {
            var text1 = $('#email').val();
            if (ValidateEmail($('#email').val())) {

                var DataCollection = { "email": $('#email').val() };
                $('#loader').removeClass();
                $('#loader').addClass('fa fa-spinner fa-spin fa-lg');
                $('#loader').show();
                $('#msgbox').hide();
                $.post('@ViewBag.ServiceUrl/unique', { "Colvalues": JSON.stringify(DataCollection) },
                    function (result) {
                        if (!result) {
                            $('#loader').removeClass();
                            $('#loader').addClass('fa fa-check fa-lg');
                            $('#loader').show();
                            $('#Ext-signUP').prop('disabled', false);
                        
                        }
                        else {
                            $('#loader').removeClass();
                            $('#loader').addClass('fa fa-times fa-lg');
                            $('#loader').show();
                            $('#Ext-signUP').prop('disabled', true);
                            $('#msgbox h5').text('The email you entered already exist..Please try with another email');
                            $('#msgbox').show();
                           
                        }
                    });
            }
            else
            {
                $('#loader').removeClass();
                $('#loader').addClass('fa fa-times fa-lg');
                $('#loader').show();
                $('#msgbox h5').text('Please enter a valid email');
                $('#msgbox').show();

            }
        });

    });


</script>
<section id="signup" style="margin-top:90px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form id="signup_form" role="form" class="form-horizontal" action="~/Ext/TenantExtSignup" method="post" data-toggle="validator" onsubmit="return this.goValidate()">
                    <div class="form-group">
                        <div id="msgbox" class="alert alert-danger"style="display:none">
                            <h5></h5>
                        </div>
                        <h3 class="text-center" style="margin-top:100px">
                            Sign Up
                        </h3>
                        <br />
                        <div class="col-sm-12">
                            <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="email" class="form-control" id="email"  name="email" placeholder="Email" data-error="email address is invalid" required autocomplete="off" readonly 
    onfocus="this.removeAttribute('readonly');"  />
                                </div>
                            <i class="fa fa-spinner fa-spin fa-lg" id="loader" style="display:none;color:blue;float:right;margin-top:-25px;margin-right:-27px;"></i>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password" class="form-control required pass" id="password" name="password" placeholder="Password" data-placement="right" data-trigger="manual" data-content="Must be   at least 8 characters long,contain at least one number, one uppercase and one lowercase letter." autocomplete="off" readonly 
    onfocus="this.removeAttribute('readonly');" />
                            </div>
                            <i class="fa fa-spinner fa-spin fa-lg" id="passloader" style="display:none;color:blue;float:right;margin-top:-25px;margin-right:-27px;"></i>

                            <span id="result"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h6>By clicking 'Sign Up', you agree to the Terms of Service and Privacy Policy.</h6>
                            <button type="submit" id="Ext-signUP" class="btn btn-block btn-flat g-recaptcha btn-primary" data-sitekey="6LcQuxgUAAAAAKHLgQZU6TcadxgZhcKBEUWaEZeV" data-callback='onSubmit'>
                                SIGN UP
                            </button>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-12">
                            <hr class="bottom-line">
                            <p>
                                Or Sign In with
                            </p>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-12">
                            <div class="btn-group btn-group-justified">
                                <a href="@ViewBag.ServiceUrl/auth/facebook" class="btn btn-lg btn-block">
                                    <i class="fa fa-facebook fa-lg"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="@ViewBag.ServiceUrl/auth/twitter" class="btn btn-lg btn-block">
                                    <i class="fa fa-twitter fa-lg text-info"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="#" class="btn btn-lg btn-block">
                                    <i class="fa fa-linkedin fa-lg"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="@ViewBag.ServiceUrl/auth/googleoauth" class="btn btn-lg btn-block">
                                    <i class="fa fa-google-plus fa-lg text-danger"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                                <a href="@ViewBag.ServiceUrl/auth/github" class="btn btn-lg btn-block">
                                    <i class="fa fa-github fa-lg text-muted"></i>
                                    <span class="hidden-xs"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<style>
    .popover {
        width: 200px;
    }
</style>