@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    string home = string.Empty;
    string sociallink = string.Empty;
    string signinLink = string.Empty;
    if (ViewBag.Env == "Development")
    {
        home = "http://localhost:41400";
        sociallink = "http://localhost:41600";
        signinLink = "http://myaccount.localhost:41500";
    }
    if (ViewBag.Env == "Staging")
    {
        home = "https://eb-test.cloud";
        sociallink = "https://ss.eb-test.cloud";
        signinLink = "https://myaccount.eb-test.cloud";
    }
    if (ViewBag.Env == "Production")
    {
        home = "https://expressbase.com";
        sociallink = "https://ss.expressbase.com";
        signinLink = "https://myaccount.expressbase.com";
    }
}

@section StyleSheet{
    <style>
        .grecaptcha-badge {
            width: 70px !important;
            overflow: hidden !important;
            transition: all 0.3s ease !important;
            left: 4px !important;
        }
            .grecaptcha-badge:hover {
                width: 256px !important;
            }
    </style>
}
@section JavaScript{
    <script src="https://apis.google.com/js/platform.js" async defer></script>
}

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v4.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12"
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="1616632595309068">
</div>

<script>
    //load the JavaScript SDK
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function() {
        FB.init({
        appId      :  '@ViewBag.FacebookSigninAppid',
        status: true,
        cookie     : true,
        xfbml      : true,
        version    : 'v4.0'
        });

	    //check user session and refresh it
	    FB.getLoginStatus((response) => {
		    if (response.status === 'connected') {
			    //user is authorized
			    // getUserData();
		    } else {
			    //user is not authorized
		    }
	    });
    };
    //add event listener to login button
    function FBLogin() {
        console.log("fb");
        $("#loaderdiv").EbLoader("show");
    FB.login(function (response) {
        if (response.authResponse) {
            getUserData();
        } else {
        //alert('User cancelled login or did not fully authorize.');
        }
    }, {scope: 'email,public_profile'});
    }

    function getUserData() {
	    FB.api('/me', {fields: 'id, name, first_name, last_name,email, gender,hometown'}, (response) => {
            fbuserdetails(response);
	    });

    }
    function fbuserdetails(response) {
        if (response.email != null &
            response.email != undefined &
            response.email != "undefined"
        ) {


            let url = "../Ext/FacebookLogin?fbdtls=";
            var _form = document.createElement("form");
            _form.setAttribute("method", "post");
            _form.setAttribute("action", url);
            _form.setAttribute("target", "_top");


            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = "fbid";
            input.value = response.id;
            _form.appendChild(input);

            input = document.createElement('input');
            input.type = 'hidden';
            input.name = "email";
            input.value = response.email;
            _form.appendChild(input);

            input = document.createElement('input');
            input.type = 'hidden';
            input.name = "name";
            input.value = response.name;
            _form.appendChild(input);

            document.body.appendChild(_form);
            _form.submit();
            document.body.removeChild(_form);
        }
        else {
              EbMessage("show", { Message: 'Error while getting permission from facebook', Background: "#d83535" });
             $("#loaderdiv").EbLoader("hide");
        }
    }
</script>


<section class="eb_login">
    <div class="header hidden-xs">
        <div class="container-fluid">
            <div class="callFrAction" style="display: flex;align-items: center;">
                <a href="@home"><img src="~/images/EB_Logo.png" class="log-eblogo" /></a>
                <spn style="margin-left: auto;font-size: 13px;">
                    New to EXPRESSbase?
                </spn>
                <a href="/Platform/OnBoarding" class="callActionBtn">
                    Sign Up
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height:100%">
        <div class="row h100andflex">
            <div class="col-md-6 col-lg-6 hidden-sm hidden-xs lg_content">
                <div class="info_sec_log_container hidden-xs hidden-sm">
                    <h4>Empowering SMBs to Take off</h4>
                </div>
                <div class="lg_img hidden-xs hidden-sm text-center">
                    <img src="~/images/register-wall.jpg" />
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 login_container">
                <div class="raw col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <div id="log_form" class="eb-auth-htmlbox">
                        <div class="loader_top" id="loader_profile" style="left:0;top:0;"></div>
                        <h1>SIGN IN</h1><br>
                        <div class="form-group mb-25" validator="email">
                            <label>Email</label>
                            <div class="log-username">
                                <input type="email" name="uname" class="form-control ebtext-lg" value="@ViewBag.Email" />
                            </div>
                            <div class="validator-error"></div>
                        </div>
                        <div class="form-group mb-25" validator='password'>
                            <label>Password</label>
                            <div class="log-pw">
                                <input type="password" id="pass" name="pass" class="form-control ebtext-lg" />
                            </div>
                            <div class="validator-error"></div>
                        </div>
                        <div class="form-group mb-25">
                            <div class="fpNdRemMe">
                                <div class="rememberMe">
                                    @*<input type="checkbox" /> <span>Remember me</span>*@
                                </div>
                                <a href="/ForgotPassword">Forgot password?</a>
                            </div>
                        </div>
                        <input type="hidden" name="continue_with" value="@ViewBag.ContinueWith" />
                        @if ((ViewBag.Env == "Production")||(ViewBag.Env == "Development"))
                        {
                            <div class="g-recaptcha"
                                 data-sitekey="@ViewBag.ReCaptchaKey"
                                 data-callback="validator_recaptcha"
                                 data-size="invisible">
                            </div>
                        }


                        <div class="form-group">
                            <button validator="submit" id="logNow" env="@ViewBag.Env" class="btn signin-btn eb_blue">
                                Sign In
                            </button>
                        </div>
                    </div>
                    @{ if (ViewBag.Env != "Production")
                        {
                            <div class="eb_socilaWrpr text-center">
                                <div class="eb_socilaWrpr_inner">
                                    <div id="fblogin" onClick="FBLogin()" class="btn btn-lg">
                                        <i class="fa fa-facebook text-muted"></i>
                                    </div>
                                    <a href="@sociallink/auth/github" class="btn btn-lg">
                                        <i class="fa fa-github text-muted"></i>
                                    </a>
                                    <a id="google-button" class="btn btn-lg" onClick="GoogleLogin()">
                                        <i class="fa fa-google text-muted"></i>
                                    </a>
                                    @*<a href="@sociallink/auth/twitter" class="btn btn-lg">
                                              <i class="fa fa-twitter text-muted"></i>
                                          </a>
                                          <a href=" @sociallink/auth/google" class="btn btn-lg">
                                               <i class="fa fa-google-plus text-muted"></i>
                                          </a>
                                          <a href=" @sociallink/auth/linkedin" class="btn btn-lg">
                                          <i class="fa fa-linkedin text-muted"></i>
                                        </a>*@
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<!-- Your customer chat code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="1616632595309068">
</div>
<script>
    if ('@(TempData["scl_signin_msg"])') {
          EbMessage("show", { Message: '@(TempData["scl_signin_msg"])', Background: "#d83535" });
    }

    function GoogleLogin() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '@ViewBag.GoogleSigninAppid',
          });

            if (auth2.isSignedIn.get()) {
                var profile = auth2.currentUser.get().getBasicProfile();
                googlesigninfn(profile);
            }
            else {
                // Sign the user in, and then retrieve their ID.
                auth2.signIn().then(function () {
                    var profile = auth2.currentUser.get().getBasicProfile();
                     googlesigninfn(profile);
                    //var id_token = googleUser.getAuthResponse().id_token;
                    //  console.log("ID Token: " + id_token);

                });
            }
        });
    }
    function googlesigninfn(profile) {
        $("#loaderdiv").EbLoader("show");
        if (profile.getEmail() != null & profile.getEmail() != undefined & profile.getEmail() != "undefined") {
            console.log('ID: ' + profile.getId());// Do not send to your backend! Use an ID token instead.
            console.log('Full Name: ' + profile.getName());
            console.log('Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

            let url = "../Ext/GoogleLogin?gogldtls=";
            var _form1 = document.createElement("form");
            _form1.setAttribute("method", "post");
            _form1.setAttribute("action", url);
            _form1.setAttribute("target", "_top");


            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = "goglid";
            input.value = profile.getId();
            _form1.appendChild(input);

            input = document.createElement('input');
            input.type = 'hidden';
            input.name = "email";
            input.value = profile.getEmail();
            _form1.appendChild(input);

            input = document.createElement('input');
            input.type = 'hidden';
            input.name = "name";
            input.value = profile.getName();
            _form1.appendChild(input);

            document.body.appendChild(_form1);
            _form1.submit();
            document.body.removeChild(_form1);
        }
        else {
            EbMessage("show", { Message: 'Error while getting permission from Google', Background: "#d83535" });
            $("#loaderdiv").EbLoader("hide");
        }
    }
</script>
@section JsCode{
    <script src="~/js/Auth/eb-authenticate.js" type="text/javascript" asp-append-version="true"></script>
}
