@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    string home = string.Empty;
    string sociallink = string.Empty;
    string signinLink = string.Empty;
    if (ViewBag.Env == "Development")
    {
        home = "http://localhost:41400";
        sociallink = "http://localhost:41600";
        signinLink = "http://myaccount.localhost:41500";
    }
    if (ViewBag.Env == "Staging")
    {
        home = "https://eb-test.xyz";
        sociallink = "https://ss.eb-test.xyz";
        signinLink = "https://myaccount.eb-test.xyz";
    }
    if (ViewBag.Env == "Production")
    {
        home = "https://expressbase.com";
        sociallink = "https://ss.expressbase.com";
        signinLink = "https://myaccount.expressbase.com";
    }
}
@section StyleSheet{
    <style>
        .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
            cursor: pointer;
            filter: unset;
            -webkit-box-shadow: none;
            box-shadow: none;
            opacity: unset;
            pointer-events: none;
        }
    </style>
}
@section JavaScript{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script>
        function recaptchaCallback(token) {
            if (token) {
                document.getElementById("log_form").submit();
                $(".loader_top").EbLoader("show");
            }
        }
    </script>
}
<section class="eb_login">
    <div class="header hidden-xs">
        <div class="container-fluid">
            <div class="callFrAction" style="display: flex;align-items: center;">
                <a href="@home"><img src="~/images/EB_Logo.png" class="log-eblogo" /></a>
                <spn style="margin-left: auto;font-size: 13px;">
                    New to EXPRESSbase?
                </spn>
                <a href="/Platform/Board" class="callActionBtn">
                    Sign Up
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height:100%">
        <div class="row h100andflex">
            <div class="col-md-6 col-lg-6 hidden-sm hidden-xs lg_content">
                <div class="info_sec_log_container hidden-xs hidden-sm">
                    <h4>Empowering SMBs to Take off</h4>
                </div>
                <div class="lg_img hidden-xs hidden-sm text-center">
                    <img src="~/images/register-wall.jpg" />
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 login_container">
                <div class="raw  col-sm-12 col-md-12 col-lg-12 ">
                    <form id="log_form" action="~/Ext/EbSignIn" method="post" data-toggle="validator" role="form">
                        <div class="loader_top" id="loader_profile" style="left:0;top:0;"></div>
                        <h1>SIGN IN</h1><br>
                        <div class="form-group mb-25">
                            <label>Email</label>
                            <div class="log-username">
                                <input type="email" name="uname" class="form-control ebtext-lg" placeholder="Email" data-error="email address is invalid" required value="@ViewBag.Email" />
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group mb-25">
                            <label>Password</label>
                            <div class="log-pw">
                                <input type="password" id="pass" name="pass" class="form-control ebtext-lg" placeholder="Password" required />
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group mb-25">
                            <div class="fpNdRemMe">
                                <div class="rememberMe">
                                    @*<input type="checkbox" /> <span>Remember me</span>*@
                                </div>
                                <a href="/ForgotPassword">Forgot password?</a>
                            </div>
                        </div>
                        <div class="form-group mb-25">
                            <button type="submit" id="logNow" class="btn signin-btn eb_blue g-recaptcha" data-sitekey="@ViewBag.ReCaptchaKey" data-callback='recaptchaCallback'>
                                Sign In
                            </button>
                        </div>
                        @*<div class="form-group text-center">Or Sign In by</div>*@
                        @*<div class="form-group" style="padding-left: 34px;float: left;">
                <div class="col-xs-2 col-sm-2">
                    <a href="@ViewBag.ServiceUrl/auth/facebook" class="btn btn-lg btn-block">
                        <i class="fa fa-facebook"></i>
                        <span class="hidden-xs"></span>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a href="#" class="btn btn-lg btn-block">
                        <i class="fa fa-twitter text-info"></i>
                        <span class="hidden-xs"></span>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a href="#" class="btn btn-lg btn-block">
                        <i class="fa fa-google-plus text-danger"></i>
                        <span class="hidden-xs"></span>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a href="#" class="btn btn-lg btn-block">
                        <i class="fa fa-linkedin"></i>
                        <span class="hidden-xs"></span>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a href="#" class="btn btn-lg btn-block">
                        <i class="fa fa-github text-muted"></i>
                        <span class="hidden-xs"></span>
                    </a>
                </div>
            </div>*@


                    </form>
                    <div class="eb_socilaWrpr text-center">
                        <div class="eb_socilaWrpr_inner">
                            <a href="@sociallink/auth/facebook" class="btn btn-lg">
                                <i class="fa fa-facebook text-muted"></i>
                            </a>
                            <a href="@sociallink/auth/github" class="btn btn-lg">
                                <i class="fa fa-github text-muted"></i>
                            </a>
                            @*<a href="@sociallink/auth/twitter" class="btn btn-lg">
                    <i class="fa fa-twitter text-muted"></i>
                </a>
                <a href=" @sociallink/auth/google" class="btn btn-lg">
                     <i class="fa fa-google-plus text-muted"></i>
                </a>
                <a href=" @sociallink/auth/linkedin" class="btn btn-lg">
                <i class="fa fa-linkedin text-muted"></i>
                </a>*@
                        </div>
                    </div>
                </div>

            </div>
           
        </div>
    </div>
</section>

@section JsCode{
    <script>
        if ('@ViewBag.ErrorMsg')
            EbMessage("show", { Message: "@ViewBag.ErrorMsg", Background: "#d83535" });
        if ('@ViewBag.UniqTest')
            EbMessage("show", { Message: "@ViewBag.UniqTest", Background: "#d83535" });
        if ('@ViewBag.mailmsg')
            EbMessage("show", { Message: "@ViewBag.mailmsg" });
    </script>
}
