
@using ExpressBase.Web.Filters;
@{var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/Bootstrap_JQuery/bootstrap.min.css" />
    <link href="~/css/Bootstrap_JQuery/jquery-ui-1.12.1.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/timschlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <link rel="stylesheet" href="~/css/Common/croppie.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/simTree.css" />

    <environment include="Development">
        @*COMMON CSS*@
        <link rel="stylesheet" href="~/css/EbCommonStyles/eb-style.css" />
        <link rel="stylesheet" href="~/css/EbCommonStyles/eb-style.common.css" />
        <link rel="stylesheet" href="~/css/EbCommonStyles/eb-assets.style.css" />
        <link rel="stylesheet" href="~/css/EbCommonStyles/ObjectDashboard.css" />
        <link rel="stylesheet" href="~/css/EbCommonStyles/Eb_quickMenu.css" />

        @*PLUGIN CSS*@
        <link rel="stylesheet" href="~/css/EbControls/EbFileUpload.css" />
        <link rel="stylesheet" href="~/css/EbControls/EbDialogBox.css" />
        <link rel="stylesheet" href="~/css/EbControls/eb-walkthrough.css" />
    </environment>

    @*BUNDLES*@
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/Bundles/eb-common.bundle.css" asp-append-version="@bApnd" />
        <link rel="stylesheet" href="~/css/Bundles/eb-plugins.bundle.min.css" asp-append-version=@bApnd />
    </environment>

    <link rel="stylesheet" href="~/css/EbControls/EbFupFormControl.css" asp-append-version=@bApnd />
    <link rel="stylesheet" href="~/css/EbFileViewer/viewer.css" asp-append-version=@bApnd> @*varghese*@
    <link rel="stylesheet" href="~/css/EbControls/EbPhoneControl.css" asp-append-version=@bApnd> @*varghese*@
    <link rel="stylesheet" href="~/css/MeetingPicker.css" asp-append-version=@bApnd> @*nithin*@

    @******************************************* JavaScript includes ********************** *@

    <script type="text/javascript" src="~/js/Bundles/bootsrap_jq.bundle.min.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="https://rawgit.com/TimSchlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.js"></script>

    <script src="~/js/validator.js" type="text/javascript" asp-append-version=@bApnd></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>

    <script src="~/js/ElementQueries.js" type="text/javascript" asp-append-version=@bApnd></script>
    <script src="~/js/eb_common.js" type="text/javascript" asp-append-version=@bApnd></script>
    <script src="~/js/Eb_UtilityFuncions.js" type="text/javascript" asp-append-version=@bApnd></script>
    <script src="~/js/EbControls/EbFupFormControl.js" type="text/javascript" asp-append-version=@bApnd></script>

    @*COMMON JS && EB PLUGINS*@
    <environment include="Development">
        <script type="text/javascript" src="~/js/Common/croppie.min.js"></script>
        <script type="text/javascript" src="~/js/Common/store.legacy.min.js"></script>
        <script src="~/js/Common/Eb_CommonHeader.js" type="text/javascript"></script>
        <script src="~/js/Common/eb-quickmenu.js" type="text/javascript"></script>
        <script src="~/js/Common/eb-setup.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/js/EbServerEvents/eventsource.min.js"></script>
        <script type="text/javascript" src="~/js/EbServerEvents/ss-utils.js"></script>
        <script type="text/javascript" src="~/js/EbServerEvents/ServerEvents.js"></script>

        <script src="~/js/EbControls/EbFileUpload.js" type="text/javascript"></script>
        <script src="~/js/EbControls/EbParams.Mange.js" type="text/javascript"></script>
        <script src="~/js/EbControls/EbDialogBox.js" type="text/javascript"></script>
        <script src="~/js/EbControls/eb-walkthrough.js" type="text/javascript"></script>
        <script src="~/js/EbControls/EbCropper.js" type="text/javascript"></script>
        <script src="~/js/EbControls/EbProgressBar.js" type="text/javascript"></script>
        <script src="~/js/EbControls/EbMsgBox.js" type="text/javascript"></script>
        <script src="~/js/EbControls/EbPopBox.js" type="text/javascript"></script>
        <script src="~/js/EbControls/Eb_FontEditor.js" type="text/javascript"></script>
    </environment>

    @*BUNDLES*@
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/Bundles/eb-common.bundle.js" asp-append-version=@bApnd></script>
        <script type="text/javascript" src="~/js/Bundles/eb-plugins.bundle.js" asp-append-version=@bApnd></script>
    </environment>

    @*jith*@
    <script type="text/javascript" src="~/js/EbAlerts.js" asp-append-version=@bApnd></script>
    <script src="~/js/EbFileViewer/EbFileViewerPlugin.js" type="text/javascript" asp-append-version=@bApnd></script> @*varghese*@
    <script src="~/js/EbFileViewer/viewer.js" type="text/javascript" asp-append-version=@bApnd></script> @*varghese*@
    <script src="~/js/EbControls/EbPhoneControl.js" type="text/javascript" asp-append-version=@bApnd></script> @*varghese*@

    @*nithin*@
    <script src="~/js/FormBuilder/MeetingPicker.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/simTree.js"></script>
    <script src="~/js/FormBuilder/MeetingScheduler.js" asp-append-version=@bApnd></script>
    <script src="~/js/EbUserDashBoard/Combodate.js" asp-append-version=@bApnd></script>

    @if (ViewBag.wc == "uc")
    {
        <script src="~/js/UserScripts/Eb_locswitch.js" type="text/javascript" asp-append-version=@bApnd></script>
        <script src="~/js/EbLocationPicker.js" type="text/javascript" asp-append-version=@bApnd></script>
    }
    @if (IsSectionDefined("StyleSheet"))
    {
        @RenderSection("StyleSheet")
    }

    @Html.RenderStyles()

    @if (IsSectionDefined("JavaScript"))
    {
        @RenderSection("JavaScript")
    }

    @Html.RenderScripts()
    <script>
        AllMetasRoot = {};
        var _uo = @Html.Raw(@ViewBag.UserObject);
        window.ebcontext = {
            sid: "@ViewBag.cid",
            user: _uo || null,
            menu: {},
            locations: {},
            header: {},
            env:'@ViewBag.Env',
            se_url: '@ViewBag.ServerEventUrl',
            setup: {},
            subscription_id: null
        }
    </script>
</head>
<body>
    <div class="html-root">
        @{
            if (ViewBag.UId > 1 || ViewBag.cide == "demo")
            {
                if (ViewBag.wc == "dc" || ViewBag.wc == "uc" || ViewBag.wc == "tc")
                {
                    <div id="eb-common-menu">
                        @{ await Html.RenderPartialAsync("EbQuickMenu");}
                    </div>
                }
            }
            if (ViewBag.wc == "uc")
            {
                if (ViewBag.UId > 1 || ViewBag.cide == "demo")
                {
                    <div id="eb-locswitch_wraper">
                        <div class="loc_switchModal_fade"></div>
                        <div class="loc_switchModal" id="loc_switchModal">
                            <div class="loc_switchModal_outer">
                                <div class="loc_switchModal_box">
                                    <div class="locs_head">
                                        <h4>Switch Location</h4>
                                        <div class="loc_searchInput w-100">
                                            <input type="text" class="form-control" id="loc-search" placeholder="Search Location." />
                                        </div>
                                        <span class="cls_locmdl" onclick="$('.loc_switchModal_fade,#loc_switchModal').hide();">&times;</span>
                                    </div>
                                    <div class="locs_bdy"></div>
                                    <div class="locs_foot">
                                        <button class="btn loc-switchbtn pull-right" id="setLocSub">Switch</button>
                                    </div>
                                    <div class="no_loc_config">No Locations.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        <div id="layout_div" class="container-fluid html-root-layout">
            @if (ViewBag.wc == "dc" || ViewBag.wc == "uc" || ViewBag.wc == "tc")
            {
                @await Component.InvokeAsync("PageHeaderCommon")
            }
            @RenderBody()
        </div>
        <div class="eb-expndLinkswrpr hidden-xs" id="eb-expndLinkswrprWdgt">
            <button id="eb-expandbutton" onclick="$('.eb-expndLinkswrpr-body').toggle();" class="eb-expand-link"><i class="fa fa-cog"></i></button>
            <div class="eb-expndLinkswrpr-body" style="display:none;">
                <div class="eb-expndLinkswrpr-inner">
                    <button class="eb-expand-innerbtn" onclick="if (window.tour) {window.tour.start();} $('.eb-expndLinkswrpr-body').toggle();" title="Walk through">
                        <i class="fa fa-plane"></i>
                    </button>
                    @*<button class="eb-expand-innerbtn" title="Shortcuts"><i class="fa fa-random"></i></button>*@
                </div>
            </div>
        </div>

        <div class="modal fade eb-common-popup" id="eb-common-popup" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" id="eb-common-popup-close" data-dismiss="modal" style="margin-left:auto;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="eb-common-popup-ok" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div>
        @{
            await Html.RenderPartialAsync("NotificationWindow");
        }
    </div>

    @if (ViewBag.wc == "uc" || ViewBag.wc == "dc" || ViewBag.wc == "tc")
    {
        <script>
            window.ebcontext.menu = new EbMenu({
                Console: '@ViewBag.wc',
                Sid: '@ViewBag.cid',
                Uid: '@ViewBag.UId'
            });
        </script>
    }
    @if (ViewBag.wc == "uc")
    {
        <script>
            var loc__ = new LocationPicker({
                Location: '@Html.Raw(ViewBag.Locations)',
                Tid: '@ViewBag.cid',
                Uid:'@ViewBag.UId',
                Current:@ViewBag.CurrentLocation
            });
            window.ebcontext.locations = loc__;
        </script>
    }

    @if (IsSectionDefined("JsCode"))
    {
        @RenderSection("JsCode")
    }
    @Html.RenderJsCode()

    <script>
        $(document).ready(function () {
            window.ebcontext.setup = new Setup({ se_url: '@ViewBag.ServerEventUrl' });
            $('.Eb_Image').Lazy();
        });
    </script>
</body>
</html>