@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
    string t = "EXPRESSbase: Rapid Application Development & Delivery Platform for SMBs.";
    if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        t = ViewBag.Title;
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>@t</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/Bootstrap_JQuery/bootstrap.min.css" asp-append-version=@bApnd />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" asp-append-version=@bApnd>
    <link rel="icon" href="~/images/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap">
    <link rel="stylesheet" type="text/css" href="~/css/EbCommonStyles/eb-style.css" asp-append-version=@bApnd />

    <script type="text/javascript" src="~/js/Bundles/bootsrap_jq.bundle.min.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript" src="~/js/EbControls/EbMsgBox.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/EbControls/EbProgressBar.js" asp-append-version=@bApnd></script>

    @if (IsSectionDefined("StyleSheet"))
    {
        @RenderSection("StyleSheet")
    }

    @if (IsSectionDefined("JavaScript"))
    {
        @RenderSection("JavaScript")
    }
</head>
<body>
    <div class="html-root">
        @RenderBody()
    </div>
    @if (IsSectionDefined("JsCode"))
    {
        @RenderSection("JsCode")
    }
</body>
</html>
