@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/images/favicon.ico">
    @* BOOTSTRAP CSS *@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

    @* JQUERY CSS *@
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">@*jith*@

    @* EB CSS *@
    <link rel="stylesheet" type="text/css" href="~/css/style.css" asp-append-version=@bApnd />@*amal*@
    <link rel="stylesheet" type="text/css" href="~/css/ObjectDashboard.css" />
    <link rel="stylesheet" href="~/css/Eb_quickMenu.css" asp-append-version=@bApnd />
    <link rel="stylesheet" href="~/css/EbOnBoarding/EbOnBoarding.css" />

    @* JQUERY JS *@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>@*jith*@

    @* BOOTSTRAP JS *@
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    @* OTHER JS *@
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.8/jquery.lazy.min.js"></script>@*amal*@
    <script type="text/javascript" src="~/js/ss-utils.js" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/EbServerEvents/eventsource.min.js" type="text/javascript" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/store.legacy.min.js"></script>@*amal*@

    @* EB JS *@
    <script src="~/js/EbLoader.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/EbMsgBox.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/EbServerEvents/ServerEvents.js" type="text/javascript" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/ElementQueries.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/eb_common.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/Eb_UtilityFuncions.js" asp-append-version=@bApnd></script>@*jith*@
    <script type="text/javascript" src="~/js/EbAlerts.js" asp-append-version=@bApnd></script>@*jith*@
    <script type="text/javascript" src="~/js/ImageUploader.js" asp-append-version=@bApnd></script>@*amal*@
    <script type="text/javascript" src="~/js/EbQuickMenu/Menu.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/Eb_CommonHeader.js" asp-append-version=@bApnd></script>@*amal*@
</head>
<body>
    <div id="tenatDtls" class="container-fluid">
        @{
            string Logourl = "/static/logo/logo_" + ViewBag.cid + ".png";

            if (ViewBag.wc == "dc" || ViewBag.wc == "uc")
            {
                <div class="modal fade Eb_quick_menu" tabindex="-1" role="dialog" id='ObjModal'>
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="row mr-0">
                                    <div class="col-md-3 col-lg-3 col-sm-3 pd-5 q_men_IMGsection text-center">
                                        <img src="~/images/your_company_logo.png" data-src=@Logourl class="solution_logo Eb_Image" />
                                    </div>
                                    <div class="col-md-9 col-lg-9 col-sm-9 header_topmenu" id="topmenu">
                                        <div class="breadcrumb_wrapper"></div>
                                        <button class="btn c_btn cls_btn pull-right" data-toggle="tooltip" title="Close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                                        @{
                                            if (ViewBag.wc == "dc")
                                            {
                                                <div class="dropdown drp_new pull-right">
                                                    <button class="btn btn-default dropdown-toggle" type="button" id="newBuildermenu1" data-toggle="dropdown">
                                                        <span class="fa fa-plus"></span>
                                                        New Object
                                                    </button>
                                                    <ul class="dropdown-menu drp_new_wrapper" role="menu" id="drp_new_wrapper" aria-labelledby="newBuildermenu1"></ul>
                                                </div>
                                            }
                                        }

                                        <div class="searchBox pull-right">
                                            <div class="input-group">
                                                <input type="text" class="form-control search_input" id="searchobj" placeholder="Search from all.">
                                                <span class="input-group-addon search_icon"><i class="material-icons">search</i></span>
                                            </div>
                                        </div>
                                        <button class="btn c_btn pull-right" id="menu_refresh"><i class="material-icons">refresh</i></button>
                                    </div>
                                </div>
                                <div class="quick_menu_load" id="quick_menu_load"></div>
                            </div>
                            <div class="modal-body menu_wrapper">
                                <div class="col-md-3 col-lg-3 pd-0 menu_sidebar">
                                    <div id="EbsideBar" class="menu_sidebar_sub"></div>
                                </div>
                                <div class="col-md-9 col-lg-9 menu_workpane" id="ObjListCont">
                                    <div id="objList" class="objList_Container">
                                        <div class="menu_notifiction">Application empty.</div>
                                    </div>
                                    <div class="modal-footer pwrd_by">
                                        Powered by expressbase
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div id="layout_div" class="container-fluid main-cont">
        @RenderBody()
        @RenderSection("EbHead", false)
    </div>
</body>
</html>
<script>
    var menu = new menujs('@ViewBag.wc','@ViewBag.cid','@ViewBag.UId');//init menu
    $("#layout_div").data("menu", menu);
    $('.Eb_Image').Lazy();
</script>