@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/images/favicon.ico">
    @* BOOTSTRAP CSS *@
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css" />@*amal*@
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/timschlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.css" />

    @* JQUERY CSS *@
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">@*jith*@
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.2/jquery.contextMenu.min.css" />@*amal*@

    @* EB CSS *@
    <link rel="stylesheet" type="text/css" href="~/css/style.css" asp-append-version=@bApnd />@*amal*@
    <link rel="stylesheet" type="text/css" href="~/css/ObjectDashboard.css" asp-append-version=@bApnd />
    <link rel="stylesheet" href="~/css/Eb_quickMenu.css" asp-append-version=@bApnd />
    <link rel="stylesheet" href="~/css/EbOnBoarding/EbOnBoarding.css" asp-append-version=@bApnd />
    <link rel="stylesheet" href="~/css/EbOnBoarding/eb-assets.style.css" asp-append-version=@bApnd />
    <link href="~/css/EbControls/EbFileUpload.css" rel="stylesheet" asp-append-version=@bApnd />@*amal*@
    <link href="~/css/EbControls/EbDialogBox.css" rel="stylesheet" asp-append-version=@bApnd />@*amal*@

    @* JQUERY JS *@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>@*jith*@

    @* BOOTSTRAP JS *@
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://rawgit.com/TimSchlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.js"></script>

    @* OTHER JS *@
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.8/jquery.lazy.min.js"></script>@*amal*@
    <script type="text/javascript" src="~/js/ss-utils.js" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/EbServerEvents/eventsource.min.js" type="text/javascript" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/store.legacy.min.js" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/validator.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/Eb_CommonHeader.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.6.2/jquery.contextMenu.min.js"></script>@*amal*@

    @* EB JS *@
    <script src="~/js/EbLoader.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/EbMsgBox.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/EbServerEvents/ServerEvents.js" type="text/javascript" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/ElementQueries.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/eb_common.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/Eb_UtilityFuncions.js" asp-append-version=@bApnd></script>@*jith*@
    <script type="text/javascript" src="~/js/EbAlerts.js" asp-append-version=@bApnd></script>@*jith*@
    <script type="text/javascript" src="~/js/ImageUploader.js" asp-append-version=@bApnd></script>@*amal*@
    <script type="text/javascript" src="~/js/EbQuickMenu/Menu.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/Eb_CommonHeader.js" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/EbControls/EbCropper.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/Eb_CommonHeader.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/EbControls/EbFileUpload.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@
    <script src="~/js/EbControls/EbDialogBox.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@

    @if (ViewBag.wc == "uc")
    {
        <script src="~/js/UserScripts/Eb_locswitch.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@
    }
</head>
<body>
    <div id="Eb_com_menu">
        @{
            if (ViewBag.wc == "dc" || ViewBag.wc == "uc")
            {
                Html.RenderPartial("EbQuickMenu");
            }
            if (ViewBag.wc == "uc")
            {
                <div class="loc_switchModal_fade"></div>
                <div class="loc_switchModal" id="loc_switchModal">
                    <div class="loc_switchModal_outer">
                        <div class="loc_switchModal_box">
                            <div class="locs_head">
                                <h4>Switch Location</h4>
                            </div>
                            <div class="locs_bdy">

                            </div>
                            <div class="locs_foot">
                                <button class="ebbtn eb_btn-sm eb_btngreen pull-right" id="setLocSub">Ok</button>
                            </div>
                            <div class="no_loc_config">No Locations.</div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div id="layout_div" class="container-fluid main-cont">
        @if (ViewBag.wc == "dc" || ViewBag.wc == "uc" || ViewBag.wc == "tc")
        {
            @await Component.InvokeAsync("PageHeaderCommon")
        }

        @RenderBody()
        @RenderSection("EbHead", false)
    </div>
</body>
</html>
@if (ViewBag.wc == "uc")
{
    <script>
        let loc__ = new LocSwitch({
            Location: '@Html.Raw(ViewBag.Locations)',
            Tid: '@ViewBag.cid',
            Uid:'@ViewBag.UId',
            Current:@ViewBag.CurrentLocation
        });
    </script>
}
<script>
    var menu = new menujs('@ViewBag.wc','@ViewBag.cid','@ViewBag.UId');//init menu
    $("#layout_div").data("menu", menu);
    $('.Eb_Image').Lazy();
</script>