@using ExpressBase.Objects;
@using ExpressBase.Common.Objects;
@using ExpressBase.Common;
@using ExpressBase.Objects.ServiceStack_Artifacts;
@*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/minimap/1.0.0/minimap.min.css">*@
<link rel="stylesheet" type="text/css" href="~/css/ReportBuilder/Eb_ReportBuilder2.css" />@*amal*@
<link rel="stylesheet" type="text/css" href="~/css/ReportBuilder/Eb_ReportBuilder.css" />@*amal*@
<link rel="stylesheet" type="text/css" href="~/css/Common/commonBuilderStyles.css" />@*jith*@

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/store.js/1.3.20/store.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/minimap/1.0.0/minimap.min.js"></script>*@
<script type="text/javascript" src="~/js/ReportBuilder/Eb_ReportBuilder.js"></script>
<script type="text/javascript" src="~/js/ReportBuilder/Eb_ReportBuilderExtended.js"></script>
<script type="text/javascript" src="~/js/ReportBuilder/Eb_ReportBuilderCom.js"></script>
<script type="text/javascript" src="~/js/ReportBuilder/ReportMenu.js"></script>
<script type="text/javascript" src="~/js/ReportBuilder/EbTableLayout.js"></script>
<script>
    @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.ReportSections);
    @Html.Raw(ViewBag.EbObjectTypes);
    PosOBjOFdrag = {};
    $.fn.extend({
        treed: function (o) {
            var openedClass = 'fa-minus-square-o';
            var closedClass = 'fa-plus-square-o';
            var ic = o || 'fa-plus-square-o';

            if (typeof o !== 'undefined') {
                if (typeof o.openedClass !== 'undefined') {
                    //openedClass = o.openedClass;
                }
                if (typeof o.closedClass !== 'undefined') {
                    //closedClass = o.closedClass;
                }
            }
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.prepend("<i class='indicator fa " + ic + "'></i>");
                branch.addClass('branch');
                branch.off("click").on('click', function (e) {
                    if (this === e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                });
                branch.children().children().toggle();
            });
            tree.find('.branch .indicator').each(function () {
                $(this).off("click").on('click', function (e) {
                    $(this).closest('li').click();
                });
            });
            tree.find('.branch>a').each(function () {
                $(this).off("click").on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            tree.find('.branch>button').each(function () {
                $(this).off("off").on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });
    $.fn.extend({
        killTree: function (o) {
            var tree = $(this);
            tree.removeClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.children().children().show();
                branch.children("i").remove();
                branch.removeClass('branch');
                branch.off("click");
            });
        }
    });


</script>
<div class="container-fluid">
    <div class="Scheduler_main">
        @await Component.InvokeAsync("SchedulerWindow")
    </div>
    <div class="max-pg" id="max-pg"><i class="fa fa-wrench" aria-hidden="true"></i> Properties</div>
    <div class="row pgB eb-rpt-container" id="eb-rpt-container">
        <div class="side-toolbar" id="side-toolbar">
            <div class="toolbox eb-toolBoxReport">
                <div class="get_ScreenDpi_div"></div>
                <div class="Data tool_items">
                    <div class="tool_item_head">
                        <i class="fa fa-caret-down"></i> Data
                    </div>
                    <div class="tool_item_body">
                        <div style="position:relative;">
                            <ul id="data-table-list" class="tool-box-items">
                                <li>
                                    <a>Data Source</a>
                                    <ul id="dataSource"></ul>
                                </li>
                            </ul>
                            <a class="btn_calcfield_new add_summarry" id="get-col-loader" style="display:none;"><i class="fa fa-spinner fa-spin fa-lg"></i></a>
                        </div>
                        <ul id="ds_parameter_list" class="tool-box-items">
                            <li>
                                <a>Data Source Parameters</a>
                                <ul id="ds_parameters"></ul>
                            </li>
                        </ul>
                        <ul id="special-fields" class="tool-box-items">
                            <li>
                                <a>Special Fields</a>
                                <ul>
                                    <li class="styl"><span eb-type='DateTime' class='draggable textval'><i class="fa fa-calendar icon_draggable"></i> CurrentDateTime</span></li>
                                    <li class="styl"><span eb-type='PageNo' class='draggable textval'><i class="fa fa-sort-numeric-asc"></i> Page No</span></li>
                                    <li class="styl"><span eb-type='PageXY' class='draggable textval'><i class="fa fa-sort-numeric-asc"></i> Page X/Y</span></li>
                                    <li class="styl"><span eb-type='UserName' class='draggable textval'><i class="fa fa-user-o"></i> Username</span></li>
                                </ul>
                            </li>
                        </ul>
                        <div style="position:relative;">
                            <ul id="running-summary" class="tool-box-items">
                                <li>
                                    <a>Summary</a>
                                    <ul id="running-summary-childul"></ul>
                                </li>
                            </ul>
                            <a class="btn_calcfield_new add_summarry">New <i class="fa fa-plus"></i></a>
                        </div>
                        <div style="position:relative;">
                            <ul id="calcFields" class="tool-box-items">
                                <li>
                                    <a> Calculated Fields </a>
                                    <ul id="calcfields-childul"></ul>
                                </li>
                            </ul>
                            <a class="btn_calcfield_new add_calcfield">New <i class="fa fa-plus"></i></a>
                        </div>
                        <div style="position:relative;">
                            <ul id="eb-Location-config" class="tool-box-items">
                                <li>
                                    <a> Location Info </a>
                                    <ul id="eb-Location-config_child">
                                        <li class="styl"><span eb-type='LocFieldText' class='draggable textval'><i class="fa fa-text-width"></i> LongName</span></li>
                                        <li class="styl"><span eb-type='LocFieldText' class='draggable textval'><i class="fa fa-text-width"></i> ShortName</span></li>
                                        <li class="styl"><span eb-type='LocFieldImage' class='draggable textval'><i class="fa fa-picture-o"></i> Logo</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="Basic_fields tool_items">
                    <div class="tool_item_head">
                        <i class="fa fa-caret-down"></i> Basic Fields
                    </div>
                    <div class="tool_item_body">
                        <div class="drg_wrapper"><div class="draggable tool-box-div" eb-type="Text"><i class="fa fa-text-width" aria-hidden="true"></i> Text </div></div>
                        <div class="drg_wrapper"><div class="draggable tool-box-div" eb-type="Barcode"><i class="fa fa-barcode" aria-hidden="true"></i> Barcode </div></div>
                        <div class="drg_wrapper">
                            <div class="draggable tool-box-div" eb-type="QRcode"><i class="fa fa-qrcode" aria-hidden="true"></i> QR Code </div>
                        </div>
                        <div class="drg_wrapper">
                            <div class="draggable draggable-to-page tool-box-div" eb-type="Img"><i class="fa fa-picture-o" aria-hidden="true"></i> Image </div>
                        </div>
                        <div class="drg_wrapper">
                            <div class="draggable-to-page tool-box-div" eb-type="WaterMark"><i class="fa fa-map-marker" aria-hidden="true"></i> Water Mark </div>
                        </div>
                        <div class="drg_wrapper">
                            <div class="draggable tool-box-div" eb-type="SerialNumber"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> Serial Number </div>
                        </div>
                        <div class="drg_wrapper">
                            <div class="draggable tool-box-div eb_Table" eb-type="TableLayout"><i class="fa fa-table" aria-hidden="true"></i> Table Layout </div>
                        </div>
                    </div>
                </div>
                <div class="Basic_shapes tool_items">
                    <div class="tool_item_head" data-toggle="collapse" data-target="#shapes">
                        <i class="fa fa-caret-down"></i> Basic Shapes
                    </div>
                    <div class="tool_item_body collapse" id="shapes" aria-expanded="false">
                        <div class="drg_wrapper">
                            <div eb-type="Circle" class="tool-box-div draggable"><i class="fa fa-circle-thin fa-lg"></i> Circle</div>
                        </div>
                        <div class="drg_wrapper">
                            <div eb-type="Rect" class="tool-box-div draggable"><i class="fa fa-square-o fa-lg"></i> Rectangle</div>
                        </div>
                        <div class="drg_wrapper">
                            <div eb-type="ArrR" class="tool-box-div draggable"><i class="fa fa-long-arrow-right fa-lg"></i> Arrow Right</div>
                        </div>
                        <div class="drg_wrapper">
                            <div eb-type="ArrL" class="tool-box-div draggable"><i class="fa fa-long-arrow-left fa-lg"></i> Arrow Left</div>
                        </div>
                        <div class="drg_wrapper">
                            <div eb-type="ArrU" class="tool-box-div draggable"><i class="fa fa-long-arrow-up fa-lg"></i> Arrow Up</div>
                        </div>
                        <div class="drg_wrapper">
                            <div eb-type="ArrD" class="tool-box-div draggable"><i class="fa fa-long-arrow-down fa-lg"></i> Arrow Down</div>
                        </div>
                        <div class="drg_wrapper">
                            <div eb-type="ByArrH" class="tool-box-div draggable"><i class="fa fa-arrows-h fa-lg" aria-hidden="true"></i> ByD Arrow Horr</div>
                        </div>
                        <div class="drg_wrapper">
                            <div eb-type="ByArrV" class="tool-box-div draggable"><i class="fa fa-arrows-v fa-lg" aria-hidden="true"></i>ByDir Arrow Vert</div>
                        </div>
                        <div class="drg_wrapper">
                            <div eb-type="Hl" class="tool-box-div draggable"><i> __ </i> Horri Line</div>
                        </div>
                        <div class="drg_wrapper">
                            <div eb-type="Vl" class="tool-box-div draggable"><i> | </i> Vert line</div>
                        </div>
                    </div>
                </div>
                <div class="toolbox_footer"></div>
            </div>
        </div>
        <div class="page-outer-cont" id="page-outer-cont">
            <div class="page-outer-container">
                <div class="tracker_drag track_line_vert1"></div>
                <div class="tracker_drag track_line_vert2"></div>
                <div class="ruler-top">
                    <div class="title">
                        <select class="form-control rulerUnit" id="rulerUnit">
                            <option value="cm">cm</option>
                            <option value="inch">inch</option>
                            <option value="px">pixel</option>
                        </select>
                    </div>
                    <div class='ruler' style="display:none"></div>
                </div>
                <div class='rulerleft' style="display:none"></div>
                <div id="PageContainer" class="PageContainer">
                    <div class="headersections">
                        <div class="head_Box1 header_box" id="rptheadHbox" data-sec="ReportHeader" data-val="0">
                            <div class="hbox_notation_div">Rh</div>
                        </div>
                        <div class="head_Box1 header_box" id="pgheadHbox" data-sec="PageHeader" data-val="1">
                            <div class="hbox_notation_div">Ph</div>
                        </div>
                        <div class="head_Box1 header_box" id="detailHbox" data-sec="ReportDetail" data-val="2">
                            <div class="hbox_notation_div">Dt</div>
                        </div>
                        <div class="head_Box1 header_box" id="pgfooterHbox" data-sec="PageFooter" data-val="3">
                            <div class="hbox_notation_div">Pf</div>
                        </div>
                        <div class="head_Box1 header_box" id="rptfooterHbox" data-sec="ReportFooter" data-val="4">
                            <div class="hbox_notation_div">Rf</div>
                        </div>
                    </div>
                    <div class="multiSplit" id="multiSplit">
                        <div class="ReportHeader multiSplitHbox" data_val="0" eb-type="MultiSplitBox" id="box0">
                        </div>
                        <div class="PageHeader multiSplitHbox" data_val="1" eb-type="MultiSplitBox" id="box1">

                        </div>
                        <div class="ReportDetail multiSplitHbox" data_val="2" eb-type="MultiSplitBox" id="box2">

                        </div>
                        <div class="PageFooter multiSplitHbox" data_val="3" eb-type="MultiSplitBox" id="box3">
                        </div>
                        <div class="ReportFooter multiSplitHbox" data_val="4" eb-type="MultiSplitBox" id="box4">

                        </div>
                    </div>
                    <div class="page" id="page">
                        <div class="ReportHeader Eb_ReportSections rpthead page_grid" eb-type="ReportHeader" id="rpthead" data_val="0">

                        </div>
                        <div class="PageHeader Eb_ReportSections pghead page_grid" eb-type="PageHeader" id="pghead" data_val="1">

                        </div>
                        <div class="ReportDetail Eb_ReportSections detail page_grid" eb-type="ReportDetail" id="detail" data_val="2">

                        </div>
                        <div class="PageFooter Eb_ReportSections pgfooter page_grid" eb-type="PageFooter" id="pgfooter" data_val="3">

                        </div>
                        <div class="ReportFooter Eb_ReportSections rptfooter page_grid" eb-type="ReportFooter" id="rptfooter" data_val="4">

                        </div>
                    </div>
                    <div class="headersections-report-layer"></div>
                    <div class="page-reportLayer" id="page-reportLayer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="PGgrid" id="PGgrid-report">
    <div class="pGreportBuilder">
        <div id="propGrid"></div>
    </div>
    <div class="layers-container">
        <div class="layer-head"><i class="fa fa-caret-down"></i> Layers</div>
        <div class="layer-body">
            <div class="report-layer Rb_layer" Layer="Page" id="reportLayer">
                Page
            </div>
            <div class="section-layer layeractive Rb_layer" Layer="Section" id="sectionLayer">
                Sections
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="summarry-editor-modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="summarry-editor-container">
            <div class="close_md" data-dismiss="modal"><i class="fa fa-close"></i></div>
            <h4>Add summary</h4>
            <div class="form-group">
                <label>Field Names</label>
                <select id="summary-fieldname" name="func" class="form-control"></select>
            </div>
            <div class="form-group">
                <label>Function</label>
                <select id="summary-func" name="func" class="form-control"></select>
            </div>
            <div class="form-group">
                <label>Section</label>
                <select id="summary-sections" name="" class="form-control"></select>
            </div>
            <div class="form-group">
                <button class="btn pull-right" id="submit-summary">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eb_calcF_summarry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="summarry-editor-container">
            <div class="close_md" data-dismiss="modal"><i class="fa fa-close"></i></div>
            <h4>Add Calculated Field</h4>
            <div class="form-group">
                <label>Name</label>
                <input type="text" id="calcF_name" name="name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Value Expression</label>
                <textarea id="calcF_valueExpr" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <button class="btn pull-right" id="calcF_submit">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_table_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="add_table_container">
            <div class="close_md" data-dismiss="modal"><i class="fa fa-close"></i></div>
            <h4>Add Column and Row</h4>
            <div class="form-group">
                <label>Rows</label>
                <input type="number" id="table_rows" name="name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Coloumns</label>
                <input type="number" id="table_cols" class="form-control" required />
            </div>
            <div class="form-group">
                <button class="btn pull-right" id="add_table_submit">Ok</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#running-summary').treed();
    $('#calcFields').treed();
    $('#special-fields').treed();
    $('#other-fields').treed();
    $('#data-table-list').treed();
    $('#ds_parameter_list').treed();
    $("#eb-Location-config").treed();

    if (@ViewBag.tabnum === 0) {
        var commonO = $("#layout_div").data("commonObj");
    }
     var RBobj = new RptBuilder({
        RefId: '@ViewBag.Refid',
        Version: '@ViewBag.VersionNumber',
        ObjType: @ViewBag.ObjType,
        DsObj: @Html.Raw(ViewBag.dsObj),
        Status: '@ViewBag.Status',
        TabNum: @ViewBag.tabnum,
        ServiceUrl: '@ViewBag.ServiceUrl',
        Wc: '@ViewBag.wc',
        Cid: '@ViewBag.cid',
        LocationConfig: @Html.Raw(ViewBag.LocConfig),
    });

    commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = RBobj;
</script>
