@using ExpressBase.Objects;
@using ExpressBase.Common.Objects;
@using ExpressBase.Common;
@using ExpressBase.Objects.ServiceStack_Artifacts;
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/minimap/1.0.0/minimap.min.css">
<link rel="stylesheet" type="text/css" href="~/css/Eb_ReportBuilder.css" />@*amal*@
<link rel="stylesheet" type="text/css" href="~/css/Eb_FontEditor.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/minimap/1.0.0/minimap.min.js"></script>
<script type="text/javascript" src="~/js/Eb_FontEditor.js"></script>
<script type="text/javascript" src="~/js/ReportBuilder/textFit.min.js"></script>
<script type="text/javascript" src="~/js/ReportBuilder/split.js"></script>
<script type="text/javascript" src="~/js/ReportBuilder/Eb_ReportBuilder.js"></script>
<script type="text/javascript" src="~/js/ReportBuilder/Eb_ReportBuilderExtended.js"></script>
<script>
    @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.ReportSections);
    @Html.Raw(ViewBag.EbObjectTypes);
    PosOBjOFdrag = {};
    $.fn.extend({
        treed: function (o) {
            var openedClass = 'fa-minus';
            var closedClass = 'fa-plus';

            if (typeof o !== 'undefined') {
                if (typeof o.openedClass !== 'undefined') {
                    openedClass = o.openedClass;
                }
                if (typeof o.closedClass !== 'undefined') {
                    closedClass = o.closedClass;
                }
            }
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.prepend("<i class='indicator fa " + closedClass + "'></i>");
                branch.addClass('branch');
                branch.on('click', function (e) {
                    if (this === e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                });
                branch.children().children().toggle();
            });
            tree.find('.branch .indicator').each(function () {
                $(this).on('click', function () {
                    $(this).closest('li').click();
                });
            });
            tree.find('.branch>a').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            tree.find('.branch>button').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });

</script>
<div class="container-fluid">
    <div class="row pgB eb-rpt-container" id="eb-rpt-container">
        <div class="max-sidebar" id="max-sidebar"><i class="fa fa-wrench" aria-hidden="true"></i></div>
        <div class="max-pg" id="max-pg"><i class="fa fa-wrench" aria-hidden="true"></i></div>
        <div class="col-md-2 col-lg-2 col-sm 2 side-toolbar" id="side-toolbar">
            <div class="toolbox eb-toolBoxReport">
                <div class="eb-toolBoxReport-toggle-sec">
                    <div class="pull-right" id="eb-toolBoxReport-min"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="tab" href="#genaral" role="tab">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#data" role="tab">Data</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="genaral" role="tabpanel">
                        <div id="get-col-loader" style="display:none;margin-left: 45%;"><i class="fa fa-circle-o-notch fa-spin fa-lg" style='color:blue' aria-hidden="true"></i></div>
                        <ul id="special-fields" class="tool-box-items">
                            <li>
                                <a>Special Fields</a>
                                <ul>
                                    <li class="styl"><div eb-type='DateTime' class='draggable textval'>CurrentDateTime</div></li>
                                    <li class="styl"><div eb-type='PageNo' class='draggable textval'>Page No</div></li>
                                    <li class="styl"><div eb-type='PageXY' class='draggable textval'>Page X/Y</div></li>
                                    <li class="styl"><div eb-type='UserName' class='draggable textval'>Username</div></li>
                                </ul>
                            </li>
                        </ul>
                        <div class='Eb-shaps tool-box-div' data-toggle="collapse" data-target="#shapes">
                            <i class="fa fa-plus"></i> Shapes
                            <div class="shapes-tank collapse" id="shapes">
                                <button eb-type="Circle" class="btn draggable"><i class="fa fa-circle-thin fa-lg"></i></button>
                                <button eb-type="Rect" class="btn draggable"><i class="fa fa-square-o fa-lg"></i></button>
                                <button eb-type="ArrR" class="btn draggable"><i class="fa fa-long-arrow-right fa-lg"></i></button>
                                <button eb-type="ArrL" class="btn draggable"><i class="fa fa-long-arrow-left fa-lg"></i></button>
                                <button eb-type="ArrU" class="btn draggable"><i class="fa fa-long-arrow-up fa-lg"></i></button>
                                <button eb-type="ArrD" class="btn draggable"><i class="fa fa-long-arrow-down fa-lg"></i></button>
                                <button eb-type="ByArrH" class="btn draggable"><i class="fa fa-arrows-h fa-lg" aria-hidden="true"></i></button>
                                <button eb-type="ByArrV" class="btn draggable"><i class="fa fa-arrows-v fa-lg" aria-hidden="true"></i></button>
                                <button eb-type="Hl" class="btn draggable"><i> __ </i></button>
                                <button eb-type="Vl" class="btn draggable"><i> | </i></button>
                            </div>
                        </div>
                        <div class="draggable tool-box-div" eb-type="Text"><i class="fa fa-text-width" aria-hidden="true"></i> Text </div>
                        <div class="draggable tool-box-div" eb-type="Barcode"><i class="fa fa-barcode" aria-hidden="true"></i> Barcode </div>
                        <div class="draggable tool-box-div" eb-type="QRcode"><i class="fa fa-qrcode" aria-hidden="true"></i> QR Code </div>
                        <div class="draggable tool-box-div" eb-type="Img"><i class="fa fa-picture-o" aria-hidden="true"></i> Image </div>
                        <div class="draggable tool-box-div" eb-type="WaterMark"><i class="fa fa-map-marker" aria-hidden="true"></i> Water Mark </div>
                        <div class="draggable tool-box-div" eb-type="SerialNumber"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> Serial Number </div>
                        <button class="btn" id="font"><i> test </i></button>
                    </div>
                    <div class="tab-pane" id="data" role="tabpanel">
                        <ul id="data-table-list" class="tool-box-items"></ul>
                        <ul id="running-summary" class="tool-box-items">
                            <li>
                                <a>Summary</a>
                                <ul id="running-summary-childul">
                                   
                                </ul>
                            </li>
                        </ul>
                        <ul id="calculated-fields" class="tool-box-items">
                            <li>
                                <a>Calculated Fields</a>
                                <ul>
                                    <li class="styl"><div id="fd1" class="draggable textval">Coloumn</div></li>
                                    <li class="styl"><div id="fd1" class="draggable textval">Coloumn</div></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-sm-offset-2 col-lg-offset-2 col-md-offset-2 page-outer-cont" id="page-outer-cont">
            <div class="page-outer-container">
                <div class="ruler-top">
                    <div class="title">
                        <select class="form-control rulerUnit" id="rulerUnit">
                            <option value="cm">cm</option>
                            <option value="inch">inch</option>
                            <option value="px">pixel</option>
                        </select>
                    </div>
                    <div class='ruler' style="display:none"></div>
                </div>
                <div class='rulerleft' style="display:none"></div>
                <div id="PageContainer" class="PageContainer">
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-2 col-lg-offset-10 col-sm-offset-10 col-md-offset-10 PGgrid" id="PGgrid-report">
            <div class="pGreportBuilder">
                <div id="propGrid"></div>
            </div>
        </div>
    </div>
    <div id="fontModal"></div>
    <div class="modal fade" id="summarry-editor-modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="summarry-editor-container">
                <h4>Add summary</h4>
                <div class="form-group">
                    <label>Function</label>
                    <select id="summary-func" name="func" class="form-control">                                         
                    </select>
                </div>
                <div class="form-group">
                    <label>Field Name</label>
                    <input type="text" id="summary-fieldname" class="form-control" value="" readonly/>
                </div>
                <div class="form-group">
                    <label>Section</label>
                    <select id="summary-sections" name="" class="form-control">                                             
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn pull-right" id="submit-summary">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if (@ViewBag.tabnum === 0) {
        var commonO = $("#layout_div").data("commonObj");
    }

    commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = new RptBuilder('@ViewBag.Refid', '@ViewBag.VersionNumber', @ViewBag.ObjType, @Html.Raw(ViewBag.dsObj), '@ViewBag.Status', @ViewBag.tabnum, '@ViewBag.ServiceUrl');
    $(document).ready(function () {

        $('#running-summary').treed();
        $('#calculated-fields').treed();
        $('#special-fields').treed();
        $('#other-fields').treed();

        var f = new FontEditor({
            ContainerId: "fontModal",
            ToggleId: "font",
        });

        DrawColTree = function (result) {
            var type = "";
            $('#data-table-list').empty();
            $('#data-table-list').append("<li><a>Data Source</a><ul id='dataSource'></ul></li>");
            $.each(result.columns, function (i, columnCollection) {
                $("#data-table-list ul[id='dataSource']").append(" <li><a>Table" + ++i + "</a><ul id='t" + i + "'></ul></li>");
                $.each(columnCollection, function (j, obj) {
                    if (obj.type === 16)
                        type = "DataFieldText";
                    else if (obj.type === 7 || obj.type === 8 || obj.type === 10 || obj.type === 11 || obj.type === 12 || obj.type === 21)
                        type = "DataFieldNumeric";
                    else if (obj.type === 3)
                        type = "DataFieldBoolean";
                    else if (obj.type === 5 || obj.type === 6 || obj.type === 17 || obj.type === 26)
                        type = "DataFieldDateTime";

                    $("#data-table-list ul[id='t" + i + "']").append("<li class='styl'><div eb-type='" + type +"' tabindex='1' $(this).focus(); class='coloums draggable textval'> " + obj.columnName + "</div></li>");
                });
            });
            $('#data-table-list').treed();

            $('.coloums').draggable({
                cancel: "a.ui-icon",
                revert: "invalid",
                helper: "clone",
                cursor: "move",
                appendTo: "body",
                stack: ".draggable",
                drag: function (event, ui) {
                    $(ui.helper).css({ "background": "white", "border": "1px dotted black","width":"200px" });
                    $(ui.helper).children(".shape-text").remove();
                    $(ui.helper).children().find('i').css({ "font-size": "50px", "background-color": "transparent" });
                },
                start:getMousePositonOnDraggable.bind(this)
            });
        }

        getMousePositonOnDraggable = function (event,ui) {
            PosOBjOFdrag['left'] = event.pageX - $(event.target).offset().left;
            PosOBjOFdrag['top'] = event.pageY - $(event.target).offset().top;
        }
            $("#Rptbgimg").change(function () {
                setBackgroud(this);
            });
    });
</script>
