@{
    @using ExpressBase.Common;
    var dsObj = EbSerializers.Json_Deserialize(ViewBag.dsObj);
    string readonlyval = (dsObj != null) ? dsObj.VersionNumber.Substring(dsObj.VersionNumber.Length - 1) : "w";
}

<style>

    .ds-cont .ds-prop {
        position: fixed;
        right: 0px;
        top: 37px;
        width: 300px;
        height: 100%;
        background-color: white;
        box-shadow: var(--eb-shadow);
        border: 1px solid #ccc;
        z-index: 7;
    }

</style>

<section class="ds-page ds-cont adv-dsb-cont" id="ds-page@(ViewBag.tabnum)">
    
    <div class='ds-prop'>
        <div id='dspropgrid@(ViewBag.tabnum)' class='pull-right' style='padding:0px'></div>
    </div>
</section>

<script>
    var PosFormBuilder = function (refid, ver_num, type, dsobj, cur_status, tabNum, ssurl) {
       
        this.EbObject = dsobj;
        commonO.Current_obj = this.EbObject;
        
        this.propGrid = new Eb_PropertyGrid({
            id: "dspropgrid" + tabNum,
            wc: this.wc,
            cid: this.cid,
            $extCont: $(".ds-prop"),
            $scope: $(".adv-dsb-cont")
        });

        this.Init = function () {
            
            if (this.EbObject === null) {
                this.EbObject = new EbObjects["EbPosForm"]("EbPosForm_" + Date.now().toString(36));
                this.EbObject.DisplayName = this.EbObject.Name;
                commonO.Current_obj = this.EbObject;
            }

            this.propGrid.setObject(this.EbObject, AllMetas["EbPosForm"]);
            this.Name = this.EbObject.Name;
            this.GenerateButtons();
        };

        this.GenerateButtons = function () {
            //$("#obj_icons").empty().append(``);
        };

        this.Init();
    }

    if (@ViewBag.tabnum === 0) {
        var commonO = $("#layout_div").data("commonObj");
    }

    commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = new PosFormBuilder('@ViewBag.Refid', '@ViewBag.VersionNumber', @ViewBag.ObjType, @Html.Raw(ViewBag.dsObj), '@ViewBag.Status', @ViewBag.tabnum, '@ViewBag.ssurl');

</script>