@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
@using ExpressBase.Objects;
@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@* BOOTSTRAP CSS *@
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/FormBuiderStyles.css" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="~/css/style.css" asp-append-version=@bApnd />@*amal*@
<script src="~/js/EbMsgBox.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@
<link rel="stylesheet" type="text/css" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css">
<link href="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" asp-append-version=@bApnd />


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>@*jith*@
<script type="text/javascript" src="~/js/jQuery Mask Plugin v1.14.9.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="~/js/datatables.min.js" asp-append-version=@bApnd></script>
<script src="~/js/Eb_Basic_DataTable.js"></script>
<script src="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.js"></script>
<script type="text/javascript" src="~/js/eb_common.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/FormBuilder/WebFormRenderer.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Eb_select.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Eb_UtilityFuncions.js" asp-append-version=@bApnd></script>@*jith*@
<script type="text/javascript" src="~/js/FormBuilder/InitFormControls.js" asp-append-version=@bApnd></script>@*jith*@
<script type="text/javascript" src="~/js/vue-select.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="https://unpkg.com/vue@2.1.10"></script>
<script src="~/js/EbLoader.js" type="text/javascript" asp-append-version=@bApnd></script>@*amal*@

@{

    EbToolbox _toolBox = new EbToolbox(ExpressBase.Common.Objects.BuilderType.WebForm);
    //ivide
    <script>
    @Html.Raw(_toolBox.EbOnChangeUIfns);
    @Html.Raw(_toolBox.AllMetas);
    </script>
}

@section EbHead {
    <script>
    @Html.Raw(ViewBag.HtmlHead);
    </script>

}
<style>
    .webform-cont {
        margin-top: 38px;
        height: calc(100vh - 38px);
        margin-left: -15px;
        width: calc(100% + 30px);
    }

    .form-buider-form {
        height: 100%;
        border: none;
    }

    .Eb-ctrlContainer .input-group-addon {
        border-radius: 0;
    }

    .save-cont {
        text-align: center;
    }

    .webform-save {
        /*background-color: #2827a0;
        border: none;
        padding: 3px 11px;
        color: white;
        box-shadow: -2px 2px 3px 0 #00000059;
        border-radius: 2px;*/
    }

    .form-render-table td {
        border: none !important;
    }

    .form-buider-form .Eb-ctrlContainer {
        min-height: 20px;
    }

    .radiog-cont {
        border: none;
        border-radius: 5px;
    }

    .form-buider-form .Eb-ctrlContainer table td {
        background: #fff;
        padding: 0px 2px;
    }
</style>

<div id='WebForm-cont' class="webform-cont">
    @Html.Raw(ViewBag.WebFormHtml)
    <div class="save-cont"></div>
</div>

<script>
    @Html.Raw(ViewBag.ControlOperations);
    new EbHeader().insertButton('<button class="btn " id="webformsave"><i class="fa fa-save" aria-hidden="true"></i></button>');

    let _formObj = @Html.Raw(ViewBag.WebFormObj);
    let _editModeObj =  @Html.Raw(ViewBag.editModeObj);
    let _formRefId=  "@Html.Raw(ViewBag.formRefId)";
    let _$saveBtn = $("#webformsave");
    const renderer = new WebFormRender({
        formObj: _formObj,
        $saveBtn: _$saveBtn,
        formRefId: _formRefId,
        editModeObj: _editModeObj
    });
</script>