@using ExpressBase.Web.Filters;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
@using ExpressBase.Objects;
@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@* BOOTSTRAP CSS *@

<link rel="stylesheet" type="text/css" href="~/css/FormBuiderStyles.css" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="~/css/DV/bootstrap-toggle.min.css">
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css">
<link href="~/css/DV/MonthPicker.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="~/css/Eb.css" asp-append-version=@bApnd />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.5/css/bootstrap-select.css">
<link rel="stylesheet" type="text/css" href="~/css/bootstrap-multiselect.css" asp-append-version=@bApnd />
@*amal*@
<link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="~/css/EbControls/EbSignaturePad.css" asp-append-version=@bApnd />
@*amal*@
@*varghese*@
<link rel="stylesheet" type="text/css" href="~/css/EbFileViewer/viewer.css" asp-append-version=@bApnd>
<link rel="stylesheet" href="~/css/EbControls/EbBluePrintCss.css">
<link rel="stylesheet" href="~/css/yearpicker.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" asp-append-version=@bApnd />
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/DV/jquery.rateyo.min.css">
<link rel="stylesheet" type="text/css" href="~/css/DVBuilder.css" />
<link rel="stylesheet" type="text/css" href="~/css/splitWindow.css" />
<link rel="stylesheet" href="~/css/ChartStyle.css" asp-append-version=@bApnd>
<link rel="stylesheet" href="~/fonts/icofont/icofont.min.css">
<link rel="stylesheet" type="text/css" href="~/css/Common/offline-theme-dark.css" asp-append-version=@bApnd />



<script type="text/javascript" src="~/js/jQuery Mask Plugin v1.14.9.js" asp-append-version=@bApnd></script>
@*jith*@
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.js" asp-append-version=@bApnd></script>*@@*jith*@
<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/yearpicker.js" asp-append-version=@bApnd></script>
@*<script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>*@
<script type="text/javascript" src="~/js/LayoutCommon/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="~/js/datatables.min.js" asp-append-version=@bApnd></script>
<script src="~/js/Eb_Basic_DataTable.js" asp-append-version=@bApnd></script>
@*<script src="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.js"></script>*@
<script type="text/javascript" src="~/js/LayoutCommon/MonthPicker.min.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/WebFormRenderer.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/FormBuilder/FormRenderCommon.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbControls/EbPowerSelect.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbControls/EbDataGrid.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbControls/EbDataGrid_New.js" asp-append-version=@bApnd></script>
@*jith*@
<script type="text/javascript" src="~/js/EbControls/EbDpFormControl.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbControls/EbItemListControl.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbControls/EbDynamicTab.js" asp-append-version=@bApnd></script>
@*jith*@
<script type="text/javascript" src="~/js/EbControls/EbReview.js" asp-append-version=@bApnd></script>
@*jith*@
<script type="text/javascript" src="~/js/FormBuilder/InitFormControls.js" asp-append-version=@bApnd></script>
@*jith*@
<script type="text/javascript" src="~/js/FormBuilder/DGUCcolumn.js" asp-append-version=@bApnd></script>
@*jith*@
<script type="text/javascript" src="~/js/FormBuilder/EbControlCollection.js" asp-append-version=@bApnd></script>
@*jith*@
<script type="text/javascript" src="~/js/jquery.inputmask.bundle.js" asp-append-version=@bApnd></script>
@*jith*@
<script type="text/javascript" src="~/js/vue-select.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/vue@2.1.10.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/FormBuilder/bootstrap-select.js " asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/bootstrap-multiselect.js" asp-append-version=@bApnd></script>
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>*@
<script type="text/javascript" src="~/js/LayoutCommon/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-locationpicker/0.1.12/locationpicker.jquery.min.js"></script>
<script type="text/javascript" src='https://maps.google.com/maps/api/js?key=AIzaSyDcaoSVEMF_TRq6Lx-dkqh3Rvrv8_w-0tM&libraries=places'></script>

<script type="text/javascript" src="~/js/SignaturePadApis/SigWebTablet.js"></script>
@*amal*@
<script type="text/javascript" src="~/js/EbControls/EbSignaturePad.js"></script>
@*amal*@

<script type="text/javascript" src="~/js/CommonDataTable.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/splitWindow.js"></script>

@*varghese*@
<script src="~/js/EbControls/EbBluePrint.js" type="text/javascript"></script>
<script type="text/javascript" src="~/js/EbControls/EbSimpleFileUploader.js"></script>
<script type="text/javascript" src="~/js/EbFileViewer/EbFileViewerPlugin.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbFileViewer/viewer.js" asp-append-version=@bApnd></script>
@*varghese*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>*@
<script type="text/javascript" src="~/js/LayoutCommon/jquery.rateyo.min.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/jquery.scrollTo.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/DV/Chart.min.js"></script>
<script type="text/javascript" src="~/js/DV/Chart.Zoom.min.js"></script>

<script src="~/js/Eb_Basic_chart.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Common/offline.js" asp-append-version=@bApnd></script>

@*nithin*@
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
<script src="~/js/DV/leaflet.js"></script>

@{

    EbToolbox _toolBox = new EbToolbox(ExpressBase.Common.Objects.BuilderType.WebForm);

    <script>
    @Html.Raw(_toolBox.EbOnChangeUIfns);
    @Html.Raw(_toolBox.AllMetas);
    @Html.Raw(_toolBox.AllControlls);
    @Html.Raw(_toolBox.EbObjectTypes);
    </script>
}


<script>
    @Html.Raw(ViewBag.HtmlHead);
</script>

<style>
    .webform-cont {
        /*margin-top: 38px;
        height: calc(100vh - 38px);*/
        margin-left: -15px;
        width: calc(100% + 30px);
    }

    .form-buider-form {
        height: calc( 100vh - 38px );
        border: none;
    }

    .Eb-ctrlContainer .input-group-addon {
        border-radius: 0;
    }

    .save-cont {
        text-align: center;
    }

    .webform-save {
        /*background-color: #2827a0;
        border: none;
        padding: 3px 11px;
        color: white;
        box-shadow: -2px 2px 3px 0 #00000059;
        border-radius: 2px;*/
    }

    .form-buider-form .Eb-ctrlContainer {
        min-height: 20px;
    }

    .radiog-cont {
        border: none;
        border-radius: 5px;
    }

    .fmode {
        color: #fff;
        font-weight: normal;
        border-radius: 10px;
        font-weight: normal;
        margin-left: 3px;
        padding: 1px 6px;
        background-color: #9bf052;
    }

        .fmode[mode="New Mode"] {
            background-color: #00d036;
        }

        .fmode[mode="Edit Mode"] {
            background-color: #f09b52;
        }

        .fmode[mode="View Mode"] {
            background-color: #222222;
        }

    /*#divAuditTrail tbody {
        max-height: calc(100vh - 225px);
        overflow-y: auto;
        width: 100%;
    }

    #divAuditTrail thead, #divAuditTrail tbody, #divAuditTrail tr, #divAuditTrail td, #divAuditTrail th {
        display: block;
    }

    #divAuditTrail tbody td {
        float: left;
    }

    #divAuditTrail thead tr th {
        float: left;
    }*/
    /*#divAuditTrail .trans-title-tr th {
        background-color: darkcyan;
        color: white;
    }*/
    #divAuditTrail .table-title-tr th {
        padding: 4px 8px;
        /*background-color: #e5f3ff;*/
    }

    #divAuditTrail .second-table tr:nth-child(even) {
        /*background-color: #f2f2f2;*/
    }

    #divAuditTrail tr:nth-child(even):hover {
        background-color: white !important;
    }

    /*#divAuditTrail .second-table tr:hover, #divAuditTrail .first-table tr:hover {
        background-color: #ddd;
    }*/

    #divAuditTrail .second-table td, #divAuditTrail .first-table td {
        padding: 4px 8px;
    }

    #divAuditTrail .trans-head {
        padding: 3px 0px;
        background-color: #ccc;
        width: 100%;
        margin: 0 0 15px 0;
        border-radius: 4px;
    }

    #divAuditTrail .line-table-div {
        margin: 0 15px 15px 15px;
    }

    #divAuditTrail .form-table-div {
        width: 50%;
        padding: 0 15px 15px 15px;
        display: inline-block;
    }

    /*DataGridNew related styles - Beginning*/
    [ctype="DataGrid_New"] .ctrlstd_dg {
        min-height: 36px;
        display: inline-flex;
    }

    [ctype="DataGrid_New"] [mode="view"] .edit-rowc, [ctype="DataGrid_New"] [mode="view"] .del-rowc {
        color: gray;
        pointer-events: none;
    }

    [ctype="DataGrid_New"] .edit-rowc, [ctype="DataGrid_New"] .del-rowc, [ctype="DataGrid_New"] .check-rowc, [ctype="DataGrid_New"] .cancel-rowc {
        background: white;
        border: none;
    }

    [ctype="DataGrid_New"] [mode="edit"] .edit-rowc {
        color: #7171ff;
    }

        [ctype="DataGrid_New"] [mode="edit"] .edit-rowc:hover {
            box-shadow: inset 0 0 2.5px 1px #adadef !important;
        }

    [ctype="DataGrid_New"] [mode="edit"] .del-rowc {
        color: #f55d5d;
    }

        [ctype="DataGrid_New"] [mode="edit"] .del-rowc:hover {
            box-shadow: inset 0 0 2.5px 1px #fdd2d2 !important;
        }

    [ctype="DataGrid_New"] .check-rowc {
        color: #019a01;
    }

        [ctype="DataGrid_New"] .check-rowc:hover {
            box-shadow: inset 0 0 2.5px 1px #87c987 !important;
        }

    [ctype="DataGrid_New"] .cancel-rowc {
        color: #f55d5d;
    }

        [ctype="DataGrid_New"] .cancel-rowc:hover {
            box-shadow: inset 0 0 2.5px 1px #fdd2d2 !important;
        }

    [ctype="DataGrid_New"] table.dataTable {
        margin-top: 0px !important;
    }

    [ctype="DataGrid_New"] .DTFC_LeftHeadWrapper, [ctype="DataGrid_New"] .DTFC_RightHeadWrapper, [ctype="DataGrid_New"] .dataTables_scrollHead {
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }

    [ctype="DataGrid_New"] .DTFC_LeftFootWrapper, [ctype="DataGrid_New"] .DTFC_RightFootWrapper, [ctype="DataGrid_New"] .dataTables_scrollFoot {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }

    [ctype="DataGrid_New"] .DTFC_LeftFootWrapper, [ctype="DataGrid_New"] .DTFC_RightFootWrapper {
        top: 17px !important;
    }

    div[ctype="DataGrid_New"] div.dataTables_wrapper tr.odd:hover {
        background-color: rgb(249, 249, 249) !important;
    }

    div[ctype="DataGrid_New"] div.dataTables_wrapper tr.even:hover {
        background-color: white !important;
    }

    div[ctype="DataGrid_New"] table.dataTable tbody > tr.selected, div[ctype="DataGrid_New"] table.dataTable tbody > tr > .selected, div[ctype="DataGrid_New"] table.dataTable tbody > tr.selected:hover {
        background-color: white !important;
    }

    div[ctype="DataGrid_New"] td.focus {
        outline: none !important;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
    }

    div[ctype="DataGrid_New"] table.dataTable tbody tr.selected, div[ctype="DataGrid_New"] table.dataTable tbody th.selected, div[ctype="DataGrid_New"] table.dataTable tbody td.selected {
        color: black !important;
    }


    /*DataGridNew related styles - End*/
</style>

<div id='WebForm-cont' class="webform-cont">

</div>

<script>
    @Html.Raw(ViewBag.ControlOperations);

    $("body").prepend(`
<div class="modal fade" id="AuditHistoryModal" role="dialog">
    <div class="modal-dialog" style="width: 100%; margin: 0px;">
        <div class="modal-content" style="border: none; border-radius: 0px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="opacity: 1;">&times;</button>
                <h4 class="modal-title">Audit Trail</h4>
            </div>
            <div class="modal-body" style="height:calc(100vh - 60px); overflow: auto; padding: 15px 100px;">
                <div id="divAuditTrail" style="height:calc(100vh - 90px);"> </div>
            </div>
        </div>
    </div>
</div>
`);

    $("body").prepend(`
<div class="modal fade" id="iFrameFormModal" role="dialog">
    <div class="modal-dialog" style="width: 60%; margin: 8% auto;">
        <div class="modal-content">
            <div class="modal-body" style="height: 60vh; padding: 0px;">
                <div>
                    <div id="iFrameFormOverlay" style=" text-align: center; position: absolute; height: 60vh; width: 100%; background-color: white; border-radius: 6px;">
                        <div style="position: relative; top: 50%;"><i class="fa fa-spinner fa-pulse" aria-hidden="true"></i> Loading...</div>
                    </div>
                    <iframe id="iFrameForm" style="width: 100%; height: 60vh; border: none; border-radius: 6px;" ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
`);

    $("body").prepend(`
<div class="modal fade" id="iFramePdfModal" role="dialog">
    <div class="modal-dialog" style="width: 80%; margin: 4% auto;">
        <div class="modal-content" style="border-radius: 0; border: none;">
            <div class="modal-body" style="height: 80vh; padding: 0px;">
                <div>
                    <iframe id="iFramePdf" style="width: 100%; height: 80vh; border: none;" ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>`);

    $("body").prepend(` <input type="file" name="excelfile" id="excelfile" style="display: none;" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">`);

    window.closeModal = function (func) {// receives call from iFrame
        //func();
        $('#iFrameFormModal').modal('hide');
    };
    $('#iFrameFormModal').on('hidden.bs.modal', function () {
        $('#iFrameForm').removeAttr("src");
        $("#iFrameFormOverlay").show();
    });
    $("#iFrameForm").on('load', function (evt) {
        if ($(evt.target).attr("src") !== undefined)
            $("#iFrameFormOverlay").hide();
    });

    $("#iFramePdf").on('load', function (evt) {
        try {
            if ($(evt.target).attr("src") !== undefined) {
                if (document.getElementById("iFramePdf").contentWindow.document.embeds.length === 1) {
                    document.getElementById("iFramePdf").focus();
                    document.getElementById("iFramePdf").contentWindow.print();
                }
                else {
                    EbMessage("show", { Message: 'Something went wrong', AutoHide: true, Background: '#aa0000' });
                }
                $("#eb_common_loader").EbLoader("hide", { maskItem: { Id: "#WebForm-cont" } });
                $("#iFramePdfModal").modal("show");
            }
        }
        catch (e) {
            $("#eb_common_loader").EbLoader("hide");
            EbMessage("show", { Message: 'Something Unexpected Occurred', AutoHide: true, Background: '#aa0000' });
        }
    });

    let header = new EbHeader();
    header.insertButton(`<button id="webformclone" class='btn' title='Copy this form to a new form' style='display: none;'><i class="fa fa-files-o" aria-hidden="true"></i></button>`);

    header.insertButton(`<button id="webformclose" class='btn' title='Close' style='display: none;'><i class="fa fa-times" aria-hidden="true"></i></button>`);
    header.insertButton(`<button id="webformdelete" class='btn' title='Delete' style='display: none;'><i class="fa fa-trash" aria-hidden="true"></i></button>`);
    header.insertButton(`<button id="webformcancel" class='btn' title='Cancel' style='display: none;'><i class="fa fa-ban" aria-hidden="true"></i></button>`);
    header.insertButton(`<button id="webformnew" class="btn" onclick="renderer.startNewMode();" title="New form"  style="display: none;"><i class="fa fa-plus" aria-hidden="true"></i></button>`);
    header.insertButton(`<button id="webformedit" class='btn' title='Edit' style='display: none;'><i class="fa fa-pencil" aria-hidden="true"></i></button>`);
    header.insertButton(`<div id="webformsave-selbtn"  style='display: none;' class="btn-select btn">
                            <button id="webformsave" class="savebtn" title="Save form"><i class="fa fa-save" aria-hidden="true"></i></button>
                            <select class="selectpicker">
                              <option data-token="new" data-title="Save and new" data-icon="fa-save"> & New</option>
                              <option data-token="edit" data-title="Save and edit" data-icon="fa-save"> & Continue</option>
                              <option data-token="view" data-title="Save and view" data-icon="fa-save"> & View</option>
                              <option data-token="close" data-title="Save and close" data-icon="fa-save"> & Close</option>
                            </select>
                        </div>
    `);

    header.insertButton(`<div id="webformexcel-selbtn"  style='display: none;' class="btn-select btn">
                            <button id="webformexcel" class="savebtn" title="Excel form"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                            <select class="selectpicker">
                              <option data-token="import" data-title="Import" data-icon="fa-upload"> Import</option>
                              <option data-token="template-export" data-title="Form template" data-icon="fa-download"> Form template</option>
                            </select>
                        </div>
    `);

    //header.insertButton(`<button id="webformprint" class='btn' title='Print' style='display: none;'><i class="fa fa-print" aria-hidden="true"></i></button>`);
    header.insertButton(`<div id="webformprint-selbtn" style='display: none;' class="btn-select btn">
                            <button id="webformprint" class="savebtn" title="Print"><i class="fa fa-print" aria-hidden="true"></i></button>
                            <select class="selectpicker"></select>
                        </div>
    `);

    header.insertButton(`<button id="webformaudittrail" class="btn" title="Audit Trail" style='display: none;'><i class="fa fa-history" aria-hidden="true"></i></button>`);

    header.insertButton(`<button id="webformsavedraft" role="save-draft" class="btn" title="Save as draft"><i class="icofont-ui-clip-board"></i></button>`);
    header.insertButton(`<button id="webformdeletedraft" role="delete-draft" class="btn" title="Delete draft"><i class="icofont-bin"></i></i></button>`);

    let _formRefId = "@Html.Raw(ViewBag.formRefId)";
    let _formObj = @Html.Raw(ViewBag.WebFormObj);
    let _rowId = @Html.Raw(ViewBag.rowId);
    let _draftId= @Html.Raw(ViewBag.draftId);
    let _formDataWraper =  @Html.Raw(ViewBag.formData);

    let _formData = (_draftId > 0) ? @Html.Raw(ViewBag.formData_draft) : _formDataWraper.FormData;

    let _userObject =  @Html.Raw(ViewBag.userObject);
    let _mode = "@Html.Raw(ViewBag.Mode)";
    let _cid = "@ViewBag.Cid";
    let _env = "@ViewBag.Env";
    let _ispartial = "@ViewBag.IsPartial";
    let _formPermissions = @Html.Raw(ViewBag.FormPermissions);
    let _renderMode = @ViewBag.renderMode;
    let _formHTML = `@Html.Raw(ViewBag.WebFormHtml)`;

    header.addRootObjectHelp(_formObj);

    //to store refids of uploaded files via all fileuploader ctrls
    let uploadedFileRefList = {}; // multiple form related changes will come
    let DynamicTabPane = function () { console.log('Not Implemented'); }; // multiple form related changes will come

    $("#layout_div").addClass("for-modal-blur"); // multiple form related changes will come
</script>


@Html.JsCode(
    @<script>
         const renderer = new WebFormRender({ // multiple form related changes will come
             formObj: _formObj,
             $formCont: $("#WebForm-cont"),
             headerBtns: { New: "webformnew", Edit: "webformedit", Save: "webformsave", Delete: "webformdelete", Cancel: "webformcancel", AuditTrail: "webformaudittrail", Close: "webformclose" },
             formRefId: _formRefId,
             mode: _mode,
             rowId: _rowId,
             draftId: _draftId,
             formData: _formData,
             userObject: _userObject,
             cid: _cid,
             env: _env,
             isPartial: _ispartial,
             formPermissions: _formPermissions,
             headerObj: header,
             formHTML: _formHTML
         });

    </script>
)