@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
@using ExpressBase.Objects;
@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@* BOOTSTRAP CSS *@

<link rel="stylesheet" type="text/css" href="~/css/FormBuiderStyles.css" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css">
<link href="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="~/css/Eb.css" asp-append-version=@bApnd />

<script type="text/javascript" src="~/js/jQuery Mask Plugin v1.14.9.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="~/js/datatables.min.js" asp-append-version=@bApnd></script>
<script src="~/js/Eb_Basic_DataTable.js"></script>
<script src="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.js"></script>
<script type="text/javascript" src="~/js/FormBuilder/WebFormRenderer.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/FormBuilder/FormRenderCommon.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Eb_select.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Eb_UtilityFuncions.js" asp-append-version=@bApnd></script>@*jith*@
<script type="text/javascript" src="~/js/EbControls/EbDataGrid.js" asp-append-version=@bApnd></script>@*jith*@
<script type="text/javascript" src="~/js/FormBuilder/InitFormControls.js" asp-append-version=@bApnd></script>@*jith*@
<script type="text/javascript" src="~/js/vue-select.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="https://unpkg.com/vue@2.1.10"></script>
@{

    EbToolbox _toolBox = new EbToolbox(ExpressBase.Common.Objects.BuilderType.WebForm);
    //ivide
    <script>
    @Html.Raw(_toolBox.EbOnChangeUIfns);
    @Html.Raw(_toolBox.AllMetas);
    @Html.Raw(_toolBox.AllControlls);
    </script>
}

@section EbHead {
    <script>
    @Html.Raw(ViewBag.HtmlHead);
    </script>

}
<style>
    .webform-cont {
        margin-top: 38px;
        height: calc(100vh - 38px);
        margin-left: -15px;
        width: calc(100% + 30px);
    }

    .form-buider-form {
        height: 100%;
        border: none;
        padding: 0 10px;
    }

    .Eb-ctrlContainer .input-group-addon {
        border-radius: 0;
    }

    .save-cont {
        text-align: center;
    }

    .webform-save {
        /*background-color: #2827a0;
        border: none;
        padding: 3px 11px;
        color: white;
        box-shadow: -2px 2px 3px 0 #00000059;
        border-radius: 2px;*/
    }

    .form-render-table td {
        border: none !important;
    }

    .form-buider-form .Eb-ctrlContainer {
        min-height: 20px;
    }

    .radiog-cont {
        border: none;
        border-radius: 5px;
    }

    .form-buider-form .Eb-ctrlContainer table td {
        /*background: #fff;*/
        padding: 0px 2px;
    }
</style>

<div id='WebForm-cont' class="webform-cont">
    @Html.Raw(ViewBag.WebFormHtml)
    <div class="save-cont"></div>
</div>

<div class="modal fade" id="AuditHistoryModal" role="dialog">
    <div class="modal-dialog" style="width: 550px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Audit History</h4>
            </div>
            <div class="modal-body" style="height:450px; overflow: auto;">
                <div id="divAuditTrail"> </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    @Html.Raw(ViewBag.ControlOperations);

    new EbHeader().insertButton(' <button class="btn" id="webformsave"><i class="fa fa-save" aria-hidden="true"></i></button>');

    let _formObj = @Html.Raw(ViewBag.WebFormObj);
    let _editModeObj =  '@Html.Raw(ViewBag.editModeObj)';
    let _formRefId=  "@Html.Raw(ViewBag.formRefId)";
    let _$saveBtn = $("#webformsave");
    var d = new EbHeader();
    if (_editModeObj === "false") {
        _editModeObj = false;
    }
    else {
        d.insertButton('<button class="btn" id="webformaudittrail"><i class="fa fa-history" aria-hidden="true"></i></button>');
        _editModeObj = JSON.parse(atob(_editModeObj));
    }
    d.setName(_formObj.DisplayName);
    $('title').text(_formObj.DisplayName);

    const renderer = new WebFormRender({
        formObj: _formObj,
        $saveBtn: _$saveBtn,
        formRefId: _formRefId,
        editModeObj: _editModeObj
    });

    $("#webformaudittrail").on("click", function () {
        $("#AuditHistoryModal").modal("show");
        $("#divAuditTrail").children().remove();
        $("#divAuditTrail").append(`<div style="text-align: center; padding-top: 30%;"><i class="fa fa-spinner fa-pulse fa-4x" aria-hidden="true"></i></div>`);
        $.ajax({
            type: "POST",
            url: "../WebForm/AuditTrail",
            data: { refid: _formRefId, rowid: getObjByval(_editModeObj, "Name", "id").Value },
            error: function () {
                $("#divAuditTrail").children().remove();
                $("#divAuditTrail").append(`<div style="text-align: center; padding-top: 30%; font-size: 20px; color: #ccc; "> Something unexpected occured </div>`);
            },
            success: function (result) {
                if (result === "{}") {
                    $("#divAuditTrail").children().remove();
                    $("#divAuditTrail").append(`<div style="text-align: center; padding-top: 30%; font-size: 20px; color: #ccc; "> Nothing to Display </div>`);
                    return;
                }
                let auditObj = JSON.parse(result);
                var appendHtml = `<table class="table" style="width:100%">`;
                $.each(auditObj, function (idx, Obj) {
                    appendHtml += `
                        <tr class="info">
                            <th colspan="3"><div style="display: inline;">Event Date: ${Obj.CreatedAt}</div><div style="float: right; display: inline;">Done By: ${Obj.CreatedBy}</div></th>
                        </tr>
                        <tr class="success">
                            <td>Field Name</td>
                            <td>Before Change</td>
                            <td>After Change</td>
                        </tr>`;
                    $.each(Obj.Details, function (j, InObj) {
                        appendHtml += `
                        <tr>
                            <td>${InObj.FieldName}</td>
                            <td>${InObj.OldValue}</td>
                            <td>${InObj.NewValue}</td>
                        </tr>`;
                    });
                });
                appendHtml += `</table>`;
                $("#divAuditTrail").children().remove();
                $("#divAuditTrail").append(appendHtml);
            }
        });


    });
</script>