@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common;
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
<link href="~/css/LeadManagement.css" rel="stylesheet" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css" asp-append-version=@bApnd />
<link href="~/css/Survey/EbSurvey.css" rel="stylesheet" />

<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/LeadManagement.js" asp-append-version=@bApnd></script>
<link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css" asp-append-version=@bApnd />
<script type="text/javascript" src="~/js/datatables.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src='~/js/Eb_dragula.js' asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Survey/ManageSurvey.js" asp-append-version=@bApnd></script>
<script src="~/js/Survey/EbSurvey.js" type="text/javascript" asp-append-version=@bApnd></script>

<script>
    var cm = new EbHeader().setName("Developer Console");
</script>
<div class="row s-dash-container">
    <div class="pd-0 tdasboard-sidebar tenant_sidebar">
        <div class="t-container">
            <ul class="list-group menuwrapper_ul_outer">
                <li class="list-group-item outer_li text-center pd-l-0 pd-r-0">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">apps</span>
                        <span class="t__sidebar_text">Applications</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">store</span>
                        <span class="t__sidebar_text">App Store</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="../Survey/QuestionBank">
                        <span class="material-icons t__sidebar_icon">account_balance</span>
                        <span class="t__sidebar_text">Question Bank</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">chrome_reader_mode</span>
                        <span class="t__sidebar_text">Wiki</span>
                    </a>
                </li>

                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">contact_support</span>
                        <span class="t__sidebar_text">Support</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc">
            <div class="col-md-10 pd-0">
                <h4 class="mr-t-0 mr-b-0">New Survey</h4>
            </div>
            <div class="col-md-2 pd-0">
                <button sid="@ViewBag.SurveyId" class="ebbtn eb_btn-sm eb_btngreen pull-right" id="getPUrl">Public URL</button> 
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">
            <ul class="nav nav-tabs">
                <li class="nav-item active devdshtab">
                    <a class="nav-link" data-toggle="tab" href="#home" role="tab">Survey Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ques" role="tab">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#survey_resp" role="tab">Responses</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="float-l col-md-4">
                        <div class="form-group">
                            <label>Survey Name</label>
                            <input id="txtName" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Start Date</label>
                            <div class="input-group">
                                <input id="txtStart" type="text" class="form-control">
                                <span class="input-group-addon" onclick="$('#txtStart').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>End Date</label>
                            <div class="input-group">
                                <input id="txtEnd" type="text" class="form-control">
                                <span class="input-group-addon" onclick="$('#txtEnd').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>State</label>
                            <select id="selState" class="form-control">
                                <option value="0">Active</option>
                                <option value="1">Suspend</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-pane appdash_obj_container display-flex" id="ques" role="tabpanel">
                    <div class="raw">
                        <button data-toggle="modal" data-target="#questionModal" class="ebbtn eb_btn-sm eb_btnblue pull-right" id="NewQuestion">New Question</button>
                        <button data-toggle="modal" data-target="#AddFromBank" class="ebbtn eb_btn-sm eb_btnblue pull-right mr-r-10px">Add From Bank</button>
                    </div>
                    <div class="col-md-12 pd-0">
                        <label>Selected Questions</label>
                    </div>
                    <div class="col-md-12 pd-0 selection_pane" id="divQuesSelected">
                        @*selected questions*@
                    </div>
                </div>
                <div class="tab-pane appdash_obj_container display-flex" id="survey_resp" role="tabpanel">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade open-sans" id="questionModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:70%">
        <div class="modal-content">
            <div class="modal-header eb_modalheader relative">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Question</h4>
                <div class="survey_menu_load" id="survey_menu_load"></div>
            </div>
            <div class="modal-body">
                <div class="row qust-cont">
                    <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 qust-cont-l-col-3">
                        <div class="q-type-container">
                            <div class="qst-type-label-cont">
                                <div class="question-label">Question Type</div>
                                <div class="qst-types-cont pd-5">
                                    <div class="qst-type" qtype="1"><i class="fa fa-dot-circle-o"></i> Multiple choice(Single-Select)</div>
                                    <div class="qst-type" qtype="2"><i class="fa fa-check-square-o"></i> Multiple choice(Multiple-Select)</div>
                                    <div class="qst-type" qtype="3"><i class="fa fa-star-o"></i>Rating</div>
                                    <div class="qst-type" qtype="4"><i class="fa fa-toggle-down"></i>User Input</div>
                                </div>
                            </div>
                            <div class="qst-set-label-cont">
                                <div class="question-label">Settings</div>
                                <div class="qst-set-cont pd-5">
                                    <div class="q-set-item" setup="required">
                                        <div class="q-set-input">
                                            <input type="checkbox" id="requiredCheck" />
                                        </div>
                                        <div class="q-set-text">
                                            Required
                                        </div>
                                    </div>
                                    <div class="q-set-item" setup="Randomize">
                                        <div class="q-set-input">
                                            <input type="checkbox" id="randomizeCheck" />
                                        </div>
                                        <div class="q-set-text">
                                            Randomize
                                        </div>
                                    </div>
                                    <div class="q-set-item" setup="Score" style="display:none">
                                        <div class="q-set-input">
                                            <input type="checkbox" id="scoreCheck" />
                                        </div>
                                        <div class="q-set-text">
                                            Score
                                        </div>
                                    </div>
                                    <div class="q-set-item" setup="InputType" style="display:none">
                                        <div class="q-set-text">
                                            Type :
                                        </div>
                                        <div class="q-set-input">
                                            <select class="q-set-select form-control" id="userInputType">
                                                <option value="Text">Text</option>
                                                <option value="MultiText">Multi Text</option>
                                                <option value="Date">Date</option>
                                                @*<option value="Time">Time</option>*@
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 qust-cont-col-6 pd-l-0">
                        <div class="q-container">
                            <div class="qst-text-opt-cont">
                                <div class="qst-text-cont col-md-12 pd-0">
                                    <div class="input-group">
                                        <span class="input-group-addon q-label"> Q<span class="q-label-requird" style="display:none;">&nbsp;*</span></span>
                                        <textarea placeholder="Enter New Question" name="Question" class="qst-text form-control"></textarea>
                                    </div>
                                </div>
                                <div class="qst-opt-cont col-md-12 pd-0">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pd-5">
                <button type="button" id="submit_question" class="ebbtn eb_btnblue eb_btn-sm">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade open-sans" id="AddFromBank" role="dialog">
    <div class="modal-dialog modal-lg" style="width:70%">
        <div class="modal-content">
            <div class="modal-header eb_modalheader relative">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Question (@ViewBag.QuestionList.Count)</h4>
                <div class="survey_menu_load" id="AddFromBank_load"></div>
                <div class="form-group has-feedback search_input_survey">
                    <input type="text" class="form-control" id="txtSrchList" placeholder="Search" style="height: 28px;" title="Search">
                    <span id="spanSrchList" class="glyphicon glyphicon-search form-control-feedback" style="top: -2px; display: block;"></span>
                    <span id="spanRemvList" class="glyphicon glyphicon-remove form-control-feedback" style="top: -2px; display: none;"></span>
                </div>
            </div>
            <div class="modal-body" id="divQuesAll">
                @{
                    var ques = ViewBag.QuestionList;
                    foreach (EbSurveyQuery quest in ques)
                    {
                        <div class="col-md-4 col-lg-4 col-sm-4 appcontainer" data-id="@quest.QuesId" qname="@quest.Question">
                            <a class="appcontainer_inner" queryid="@quest.QuesId">
                                <div class="col-md-12 pd-0">
                                    <h5 class="txtdecor_none ellipsis-text">@quest.Question</h5>
                                    <p class="small txtdecor_none">@((SurveyQTypes)quest.QuesType)</p>
                                </div>
                                <input type="checkbox" quesid="@quest.QuesId" name="MarkQues" class="MarkQues" />
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="modal-footer pd-5">
                <button type="button" id="addfromBank_ok" class="ebbtn eb_btnblue eb_btn-sm">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="urlwindow" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Copy URL</h5>
                <button type="button" class="close" data-dismiss="modal" style="position: absolute;top: 15px;right: 10px;">&times;</button>
            </div>
            <div class="modal-body">
                <input type="text" class="w-100" style="border:none;font-size:15px;" id="url_tag"/>
            </div>
            <div class="modal-footer">
                <button type="button" id="cpy_puburl" class="ebbtn eb_btn-sm eb_btngreen">Copy</button>
            </div>
        </div>
    </div>
</div>

<script>
    new ManageSurveyObj(`@Html.Raw(ViewBag.SurveyData)`, `@Html.Raw(JsonConvert.SerializeObject(ViewBag.QuestionList))`);
    new SurveyObj('{}',"Manager");
</script>