@using ExpressBase.Objects.ServiceStack_Artifacts;
@using Newtonsoft.Json;
@using ExpressBase.Common;
@using ExpressBase.Objects;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}


@*jith*@
<link rel="stylesheet" type="text/css" href="~/css/bootstrap-select.min.css" asp-append-version=@bApnd />


<link href="~/css/Survey/EbSurvey.css" rel="stylesheet" />
<link href="~/css/FormBuiderStyles.css" rel="stylesheet" />
<link href="~/css/Eb.css" rel="stylesheet" />


<link rel="stylesheet" type="text/css" href="~/css/LayoutCommon/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/LayoutCommon/dragula.min.css" />
<link rel="stylesheet" href="~/css/Bundles/codemirror.bundle.min.css" asp-append-version=@bApnd />
<link rel="stylesheet" href="~/css/Eb.css" asp-append-version=@bApnd />
<link href="~/css/EbControls/EbFupFormControl.css" asp-append-version=@bApnd rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/css/PropertyGrid.css" asp-append-version=@bApnd />


<script src="~/js/Survey/survey.js" type="text/javascript"></script>
<script type="text/javascript" src="~/js/FormBuilder/Eb_pgCXVE.js" asp-append-version=@bApnd></script>
@*<script type="text/javascript" src="~/js/eb_common.js" asp-append-version=@bApnd></script>*@
<script type="text/javascript" src="~/js/FormBuilder/Eb_PropertyGrid.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/FormBuilder/PGHelper.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src='~/js/Eb_dragula.js' asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Eb_UtilityFuncions.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/FormBuilder/EbControlCollection.js" asp-append-version=@bApnd></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
<script type="text/javascript" src="~/js/LayoutCommon/bootstrap-select.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/FormBuilder/MultiLanguage.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Bundles/codemirror.bundle.js" asp-append-version=@bApnd></script>

<script>var cm = new EbHeader().setName("Question Bank");</script>
@{
    var Queries = ViewBag.Questions;
}

@{

    EbToolbox _toolBox = new EbToolbox(ExpressBase.Common.Objects.BuilderType.SurveyControl);
    _toolBox.SetSuveyControlsRoles();

    <script>
    @Html.Raw(_toolBox.EbOnChangeUIfns);
    @Html.Raw(_toolBox.AllMetas);
    @Html.Raw(_toolBox.AllControlls);
    @Html.Raw(_toolBox.EbObjectTypes);
    @Html.Raw(_toolBox.QCtrlsNames);
    @Html.Raw(_toolBox.ACtrlsNames);
    @Html.Raw(_toolBox.JsonToJsObjectFuncs);
    @Html.Raw(_toolBox.TypeRegister);
    </script>
}

<div class="row s-dash-container h-100">
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc">
            <div class="col-md-10 pd-0">
                <h4 class="mr-t-0 mr-b-0">Question <span class="apps_count">(@Queries.Count)</span></h4>
            </div>
            <div class="col-md-2 pd-0">
                <a data-toggle="modal" data-target="#questionModal" class="ebbtn eb_btnblue pull-right eb_btn-sm"> <i class="fa fa-plus"></i> New Question</a>
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">
            <div class="survey_container w-100" id="surveyques_wrapper">
                @{
                    foreach (EbQuestion qry in Queries)
                    {
                        <div class="col-md-4 col-lg-4 col-sm-4 appcontainer">
                            <a class="appcontainer_inner query_tile" ebsid="@qry.EbSid" qid="@qry.QId">
                                <div class="col-md-12 pd-0 qs-cont">
                                    <h5 class="txtdecor_none ellipsis-text">@qry.Name</h5>
                                    <p class="small txtdecor_none">ooooo</p>
                                </div>
                            </a>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade open-sans" data-backdrop="static" data-keyboard="false" id="questionModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:85%">
        <div class="modal-dialog modal-lg" style="width:95%">
            <div class="modal-content">
                <div class="apopmenu popmenu"></div>
                <div class="qpopmenu popmenu"></div>
                <div class="modal-header eb_modalheader relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Question</h4>
                    <div class="survey_menu_load" id="survey_menu_load"></div>
                </div>
                <div class="modal-body">
                    <div class="row qust-cont">
                        <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12 qs-cont pd-l-0">
                            <div class="q-container">
                                <div tabindex="1" class="qs-inner-cont Eb-ctrlContainer" eb-type="Questionnaire">
                                    <div tabindex="1" class="qs-inner-wrap col-md-12 pd-0 Eb-ctrlContainer" eb-type="ASec">
                                        <div class="qst-qctrl-wrap">
                                            <textarea type="text" rows="3" eb-type="TextControl" childof="QSec" placeholder="Enter question ?" class="qst-inp Eb-ctrlContainer" onfocus="$(this).select();"></textarea>
                                            <div class="qctrl-inner ebcont-ctrl"></div>
                                        </div>

                                        <div class="ansctrl-menu">
                                            <div tabindex="1" class="q-menu-item qm-add qm-add-q" pmtarget=".qpopmenu"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                            <div class="q-menu-item qm-empty"><i class="fa fa-trash" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                    <div tabindex="1" class="qst-ansctrl-cont col-md-12 pd-0 Eb-ctrlContainer" eb-type="QSec">
                                        <div class="qst-ansctrl-wrap">
                                            <div class="ansctrl-inner ebcont-ctrl"></div>
                                        </div>
                                        <div class="ansctrl-menu">
                                            <div tabindex="1" class="q-menu-item qm-add qm-add-ans" pmtarget=".apopmenu"><i class="fa fa-plus" aria-hidden="true"></i></div>
                                            <div class="q-menu-item qm-empty-ans"><i class="fa fa-trash" aria-hidden="true"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12 q-pg-cont">
                            <div class="QpgWrap">
                                <div id="Qpgdiv"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pd-5">
                    <button type="button" id="submit_question" class="ebbtn eb_btnblue eb_btn-sm">Save</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        //let FBid = editModeFormObj ? editModeFormObj.EbSid : "WebForm_" + Date.now().toString(36);
        let FBid = "Qstn_" + Date.now().toString(36);
        var ControlHTML =   @Html.Raw(ViewBag.ControlHTML);
        //let editModeFormObj =  @Html.Raw(ViewBag.dsObj) || null;
        let editModeFormObj =  @Html.Raw(EbSerializers.Json_Serialize(Queries));
        var survey = new SurveyQuestionBank("QuestionBank",{
            formId: FBid,
            PGId: "QBpg",
            objInEditMode: editModeFormObj
        });
    </script>
