@using ExpressBase.Objects.ServiceStack_Artifacts;
@{
    Layout = "~/Views/Shared/LayoutExternal.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
@section StyleSheet{
    <style>
        html{
            overflow-y:scroll !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/css/EbWiki/eb_wiki.css">
}
@section JavaScript{
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <script type="text/javascript" src="~/js/wiki/eb_wiki.js"></script>
}
@{
    string signinurl = string.Empty, appstoreurl = string.Empty, home = string.Empty; ;
    if (ViewBag.Env == "Development")
    {
        home = "http://localhost:41400";
        signinurl = "http://myaccount.localhost:41500";
    }
    if (ViewBag.Env == "Staging")
    {
        home = "https://eb-test.xyz";
        signinurl = "https://myaccount.eb-test.xyz";
    }
    if (ViewBag.Env == "Production")
    {
        home = "https://expressbase.com";
        signinurl = "https://myaccount.expressbase.com";
    }
    bool isLogined = (ViewBag.AvailToken == null) ? false : ViewBag.AvailToken;
}

<div class="container-fluid">
    <div class="search-box-fab">
        <div class="link-wrapr">

        </div>
        <div class="fab-icon">
            <span class="fa fa-search"></span>
        </div>
    </div>
    <div class="row row-flex h-100" style="font-family:Montserrat">
        <div class="col-sm-3 col-lg-3 col-md-3 pd-0 eb-wiki-sidebar">
            <div class="sidebar h-100">
                <div class="sidebar-item-wraper wraper-link" id="home">
                    <div class="sidebar-item">
                        <span class="fa fa-home i-con"></span>
                        <span class="text">Getting Started</span>
                    </div>
                </div>
                <div class="sidebar-item-wraper wraper-link" val="form">
                    <div class="sidebar-item">
                        <span class="fa fa-home i-con"></span>
                        <span class="menu text"> Forms </span>
                    </div>
                </div>
                <div id="form" class="sidebar-list-wraper" val="hide" show>
                    <ul>
                        @foreach (Wiki wiki in ViewBag.WikiList)
                        {
                            int link = wiki.Id;
                            if (wiki.Category == "Form")
                            {
                                <li> <a data-id="@link" class="wikilist"> @wiki.Title </a></li>
                            }
                        }
                    </ul>
                </div>
                <div class="sidebar-item-wraper wraper-link" val="Report">
                    <div class="sidebar-item">
                        <span class="fa fa-home i-con"></span>
                        <span class="menu text"> Report </span>
                    </div>
                </div>
                <div id="Report" class="sidebar-list-wraper" val="hide" show>
                    <ul>
                        @foreach (Wiki wiki in ViewBag.WikiList)
                        {
                            int link = wiki.Id;
                            if (wiki.Category == "Report")
                            {
                                <li> <a data-id="@link" class="wikilist"> @wiki.Title </a></li>
                            }
                        }
                    </ul>
                </div>

                <div class="sidebar-item-wraper wraper-link" val="API">
                    <div class="sidebar-item">
                        <span class="fa fa-home i-con"></span>
                        <span class="menu text"> API </span>
                    </div>
                </div>
                <div id="API" class="sidebar-list-wraper" val="hide" hidden>
                    <ul>
                        @foreach (Wiki wiki in ViewBag.WikiList)
                        {
                            int link = wiki.Id;
                            if (wiki.Category == "API")
                            {
                                <li> <a data-id="@link" class="wikilist"> @wiki.Title </a></li>
                            }
                        }
                    </ul>
                </div>
                <div class="sidebar-item-wraper wraper-link" val="Chatbots">
                    <div class="sidebar-item">
                        <span class="fa fa-home i-con"> </span>
                        <span class="menu text"> Chatbots </span>
                    </div>
                </div>
                <div id="Chatbots" class="sidebar-list-wraper" val="hide" hidden>
                    <ul>
                        @foreach (Wiki wiki in ViewBag.WikiList)
                        {
                            int link = wiki.Id;
                            if (wiki.Category == "Chatbots")
                            {
                                <li> <a data-id="@link" class="wikilist"> @wiki.Title </a></li>
                            }
                        }
                    </ul>
                </div>

                <div class="sidebar-item-wraper wraper-link" val="Security">
                    <div class="sidebar-item">
                        <span class="fa fa-home i-con"></span>
                        <span class="menu text"> Security </span>
                    </div>
                </div>
                <div id="Security" class="sidebar-list-wraper" val="hide" hidden>
                    <ul>
                        @foreach (Wiki wiki in ViewBag.WikiList)
                        {
                            int link = wiki.Id;
                            if (wiki.Category == "Security")
                            {
                                <li> <a data-id="@link" class="wikilist"> @wiki.Title </a></li>
                            }
                        }
                    </ul>
                </div>

                <div class="sidebar-item-wraper wraper-link" val="AppStore1">
                    <div class="sidebar-item">
                        <span class="fa fa-home i-con"></span>
                        <span class="menu text"> App Store </span>
                    </div>
                </div>
                <div id="AppStore1" class="sidebar-list-wraper" val="hide" hidden>
                    <ul>
                        @foreach (Wiki wiki in ViewBag.WikiList)
                        {
                            int link = wiki.Id;
                            if (wiki.Category == "AppStore")
                            {
                                <li> <a data-id="@link" class="wikilist"> @wiki.Title </a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 pd-0 eb-wiki-pane">
            <div class="eb-wiki-pane-inner">
                <div class="eb-wiki-pane-header">
                    <div class="eb-wiki-pane-brdcrmb">
                        <span style="font-weight:500">Docs</span>
                        <span class="slash">/</span>
                        <span id="ebwiki_panebrd">Getting started</span>
                    </div>
                    <div class="eb-wiki-searchbox">
                        <input type="text" class="form-control w-100" placeholder="Search.." id="search_wiki">
                    </div>
                </div>
                <div class="ViewBar eb-wiki-contentdynamic">
                    <div class="wiki_data" id="wiki_data_div" hidden>
                        <div id="tagspace"> </div>
                    </div>
                    <div class="front_page_wiki">
                        @*<p> Welcome to ExpressBase! Get familiar with the ExpressBase products and explore their features: </p>
                            <div class="docFrontRow">
                                <div class="col-sm-5 docFrontColum"> <img src="/images/svg/forms.svg" style="width: 15%;" /></div>
                                <div class="col-sm-5 docFrontColum"> <img src="/images/svg/laptop.svg" style="width: 15%;" /></div>
                            </div>
                            <div class="docFrontRow">
                                <div class="col-sm-5 docFrontColum"> <img src="~/images/wiki_icons/api1.png" style="width: 15%;" /></div>
                                <div class="col-sm-5 docFrontColum"> <img src="/images/svg/chat.svg" style="width: 15%;"></div>
                            </div>
                            <div class="docFrontRow">
                                <div class="col-sm-5 docFrontColum"> <img src="~/images/wiki_icons/security_badge.png" style="width: 15%;" /></div>
                                <div class="col-sm-5 docFrontColum"> <img src="~/images/wiki_icons/store.png" style="width: 15%;" /></div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="icon-bar">
        <a href="https://www.facebook.com/share.php?u=http://www.expressbase.com&title=ExpressBase" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="#" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="#" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="whatsapp" target="_blank"><i class="fa fa-whatsapp"></i></a>
    </div>
</div>
@section JsCode{
    <script>
        let obj;
        $(document).ready(function () {
            obj = new addwiki();
            PR.prettyPrint();
        });

        $(window).on('popstate', function (event) {
            let url = window.location.href;
            //alert(url);
            let urlSplit = url.split("/");
            let id = urlSplit[urlSplit.length - 1];
            if ($.isNumeric(id)) {
                obj.AjaxCalFetchWikiList(id);
            }
            else if (id == 'docs') {
                obj.show_home();
            }
        });
    </script>
}


