@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }

    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
@section StyleSheet{
    <link rel="stylesheet" type="text/css" href="~/css/SecurityStyle.css" asp-append-version=@bApnd />
    <link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" asp-append-version=@bApnd />
}
@section JavaScript{
    <script type="text/javascript" src="~/js/datatables.min.js" asp-append-version=@bApnd></script>
    <script type="text/javascript" src="~/js/CommonList.js" asp-append-version=@bApnd></script>
}

<div class="row s-dash-container h-100">
    @*<div class="pd-0 tdasboard-sidebar tenant_sidebar">
            <div class="t-container">
                <ul class="list-group eb-dashbord-sidebar">
                    <li class="list-group-item outer_li text-center">
                        <a class="t_a" href="/Security/CommonList?type=Users">
                            <span class="material-icons t__sidebar_icon">person</span>
                            <span class="t__sidebar_text">Users</span>
                        </a>
                    </li>
                    <li class="list-group-item outer_li text-center">
                        <a class="t_a" href="/Security/CommonList?type=UserGroups">
                            <span class="material-icons t__sidebar_icon">group</span>
                            <span class="t__sidebar_text">UserGroups</span>
                        </a>
                    </li>
                    <li class="list-group-item outer_li text-center">
                        <a class="t_a" href="/Security/CommonList?type=Roles">
                            <span class="material-icons t__sidebar_icon">supervised_user_circle</span>
                            <span class="t__sidebar_text">Roles</span>
                        </a>
                    </li>
                    <li class="list-group-item outer_li text-center">
                        <a class="t_a" href="/Wiki">
                            <span class="material-icons t__sidebar_icon">chrome_reader_mode</span>
                            <span class="t__sidebar_text">Wiki</span>
                        </a>
                    </li>
                    <li class="list-group-item outer_li text-center">
                        <a class="t_a">
                            <span class="material-icons t__sidebar_icon">contact_support</span>
                            <span class="t__sidebar_text">Support</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>*@
    <div class="s-dash-workplace tenant_workpane h-100">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc">
            <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12 pd-0">
                @{
                    string name = string.Empty;
                    if (ViewBag.ListType == "users")
                    {
                        name = "Users";
                    }
                    else if (ViewBag.ListType == "anonymoususers")
                    {
                        name = "Anonymous Users";
                    }
                    else if (ViewBag.ListType == "usergroups")
                    {
                        name = "User Groups";
                    }
                    else if (ViewBag.ListType == "roles")
                    {
                        name = "Roles";
                    }
                    else if (ViewBag.ListType == "usertypes")
                    {
                        name = "User Types";
                    }
                }
                <h4 class="mr-t-0 mr-b-0">@name<span class="apps_count"></span></h4>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 pd-0 s-dash-btnwraper">
                <div class="input-group eb-search-box" style="margin-left: 15px;">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" id="txtSrchCmnList" class="form-control" placeholder="Search...">
                </div>
                <button class="ebbtn eb_btnblue eb_btn-sm new_sol_lk" id="btnNewCmnList">New</button>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pd-0 s-dash-workplace-tabs">
            <div class="tdash-box-body">
                <div class="center eb-user-listview">
                    <section class="outer-section-commonlist">
                        <div id="divCommonList">
                            <table id="tblCommonList" class="table-striped"></table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ManageAnonymUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:750px">
        <div class="modal-content">
            <div class="modal-header" style="">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <div style="margin-left:10px ; display:inline-block"> <h4 class="modal-title">Manage Anonymous User.</h4> </div>
                </div>
            </div>
            <div class="modal-body" style="height:410px">
                <input type="hidden" id="itemid" />
                <div id="loader" style=" margin-left:46%; margin-top:17%"> <i class="fa fa-spinner fa-pulse fa-4x" aria-hidden="true"></i></div>
                <div id="modalBodyDiv" style="display:none;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;">Full Name</label>
                                <input id="txtFullName" class="form-control" type="text" title="Full Name">
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;">Email ID</label>
                                <input id="txtEmailId" class="form-control" type="text" title="Email ID">
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;">Phone Number</label>
                                <input id="txtPhoneNumber" class="form-control" type="text" title="Phone Number">
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;">Remarks</label>
                                <textarea id="txtRemark" class="form-control" title="Remarks" style="height: 100px; resize:none;"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <a id="lnkGotoFbPage" target="_blank" href="#">
                                    @*http://graph.facebook.com/12345678/picture?type=square*@
                                    <img id="imgFbProfPic" class='img-thumbnail' src='' />
                                    Click Here
                                </a> to visit Facebook Page
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300; width:35%;">Application : </label>
                                <label id="lblApplication" style="font-family: open sans; font-weight: 500;"></label>
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;width:35%;">First Visit : </label>
                                <label id="lblFirstVisit" style="font-family: open sans; font-weight: 500;"></label>
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;width:100%;">Recent Account Activity Details : </label>
                                <label style="font-family: open sans; font-weight: 300;width:35%;padding-left: 20px;">Date and Time : </label>
                                <label id="lblLastVisit" style="font-family: open sans; font-weight: 500;width:60%;"></label>

                                <label style="font-family: open sans; font-weight: 300;width:35%;padding-left: 20px;">IP Address : </label>
                                <label id="lblIpAdress" style="font-family: open sans; font-weight: 500;width:60%;"></label>

                                <label style="font-family: open sans; font-weight: 300;width:35%;padding-left: 20px;">Browser : </label>
                                <label id="lblBrowser" style="font-family: open sans; font-weight: 500;width:60%;"></label>
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;width:35%;">Total Visits : </label>
                                <label id="lblTotalVisits" style="font-family: open sans; font-weight: 500;">0</label>
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;width:35%;">Last Upadated By : </label>
                                <label id="lblLastUpdatedBy" style="font-family: open sans; font-weight: 500;"></label>
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;width:35%;">Last Updated At : </label>
                                <label id="lblLastUpdatedAt" style="font-family: open sans; font-weight: 500;"></label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="">
                <button id="btnupdate" type="button" class="btn btn-default" style="">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div id="ManageUserTypesModal" class="modal fade" role="dialog" style="margin-top:110px">
    <div class="modal-dialog" style="width:500px">
        <div class="modal-content">
            <div class="modal-header" style="">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <div style="margin-left:10px ; display:inline-block"> <h4 class="modal-title">Manage UserTypes</h4> </div>
                </div>
            </div>
            <div class="modal-body" style="height:150px">
                <input type="hidden" id="_itemid" class="form-control" title="Name" />
                <div id="loader1" style=" margin-left:46%;"> <i class="fa fa-spinner fa-pulse fa-4x" aria-hidden="true" ></i></div>
                <div class="usertype_body" id="usertype_body" style="display:none">
                    <div class="form-group" style="">
                        <label style="font-family: open sans; font-weight: 300;">Name</label>
                        <input type="text" id="type-name" class="form-control" />
                        <div class="modal-footer" style="">
                            <button id="update-type" type="button" class="btn btn-default" style="">Update</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            var mnuBarObj = new EbHeader();
            if ("@ViewBag.ListType" === "users") {
                mnuBarObj.setName("Users");
                document.title = "Users";
                //metadata format - [0]=size; [1-size]=data name; [size-...]=additional info
                var _metadata = ["7", "Id", "Name", "Nick_Name", "Sex", "Email", "Phone_Number", "Status", "_user", "_profPic"];
                if ('@ViewBag.DisableNewUser' === 'true')
                    _metadata.push('_disableNewUser');
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata, mnuBarObj);
                $($(".eb-dashbord-sidebar").children()[0]).hide();
            }
            else if ("@ViewBag.ListType" === "anonymoususers") {
                mnuBarObj.setName("Anonymous Users");
                document.title = "Anonymous Users";
                var _metadata = ["8", "Id", "Full_Name", "Email_Id", "Phone_No", "First_Visit", "Last_Visit", "Total_Visits", "App_Name", "Social_Id", "_anonymousUser", "_fbProfPic"];
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata, mnuBarObj);
            }
            else if ("@ViewBag.ListType" === "usergroups") {
                mnuBarObj.setName("User Groups");
                document.title = "User Groups";
                var _metadata = ["3", "Id", "Name", "Description", "_userGroup"];
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata, mnuBarObj);
                $($(".eb-dashbord-sidebar").children()[1]).hide();
            }
            else if ("@ViewBag.ListType" === "roles") {
                mnuBarObj.setName("Roles");
                document.title = "Roles";
                //mnuBarObj.BuildMenu(`<button class='btn' title='New' onclick="window.open('../Security/ManageRoles', '_blank');"><i class="fa fa-plus-circle"></i></button>`);
                var _metadata = ["7", "Id", "Name", "Description", "Application_Name", "SubRole_Count", "User_Count", "Permission_Count", "_roles"];
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata, mnuBarObj);
                $($(".eb-dashbord-sidebar").children()[2]).hide();
            }
            else if ("@ViewBag.ListType" === "usertypes") {
                mnuBarObj.setName("User Types");
                document.title = "User Types";
                var _metadata = ["2", "Id", "Name","_userTypes"];
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata, mnuBarObj);
            }
    });
</script>
