@{
    if (ViewBag.isAjaxCall)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
    string editor="";
    string whichController = "";

    if (ViewBag.ListType == "Users")//new commonlist test version
    {
        editor = "ManageUser";
        whichController = "Security";
    }
    else if (ViewBag.ListType == "AnonymousUsers")//anonymous user test version
    {
        editor = "ManageAnonymousUser";
        whichController = "Security";
    }
    else if (ViewBag.ListType == "Roles")//test new cmnlist
    {
        editor = "ManageRoles";
        whichController = "Security";
    }    
    else if (ViewBag.ListType == "UserGroups")//test
    {
        editor = "ManageUserGroups";
        whichController = "Security";
    }
}
<style>
    .outer-section-createuser {
        height: 100vh;
        /*font-family: open sans;
        font-weight: 300;*/
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-bottom: 15px;
    }

    .dataTables_scrollHead {
        padding-bottom: 10px;
        margin-bottom: -10px;
    }

    .dataTables_scroll {
        height: inherit;
    }

    .dataTableColumnStyle {
        font-size: 14px;
    }

    /*table.display tbody tr:nth-child(even):hover td {
        background-color: red !important;
    }

    table.display tbody tr:nth-child(odd):hover td {
        background-color: blue !important;
    }*/

    /*tbody tr:nth-child(even):hover td {
        background-color: rgb(255,255,255) !important;
    }*/

    .editviewclass:hover {
        color: blue;
    }
    .convertuserclass:hover {
        color: blue;
    }
    

    tbody tr:hover td {
        background-color: rgb(220,220,220) !important;
    }

    .dataTable td {
        max-width: 250px;
        min-width: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<div id="ManageAnonymUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:750px">
        <div class="modal-content">
            <div class="modal-header" style="">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <div style="margin-left:10px ; display:inline-block"> <h4 class="modal-title">Manage Anonymous User.</h4> </div>
                </div>
            </div>
            <div class="modal-body" style="height:410px">
                <input type="hidden" id="itemid"/>
                <div id="loader" style=" margin-left:46%; margin-top:17%"> <i class="fa fa-spinner fa-pulse fa-4x" aria-hidden="true"></i></div>
                <div id="modalBodyDiv" style="display:none;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;">Full Name</label>
                                <input id="txtFullName" class="form-control" type="text" title="Full Name">
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;">Email ID</label>
                                <input id="txtEmailId" class="form-control" type="text" title="Email ID">
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;">Phone Number</label>
                                <input id="txtPhoneNumber" class="form-control" type="text" title="Phone Number">
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;">Remarks</label>
                                <textarea id="txtRemark" class="form-control" title="Remarks" style="height: 100px; resize:none;"></textArea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <a id="lnkGotoFbPage" target="_blank" href="#">
                                    <img id="imgFbProfPic" class='img-thumbnail' src='http://graph.facebook.com/12345678/picture?type=square' />
                                    Click Here
                                </a> to visit Facebook Page
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300; width:35%;">Application : </label>
                                <label id="lblApplication" style="font-family: open sans; font-weight: 500;"></label>
                            </div>
                            <div class="form-group">  
                                <label style="font-family: open sans; font-weight: 300;width:35%;">First Visit : </label>
                                <label id="lblFirstVisit" style="font-family: open sans; font-weight: 500;"></label>
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;width:100%;">Recent Account Activity Details : </label>
                                <label style="font-family: open sans; font-weight: 300;width:35%;padding-left: 20px;">Date and Time : </label>
                                <label id="lblLastVisit" style="font-family: open sans; font-weight: 500;width:60%;"></label>

                                <label style="font-family: open sans; font-weight: 300;width:35%;padding-left: 20px;">IP Address : </label>
                                <label id="lblIpAdress" style="font-family: open sans; font-weight: 500;width:60%;"></label>

                                <label style="font-family: open sans; font-weight: 300;width:35%;padding-left: 20px;">Browser : </label>
                                <label id="lblBrowser" style="font-family: open sans; font-weight: 500;width:60%;"></label>
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;width:35%;">Total Visits : </label>
                                <label id="lblTotalVisits" style="font-family: open sans; font-weight: 500;">0</label>
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;width:35%;">Last Upadated By : </label>
                                <label id="lblLastUpdatedBy" style="font-family: open sans; font-weight: 500;"></label>
                            </div>
                            <div class="form-group">
                                <label style="font-family: open sans; font-weight: 300;width:35%;">Last Updated At : </label>
                                <label id="lblLastUpdatedAt" style="font-family: open sans; font-weight: 500;"></label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="">
                <button id="btnupdate" type="button" class="btn btn-default" style="">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="center" style="padding-left:5%; padding-right:5%;padding-top:1%;">
    <section class="outer-section-createuser" style="height: 550px;">
        <div class="row">
            <div class="form-inline">
                @if (editor == "ManageUser" || editor == "ManageRoles" || editor == "ManageUserGroups")
                {
                    @using (Html.BeginForm(editor, whichController, FormMethod.Post, new { target = "_blank" }))
                    {
                        <button href="" class="" style="margin-left: 30px;margin-top: 10px;"><i class="fa fa-plus-circle"></i> New</button>
                    }
                }
            </div>
        </div>
        <div id="divCommonList" style="padding:10px;">
            <table id="tblCommonList" class="table-striped"></table>
        </div>




    </section>
</div>
 

    <script>
        $(document).ready(function () {
            if ("@ViewBag.ListType" === "Users") {
                //metadata format - [0]=size; [1-size]=data name; [size-...]=additional info
                var _metadata = ["7", "Id", "Name", "Nick_Name", "Sex", "Email", "Phone_Number", "Status", "_user", "_profPic" ];
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata);
            }
            else if ("@ViewBag.ListType" === "AnonymousUsers") {
                var _metadata = ["8", "Id", "Full_Name", "Email_Id", "Phone_No", "First_Visit", "Last_Visit", "Total_Visits", "App_Name", "Social_Id", "_anonymousUser", "_fbProfPic" ];
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata);
            }
            else if ("@ViewBag.ListType" === "UserGroups") {
                var _metadata = ["3", "Id", "Name", "Description", "_userGroup"];
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata);

            }
            else if ("@ViewBag.ListType" === "Roles") {
                var _metadata = ["7", "Id", "Name", "Description", "Application_Name", "SubRole_Count", "User_Count", "Permission_Count", "_roles"];
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata);
            }
    });
    </script>
