@{
    if (ViewBag.isAjaxCall)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
    string editor="";
    string whichController = "";

    if (ViewBag.ListType == "user")
    {
        editor = "ManageUser";
        whichController = "Security";
    }
    else if (ViewBag.ListType == "TestUser")//new commonlist test version
    {
        editor = "ManageUser";
        whichController = "Security";
    }
    else if (ViewBag.ListType == "roles")
    {
        editor = "ManageRoles";
        whichController = "Security";
    }
    else if (ViewBag.ListType == "TestRoles")//test new cmnlist
    {
        editor = "ManageRoles";
        whichController = "Security";
    }
    else if (ViewBag.ListType == "usergroup")
    {
        editor = "UserGroups";
        whichController = "TenantUser";
    }
    //else if (ViewBag.ListType == "usergroup")
    //{
    //    editor = "ManageUserGroups";
    //    whichController = "Security";
    //}
    else if (ViewBag.ListType == "TestUserGroup")//test
    {
        editor = "ManageUserGroups";
        whichController = "Security";
    }
}
<style>
    .outer-section-createuser {
        height: 100vh;
        /*font-family: open sans;
        font-weight: 300;*/
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-bottom: 15px;
    }

    .dataTables_scrollHead {
        padding-bottom: 10px;
        margin-bottom: -10px;
    }

    .dataTables_scroll {
        height: inherit;
    }

    .dataTableColumnStyle {
        font-size: 14px;
    }

    /*table.display tbody tr:nth-child(even):hover td {
        background-color: red !important;
    }

    table.display tbody tr:nth-child(odd):hover td {
        background-color: blue !important;
    }*/

    /*tbody tr:nth-child(even):hover td {
        background-color: rgb(255,255,255) !important;
    }*/

    .fa-pencil:hover {
        color: blue;
    }

    tbody tr:hover td {
        background-color: rgb(220,220,220) !important;
    }

    .dataTable td {
        max-width: 250px;
        min-width: 45px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }



</style>



<div class="center" style="padding-left:5%; padding-right:5%;padding-top:1%;">
    <section class="outer-section-createuser" style="height: 550px;">
        <div class="row">
            <div class="form-inline">
                @using (Html.BeginForm(editor, whichController, FormMethod.Post, new { target = "_blank" }))
                {
                    <button href="" class="" style="margin-left: 30px;margin-top: 10px;"><i class="fa fa-plus-circle"></i> New</button>
                }
            </div>
        </div>
        <div id="divCommonList" style="padding:10px;">
            <table id="tblCommonList" class="table-striped"></table>
        </div>
        @*@{
                foreach (var element in Dict.Keys)
                {
                    <div class="row objitems" name="objBox">
                        <div class="col-md-1">
                            <input type="checkbox" aria-label="...">
                        </div>

                        <div class="col-md-8">
                            <h4 name="head4" style="color:black;">@Dict[element]</h4>
                            <p class="text-justify">dsgfds dgfrdhg dfhgdrewteberyrt reyhrtu6trujhfg reyer5y54</p>
                            <h6>
                                <i style="font-style:italic;">Created by Mr X on 12/09/2017 at 02:00 pm</i>
                                <a style="margin-left:10px;">
                                    <span name="Status" class="label label-primary">Status</span>
                                    <span name="Version" class="label label-default">Version</span>
                                    <span class="label label-success">Dependency</span>
                                    <span name="Application" class="label label-danger">Application</span>
                                    <span name="Module" class="label label-default">Module</span>
                                </a>
                            </h6>
                        </div>
                        @using (Html.BeginForm(editor, whichController, FormMethod.Post, new { target = "_blank" }))
                    {
                    <div class="col-md-2 pull-right">
                        <input type="hidden" id="itemid" name="itemid" value="@element" />
                        <input type="submit" class="btn btn-primary fa-input" value="Open &#xf054;" style="font-family: FontAwesome;">
                    </div>
                    }
                    </div>
                }
            }*@
    </section>
</div>
 

    <script>
        $(document).ready(function () {
            if ("@ViewBag.ListType" === "TestUser") {
                //metadata format - [0]=size; [1-size]=data name; [size-...]=additional info 
                var _metadata = ["7", "Id", "Name", "Nick Name", "Sex", "Email", "Phone Number", "Status", "_user", "_profPic" ];
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata);
            }
            else if ("@ViewBag.ListType" === "TestUserGroup") {
                var _metadata = ["3", "Id", "Name", "Description", "_userGroup"];
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata);

            }
            else if ("@ViewBag.ListType" === "TestRoles") {
                var _metadata = ["7", "Id", "Name", "Description", "Application_Name", "SubRole_Count", "User_Count", "Permission_Count", "_roles"];
                var cmnList = new CommonListJs(@Html.Raw(ViewBag.dict), _metadata);
            }
    });
    </script>
