@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }

    Layout = "~/Views/Shared/LayoutInner.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="~/css/SecurityStyle.css" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap2-toggle.min.css" />
<script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap2-toggle.min.js"></script>
<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/ManageUser.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/TileSetup.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

@*<meta name="google-signin-client_id" content="1097281192898-q73cm1h8faa3ksjj2o44jchdlm179m87.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/css/bootstrap-iconpicker.min.css" />
    <link rel="stylesheet" href="~/css/EbOnBoarding/EbOnBoarding.css" asp-append-version=@bApnd />
    <script type="text/javascript" src="~/js/EbMsgBox.js" asp-append-version=@bApnd></script>*@

@{
    @using Newtonsoft.Json;
    var RoleObj = Html.Raw(ViewBag.Roles);
    //var SystemRoles = Html.Raw(ViewBag.SystemRoles);
    var Culture = Html.Raw(ViewBag.Culture);
    var TimeZone = Html.Raw(ViewBag.TimeZone);
    var UserGroupObj = Html.Raw(ViewBag.EBUserGroups);
    var Role2RoleList = Html.Raw(ViewBag.Role2RoleList);
    var StatusList = Html.Raw(JsonConvert.SerializeObject(ViewBag.UserStatusList));
    var UInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.U_Info));
    var URoles = (Html.Raw(ViewBag.U_Roles).ToString() == "") ? "null" : Html.Raw(ViewBag.U_Roles);
    var UGroups = (Html.Raw(ViewBag.U_Groups).ToString() == "") ? "null" : Html.Raw(ViewBag.U_Groups);
    var LocConstraint = (Html.Raw(ViewBag.LocConstraint).ToString() == "") ? "null" : Html.Raw(ViewBag.LocConstraint);
}
<div class="mu-parent-div">
    <div class="row" style="height: 100%;">
        <div class="col-md-3" style="padding-left: 30px; padding-right: 0px;">
            <div id="profimage" style="text-align:center;">

                @{  
                    var dpurl = "/images/dp/" + ViewBag.itemid + ".png";
                    if(ViewBag.itemid == 0)
                    {
                        dpurl = "/images/nulldp.png";
                    }
                    <img src="@dpurl" id="imgprofimage" style="height: 128px; border-radius: 50%;" onerror="this.src = '/images/imagenotfound.svg';" />
                }

            </div>
            <div class="form-group" style="padding-top: 24px;">
                <label class="label-custom-style">Full Name</label>
                <input id="txtFullName" class="form-control input-custom-style" type="text" title="Name" autocomplete="off">
            </div>
            <div class="form-group" style="">
                <label class="label-custom-style">Nick Name</label>
                <input id="txtNickName" class="form-control input-custom-style" type="text" title="Nick Name" autocomplete="off">
            </div>
            <div class="form-group">
                <label class="label-custom-style">Email ID</label>
                <div class="input-group">
                    <span class="input-group-addon span-custom-style"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input style="padding-right: 25px;" class="form-control input-custom-style txtEmail" type="text" title="Email ID" autocomplete="off">
                    <span class="input-group-addon form-control-feedback" id="spanEmail" style="border: none; background-color: transparent; padding: 0px; right: 26px;top: -1px;"><i class="fa fa-times" aria-hidden="true" style="color: transparent; padding: 9px;"></i></span>
                </div>
            </div>
            <div class="form-group">
                <div id="divPassword" style="width: 100%;">
                    <div style="margin-bottom: 15px;">
                        <label class="label-custom-style">Password</label>
                        <div class="input-group">
                            <span class="input-group-addon span-custom-style"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input id="pwdPassword" type="password" class="form-control input-custom-style" title="Password" autocomplete="off">
                        </div>
                    </div>
                    <div style="margin-bottom: 15px;">
                        <label class="label-custom-style">Confirm Password</label>
                        <div class="input-group">
                            <span class="input-group-addon span-custom-style"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input id="pwdPasswordCon" type="password" class="form-control input-custom-style" title="Confirm Password" autocomplete="off">                            
                        </div>
                    </div>
                </div>
                <div id="divChangePassword" style="padding: 8px 0; display:none;">
                    <button id="btnChangePassword" class="" title="Change Password">Change Password</button>
                </div>
                <div id="divResetPassword" style="padding: 8px 0; display:none;">
                    <button id="btnResetPassword" class="" title="Reset Password">Reset Password</button>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group" id="divStatus" style="display: none;">
                    <label class="label-custom-style">User Status</label>
                    <br />
                    <label class="radio-inline"><input type="radio" name="status" value="0" checked>Active</label>
                    <label class="radio-inline"><input type="radio" name="status" value="1">Suspend</label>
                    <label class="radio-inline"><input type="radio" name="status" value="2">Terminate</label>
                </div>
                <div class="form-group" id="divVisibility">
                    <label class="label-custom-style">Visibility </label>
                    <input id="chkboxHide" type="checkbox" data-toggle="toggle" data-on="Hidden" data-off="Exposed" >
                </div>
            </div>

            <div class="form-group" style="margin: 0">
                <input id="email" type="email" class="form-control" style="padding: 0; width: 0; border: none; height: 0;">
            </div>
        </div>

        <div class="col-md-9">
            <div style="padding:0px 15px;">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">General</a></li>
                    <li><a data-toggle="tab" href="#menu1">Roles</a></li>
                    <li><a data-toggle="tab" href="#menu2">Constraints</a></li>
                    <li><a data-toggle="tab" href="#menu3">User Groups</a></li>
                    <li><a data-toggle="tab" href="#menu4">Preference</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane in active" style="padding-top:30px">
                        <div class="row home-tab-cont">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="label-custom-style">Alternate Email ID</label>
                                    <div class="input-group">
                                        <span class="input-group-addon span-custom-style"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                        <input class="form-control txtAlternateEmail input-custom-style" type="text" title="Alternate Email ID" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group" id="divGender">
                                    <label class="label-custom-style">Gender</label>
                                    <br />
                                    <label class="radio-inline"><input type="radio" name="gender" value="Male" checked>Male</label>
                                    <label class="radio-inline"><input type="radio" name="gender" value="Female">Female</label>
                                    <label class="radio-inline"><input type="radio" name="gender" value="Other">Other</label>
                                </div>
                                <div class="form-group">
                                    <label class="label-custom-style">Date of Birth</label>
                                    <div class="input-group">
                                        <input class="form-control input-custom-style" type="text" id="txtDateOfBirth" title="Date of Birth" autocomplete="off">
                                        <span class="input-group-addon span-custom-style" onclick="if(!($('#txtDateOfBirth').attr('disabled'))) $('#txtDateOfBirth').datetimepicker('show');"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-custom-style">Primary Phone Number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon span-custom-style"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                                        <input id="txtPhPrimary" class="form-control input-custom-style" type="text" title="Primary Phone Number" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-custom-style">Secondary Phone Number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon span-custom-style"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                                        <input id="txtPhSecondary" class="form-control input-custom-style" type="text" title="Secondary Phone Number" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-custom-style">Land Phone Number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon span-custom-style"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                                        <input id="txtLandPhone" class="form-control input-custom-style" type="text" title="Land Phone Number" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label class="label-custom-style" style="width: 100px;">Extension :</label>
                                        <input id="txtExtension" class="form-control input-custom-style" type="text" title="Extension" style="display: inline;width: calc(100% - 104px);margin-top: 10px;" autocomplete="off">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">                                
                                <label class="label-custom-style">Api Key</label>
                                <div class="form-group">
                                    <label class="" style="font-weight: 300;">Development</label>
                                    <textarea id="" class="form-control input-custom-style" type="text" title="" style="height: 100px; resize: none;" autocomplete="off"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="" style="font-weight: 300;">Live</label>
                                    <textarea id="" class="form-control input-custom-style" type="text" title="" style="height: 100px; resize: none;" autocomplete="off"></textarea>
                                </div>
                                <button id="" class="" title="" style="" onclick="$(event.target).prop('disabled', true); setTimeout(function(){ alert('Api key generation was temporarily suspended'); $(event.target).prop('disabled', false);}, 2000, event);">Generate</button>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label id="lblFbId" style="font-weight: 300;" data-id=""><i class="fa fa-facebook-square" aria-hidden="true"></i> &nbsp; Facebook</label>
                                    <br />
                                    <img id="imgUserFbProfPic" src="" alt="Prof Pic" height="42" width="42" style="display:none;">
                                    <a id="userFbLink" href="#" target="_blank" style="display:none;"></a>
                                    <button id="btnFbConnect" class="" title="Connect Facebook" style="display:none;">Connect Facebook</button>
                                    <button id="btnFbInvite" class="" title="Invite Facebook" style="display:none;" onclick="$(event.target).prop('disabled', true); setTimeout(function(){ alert('Unable to Connect'); $(event.target).prop('disabled', false);}, 1500, event);">Invite Facebook</button>
                                </div>

                                <div class="form-group">
                                    @*<span>Send mail. </span><input type="checkbox" id="sendmail" />*@
                                </div>
                                <div class="form-group">
                                    @*<div class="g-signin2" data-onsuccess="onSignIn"></div>*@
                                </div>

                                @*<div class="input-group">
                                        <label id="" style="font-weight: 300;">API Key</label>
                                        <button class="form-control" title="Generate API Key">Generate JWT Key</button>
                                    </div>*@
                            </div>

                        </div>
                    </div>
                    <div id="menu1" class="tab-pane"></div>

                    <div id="menu2" class="tab-pane" style="padding-top:30px;">
                        <div class="row home-tab-cont">
                            <div class="col-md-6">                                
                                <div class="form-group" id="divLocConstraint">
                                    <label class="label-custom-style">Locations white list</label>
                                    <input id="txtLocations" class="form-control input-custom-style" type="text" title="Locations" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label-custom-style">Mobile Device IDs white list</label>
                                    <input id="" class="form-control input-custom-style" data-role="tagsinput" type="text" title="Mobile Device ID" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        

                        @*<div style="text-align: center; padding-top: 28%; font-size: 28px; color: #bbb; height: calc(100vh - 120px);"> Coming Soon </div>*@
                    </div>

                    <div id="menu3" class="tab-pane"></div>

                    <div id="menu4" class="tab-pane" style="padding-top:30px">
                        <div class="row home-tab-cont">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label-custom-style">Select Locale:</label>
                                    <select class="form-control input-custom-style" id="sellocale" name="locale"></select>
                                </div>
                                <div class="form-group" id="divLocaleInfo"></div>
                                <div class="form-group">
                                    <label class="label-custom-style">Select Time Zone:</label>
                                    <select id="seltimezone" name="timezone" class="form-control input-custom-style"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label-custom-style">Default Location:</label>
                                    <select id="selDefaultLocation" name="DefaultLocation" class="form-control input-custom-style"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" id="userid" name="userid" value="@ViewBag.itemid" />
            @*<button id="btnCreateUser" type="button" class="btn btn-info" style="margin:20px 40px; float:right;">Create</button>*@
            <label id="lblMessage" style="color:red;padding-left: 36px;display:none; font-weight: 500;">  </label>         
        </div>
    </div>
</div>

<div id="MU_ChangePwdModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:445px">
        <div class="modal-content" style="border-radius: 0px;">
            <div class="modal-header" style="">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <div style="margin-left:10px ; display:inline-block"> <h4 class="modal-title">Change Password</h4> </div>
                </div>
            </div>
            <div class="modal-body" style="height:185px">
                <input type="hidden" id="itemid" />
                <div id="modalBodyDiv">
                    <div class="form-group">
                        <label style="font-weight: 300; width: 38%;">Old Password :</label>
                        <input id="pwdOld" class="form-control" type="password" title="Enter Old Password" style="width:60%; display: inline-block;">
                    </div>
                    <div class="form-group">
                        <label style="font-weight: 300; width: 38%;">New Password :</label>
                        <input id="pwdNew" class="form-control" type="password" title="Enter New Password" style="width:60%; display: inline-block;">
                    </div>
                    <div class="form-group">
                        <label style="font-weight: 300; width: 38%;">Confirm New Password :</label>
                        <div style="position: relative; width:60%; display: inline-block;">
                            <input id="pwdNewConfirm" class="form-control" type="password" title="ReEnter New Password">
                        </div>
                    </div>
                    <label id="lblPwdChngMsg" style="font-weight: 300; padding-left: 38%; color: rgb(204, 0, 0);"></label>
                </div>
            </div>
            <div class="modal-footer" style="">
                <button id="btnUpdatePwd" type="button"><i class="fa fa-spinner fa-pulse" aria-hidden="true" style=" display:none;"></i>Update</button>
                <button type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="MU_ResetPwdModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:445px">
        <div class="modal-content" style="border-radius: 0px;">
            <div class="modal-header" style="">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <div style="margin-left:10px ; display:inline-block"> <h4 class="modal-title">Reset Password</h4> </div>
                </div>
            </div>
            <div class="modal-body" style="height:135px">
                <input type="hidden" id="itemid" />
                <div id="">
                    <div class="form-group">
                        <label class="label-custom-style" style="width: 38%;">New Password :</label>
                        <input id="pwdResetNew" class="form-control input-custom-style" type="password" title="Enter New Password" style="width:60%; display: inline-block;">
                    </div>
                    <div class="form-group">
                        <label class="label-custom-style" style="width: 38%;">Confirm New Password :</label>
                        <div style="position: relative; width:60%; display: inline-block;">
                            <input id="pwdResetNewConfirm" class="form-control input-custom-style" type="password" title="ReEnter New Password">
                        </div>
                    </div>
                    <label id="lblPwdResetMsg" style="font-weight: 300; padding-left: 38%; color: rgb(204, 0, 0);">Minimum Pasword length should be 8</label>
                </div>
            </div>
            <div class="modal-footer" style="">
                <button id="btnResetPwd" type="button"><i class="fa fa-spinner fa-pulse" aria-hidden="true" style=" display:none;"></i>Reset</button>
                <button type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<style>
    #divVisibility .toggle {
        width: 100px !important;
        height: 32px !important;
    }
</style>

<script>

    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }

    @*<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>*@

    
    function OnClickRemove(e) {
        if(confirm("Click OK to Remove"))
            $(e).parents("div.col-md-4").remove();
    }
    $('document').ready(function () {

        var userobj = new UserJs(@ViewBag.MU_Mode, @UInfo, @RoleObj, @UserGroupObj, @URoles, @UGroups, @Role2RoleList, @StatusList, @Culture, @TimeZone, '@ViewBag.Env', @LocConstraint);

        $("#txtDateOfBirth").datetimepicker({ timepicker: false, format: "Y-m-d" });

        //var logoCrp = new cropfy({
        //    Container: 'DisplayPicture',
        //    Toggle: '#profimage',
        //    isUpload: true,
        //    enableSE: true,
        //    Browse: true,
        //    Result: 'base64',
        //    Type: 'dp',
        //    ResizeViewPort: true,
        //    Preview: "#profimage"
        //});

        var d = new EbFileUpload({
            Type:"image",
            Toggle: "#profimage",
            TenantId:"@ViewBag.cid",
            SolutionId: "@ViewBag.SolnId",
            Container: "DisplayPicture",
            Multiple: false,
            ServerEventUrl: 'https://se.eb-test.xyz',
            EnableTag: false,
            EnableCrop: true,
            Context: "dp",//if single and crop
            UserId: @ViewBag.itemid,
            ResizeViewPort: false //if single and crop
        });

        d.uploadSuccess = function(fileid){
            EbMessage("show", { Message: fileid});
        }
        d.windowClose = function () {
            EbMessage("show", { Message: "window closed",Background: "red" });
        }

    });
</script>

