@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    @using ExpressBase.Objects.ServiceStack_Artifacts;
    @using ExpressBase.Common.Objects;
    Dictionary<string, object> Dict = ViewBag.dict;
    var roleid = (Convert.ToInt32(ViewBag.roleid) != null) ? ViewBag.roleid : 0;
}
<style>
    .outer-section-manageroles {
        height: 100vh;
        font-family: open sans;
        font-weight: 300;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-bottom: 15px;
    }

</style>

<section class="outer-section-manageroles" style="height:1000px">
    <div class="row" style="margin:0px">
        <div class="col-md-4">
            <div class="form-group">
                <label style="font-family: open sans; font-weight: 300; display:inline-block">Role Name</label>
                <input type="text" class="form-control" id="role_name" name="role_name" placeholder="Role Name" title="Role Name" value="@ViewBag.RoleName" />
            </div>
            <div class="form-group">
                <label style="font-family: open sans; font-weight: 300; display:inline-block">Application</label>
                <select class="form-control" id="appselect">
                    @{
                        <option selected="selected" value="@ViewBag.ApplicationId">@ViewBag.ApplicationName</option>foreach (var element in Dict.Keys)
                        {
                            if (ViewBag.ApplicationId != element)
                            {
                                <option value="@element">@Dict[element]</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label style="font-family: open sans; font-weight: 300; display:inline-block">Description</label>
                <textarea class="form-control" id="Description" placeholder="" style="height:107px;width:100%;">@ViewBag.Description</textarea>
            </div>
        </div>
    </div>

    <div style="padding: 0px 15px;">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#objlist1">Permissions</a></li>
            <li><a onclick="GetSubRoles(@roleid)" data-toggle="tab" href="#rolesdiv">Sub Roles</a></li>
            <li><a onclick="GetRoleUsers(@roleid)" data-toggle="tab" href="#usersdiv">Users</a></li>
        </ul>
        <div class="tab-content" style="padding: 15px 0px;">

            <div class="row tab-pane fade in active" id="objlist1" style="margin:0px">
                <div class="list-group">
                    @foreach (var ObjectType in Enum.GetValues(typeof(EbObjectTypesUI)))
                    {
                        var intobj = (int)ObjectType;
                        <a class="list-group-item list-group-item-action collapse" data-toggle="collapse" data-target="#objtype_@intobj" onclick="GetTable(@intobj)" style="padding:3px">@ObjectType<i class="fa fa-caret-down pull-right" aria-hidden="true"></i></a>
                                <table class="objtype table table-responsive sub-menu collapse" id="objtype_@intobj"></table>
                    }
                </div>
                <input type="hidden" id="applicationid" />
                <input type="hidden" id="roleid" name="roleid" value="@ViewBag.roleid" />
            </div>

            <div id="rolesdiv" class="tab-pane fade">
                <div id="roles" class="scrollable-menu">
                    <div class="form-inline" id="searchbar" style="width:100%">
                        <div class="input-group pull-right">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">Search<span class="caret"></span></button>
                            </div>
                            <input type="text" class="form-control" id="searchobj" aria-label="..."><span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>

                </div>

            </div>

            <div id="usersdiv" class="tab-pane fade">
                <div id="users">
                    <div id='div2' class='col-lg-6 well' style="height:300px">
                    </div>
                    @await Component.InvokeAsync("SearchUser", new { targetDivId = "div2" })

                </div>
            </div>
        </div>
    </div>

    <input type="submit" class="btn btn-info" value="Submit" id="allsave" style="float:right; margin-right:15px" />

</section>
                         

<script>
    $('document').ready(function () {

        var obj = new ManageRolesJs();


        $('#applicationid').val($('#appselect').val());


        //$('a').click(function () {
        //    $(this).css("background-color", "#f5f5f5");
        //});

        $("#appselect").change(function () {
            var selected = $(this).find('option:selected');
            $('#applicationid').val(selected.val());
        });

        $('#allsave').click(function () {
            var selected = "";
            $('.objtype input:checked').each(function () {
                selected += $(this).attr('value')+",";
            });

            var selectedroles = "";
            $('#rolesdiv input:checked').each(function () {
                selectedroles += $(this).attr('value')+",";

            });

            var txt = $("#userslist").val().replace(/^,/, '');

            $.post("../TenantUser/SaveRoles",
            {
                "Permissions": selected.substring(0, selected.length - 1),
                "RoleName": $('#role_name').val(),
                "RoleId": $('#roleid').val(),
                "ApplicationId": $('#applicationid').val(),
                "DominantRefiid": $('#dominantrefid').val(),
                "Description": $('#Description').val(),
                "subrolesid": selectedroles.substring(0, selectedroles.length - 1),
                "users": txt,

            }, function (result) {
            });


        });
    })
    function GetTable(type) {

        $.post("../TenantUser/GetRowAndColumn",
           {

               "ApplicationId": $('#applicationid').val(),
               "ObjectType": type,
               "RoleId": $('#roleid').val()


           }, function (result) {
               if (result) {
                   document.getElementById("objtype_" + type.toString()).innerHTML = result;
               }
           });
    }

    function GetSubRoles(roleid)
    {

        $.post("../TenantUser/GetSubRoles",
              {
                  "roleid": roleid,
                  "applicationid" :  $('#applicationid').val()


              }, function (result) {
                  if (result) {
                      document.getElementById("roles").innerHTML = result;
                  }
              });

    }

    function GetRoleUsers(roleid)
    {
        $.post("../TenantUser/GetRoleUsers",
            { "roleid": roleid, },
            function (result) {
                if (result) {
                    document.getElementById("div2").innerHTML = result;
                    var Ids = "";
                    $.each($('#div2').children(), function (i, obj) {
                        Ids += $(obj).attr("id") + ",";
                    });
                    Ids = Ids.substring(0, Ids.length - 1);
                    //var txt = $("#userslist").val();
                    $("#userslist").val(Ids);

                }
        });
    }

</script>
