@using ExpressBase.Security.Core;
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@*<meta name="google-signin-client_id" content="1097281192898-q73cm1h8faa3ksjj2o44jchdlm179m87.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>*@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/css/bootstrap-iconpicker.min.css" />
<link rel="stylesheet" href="~/css/EbOnBoarding/EbOnBoarding.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
<script src="~/js/EbCropper.js" type="text/javascript" asp-append-version="true"></script>

<script src="~/js/EbMsgBox.js" type="text/javascript" asp-append-version="true"></script>

@await Component.InvokeAsync("PageHeaderCommon")

@*@using (Html.BeginForm(FormMethod.Post))
    {*@
@*<div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Create User</h3>
            <div class="form-group">
                <input type="text" class="form-control" id="firstname" name="firstname" value="@ViewBag.Name" placeholder="Name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" value="@ViewBag.email" placeholder="Email" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="pw" name="pwd" placeholder="Password" />
            </div>
            <div class="form-group">
                <span>Send mail. </span><input type="checkbox" id="sendmail" />
            </div>
        </div>
    </div>*@

<style>
    .outer-section-createuser {
        height: 100vh;
        font-family: open sans;
        font-weight: 300;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-bottom: 15px;
    }

    /*.set-form-head {
        width: 100%;
        background: #339bb3;
        color: white;
        font-size: 20px;
        padding: 10px;
    }*/

    .center {
        margin: auto;
        width: 90%;
        padding: 10px;
    }

    .searchRsulsItemsDiv:hover {
        background-color: #eee;
    }

    .mydiv1:hover {
        background-color: #f5f5f5;
        border: none;
    }

    .mydiv1 {
        border: 2px solid #f5f5f5;
        background-color: #fdfdfd;
        border-radius: 6px;
        align-items: center;
        height: 75px;
        overflow: hidden;
        padding: 10px 13px;
        margin-top: 15px;
    }

    .icondiv1 {
        display: inline-block;
        font-size: xx-large;
        padding-right: 10px;
        vertical-align: top;
    }

    .textdiv1 {
        width: 78%;
        display: inline-block;
        vertical-align: top;
    }

    .closediv1 {
        display: inline-block;
        float: right;
        cursor: pointer;
        vertical-align: top;
    }

    .tilediv1 {
        border: 1px solid;
        border-color: #ccc;
        padding: 10px;
        height: 500px;
        border-radius: 6px;
        overflow: auto;
        margin: 0px;
    }

    .nav-tabs > li.active {
        border-top: 3px solid #339bb3;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        /*for remove flickering https://stackoverflow.com/questions/26595481/bootstrap-3-tabs-active-tab-flicker-on-hover-only-in-firefox?rq=1&utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa*/
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            border-width: 1px;
        }

    .nav-tabs > li:hover {
        background-color: #eee;
    }
</style>
@{
    @using Newtonsoft.Json;
    var RoleObj = Html.Raw(ViewBag.Roles);
    //var SystemRoles = Html.Raw(ViewBag.SystemRoles);
    var Culture = Html.Raw(ViewBag.Culture);
    var TimeZone = Html.Raw(ViewBag.TimeZone);
    var UserGroupObj = Html.Raw(ViewBag.EBUserGroups);
    var Role2RoleList = Html.Raw(ViewBag.Role2RoleList);
    var StatusList = Html.Raw(JsonConvert.SerializeObject(ViewBag.UserStatusList));
    var UInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.U_Info));
    var URoles = (Html.Raw(ViewBag.U_Roles).ToString() == "") ? "null" : Html.Raw(ViewBag.U_Roles);
    var UGroups = (Html.Raw(ViewBag.U_Groups).ToString() == "") ? "null" : Html.Raw(ViewBag.U_Groups);
}
<div class="" style="padding: 4% 0% 0% 1%; height: 100vh; background: white;font-family: open sans;font-weight: 300;">
    <div class="row">
        <div class="col-md-3" style="padding-right: 0px">
            <div id="profimage" style="text-align:center;">
                <img src="~/images/proimg.jpg" id="imgprofimage" data-toggle="modal" data-target="#eb-cropie-mod" style="height:100px" />
            </div>
            <div class="form-group">
                <label style="font-family: open sans; font-weight: 300;">Full Name</label>
                <div class="input-group" style="">
                    <span class="input-group-addon" id=""><i class="fa fa-user" aria-hidden="true" style="display:inline-block"></i></span>
                    <input id="txtFullName" style="display:inline-block; width:100%; margin-left: 0px;" class="form-control" type="email" name="Name" placeholder="Name" title="Name">
                </div>
            </div>
            <div class="form-group" style="">
                <label style="font-family: open sans; font-weight: 300;">Nick Name</label>
                <div class="input-group">
                    <span class="input-group-addon" id=""><i class="fa fa-user-o" aria-hidden="true"></i></span>
                    <input id="txtNickName" style="display:inline-block; width:100% " class="form-control" type="text" placeholder="Nick Name" title="Nick Name">
                </div>
            </div>
            <div class="form-group">
                <label style="font-family: open sans; font-weight: 300;">Email ID</label>
                <div class="input-group">
                    <span class="input-group-addon" id=""><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <input id="txtEmail" style="display:inline-block; width:100%; padding-right: 25px; border-radius: 0px 4px 4px 0px;" class="form-control" type="text" placeholder="Email ID" title="Email ID">
                    <span class="input-group-addon form-control-feedback" id="spanEmail" style="border: none; background-color: transparent; padding: 0px; right: 26px;top: 0px;"><i class="fa fa-times" aria-hidden="true" style="color: transparent; padding: 9px;"></i></span>
                </div>
            </div>
            <div class="form-group">
                <div id="divPassword" style="width: 100%;">
                    <label style="font-family: open sans; font-weight: 300;">Password</label>
                    <div class="input-group">
                        <span class="input-group-addon" id=""><i class="fa fa-key" aria-hidden="true"></i></span>
                        <input id="pwdPassword" style="display:inline-block; width:100%;" type="password" class="form-control" title="Password">
                    </div>
                </div>
                <div id="divChangePassword" style="padding-top: 28px; display:none;">
                    <button id="btnChangePassword" class="" title="Change Password">Change Password</button>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group" id="divStatus" style="display: none;">
                    <label style="font-family: open sans; font-weight: 300;">User Status</label>
                    <br />
                    <label class="radio-inline"><input type="radio" name="status" value="0" checked>Active</label>
                    <label class="radio-inline"><input type="radio" name="status" value="1">Suspend</label>
                    <label class="radio-inline"><input type="radio" name="status" value="2">Terminate</label>
                </div>
                <label style="font-family: open sans; font-weight: 300;">Visibility </label>
                <input id="chkboxHide" type="checkbox" data-toggle="toggle" data-on="Hidden" data-off="Exposed">
            </div>
        </div>

        <div class="col-md-9">
            <div style="padding:0px 15px;">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">General</a></li>
                    <li><a data-toggle="tab" href="#menu1">Roles</a></li>
                    <li><a data-toggle="tab" href="#menu2">Constraints</a></li>
                    <li><a data-toggle="tab" href="#menu3">User Groups</a></li>
                    <li><a data-toggle="tab" href="#menu4">Preference</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active" style="padding-top:30px">
                        <div class="row tilediv1">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="font-family: open sans; font-weight: 300;">Date of Birth</label>
                                    <div class="input-group" style="width:150px">
                                        <input class="form-control" type="text" id="txtDateOfBirth" title="Date of Birth">
                                        <span class="input-group-addon" id="" onclick="if(!($('#txtDateOfBirth').attr('disabled'))) $('#txtDateOfBirth').datetimepicker('show');"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="form-group" id="divGender">
                                    <label style="font-family: open sans; font-weight: 300;">Gender</label>
                                    <br />
                                    <label class="radio-inline"><input type="radio" name="gender" value="Male" checked>Male</label>
                                    <label class="radio-inline"><input type="radio" name="gender" value="Female">Female</label>
                                    <label class="radio-inline"><input type="radio" name="gender" value="Other">Other</label>
                                </div>
                                <div class="form-group">
                                    <label style="font-family: open sans; font-weight: 300;">Alternate Email ID</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" id=""><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                        <input id="txtAlternateEmail" class="form-control" type="text" title="Alternate Email ID">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="font-family: open sans; font-weight: 300;">Primary Phone Number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" id=""><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                                        <input id="txtPhPrimary" class="form-control" type="text" title="Primary Phone Number">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label style="font-family: open sans; font-weight: 300;">Secondary Phone Number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" id=""><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                                        <input id="txtPhSecondary" class="form-control" type="text" title="Secondary Phone Number">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="font-family: open sans; font-weight: 300;">Land Phone Number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" id=""><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                                        <input id="txtLandPhone" class="form-control" type="text" title="Land Phone Number">
                                    </div>
                                    <div class="form-group">
                                        <label style="font-family: open sans; font-weight: 300;">Extension :</label>
                                        <input id="txtExtension" class="form-control" type="text" title="Extension" style="display: inline;width: 50%;margin-top: 10px;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label id="lblFbId" style="font-family: open sans; font-weight: 300;" data-id=""><i class="fa fa-facebook-square" aria-hidden="true"></i> &nbsp; Facebook</label>
                                    <br />
                                    <img id="imgUserFbProfPic" src="" alt="Prof Pic" height="42" width="42" style="display:none;">
                                    <a id="userFbLink" href="#" target="_blank" style="display:none;"></a>
                                    <button id="btnFbConnect" class="" title="Connect Facebook" style="display:none;">Connect Facebook</button>
                                    <button id="btnFbInvite" class="" title="Invite Facebook" style="display:none;" onclick="$(event.target).prop('disabled', true); setTimeout(function(){ alert('Unable to Connect'); $(event.target).prop('disabled', false);}, 1500, event);">Invite Facebook</button>
                                </div>

                                <div class="form-group">
                                    @*<span>Send mail. </span><input type="checkbox" id="sendmail" />*@
                                </div>
                                <div class="form-group">
                                    @*<div class="g-signin2" data-onsuccess="onSignIn"></div>*@
                                </div>

                                @*<div class="input-group">
                                        <label id="" style="font-family: open sans; font-weight: 300;">API Key</label>
                                        <button class="form-control" title="Generate API Key">Generate JWT Key</button>
                                    </div>*@
                            </div>

                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade"></div>

                    <div id="menu2" class="tab-pane fade">
                        <div style="text-align: center; padding-top: 22%; font-size: 32px; color: #bbb; "> Coming Soon </div>
                    </div>

                    <div id="menu3" class="tab-pane fade"></div>

                    <div id="menu4" class="tab-pane fade" style="padding-top:30px">
                        <div class="row tilediv1">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="font-family: open sans; font-weight: 300;">Select Locale:</label>
                                    <select class="form-control" id="sellocale" name="locale"></select>
                                </div>
                                <div class="form-group" id="divLocaleInfo">

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="font-family: open sans; font-weight: 300;">Select Time Zone:</label>
                                    <select id="seltimezone" name="timezone" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" id="userid" name="userid" value="@ViewBag.itemid" />
            @*<button id="btnCreateUser" type="button" class="btn btn-info" style="margin:20px 40px; float:right;">Create</button>*@
            <label id="lblMessage" style="color:red;padding-left: 36px;display:none;font-family: open sans; font-weight: 500;">  </label>

            <div class="prof-setup-cropie">
                <div class="modal fade" id="eb-cropie-mod" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="loginmodal-container cropie" id="cropsection">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="MU_ChangePwdModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:445px">
        <div class="modal-content">
            <div class="modal-header" style="">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <div style="margin-left:10px ; display:inline-block"> <h4 class="modal-title">Change Password</h4> </div>
                </div>
            </div>
            <div class="modal-body" style="height:185px">
                <input type="hidden" id="itemid" />
                <div id="modalBodyDiv">
                    <div class="form-group">
                        <label style="font-family: open sans; font-weight: 300; width: 38%;">Old Password :</label>
                        <input id="pwdOld" class="form-control" type="password" title="Enter Old Password" style="width:60%; display: inline-block;">
                    </div>
                    <div class="form-group">
                        <label style="font-family: open sans; font-weight: 300; width: 38%;">New Password :</label>
                        <input id="pwdNew" class="form-control" type="password" title="Enter New Password" style="width:60%; display: inline-block;">
                    </div>
                    <div class="form-group">
                        <label style="font-family: open sans; font-weight: 300; width: 38%;">Confirm New Password :</label>
                        <input id="pwdNewConfirm" class="form-control" type="password" title="ReEnter New Password" style="width:60%; display: inline-block;">
                    </div>
                    <label id="lblPwdChngMsg" style="font-family: open sans; font-weight: 300; padding-left: 38%; color: rgb(204, 0, 0);"></label>
                </div>
            </div>
            <div class="modal-footer" style="">
                <button id="btnUpdatePwd" type="button" class="btn btn-default" style=""><i class="fa fa-spinner fa-pulse" aria-hidden="true" style=" display:none;"></i>Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>

    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }

    @*<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>*@

    var userobj = new UserJs(@ViewBag.MU_Mode, @UInfo, @RoleObj, @UserGroupObj, @URoles, @UGroups, @Role2RoleList, @StatusList, @Culture, @TimeZone, '@ViewBag.Env');
    function OnClickRemove(e) {
        if(confirm("Click OK to Remove"))
            $(e).parents("div.col-md-4").remove();
    }
    $('document').ready(function () {

        $("#txtDateOfBirth").datetimepicker({ timepicker: false, format: "d-m-Y" });

        var logoCrp = new cropfy({
            Container: 'DisplayPicture',
            Toggle: '#profimage',
            isUpload: true,
            enableSE: true,
            Browse: true,
            Result: 'base64',
            Type: 'dp',
            ResizeViewPort: true,
            Preview: "#profimage"
        });

    });
</script>

