
@{
    @using Newtonsoft.Json;
    @using ExpressBase.Common;
    @using System.Globalization;
    var dvobj = EbSerializers.Json_Serialize(ViewBag.dsObj);
    var _user_culture = CultureInfo.GetCultureInfo(ViewBag.currentUser.Preference.Locale);
    var datePattern = (_user_culture as CultureInfo).DateTimeFormat.ShortDatePattern;
}
@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}

<style>
    .tools {
        border: none;
        background: none;
        color: black;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/css/splitWindow.css"  asp-append-version=@bApnd >
<link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css"  asp-append-version=@bApnd >
<link rel="stylesheet" type="text/css" href="~/css/ChartStyle.css"  asp-append-version=@bApnd />
<script src="~/js/splitWindow.js" type="text/javascript"  asp-append-version=@bApnd ></script>
<script type="text/javascript" src="~/js/EbDataTable.js"  asp-append-version=@bApnd ></script>
<script type="text/javascript" src="~/js/dvContainer.js"  asp-append-version=@bApnd ></script>
<script type="text/javascript" src="~/js/Eb_Basic_chart.js"  asp-append-version=@bApnd ></script>
<script type="text/javascript" src="~/js/Eb_chart.js"  asp-append-version=@bApnd ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.js"></script>
<script type="text/javascript" src="https://npmcdn.com/Chart.Zoom.js@0.3.0/Chart.Zoom.min.js"></script>
<div class="dv-body-dev">
    <div id="filter_Display" class="filter-display"></div>
    <div class="dv" id="parent-div@(ViewBag.tabnum)"></div>
    @*<div class='filterCont fd' id='filterDiv'></div>*@
    <div class="ppcont"><div id="pp_inner"></div></div>
</div>
<script>
    if (@ViewBag.tabnum === 0) {
        var commonO = $("#layout_div").data("commonObj");
    }

    commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = new EbDataTable('@ViewBag.Refid', '@ViewBag.VersionNumber', @ViewBag.ObjType, @Html.Raw(ViewBag.dsObj), '@ViewBag.Status', @ViewBag.tabnum, '@ViewBag.ServiceUrl', '@ViewBag.wc', @ViewBag.counter, null, null, null, '@ViewBag.url', null, null, '@datePattern', '@ViewBag.cid', '@ViewBag.uid');

</script>
