<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).on('ready', function () {

        });
    </script>
</head>
<body>
    <div class="container">
        <div class="col-md-4">
            <div class="page-header"><h3>Connection Manager</h3></div>

            @if (ViewBag.Connections.ObjectsDbConnection != null)
            {
                <div class="list-group">
                    <div class="list-group-item-heading"><div class="h4">ObjectsDB</div></div>
                    <div class="list-group-item">@ViewBag.Connections.ObjectsDbConnection.DatabaseName.ToString()</div>
                    <div class="list-group-item">@ViewBag.Connections.ObjectsDbConnection.Server.ToString()</div>
                    <div class="list-group-item">@ViewBag.Connections.ObjectsDbConnection.UserName.ToString()</div>
                </div>
            }

            @if (ViewBag.Connections.DataDbConnection != null)
            {
                <div class="list-group">
                    <div class="list-group-item-heading"><div class="h4">DataDB</div></div>
                    <div class="list-group-item">@ViewBag.Connections.DataDbConnection.DatabaseName.ToString()</div>
                    <div class="list-group-item">@ViewBag.Connections.DataDbConnection.Server.ToString()</div>
                    <div class="list-group-item">@ViewBag.Connections.DataDbConnection.UserName.ToString()</div>
                </div>
            }
            @if (ViewBag.Connections.EmailConnection != null)
            {
                <div class="list-group">
                    <div class="input-group-btn">
                        <div class="list-group-item-heading"><div class="h4">SMTP</div></div>
                        <a href="/Sample/AddEmailAccount" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> Add
                        </a>
                        <a href="/Sample/EditSMTPConnection" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a>
                    </div>
                    <div class="list-group-item">@ViewBag.Connections.EmailConnection.NickName.ToString()</div>
                    <div class="list-group-item">@ViewBag.Connections.EmailConnection.EmailAddress.ToString()</div>
                </div>
            }
        </div>
    </div>
</body>
</html>