@{
    Layout = "~/Views/Shared/_Layout1.cshtml";

}
@using ExpressBase.Objects;
@using ExpressBase.Common.Objects;
@using ExpressBase.Common;
@using ExpressBase.Objects.ServiceStack_Artifacts;
<script src="~/js/ImageUploader.js" type="text/javascript"></script>
<script>
    @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.ReportSections);
    @Html.Raw(ViewBag.EbObjectTypes);

    $.fn.extend({
        treed: function (o) {
            var openedClass = 'fa-chevron-down';
            var closedClass = 'fa-chevron-right';

            if (typeof o !== 'undefined') {
                if (typeof o.openedClass !== 'undefined') {
                    openedClass = o.openedClass;
                }
                if (typeof o.closedClass !== 'undefined') {
                    closedClass = o.closedClass;
                }
            }
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.prepend("<i class='indicator fa " + closedClass + "'></i>");
                branch.addClass('branch');
                branch.on('click', function (e) {
                    if (this === e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                });
                branch.children().children().toggle();
            });
            tree.find('.branch .indicator').each(function () {
                $(this).on('click', function () {
                    $(this).closest('li').click();
                });
            });
            tree.find('.branch>a').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            tree.find('.branch>button').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });

</script>
<div class="row">
    <div class="reportmenu Eb-CommonMenuStyle">
        <div class="form-inline" id="options">
            <div class="form-group">
                <input type="file" style="display:none" id="Rptbgimg" />
                <button class="btn" data-toggle="tooltip" data-placement="bottom" title="Background Image" onclick="$('#Rptbgimg').click();"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
            </div>
            <div style="display: inline-block;border-right: 1px solid #ccc;border-left: 1px solid #ccc;">
                <div class="form-group">
                    <button class="btn" id="alg-L" data-toggle="tooltip" data-placement="bottom" title="Align Left"><i class="fa fa-align-left" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn" id="alg-C" data-toggle="tooltip" data-placement="bottom" title="Align Center"><i class="fa fa-align-center" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn" id="alg-R" data-toggle="tooltip" data-placement="bottom" title="Align Right"><i class="fa fa-align-right" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn" data-toggle="tooltip" data-placement="bottom" title="Align Justify"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="form-group">
                <button class="btn" id="delete" data-toggle="tooltip" data-placement="bottom" title="Trash"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
            <div class="form-group">
                <button class="btn draggable" eb-type="Table" id="Table" data-toggle="tooltip" data-placement="bottom" title="Table"><i class="fa fa-table" aria-hidden="true"></i></button>
            </div>
            <div class="form-group">
                <button class="btn draggable" eb-type="Img" id="pg-img" data-toggle="tooltip" data-placement="bottom" title="Add image"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
            </div>            
            <div class="form-group">
                <input type="file" id="img-upload" style="display:none">
            </div>
            <div class="pull-right" style="margin-right: 5px;">
                <div class="form-group">
                    <button class="btn" id="up-modal" data-toggle="modal">upload</button>
                </div>
                <div class="form-group">
                    <button class="btn" id="save" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </div>
                <div class="form-group">
                    <button class="btn" id="commit" data-toggle="tooltip" data-placement="bottom" title="Commit"><i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pgB" id="eb-rpt-container">
    <div class="tab-section">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" data-toggle="tab" href="#home" role="tab">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Preview" role="tab">Preview</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel">
            <div class="col-md-2 side-toolbar">
                <div class="toolbox">
                    <div id="get-col-loader" style="display:none;margin-left: 50%;margin-top: 10%;"><i class="fa fa-spinner fa-spin fa-lg" style='color:blue' aria-hidden="true"></i></div>
                    <ul id="data-table-list" class="tool-box-items"></ul>
                    <ul id="running-summary" class="tool-box-items">
                        <li>
                            <a>Summary</a>
                            <ul>
                                <li class="styl"><div id="fd1" class="draggable textval">Coloumn</div></li>
                                <li class="styl"><div id="fd1" class="draggable textval">Coloumn</div></li>
                            </ul>
                        </li>
                    </ul>
                    <ul id="calculated-fields" class="tool-box-items">
                        <li>
                            <a>Calculated Fields</a>
                            <ul>
                                <li class="styl"><div id="fd1" class="draggable textval">Coloumn</div></li>
                                <li class="styl"><div id="fd1" class="draggable textval">Coloumn</div></li>
                            </ul>
                        </li>
                    </ul>
                    <ul id="special-fields" class="tool-box-items">
                        <li>
                            <a>Special Fields</a>
                            <ul>
                                <li class="styl"><div eb-type='DateTime' class='coloums draggable textval'>CurrentDateTime</div></li>
                                <li class="styl"><div eb-type='PageNo' class='coloums draggable textval'>Page No</div></li>
                                <li class="styl"><div eb-type='PageXY' class='coloums draggable textval'>Page X/Y</div></li>
                                <li class="styl"><div eb-type='UserName' class='coloums draggable textval'>Username</div></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="Eb-shaps">                      
                        <li>
                            <a href="#" class="list-group-item collapsed Eb-shaps-title" data-toggle="collapse" data-target="#dropdownShapes">
                                <i class="fa fa-chevron-right" style="padding-right:5px"></i> Shapes
                            </a>
                            <ul class="Eb-shaps shapes-tank collapse" id="dropdownShapes">
                                <li class="draggable" eb-type="Circle"><button class="btn btn-sm"><i class="fa fa-circle-thin fa-lg"></i></button><div class="shape-text">Circle Tool</div></li>                                 
                                <li class="draggable" eb-type="Rect"><button class="btn btn-sm"><i class="fa fa-square-o fa-lg"></i></button><div class="shape-text">Rectangle</div></li>
                                <li class="draggable" eb-type="ArrR"><button class="btn btn-sm"><i class="fa fa-long-arrow-right fa-lg"></i></button><div class="shape-text">Right Arrow</div></li>
                                <li class="draggable" eb-type="ArrL"><button class="btn btn-sm"><i class="fa fa-long-arrow-left fa-lg"></i></button><div class="shape-text">Left Arrow</div></li>
                                <li class="draggable" eb-type="ArrU"><button class="btn btn-sm"><i class="fa fa-long-arrow-up fa-lg"></i></button><div class="shape-text">Up Arrow</div></li>
                                <li class="draggable" eb-type="ArrD"><button class="btn btn-sm"><i class="fa fa-long-arrow-down fa-lg"></i></button><div class="shape-text">Down Arrow</div></li>
                                <li class="draggable" eb-type="ByArrH"><button class="btn btn-sm"><i class="fa fa-arrows-h fa-lg" aria-hidden="true"></i></button><div class="shape-text">By Dir Hori Arrow</div></li>
                                <li class="draggable" eb-type="ByArrV"><button class="btn btn-sm"><i class="fa fa-arrows-v fa-lg" aria-hidden="true"></i></button><div class="shape-text">By Dir Vert Arrow</div></liclass="draggable">
                                <li class="draggable" eb-type="Hl"><button class="btn btn-sm"><i> __ </i></button><div class="shape-text">Horrizontal Line</div></li>
                                <li class="draggable" eb-type="Vl"><button class="btn btn-sm"><i> | </i></button><div class="shape-text">Vertical Line</div></liclass="draggable">
                            </ul>
                        </li>
                    </ul>
                    <div class="draggable tool-box-div" eb-type="Text">Text <i class="fa fa-text-width pull-right" aria-hidden="true"></i></div>
                    <div class="draggable tool-box-div" eb-type="Barcode">Barcode <i class="fa fa-barcode pull-right" aria-hidden="true"></i></div>
                    <div class="draggable tool-box-div" eb-type="QRcode">QR Code <i class="fa fa-qrcode pull-right" aria-hidden="true"></i></div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2" id="page-outer-cont">                
                <div class="page-outer-container">
                    <div class="ruler-top">
                        <div class="title" style="display:none">
                            <select id="rulerUnit">
                                <option value="cm">cm</option>
                                <option value="inch">inch</option>
                                <option value="px">pixel</option>
                            </select>
                        </div>
                        <div class='ruler' style="display:none"></div>
                    </div>
                    <div class='rulerleft' style="display:none"></div>
                    <div id="pageCanvas">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-10 PGgrid">
                <div class="pGreportBuilder">
                    <div id="propGrid"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="Preview" role="tabpanel">...</div>
    </div>
</div>
<div class="Img-upload-modal" id="modal-container"></div>
<script>
    $(document).ready(function () {
        $('#running-summary').treed();
        $('#calculated-fields').treed();
        $('#special-fields').treed();
        $('#other-fields').treed();
        var uploader = new imageUploader({
            Container: "modal-container",
            Controller: "@ViewBag.wc",
            TenantId:"@ViewBag.cid",
            IsTag: true,
            IsMultiple: true,
            toggleId:"up-modal"
        });
    uploader.getFileId = function(res){
    alert(res);
    };
        DrawColTree = function (result) {
            $('#data-table-list').empty();
            $('#data-table-list').append("<li><a>Data Source</a><ul id='dataSource'></ul></li>");
            $.each(result.columns, function (i, columnCollection) {
                $("#data-table-list ul[id='dataSource']").append(" <li><a>Table" + ++i + "</a><ul id='t" + i + "'></ul></li>");
                $.each(columnCollection, function (j, obj) {
                    $("#data-table-list ul[id='t" + i + "']").append("<li class='styl'><div eb-type='ReportCol' tabindex='1' $(this).focus(); class='coloums draggable textval'> " + obj.columnName + "</div></li>");
                });
            });
            $('#data-table-list').treed();

            $('.draggable').draggable({
                cancel: "a.ui-icon",
                revert: "invalid",
                helper: "clone",
                cursor: "move",
                appendTo: "body",
                stack: ".draggable"
            });
        }

        if (@ViewBag.IsNew === true){
            var report = new RptBuilder(save, commit, @ViewBag.IsNew);
        }        //edit mode
        else if(@ViewBag.IsNew === false){
            var editModeObj = @Html.Raw(EbSerializers.Json_Serialize(@ViewBag.Json));
            var parseObj = JSON.parse(editModeObj);
            //console.log(editModeObj);
            var report = new RptBuilder(save, commit, @ViewBag.IsNew, parseObj);
        }
        @*var report = new RptBuilder('A4', save, commit, @ViewBag.IsNew);*@
            $("#Rptbgimg").change(function () {
                setBackgroud(this);
            });
        });
</script>
