
@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common.Structures;
@using ExpressBase.Common.Objects;
@using ExpressBase.Objects;

@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}

@{
    EbObjectType type = (EbObjectType)Convert.ToInt32(ViewBag.ObjType);

    string builderType_S = type.ToString();
    int typeInt = Convert.ToInt32(ViewBag.ObjType);
    var _builderType = (BuilderType)Enum.Parse(typeof(BuilderType), builderType_S, true);

    EbToolbox _toolBox = new EbToolbox(_builderType);
}
<link rel="stylesheet" href="~/css/EbDashBoard/DashBoardStyle.css" asp-append-version=@bApnd>
<link rel="stylesheet" href="~/css/ChartStyle.css" asp-append-version=@bApnd>
<link rel="stylesheet" href="~/css/Eb_datatable.css" asp-append-version=@bApnd>

<link rel="stylesheet" href="~/css/EbDashBoard/GridStackExtra.css" asp-append-version=@bApnd />

<script type="text/javascript" src="~/js/DV/Chart.min.js"></script>
<script type="text/javascript" src="~/js/DV/Chart.Zoom.min.js"></script>
<script type="text/javascript" src="~/js/DV/randomColor.min.js"></script>
<script src="~/js/EbUserDashBoard/EbDashBoard.js"></script>
<script src="~/js/CommonDataTable.js"></script>
<script src="~/js/GoogleMap/Googlemap.js"></script>
<script src="~/js/EbUserDashBoard/EbDashBoard.js" asp-append-version=@bApnd></script>
<script src="~/js/EbUserDashBoard/Eb_UserControl_Helper.js" asp-append-version=@bApnd></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.0/lodash.min.js"></script>*@
<script src="~/js/DV/lodash4.min.js"></script>
@*<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>*@
<script src="~/js/DV/lodash3.min.js"></script>
@*<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>*@
<script src="~/js/DV/knockout-min.js"></script>


<script src="~/js/Eb_Basic_chart.js" asp-append-version=@bApnd></script>
<script src="~/js/EbGaugeConfig.js" asp-append-version=@bApnd></script>


<script src="~/js/EbUserDashBoard/DashboardStyleHelper.js"></script>
<script src="~/js/EbGauges/gauge.js"></script>
<script src="~/js/EbGauges/ProgressGauge.js"></script>
<script src="~/js/EbGauges/SpeedoMeter.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>*@
<script src="~/js/DV/apexcharts.js"></script>
@*<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>*@
<script type="text/javascript" src="~/js/DV/loader.js"></script>


<script>
     @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.EbObjectTypes);
    @Html.Raw(ViewBag.ControlOperations);


</script>
<div class="container-fluid" style="background: transparent;">
    <div class="dash-loader">

    </div>
    <div id="toolbox-dashboard"> </div>
    <div class="row" style="background: transparent; display:flex ;">
        <div class="col-sm-12" style="background: transparent; width: 100% ;padding: 0px;">
            <div id="dashbord-view" class="drop-target" style="width:100%">
                <div class="grid-stack" id="grid-cont"></div>
            </div>
        </div>
    </div>
    <div class="row" style="background: transparent;">
        <div class="col-sm-12" style="background: transparent; width: 100% ;padding: 0px;">
            <div class="component_cont">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#component_cont" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseExample">
                            Component Container
                            <i class="fa fa-thumb-tack pull-right" style="transform: rotate(90deg); display: block;" id="tb0_pin_jswindow"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-pane fade in active component_tab" id="component_cont">
                </div>
            </div>
            <div id="component_columns_cont"> </div>

        </div>
    </div>
</div>

<div id="ppt-dash" class="PGgrid"> <div id="propGrid"> </div></div>

<div id="modal-gauge"></div>
<script type="text/javascript">

        if (@ViewBag.tabnum === 0) {
            var commonO = $("#layout_div").data("commonObj");
        }
        var DBobj = new DashBoardWrapper({
            RefId: '@ViewBag.Refid',
            Version: '@ViewBag.VersionNumber',
            ObjType: @ViewBag.ObjType,
            dvObj: @Html.Raw(ViewBag.dsObj),
            Status: '@ViewBag.Status',
            TabNum: @ViewBag.tabnum,
            ServiceUrl: '@ViewBag.ServiceUrl',
            Wc: '@ViewBag.wc',
            Cid: '@ViewBag.cid',
            EbObjList: @Html.Raw(ViewBag.SideBarMenu),
            googlekey: '@ViewBag.googlekey',
            Toolhtml:`@Html.Raw(_toolBox.ToolsHtml)`,
        });

        commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = DBobj;





     $("body").prepend(`
<div class="modal fade" id="iFrameFormPopupModal" role="dialog">
    <div class="modal-dialog" style="width: 60%; margin: 8% auto;">
        <div class="modal-content">
            <div class="modal-body" style="height: 60vh; padding: 0px;">
                <div>
                    <div id="iFrameFormPopupOverlay" style=" text-align: center; position: absolute; height: 60vh; width: 100%; background-color: white; border-radius: 6px;">
                        <div style="position: relative; top: 50%;"><i class="fa fa-spinner fa-pulse" aria-hidden="true"></i> Loading...</div>
                    </div>
                    <iframe id="iFrameFormPopup" style="width: 100%; height: 60vh; border: none; border-radius: 6px;" ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
`);
    window.closeModal = function (func) {// receives call from iFrame
        //func();
        $('#iFrameFormPopupModal').modal('hide');
    };
    $('#iFrameFormPopupModal').on('hidden.bs.modal', function () {
        $('#iFrameFormPopup').removeAttr("src");
        $("#iFrameFormPopupOverlay").show();
    });
    $("#iFrameFormPopup").on('load', function (evt) {
        console.log(evt.target);
        if ($(evt.target).attr("src") !== undefined)
            $("#iFrameFormPopupOverlay").hide();
    });


</script>
<script type="text/javascript">

</script>
