
@using ExpressBase.Objects.ServiceStack_Artifacts;

<link rel="stylesheet" href="~/css/EbDashBoard/DashBoardStyle.css">
<script src="~/js/EbUserDashBoard/EbDashBoard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.0/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.all.js"></script>
<script>
     @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.ReportSections);
    @Html.Raw(ViewBag.EbObjectTypes);

</script>

<div class="container">
            <div class="grid-stack">
                <div class="grid-stack-item " data-gs-x="0" data-gs-y="0" data-gs-width="5" data-gs-height="4" id="t1" >
                    <div class="grid-stack-item-content panel panel-primary movable-div"  id="tile1">
                    </div>
                </div>
                <div class="grid-stack-item " data-gs-x="5" data-gs-y="0" data-gs-width="5" data-gs-height="4" id="t2" >
                    <div class="grid-stack-item-content panel panel-success movable-div" id="tile2">
                        
                    </div>
                    </div>
                </div>
            </div>


<div id="ppt-dash" class="PGgrid"> <div id="propGrid"> </div></div>
<script type="text/javascript">


    if (@ViewBag.tabnum === 0) {
        var commonO = $("#layout_div").data("commonObj");
    }

    var DBobj = new DashBoardWrapper({
        RefId: '@ViewBag.Refid',
        Version: '@ViewBag.VersionNumber',
        ObjType: @ViewBag.ObjType,
        dvObj: @Html.Raw(ViewBag.dsObj),
        Status: '@ViewBag.Status',
        TabNum: @ViewBag.tabnum,
        ServiceUrl: '@ViewBag.ServiceUrl',
        Wc: '@ViewBag.wc',
        Cid: '@ViewBag.cid'
    });

    commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = DBobj;

    $(function () {
        $('.grid-stack').gridstack();
    });
</script>
