
@using ExpressBase.Objects.ServiceStack_Artifacts;

<link rel="stylesheet" href="~/css/EbDashBoard/DashBoardStyle.css">
<link rel="stylesheet" href="~/css/ChartStyle.css">
<link rel="stylesheet" href="~/css/Eb_datatable.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.js"></script>
<script type="text/javascript" src="https://npmcdn.com/Chart.Zoom.js@0.3.0/Chart.Zoom.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.js"></script>
<script src="~/js/EbUserDashBoard/EbDashBoard.js"></script>
<script src="~/js/CommonDataTable.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.0/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.4.0/gridstack.all.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
<script src="~/js/Eb_Basic_chart.js"></script>
<script>
     @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.EbObjectTypes);

</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="dashbord-view">
                <div class="grid-stack"></div>
            </div>

        </div>
    </div>



    <div id="ppt-dash" class="PGgrid"> <div id="propGrid"> </div></div>
</div>
<script type="text/javascript">


        if (@ViewBag.tabnum === 0) {
            var commonO = $("#layout_div").data("commonObj");
        }

        var DBobj = new DashBoardWrapper({
            RefId: '@ViewBag.Refid',
            Version: '@ViewBag.VersionNumber',
            ObjType: @ViewBag.ObjType,
            dvObj: @Html.Raw(ViewBag.dsObj),
            Status: '@ViewBag.Status',
            TabNum: @ViewBag.tabnum,
            ServiceUrl: '@ViewBag.ServiceUrl',
            Wc: '@ViewBag.wc',
            Cid: '@ViewBag.cid'
        });

        commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = DBobj;

        $(function () {
            $('.grid-stack').gridstack();
        });
</script>

@*<div class="container-fluid">
        <h1>knockout.js Demo</h1>

        <div>
            <button data-bind="click: add_new_widget">Add new widget</button>
        </div>

        <br>

        <div data-bind="component: {name: 'dashboard-grid', params: $data}"></div>
    </div>*@


<script type="text/javascript">

</script>

