@using ExpressBase.Common.Objects;
@using ExpressBase.Objects;
@using ExpressBase.Common.Structures;
@using ExpressBase.Common.Constants;
@{
    @using Newtonsoft.Json;
    var obj = JsonConvert.SerializeObject(ViewBag.Object);
}
<div class="side-menu-container">
    <ul class="menuwrapper_ul_outer">
        <li>
            <ul class="outer sub-menuObj collapse in" list-wraper="true">
                @if (ViewBag.wc.Equals("dc"))
                {
                    <li klink='true'>
                        <a href="/SupportTicket/BugSupport" target="_blank" class="list-group-item inner_li Obj_link for_brd">
                            <div class="apibox"><i class="fa fa-life-ring"></i></div> Support
                        </a>
                    </li>
                    <li trigger="menu" Appid="0" klink='true'>
                        <a href="#" class="list-group-item inner_li Obj_link for_brd">
                            <div class="apibox"><i class="fa fa-thumb-tack fa-rotate-90"></i></div> Common
                        </a>
                    </li>
                }
                @if (ViewBag.wc.Equals("uc"))
                {
                    <li klink='true'>
                        <a href="/SupportTicket/BugSupport" target="_blank" class="list-group-item inner_li Obj_link for_brd">
                            <div class="apibox"><i class="fa fa-life-ring"></i></div> Support
                        </a>
                    </li>
                    <li trigger="favourites" klink='true'>
                        <a href="#" class="list-group-item inner_li Obj_link for_brd">
                            <div class="apibox"><i class="fa fa-heart"></i></div> Favourites
                        </a>
                    </li>
                }
                @if (ViewBag.wc.Equals("uc") && (ViewBag.Role.Contains("SolutionOwner") || ViewBag.Role.Contains("SolutionAdmin")))
                {
                    <li trigger="security" klink='true'>
                        <a href="#" class="list-group-item inner_li Obj_link for_brd">
                            <div class="apibox"><i class="fa fa-lock"></i></div> Security
                        </a>
                    </li>
                    <li klink='true'>
                        <a href="@Url.Action("EbLocations","TenantUser")" class="list-group-item inner_li Obj_link for_brd">
                            <div class="apibox"><i class="fa fa-code-fork fa-rotate-180"></i></div> Locations
                        </a>
                    </li>
                }
                @Html.Raw(ViewBag.menu)
            </ul>
        </li>
    </ul>
</div>

<script>
    window.ebcontext.menu.resultObj = @Html.Raw(obj);
    store.set("EbMenuObjects_"+"@ViewBag.cid" + "@ViewBag.UId" + "@ViewBag.wc",@Html.Raw(obj));
    window.ebcontext.menu.objTypes =@Html.Raw(ViewBag.Types);
</script>