@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common.Data;
@using ExpressBase.Common.Structures;
@using System.Reflection;
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    ApiMetaResponse Meta = ViewBag.Meta;
    //ApiResponse resp = new ApiResponse();
}
@await Component.InvokeAsync("PageHeaderCommon")
<style>
    .ApiMeta_wrpr {
        min-height: 100vh;
        padding-top: 38px;
        font-family: open sans;
        background:white;
    }
    .metaRequest {
        margin-top: 30px;
    }
    .api_table {
        width: auto;
    }
        .api_table > thead > tr > th, .api_table > tbody > tr > th, .api_table > tfoot > tr > th, .api_table > thead > tr > td, .api_table > tbody > tr > td, .api_table > tfoot > tr > td {
            padding: 8px 30px 8px 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border: none;
        }
</style>
<div class="row ApiMeta_wrpr">
    <div class="container">
        <div class="req_resp">
            <h3>@Meta.Name</h3>
            <h5>@Meta.Version</h5>
            <div class="metaRequest">
                <div class="MetaReqHead">
                    <h4>Request Parameter</h4>
                </div>
                <div class="MetaReqBdy">
                    <table class="table api_table">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>DATA TYPE</th>
                                <th>REQUIRED</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (Param p in Meta.Params)
                                {
                                    <tr>
                                        <td>@p.Name</td>
                                        <td>@Enum.GetName(typeof(EbDbTypes), Convert.ToInt32(p.Type))</td>
                                        <td>true</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="metaResponse">
                <div class="MetaRespHead">
                    <h4>Response Parameter</h4>
                </div>
                <div class="MetaRespBdy">
                    <table class="table api_table">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>DATA TYPE</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (PropertyInfo propertyInfo in typeof(ApiResponse).GetProperties())
                                {
                                    if (propertyInfo.PropertyType == typeof(ApiMessage))
                                    {
                                        <tr>
                                            <td>@propertyInfo.Name</td>
                                            <td>
                                                <table class="table table-bordered" style="margin-bottom:0;">
                                                    <thead>
                                                        <tr>
                                                            <th>NAME</th>
                                                            <th>DATA TYPE</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (PropertyInfo pinfo in typeof(ApiMessage).GetProperties())
                                                        {
                                                            <tr>
                                                                @{
                                                                    <td>@pinfo.Name</td>
                                                                    if (pinfo.Name != "ErrorCode")
                                                                    {
                                                                        <td>@pinfo.PropertyType.ToString().Replace("System.", "")</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>int32</td>
                                                                    }
                                                                }
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>@propertyInfo.Name</td>
                                            <td>@propertyInfo.PropertyType.ToString()</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="apiMetaSamples">
                <div class="ApiMetaRequest_sample">
                    <div class="apiMeta_req_head">
                        <h4> HTTP Request sample json</h4>
                    </div>
                    <div class="apiMeta_req_body">
                        @{
                            string json = "{";
                            foreach (Param p in Meta.Params)
                            {
                                json += "\"" + p.Name + "\":" + "\"" + (EbDbTypes)Convert.ToUInt32(p.Type) + "\"";
                                if (p != Meta.Params.Last())
                                {
                                    json += ",";
                                }
                                else
                                {
                                    json += "}";
                                }
                            }
                            @json;
                        }
                    </div>
                </div>
            </div>
            <div class="apiMetaSamples">
                <div class="ApiMetaResp_sample">
                    <div class="apiMeta_resp_head">
                        <h4>HTTP Response sample json</h4>
                    </div>
                    <div class="apiMeta_resp_body">
                        @JsonConvert.SerializeObject(new ApiResponse());
                    </div>
                </div>
            </div>
        </div>
        <div class="api_http_info">

        </div>
    </div>
</div>