@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@model ExpressBase.Web.Models.RetValObj*@

@{
    @using Newtonsoft.Json;
    @using ExpressBase.Common;
    @using ExpressBase.Objects;
    var dvobj = EbSerializers.Json_Serialize(ViewBag.data);
    //var dvobj = JsonConvert.SerializeObject(ViewBag.data);
    var tableId = "dv" + ViewBag.data.DataSourceRefId;
}


<div class='tablecontainer' style='background-color:rgb(260,260,260);'>
    <ul class='nav nav-tabs' id='table_tabs'>
        <li class='nav-item active'>
            <a class='nav-link' href='#@(tableId + "_tab_1")' data-toggle='tab'><i class='fa fa-home' aria-hidden='true'></i>&nbsp; Home</a>
        </li>
    </ul></br>
    <div class='tab-content' id='table_tabcontent'>
        <div id='@(tableId + "_tab_1")' class='tab-pane active'>

            <div id='TableControls_@(tableId + "_1")' class='well well-sm' style='margin-bottom:5px!important;'>
                <label class="dvname">@ViewBag.data.Name</label>
                <button id='btnGo' class='btn btn-primary' style='float: right;'>Run</button>
                @await Component.InvokeAsync("ParameterDiv", new { paramDiv = ViewBag.data.EbDataSource.FilterDialog });
            </div>
            <div id='@(tableId+"_1container")'>
                @*@await Component.InvokeAsync("DragNDropColumns", new { dsRefid = ViewBag.data.DataSourceRefId });*@
                <div id='@(tableId+"_1TableColumns4Drag")' style='border:1px solid;display:none;height:100%;min-height: 400px;overflow-y: auto;'>
                </div>
                <div style='width:auto;' id='@(tableId+"_1divcont")'>
                    <div id='@(tableId+"_1ColumnsDispaly")' style='display:none;' class='colCont'></div>
                    <div id='@(tableId+"_1ColumnsOrder")' style='display:none;margin-top: 1px;' class='colCont'></div>
                    <table id='@(tableId+"_1")' class='table table-striped table-bordered'></table>
                </div>
                <div id='@(tableId+"_1TableColumnsPPGrid")' style='display:none;height:100%;min-height: 400px;overflow-y: auto;'></div>
            </div>
            <div id='graphcontainer_tab@(tableId+"_1")'>
                <div style='height: 50px;margin-bottom: 5px!important;' class='well well-sm'>
                    <label class="dvname">@ViewBag.data.Name</label>
                    <div id='btnColumnCollapse@(tableId+"_1")' class='btn btn-default' style='float: right;'>
                        <i class='fa fa-cog' aria-hidden='true'></i>
                    </div>
                    <div class='dropdown' id='graphDropdown_tab@(tableId+"_1")' style='display: inline-block;padding-top: 1px;float:right'>
                        <button class='btn btn-default dropdown-toggle' type='button' data-toggle='dropdown'>
                            <span class='caret'></span>
                        </button>
                        <ul class='dropdown-menu'>
                            <li><a href='#'><i class='fa fa-line-chart custom'></i> Line</a></li>
                            <li><a href='#'><i class='fa fa-bar-chart custom'></i> Bar </a></li>
                            <li><a href='#'><i class='fa fa-area-chart custom'></i> AreaFilled </a></li>
                            <li><a href='#'><i class='fa fa-pie-chart custom'></i> pie </a></li>
                            <li><a href='#'> doughnut </a></li>
                        </ul>
                    </div>
                    <button id='reset_zoom@(tableId+"_1")' class='btn btn-default' style='float: right;'>Reset zoom</button>

                </div>
                <div id='columns4Drag@(tableId+"_1")' style='display:none;'>
                    <div style='display: inline-block;'>
                        <label class='nav-header disabled'><center><strong>Columns</strong></center><center><font size='1'>Darg n Drop to X or Y Axis</font></center></label>
                        <input id='searchColumn@(tableId+"_1")' type='text' class='form-control' placeholder='search for column' />
                        <ul class='list-group' style='height: 450px; overflow-y: auto;'></ul>
                    </div>
                    <div style='display: inline-block;vertical-align: top;width: 806px;'>
                        <div class='input-group'>
                            <span class='input-group-addon' id='basic-addon3'>X-Axis</span>
                            <div class='form-control' style='padding: 4px;height:33px' id='X_col_name@(tableId+"_1")'></div>
                        </div>
                        <div class='input-group' style='padding-top: 1px;'>
                            <span class='input-group-addon' id='basic-addon3'>Y-Axis</span>
                            <div class='form-control' style='padding: 4px;height:33px' id='Y_col_name@(tableId+"_1")'></div>
                        </div>
                    </div>
                </div>
                <canvas id='myChart@(tableId+"_1")' width='auto' height='auto'></canvas>
            </div>
        </div>
    </div>
</div>

@*@section EbHead {
    <script>
        @Html.Raw(ViewBag.HtmlHead);
    </script>
}*@
<script>
    @Html.Raw(ViewBag.HtmlHead);
    var sett = @Html.Raw(dvobj);
    var meta = @Html.Raw(ViewBag.meta);
    var ebdtable = new EbDataTable({
        ds_id: '@ViewBag.data.DataSourceRefId',
        ss_url: '@ViewBag.ServiceUrl',
        tid: '@(tableId+"_1")',
        login:'@ViewBag.wc',
        settings:sett,
        meta: meta,
        dvRefId:'@ViewBag.dvRefId'
        //fnKeyUpCallback:
    });
</script>

