@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
<link rel="stylesheet" href="~/css/ApiRelated/leader-line.css" asp-append-version=@bApnd />
<link rel="stylesheet" href="~/css/ApiRelated/EbPrettyJson.css" asp-append-version=@bApnd />
<link rel="stylesheet" href="~/css/ApiRelated/Eb_ApiAssets.css" asp-append-version=@bApnd />
<script src="~/js/ApiBuilder/leader-line.min.js" type="text/javascript" asp-append-version=@bApnd></script>
<script src="~/js/ApiBuilder/EbPrettyJson.js" type="text/javascript" asp-append-version=@bApnd></script>
<script src="~/js/ApiBuilder/ApiBuilder.js" type="text/javascript" asp-append-version=@bApnd></script>
<script src="~/js/ApiBuilder/ApiContextMenu.js" type="text/javascript" asp-append-version=@bApnd></script>
<script>
    @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.ReportSections);
    @Html.Raw(ViewBag.EbObjectTypes);
</script>
<div class="container-fluid api_body">
    <div class="row">
        <div class="eb_apiWrper">
            <div class="eb_apiSideBar resource_wraper" id="resource_wraper">
                <div class="resource_link_Bdy">
                    <div class="head">
                        Resources
                    </div>
                    <div class="bdy" id="draggable">
                        <div eb-type="SqlReader" ctrname="DataReader" class="resource_items draggable">
                            <div class="resource_items-inner">
                                <i class="fa fa-database"></i>DataReader
                            </div>
                        </div>
                        <div eb-type="SqlFunc" ctrname="SqlFunction" class="resource_items draggable">
                            <div class="resource_items-inner"><i class="fa fa-database"></i>SqlFunction</div>
                        </div>
                        <div eb-type="SqlWriter" ctrname="DataWriter" class="resource_items draggable">
                            <div class="resource_items-inner"><i class="fa fa-code"></i>DataWriter</div>
                        </div>
                        <div eb-type="EmailNode" ctrname="Email" class="resource_items draggable">
                            <div class="resource_items-inner"><i class="fa fa-envelope-o"></i>Email</div>
                        </div>
                        <div eb-type="Processor" ctrname="Processor" class="resource_items draggable">
                            <div class="resource_items-inner"><i class="fa fa-code"></i>Processor</div>
                        </div>
                        <div eb-type="ConnectApi" ctrname="Api" class="resource_items draggable">
                            <div class="resource_items-inner"><i class="fa fa-code"></i>Api</div>
                        </div>
                        <div eb-type="ThirdPartyApi" ctrname="ThirdPartyApi" class="resource_items draggable">
                            <div class="resource_items-inner"><i class="fa fa-code"></i>ThirdPartyApi</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eb_apiPane resource_append_wraper" id="resource_append_wraper">
                <div class="resource_Body" id="resource_Body_drparea">
                    <div class="apiPrcItem" id="start_item">
                        <div class="strt_circ" id="start">

                        </div>
                    </div>
                    <div class="apiPrcItem" id="end_item">
                        <div class="stop_circ" id="stop">

                        </div>
                    </div>
                </div>
            </div>
            <div class="pgContainer" id="pgContainer">
                <div class="pgContainer_wrpr" id="pgContainer_wrpr">

                </div>
            </div>
        </div>
    </div>
    <div class="Json_reqOrRespWrpr" id="Json_reqOrRespWrp">
        <div class="regRespWHead">
            JSON <i class="fa fa-thumb-tack pull-right" style="transform: rotate(90deg);" id="pin_jswindow"></i>
            <i class="fa fa-thumb-tack pull-right" id="unpin_jswindow" style="display:none;"></i>
        </div>
        <div class="Json_reqOrRespWrpr_inner">
            <div class="JsonReq">
                <div class="JsonReq_inner">
                    <div class="_h">
                        Request
                        <button class="jsw_btn runReq_btn">Run <i class="fa fa-play pull-right"></i></button>
                        @*<buton class="jsw_btn" id="sample_codes"><i class="fa fa-code" aria-hidden="true"></i></buton>*@
                    </div>
                    <div class="_b" id="JsonReq_CMW"></div>
                </div>
            </div>
            <div class="JsonResp">
                <div class="JsonResp_inner">
                    <div class="_h">
                        Response
                        <span class="fa fa-arrows-alt pull-right" onclick="$('#api_RqFullSwrapr').show();" data-toggle="tooltip" title="Full Screen"></span>
                        <span class="formatType">
                            <select class="format_type">
                                <option value="json">json</option>
                                <option value="xml">xml</option>
                                <option value="raw">raw</option>
                            </select>
                        </span>
                    </div>
                    <div class="_b" id="JsonResp_CMW"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="api_RqFullSwrapr" id="api_RqFullSwrapr">
        <div class="FS_head">
            <span class="Comp_Name">Untitled</span> 
            <span class="formatType_fullscreen">
                <select class="format_type">
                    <option value="json">json</option>
                    <option value="xml">xml</option>
                    <option value="raw">raw</option>
                </select>
            </span>
            <i class="fa fa-close pull-right" onclick="$('#api_RqFullSwrapr').hide();"></i>
        </div>
        <div class="FS_bdy">

        </div>
    </div>

    <!--sample code mdl-->
    <div class="modal fade api_scodeMd" id="api_scodeMd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content" style="overflow: hidden;">
                <div class="modal-body" style="max-height: 409px; overflow-y: auto;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#js">Js</a></li>
                        <li><a data-toggle="tab" href="#ajax">Jquery</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="js" class="tab-pane fade in active">
                            <div class="code_wrpr">
                                <div class="cod_line"><span class="reserved">var</span> xhr = <span class="reserved">new</span> XMLHttpRequest();</div>
                                <div class="cod_line"><span class="reserved">var</span> url =<span class="higlite url">'https://'</span>;</div>
                                <div class="cod_line">xhr.open(<span class="higlite method">'POST'</span>,url, <span class="reserved">true</span>);</div>
                                <div class="code_comment">// your api key in header</div>
                                <div class="cod_line">xhr.setRequestHeader(<span class="higlite">'key'</span>,<span class="higlite">'your api key'</span>);</div>
                                <div class="cod_line">xhr.onload = <span class="reserved">function ()</span> {</div>
                                <div class="code_comment">// do something to response</div>
                                <div class="cod_line">};</div>
                                <div class="cod_line">xhr.send(<span class="higlite data">'user=person&pwd=password&organization=place&requiredkey=key'</span>);</div>
                            </div>
                        </div>
                        <div id="ajax" class="tab-pane fade">
                            <div class="cod_line"> $.ajax({</div>
                            <div class="cod_line tab">url: <span class="higlite url">'https://'</span>,</div>
                            <div class="cod_line tab">type: <span class="higlite method">'POST'</span>,</div>
                            <div class="cod_line tab">data: <span class="higlite data"></span>,</div>
                            <div class="cod_line tab">success: <span class="reserved">function </span>(result){</div>
                            <div class="code_comment tab">// do something to response</div>
                            <div class="cod_line tab">}</div>
                            <div class="cod_line">});,</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
     if (@ViewBag.tabnum === 0) {
        var commonO = $("#layout_div").data("commonObj");
    }
    var api = EB_Api_entry({
        Wc: '@ViewBag.wc',
        TenantId: '@ViewBag.cid',
        RefId: '@ViewBag.Refid',
        Version: '@ViewBag.VersionNumber',
        ObjType: @ViewBag.ObjType,
        DsObj: @Html.Raw(ViewBag.dsObj),
        Status: '@ViewBag.Status',
        TabNum: @ViewBag.tabnum,
        ServiceUrl: '@ViewBag.ServiceUrl'
    });
    commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = api;

    $("#pin_jswindow").click(function (ev) {
        $("#Json_reqOrRespWrp").animate({ height: 10 }, 300).css("top","unset");
        $(`#unpin_jswindow`).show();
        $("#pin_jswindow").hide();
    });
    $(`#unpin_jswindow`).click(function (ev) {
        $("#Json_reqOrRespWrp").animate({ height: 300 }, 300).css("top", "unset");
        $(`#unpin_jswindow`).hide();
        $("#pin_jswindow").show();
    });
</script>