@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<html lang="en">
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css " />@*Dona*@
    <title>Code editor</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/hint/show-hint.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/fold/foldgutter.css" />
    <script src="~/lib/codemirror/lib/codemirror.js"></script>
    <script src="~/lib/codemirror/addon/hint/show-hint.js"></script>
    <script src="~/lib/codemirror/addon/hint/javascript-hint.js"></script>
    <script src="~/lib/codemirror/mode/javascript/javascript.js"></script>
    <script src="~/lib/codemirror/addon/hint/sql-hint.js"></script>
    <script src="~/lib/codemirror/mode/sql/sql.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldcode.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldgutter.js"></script>
    <script src="~/lib/codemirror/addon/fold/brace-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/xml-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/comment-fold.js"></script>
    <script src="~/lib/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var paramsCount;
            $(".eb-loader").hide();
            $('#filterRun').on('hidden.bs.modal', function () {
                $("#sample").DataTable().destroy();
                $("#sample").children().remove();
            });
            $(document).keydown(function (e) {
                if (e.keyCode == 83 && e.ctrlKey) {
                    e.preventDefault();
                    $(".save").trigger("click");
                }
            });
        }); 
    </script>
</head>
<body>
    <div class='eb-loader'><i class='fa fa-spinner fa-pulse fa-3x fa-fw center-block'></i></div>
    @*<span>*@
    <div class="btn-group">
        <a data-toggle="collapse" title="Collapse" data-target="#objCollapse"><i class="btn btn-sm btn-info fa fa-plus-square  fa-1x" aria-hidden="true"></i></a>
        <a class="commit" data-toggle="tooltip" title="Commit" onclick="Commit(@ViewBag.Obj_id,@ViewBag.VersionNumber,'@ViewBag.cid')"><i class="btn btn-sm btn-info fa fa-save fa-1x" aria-hidden="true"></i></a>
        <a class="save" data-toggle="tooltip" title="Save" onclick="Save(@ViewBag.IsNew,@ViewBag.Obj_id,@ViewBag.VersionNumber)"><i class="btn btn-sm btn-info fa fa-clock-o  fa-1x" aria-hidden="true"></i></a>
        <a href="#" class="rel_obj" data-toggle="tooltip" title="Related Objects"><i class="btn btn-sm btn-info fa fa-cogs fa-1x" aria-hidden="true"></i></a>
        <a href="#" class="comp" data-toggle="tooltip" title="Compare"><i class="btn btn-info btn-sm fa fa-exchange fa-1x" aria-hidden="true"></i></a>
        <a href="#" class="samp_cod" data-toggle="tooltip" title="Sample Code"><i class="btn btn-sm btn-info fa fa-file-code-o fa-1x" aria-hidden="true"></i></a>
        <a href="#" id="execute" data-toggle="tooltip" title="Execute" onclick="Execute()"><i class="btn btn-sm btn-info fa fa-play fa-1x" aria-hidden="true"></i></a>
        <a href="#" class="fork" data-toggle="tooltip" title="Fork"><i class="btn btn-sm btn-info fa fa-play fa-1x" aria-hidden="true"></i></a>
    </div>
    <a href="#" class="stat_his" data-toggle="tooltip" title="Status History"><i class="btn btn-sm btn-info fa fa-line-chart fa-1x" aria-hidden="true"></i></a>
    @ViewBag.Status
    <a href="#" class="ver_his" data-toggle="tooltip" title="Version History"><i class="btn btn-sm btn-info fa fa-history fa-1x" aria-hidden="true"></i></a>
    Version v.@ViewBag.VersionNumber
    @*</span>*@
    <div id="objCollapse" class="collapse">
        <div class="form-group ">
            <label class="control-label">DataSource Name</label>
            <input maxlength="100" type="text" required="required" id="obj_name" value="@ViewBag.ObjectName" class="form-control " />
        </div>
        <div class="form-group ">
            <label class="control-label">Description</label>
            <textarea required="required" class="form-control" id="obj_desc">@ViewBag.ObjectDesc</textarea>
        </div>
        <div class="dropdown fdlist">
            Filter Dialogues
            <select id="fd" name="fd" class="selectpicker show-tick align_singleLine" data-live-search="true" onchange="SelectFD(window.editor.getValue())">
                @{
                    @using ExpressBase.Objects.ServiceStack_Artifacts;
                    Dictionary<int, EbObjectWrapper> filterDialogs = new Dictionary<int, EbObjectWrapper>();
                    filterDialogs = ViewBag.FilterDialogs;
                    <option value="Select Filter Dialog" data-tokens="Select Filter Dialog">Select Filter Dialog</option>
                    <option value="Auto Generate Filter Dialog" data-tokens="Auto Generate Filter Dialog">Auto Generate Filter Dialog</option>
                    foreach (var filter in filterDialogs)
                    {
                        <option value=@filter.Value.Id data-tokens=@filter.Value.Name>@filter.Value.Name</option>
                    }
                }
            </select>
        </div>
    </div>
    <textarea id="code" name="code" class="code">@ViewBag.Code</textarea>
    <input type="hidden" id="tcid" class="tcid" value="@ViewBag.TenantId" />
    <input type="hidden" id="obj_type" value="@ViewBag.ObjType" />
    <p class="help">Hit Ctrl+Space to trigger autocomplete</p><div id="emails"></div>

    <div id="filterDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter Dialog</h4>
                </div>
                <div class="modal-body filter_modal_body">
                    <div class="fd_top_content">
                        <span class="align_singleLine">
                            <label class="">Filter Dialog Name</label>
                            <input type="text" id="fdname" name="fdname" class="form-control inputBox" required />
                        </span>
                        <span class="align_singleLine">
                            <label class="">Description</label>
                            <input type="text" id="fddesc" name="fddesc" class="form-control inputBox " required />
                        </span>
                    </div>
                    <div class="table-responsive table-bordered table-responsive">
                        <table class="table fd_table">
                            <thead class="fdthead">
                            </thead>
                            <tbody id="fdtbody" class="fdtbody"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="help"></div>
                    <input type="submit" name="saveFilter" value="Save" class="btn-primary" id="saveFilter" onclick="SaveFilter(@ViewBag.obj_id)" />
                    <input type="submit" name="run" value="Run" class="btn-primary" id="run" onclick="RunDs(@ViewBag.obj_id)" />
                </div>
            </div>
        </div>
    </div>


    <div id="filterRun" class="modal fade" role="dialog">
        <div class="modal-dialog" style="height:100%;width:100%">
            <!-- Modal content-->
            <div class="modal-content" style="height:auto;min-height:100%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Run Query </h4>
                </div>
                <div class="modal-body filter_modal_body">
                    <table class="table table-striped table-bordered" id="sample"></table>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.onload = function() {
            CodeMirror.commands.autocomplete = function(cm)
            {
                CodeMirror.showHint(cm, @ViewBag.EditorHint);
            };

            window.editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                mode: "@ViewBag.EditorMode",
                lineNumbers: true,
                lineWrapping: true,
                extraKeys: { "Ctrl-Space": "autocomplete" },
                foldGutter: { rangeFinder: new CodeMirror.fold.combine(CodeMirror.fold.brace, CodeMirror.fold.comment) },
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            });

        };


    </script>
</body>
</html>
<style>
    .align_singleLine {
        display: inline-block;
        margin-right: 10px;
        align-content: center;
    }

    .CodeMirror {
        height: 500px;
        background-color: azure;
    }

    .table-responsive {
        overflow-x: inherit;
    }

    .inputBox {
        width: 216px;
    }

    .controls-group {
        overflow-y: inherit;
    }

    .fd_top_content {
        margin-bottom: 10px;
    }

    .eb-loader {
        margin-top: 20%;
    }
</style>