@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<html lang="en">
<head>
    <title>Code editor</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/hint/show-hint.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/fold/foldgutter.css" />
    <script src="~/lib/codemirror/lib/codemirror.js"></script>
    <script src="~/lib/codemirror/addon/hint/show-hint.js"></script>
    <script src="~/lib/codemirror/addon/hint/javascript-hint.js"></script>
    <script src="~/lib/codemirror/mode/javascript/javascript.js"></script>
    <script src="~/lib/codemirror/addon/hint/sql-hint.js"></script>
    <script src="~/lib/codemirror/mode/sql/sql.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldcode.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldgutter.js"></script>
    <script src="~/lib/codemirror/addon/fold/brace-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/xml-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/comment-fold.js"></script>
    <script src="~/lib/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $('#saveFilter').on("click", function () {
            alert('save');
            $.post("http://localhost:53431/Tenant/CommitEbDataSource", {"Id":@ViewBag.Obj_id,
                "Code": window.editor.getValue(),
                "Name":$('#fdname').val(),
                "Description":$('#fddesc').val(),
                "Token": getToken(),
                "isSave":"false",
                "VersionNumber": @ViewBag.VersionNumber},
                        function (result) {
                            $('.alert').show()
                        });

                });
            $('#execute').on("click",function(){
                $('#filterDialog').modal('show');
            });

            @*$('#execute').on("click",function(){
                var filterDialogWiz = new EbWizard("http://localhost:53431/Tenant/filterDialog", "http://localhost:53431/Tenant/CommitEbDataSource", 800, 635, "filterDialog", "fa-database", '@ViewBag.cid',window.editor.getValue());
                filterDialogWiz.CustomWizFunc= (new CustomFilterDialogFuncs('@ViewBag.cid', @ViewBag.Obj_id, $('#obj_name').val(), $('#obj_desc').val(), window.editor.getValue(), @ViewBag.VersionNumber)).FilterD;
            });*@
        });
        $(document).keydown(function (e) {
            if (e.keyCode == 83 && e.ctrlKey) {
                e.preventDefault();
                $(".save").trigger("click");
            }
        });
        function Save() {
            if(@ViewBag.IsNew===true){
                $(".commit").trigger("click");
            }
            else{
                alert('old');
                $.post("http://localhost:53431/Tenant/SaveEbDataSource",
                    {"Id":@ViewBag.Obj_id,
                        "Code": window.editor.getValue(),
                        "Name":$('#obj_name').val(),
                        "Description":$('#obj_desc').val(),
                        "Token": getToken(),
                        "isSave":"true",
                        "VersionNumber": @ViewBag.VersionNumber},
                        function (result) {
                            $('.alert').show()
                        });
            };
        }
        function Commit() {
            if(@ViewBag.Obj_id===0){
                $.post("http://localhost:53431/Tenant/CommitEbDataSource",
                       {"Id":@ViewBag.Obj_id,
                           "Code": window.editor.getValue(),
                           "Name":$('#obj_name').val(),
                           "Description":$('#obj_desc').val(),
                           "Token": getToken(),
                           "isSave":"true",
                           "VersionNumber": @ViewBag.VersionNumber},
                           function (result) {
                               $('.alert').show()
                           });
            }
            var Dswzd = new EbWizard("http://localhost:53431/Tenant/ds_save", "http://localhost:53431/Tenant/CommitEbDataSource", 400, 400, "Commit", "fa-database",'@ViewBag.cid');
            Dswzd.CustomWizFunc = new CustomCodeEditorFuncs('@ViewBag.cid', @ViewBag.Obj_id, $('#obj_name').val(), $('#obj_desc').val(), window.editor.getValue(), @ViewBag.VersionNumber).DataSource;
        }
    </script>
</head>
<body>
    <span>
        <a data-toggle="collapse" title="Collapse" data-target="#objCollapse"><i class="btn btn-sm btn-info fa fa-plus-square  fa-1x" aria-hidden="true"></i></a>
        <a class="commit" data-toggle="tooltip" title="Commit" onclick="Commit()"><i class="btn btn-sm btn-info fa fa-save fa-1x" aria-hidden="true"></i></a>
        <a href="#" class="save" data-toggle="tooltip" title="Save" onclick="Save()"><i class="btn btn-sm btn-info fa fa-clock-o  fa-1x" aria-hidden="true"></i></a>
        <a href="#" class="rel_obj" data-toggle="tooltip" title="Related Objects"><i class="btn btn-sm btn-info fa fa-cogs fa-1x" aria-hidden="true"></i></a>
        <a href="#" class="comp" data-toggle="tooltip" title="Compare"><i class="btn btn-info btn-sm fa fa-exchange fa-1x" aria-hidden="true"></i></a>
        <a href="#" class="samp_cod" data-toggle="tooltip" title="Sample Code"><i class="btn btn-sm btn-info fa fa-file-code-o fa-1x" aria-hidden="true"></i></a>
        <a href="#" id="execute" data-toggle="tooltip" title="Execute"><i class="btn btn-sm btn-info fa fa-play fa-1x" aria-hidden="true"></i></a>
        <a href="#" class="fork" data-toggle="tooltip" title="Fork"><i class="btn btn-sm btn-info fa fa-play fa-1x" aria-hidden="true"></i></a>
        <a href="#" class="stat_his" data-toggle="tooltip" title="Status History"><i class="btn btn-sm btn-info fa fa-line-chart fa-1x" aria-hidden="true"></i></a>
        @ViewBag.Status
        <a href="#" class="ver_his" data-toggle="tooltip" title="Version History"><i class="btn btn-sm btn-info fa fa-history fa-1x" aria-hidden="true"></i></a>
        Version v.@ViewBag.VersionNumber
    </span>
    <div id="objCollapse" class="collapse">
        <div class="form-group align_singleLine">
            <label class="control-label">DataSource Name</label>
            <input maxlength="100" type="text" required="required" id="obj_name" value="@ViewBag.ObjectName" class="form-control " />
        </div>
        <div class="form-group align_singleLine">
            <label class="control-label">Description</label>
            <textarea required="required" class="form-control" id="obj_desc">@ViewBag.ObjectDesc</textarea>
        </div>
        <div class="dropdown">
            Filter Dialogues
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            @*@{
                    @using ExpressBase.Objects.ServiceStack_Artifacts;
                    List<string> filterDialogs = new List<string>();
                    filterDialogs = ViewBag.FilterDialogs;
                    foreach (var filter in filterDialogs)
                    {
                        <ul class="dropdown-menu">
                            <li><a href="#"> @filter</a></li>
                        </ul>

                    }
                }*@
        </div>
    </div>
    <div class="alert alert-success alert-dismissable" style="display:none">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
    <textarea id="code" name="code" class="code">@ViewBag.Code</textarea>
    <input type="hidden" id="tcid" class="tcid" value="@ViewBag.TenantId" />
    @*<input type="hidden" id="obj_name" value="@ViewBag.ObjectName" />*@
    @*<input type="hidden" id="obj_desc" value="@ViewBag.ObjectDesc" />*@
    <input type="hidden" id="obj_type" value="@ViewBag.ObjType" />
    <p>Hit Ctrl+Space to trigger autocomplete</p>

    <div id="filterDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter Dialog</h4>
                </div>
                <div class="modal-body">
                    <div class="fd_top_content">
                        <span class="align_singleLine">
                            <label class="">Filter Dialog Name</label>
                            <input type="text" id="fdname"  name="fdname" class="form-control inputBox" />
                        </span>
                        <span class="align_singleLine">
                            <label class="">Description</label>
                            <input type="text" id="fddesc" name="fddesc" class="form-control inputBox " />
                        </span>
                    </div>
                    <div class="table-responsive table-bordered table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Parameter Name</th>
                                    <th>Parameter Type</th>
                                    <th>Parameter Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{  List<string> filtervariables = new List<string>();
                                    filtervariables = ViewBag.ExecCode;
                                    foreach (string f in filtervariables)
                                    {
                                        <tr>
                                            <td>
                                                <label class="align_singleLine">@f</label>
                                            </td>
                                            <td>
                                                <select class="selectpicker show-tick align_singleLine" data-live-search="true">
                                                    <option value="text" data-tokens="text">text</option>
                                                    <option value="integer" data-tokens="integer">integer</option>
                                                    <option value="datetime" data-tokens="datetime">datetime</option>
                                                    <option value="boolean" data-tokens="boolean">boolean</option>
                                                </select>
                                            </td>
                                            <td> <input type="text" name=@f class="align_singleLine form-control" /> </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    @*</div>*@
                </div>
                <div class="modal-footer">
                    <input type="button" name="saveFilter" value="Save" class="btn-primary" id="saveFilter" />
                </div>
            </div>
        </div>

    </div>



    <script type="text/javascript">
        window.onload = function () {
            CodeMirror.commands.autocomplete = function (cm) {
                CodeMirror.showHint(cm, @ViewBag.EditorHint);
            };

            window.editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                mode: "@ViewBag.EditorMode",
                lineNumbers: true,
                lineWrapping: true,
                extraKeys: { "Ctrl-Space": "autocomplete" },
                foldGutter: { rangeFinder: new CodeMirror.fold.combine(CodeMirror.fold.brace, CodeMirror.fold.comment) },
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            });

        };

    </script>
</body>
</html>
<style>
    .align_singleLine {
        display: inline-block;
        margin-right: 10px;
        align-content: center;
    }

    .CodeMirror {
        height: 500px;
        background-color: azure;
    }

    .table-responsive {
        overflow-x: inherit;
    }

    .inputBox {
        width: 216px;
    }

    .controls-group {
        overflow-y: inherit;
    }

    .fd_top_content{
        margin-bottom:10px;
    }
</style>