@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome-iconpicker/1.3.1/css/fontawesome-iconpicker.css" />
<link rel="stylesheet" href="~/css/EbOnBoarding/EbOnBoarding.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fontawesome-iconpicker/1.3.1/js/fontawesome-iconpicker.min.js"></script>
<script src="~/js/EbCropper.js" type="text/javascript"></script>
<script src="~/js/EbOnBoarding/EbOnBoarding.js" type="text/javascript"></script>
<script src="~/js/validator.js" type="text/javascript"></script>

<div class="row tAddAcc height-100">
    <section class="card">
        <div class="card--content mr-l-20" id="prof-info">
            <div class="col-md-8 card--form">
                <div class="products-head">
                    <h4>Profile Setup</h4>
                </div>
                <div class="card--content-body">
                    <form class="form-horizontal" id="prof-submit" method="post" data-toggle="validator">
                        <br />
                        <div class="col-md-12 pd-0">
                            <div class="col-md-8">
                                <div class="form-group required">
                                    <label>Name</label>
                                    <input class="form-control" type="text" name="Name" id="name" required>
                                </div>
                                <div class="form-group">
                                    <label>Company</label>
                                    <input class="form-control" type="text" name="Company" id="company" required>
                                </div>
                            </div>
                            <div class="col-md-4 profimage">
                                <img src="~/images/proimg.jpg" id="profimage" class="p-st-dp _cropify" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="pd-l-0 col-md-4">
                                    <label>Employees</label>
                                    <select id="employees" name="Employees" class="form-control">
                                        <option value="1-10">1-10</option>
                                        <option value="11-50">11-50</option>
                                        <option value="51-100">51-100</option>
                                        <option value="101-250">101-250</option>
                                        <option value="251-500">250-500</option>
                                        <option value="greater than 500">greater than 500</option>
                                    </select>
                                </div>
                                <div class="pd-l-0 col-md-4">
                                    <label>Designation</label>
                                    <select id="desig" name="Designation" class="form-control">
                                        <option value="1-10">1-10</option>
                                        <option value="11-50">11-50</option>
                                        <option value="51-100">51-100</option>
                                        <option value="101-250">101-250</option>
                                        <option value="251-500">250-500</option>
                                        <option value="greater than 500">greater than 500</option>
                                    </select>
                                </div>
                                <div class="pd-r-0 col-md-4">
                                    <label>Country</label>
                                    <input class="form-control" type="text" name="Country" id="country" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email/Username</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                    <input class="form-control" type="text" value="@ViewBag.useremail" name="Email" id="email" readonly>
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="pd-l-0 col-md-6">
                                    <label>Password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
                                        <input class="form-control" data-minlength="8" type="password" name="Password" id="inputPassword" required>
                                    </div>
                                    <div class="help-block">Minimum of 8 characters</div>
                                </div>
                                <div class="pd-r-0 col-md-6">
                                    <label>Repeat Password</label>
                                    <input class="form-control" type="password" name="Repeat-password" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <input type="submit" id="prof-form-sub" style="display:none;"/>
                            </div>

                        </div>
                    </form>          
                </div>               
            </div>
            <div class="col-md-4 desc-section">
                <div class="steps">
                    <a class="step-no step-no-blue">
                        1
                    </a>
                    <a class="step-no">
                        2
                    </a>
                    <a class="step-no">
                        3
                    </a>
                    <a class="step-no">
                        4
                    </a>
                </div>
                <div class="small-desc-last flex-center">
                    <img class="small-desc-img" src="~/images/svg/people.svg" />
                    <h4>Your Personal Info</h4>
                    <p class="text-center">Select atleast one paid plan for custom Solution Id</p>
                </div>
                <div class="card--content-footer">
                    <div class="form-inline">
                        <a id="prof-info-skip" class="btn pull-right prof-info-skip">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        <button id="save-profile" onclick="$('#prof-form-sub').click()" type="submit" class="btn btn-success pull-right">Save <i class="fa fa-spinner fa-lg fa-spin" style="display:none;color:white;" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card--content mr-l-10 sol-info" id="basic-info">
            <div class="col-md-8 card--form">
                <div class="products-head">
                    <h4>Solution Info</h4>
                </div>
                <div class="card--content-body">                  
                    <form class="subscript-submit" method="post" id="sol-form-submit">
                        <div class="form-group">
                            <label>Solution Name</label>
                            <input type="text" id="solutionname" name="Sname" class="form-control" required />
                        </div>
                        <label>Solution URL</label>
                        <div class="client-id-sec">                           
                            <input type="text" required="required" id="cid" name="Esid" value="@ViewBag.iSid" readonly class="form-control input-clientId"/>
                            <div class="clientId-auto">.expressbase.com</div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" id="Desc" name="Desc"></textarea>
                        </div>   
                        <input type="hidden" id="isid" name="Isid" value="@ViewBag.iSid" />                       
                        <input type="submit" id="sol-form-sub" style="display:none;" />
                    </form>
                    <div class="company-logo">
                        <div class="col-md-10 company-logo-cont" id="s-logo-prev">
                            <img class="img-responsive" src="~/images/your_company_logo.png" />
                        </div>
                        <div class="col-md-2 logo-upload-sec eb-flex-end pd-0">
                            <button id="log-upload-btn" class="btn log-upload-btn pull-right" data-toggle="modal" data-target="#eb-cropie-s-logo">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 desc-section">
                <div class="steps">
                    <a class="step-no">
                        1
                    </a>
                    <a class="step-no step-no-blue">
                        2
                    </a>
                    <a class="step-no">
                        3
                    </a>
                    <a class="step-no">
                        4
                    </a>
                </div>
                <div class="small-desc-last flex-center">
                    <img class="small-desc-img" src="~/images/svg/people.svg" />
                    <h4>Your Basic Info</h4>
                    <p class="text-center">Select atleast one paid plan for custom Solution Id</p>
                </div>
                <div class="card--content-footer">
                    <div class="form-inline">
                        <a id="s-info-skip" class="btn pull-right">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        <button id="prof-to-prev" class="btn pull-right mr-10"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card--content mr-l-10 prod-info" id="product-info">
            <div class="col-md-8 card--form">
                <div class="products-head">
                    <h4>Select Products</h4>
                </div>
                <div class="card--content-body" id="product-container">
                    <div class="col-md-12 pd-0">
                        <div class="col-md-4 col-lg-4 col-sm-2 col-xs-6 Eb-product-container">
                            <div class="Eb-product-container-bdy" pid="Forms" prod-id="1">
                                <div class="pro-icon-bx">
                                    <img src="~/images/svg/form1.svg" />
                                </div>
                                <div class="pro-name-bx">
                                    Forms
                                </div>
                                <button class="btn btn-sm btn-upload" id="add-form">Add</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-2 col-xs-6 Eb-product-container">
                            <div class="Eb-product-container-bdy" pid="Visualization" prod-id="2">
                                <div class="pro-icon-bx">
                                    <img src="~/images/svg/dv1.svg" />
                                </div>
                                <div class="pro-name-bx">
                                    BI
                                </div>
                                <button class="btn btn-sm btn-upload" id="add-viz">Add</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-2 col-xs-6 Eb-product-container">
                            <div class="Eb-product-container-bdy" pid="Report" prod-id="3">
                                <div class="pro-icon-bx">
                                    <img src="~/images/svg/report1.svg" />
                                </div>
                                <div class="pro-name-bx">
                                    Reports
                                </div>
                                <button class="btn btn-sm btn-upload" id="add-report">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 pd-0">
                        <div class="col-md-4 col-lg-4 col-sm-2 col-xs-6 Eb-product-container">
                            <div class="Eb-product-container-bdy" pid="ChatBot" prod-id="4">
                                <div class="pro-icon-bx">
                                    <img src="~/images/svg/chat1.svg" />
                                </div>
                                <div class="pro-name-bx">
                                    Bots
                                </div>
                                <button class="btn btn-sm btn-upload" id="add-bot">Add</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-2 col-xs-6 Eb-product-container">
                            <div class="Eb-product-container-bdy" pid="Documents" prod-id="5">
                                <div class="pro-icon-bx">
                                    <img src="~/images/svg/document1.svg" />
                                </div>
                                <div class="pro-name-bx">
                                    Documents
                                </div>
                                <button class="btn btn-sm btn-upload" id="add-doc">Add</button>
                            </div>
                        </div>
                    </div>
                </div>             
            </div>
            <div class="col-md-4 desc-section">
                <div class="steps">
                    <a class="step-no">
                        1
                    </a>
                    <a class="step-no">
                        2
                    </a>
                    <a class="step-no step-no-blue">
                        3
                    </a>
                    <a class="step-no">
                        4
                    </a>
                </div>
                <div class="small-desc-last flex-center">
                    <img class="small-desc-img" src="~/images/svg/product.svg" />
                    <h4>Heading</h4>
                    <p class="text-center">Select atleast one paid plan for custom Solution Id</p>
                </div>
                <div class="card--content-footer">
                    <div class="form-inline">
                        <button id="save-subscrip" type="submit" onclick="$('#sol-form-sub').click();" class="btn btn-success pull-right">Save <i class="fa fa-spinner fa-lg fa-spin" style="display:none;color:white;" aria-hidden="true"></i></button>
                        <button id="app-next" class="btn pull-right mr-10" style="display:none;"><i class="fa fa-chevron-right" aria-hidden="true"></i> Next</button>
                        <button id="plan-prev" class="btn pull-right mr-10"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card--content mr-l-10 app-info" id="app-info">
            <div class="col-md-8 card--form">
                <div class="products-head">
                    <h4>Create Your First Application</h4>
                    
                </div>
                <div class="card--content-body" id="app-container">
                    <div class="col-md-12 pd-0 solutiondetails-app">
                        <div class="col-md-8 pd-0">
                            <h5 id="solutionName-app"></h5>
                            <p class="SolUrl">@ViewBag.AppId</p>
                        </div>
                        <div class="col-md-4 pd-0">
                            <img class="img-responsive" src="~/images/your_company_logo.png" />
                        </div>
                    </div>
                    <form class="app-form" action="../Tenant/EbOnBoarding" method="post" id="app-form">
                        <label>Application Type</label>
                        <div class="col-md-12 pd-0 apptypes-cont">
                           <div class="col-md-4 apps-wrapper">
                               <div class="apps-wrapper-fchiled appselected" type="1" tabindex="1">
                               <img class="apptype" src="~/images/svg/grid-world.svg" />
                               <div class="app-type-name">Web</div>     
                               </div>
                           </div> 
                            <div class="col-md-4 apps-wrapper">
                                <div class="apps-wrapper-fchiled" type="2" tabindex="1">
                                    <img class="apptype" src="~/images/svg/smartphone-call.svg" />
                                    <div class="app-type-name">Mobile</div>
                                </div>
                            </div> 
                            <div class="col-md-4 apps-wrapper">
                                <div class="apps-wrapper-fchiled" type="3" tabindex="1">
                                    <img class="apptype" src="~/images/svg/chat1.svg" />
                                    <div class="app-type-name">Bot</div>
                                </div>
                            </div>
                            <input type="hidden" name="AppType" value="1" id="apptype"/>                         
                        </div>                    
                        <div class="form-group">
                            <label>Application Name</label>
                            <input type="text" class="form-control" name="AppName" id="appName"/>
                        </div>                       
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" id="DescApp" name="DescApp"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Icon</label>
                            <div class="input-group iconpicker-container">
                                <input type="text" class="form-control" name="AppIcon" value="fa fa-archive" id="AppIcon" />
                                <span class="input-group-addon"><i class="fa fa-archive"></i></span>
                            </div>
                        </div>                                              
                        <input type="hidden" id="Sid" name="Sid" value="@ViewBag.iSid" />
                        <input type="hidden" id="AppId" name="AppId" value="@ViewBag.AppId" />
                        <input type="submit" id="app-form-sub" style="display:none;" />
                    </form>
                </div>
            </div>
            <div class="col-md-4 desc-section">
                <div class="steps">
                    <a class="step-no">
                        1
                    </a>
                    <a class="step-no">
                        2
                    </a>
                    <a class="step-no">
                        3
                    </a>
                    <a class="step-no step-no-blue">
                        4
                    </a>
                </div>
                <div class="small-desc-last flex-center">
                    <img class="small-desc-img" src="~/images/svg/product.svg" />
                    <h4>Heading</h4>
                    <p class="text-center">Create your first application</p>
                </div>
                <div class="card--content-footer">
                    <div class="form-inline">
                        <button id="save-application" type="submit" onclick="$('#app-form-sub').click();" class="btn btn-success pull-right">Create <i class="fa fa-spinner fa-lg fa-spin" style="display:none;color:white;" aria-hidden="true"></i></button>
                        <button id="prod-prev" class="btn pull-right mr-10"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="none"></div>
    </section>
</div>
<div class="eb-cropie" id="cropsection">   </div>   

<div class="modal fade" id="eb-cropie-s-logo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crop Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="eb-cropie-inner">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="eb-mesageBox" id="eb-mesageBox">
    <div class="mesageBox-head"><i class="fa fa-times pull-right" onclick="$('#eb-mesageBox').hide();" aria-hidden="true"></i></div>
</div>
<div class="eb-mesageBox-error" id="eb-mesageBox-error">
    <div class="mesageBox-head"><i class="fa fa-times pull-right" onclick="$('#eb-mesageBox-error').hide();" aria-hidden="true"></i></div>
</div>
<script>
    $(document).ready(function () {
        var boarding = new EbOnBoarding();       
    });  
    $.getJSON("http://freegeoip.net/json/", function (data) {
        var country = data.country_name;
        $('#country').val(country);
    });
    $("#AppIcon").iconpicker({ placement: 'top'});
</script>
