@{
    @using System;
    @using Newtonsoft.Json;
    @using ExpressBase.Common;
    @using ExpressBase.Objects.ServiceStack_Artifacts;
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}

@section JavaScript{
    <script src="~/js/EbDashBoards/SolutionDashBoard.js" type="text/javascript"></script>
}
@{
    string proto = string.Empty;

    if (ViewBag.Env == "Development")
    {
        proto = "http://";
    }
    else if (ViewBag.Env == "Staging")
    {
        proto = "https://";
    }
    else if (ViewBag.Env == "Production")
    {
        proto = "https://";
    }


    string sso_dev = proto + ViewBag.Connections.SolutionInfo.EsolutionId + "-dev." + ViewBag.Domain + "/Ext/SwitchContext";
    string sso_user = proto + ViewBag.Connections.SolutionInfo.EsolutionId + "." + ViewBag.Domain + "/Ext/SwitchContext";

    //string dbdefault = /*(EbConnections.DataDbConnection.IsDefault) ? "(Default)" :*/ "";
    //string filedefault = "";
    //if (EbConnections.FilesDbConnection != null)
    //{
    //    filedefault = (EbConnections.FilesDbConnection.IsDefault)? "(Default)" : "";
    //}

    Dictionary<string, string> Image_url = new Dictionary<string, string>();
    Image_url.Add("PGSQL", "<img class='img-responsive' src='../images/POSTGRES.png' align='middle' style='height:45px' />");
    Image_url.Add("MSSQL", "<img class='img-responsive' src='../images/sqlserver.png' align='middle' style='height: 50px;' />");
    Image_url.Add("MYSQL", "<img class='img-responsive' src='../images/mysql.png' align='middle' style='height:35px' />");
    Image_url.Add("ORACLE", "<img class='img-responsive' src='../images/oracle.png' align='middle' style='height: 50px;' />");
    Image_url.Add("MongoDB", "<img class='img-responsive' src='../images/MongodB.png' align='middle' style='height:40px' />");
    Image_url.Add("Cloudinary", "<img class='img-responsive' src='../images/cloudnary.png' align='middle' style='height: 17px;' />");
    Image_url.Add("ExpertTexting", "<img class='img-responsive' src='../images/expert texting.png' align='middle' style='height:26px' />");
    Image_url.Add("Twilio", "<img class='img-responsive' src='../images/twilio.png' align='middle' style='height: 38px;' />");
    Image_url.Add("SMTP", "<img class='img-responsive' src='../images/svg/email.svg' align='middle' style='height: 36px;' />");
}
<script>
    var cm = new EbHeader().setName("Solution Configuration");
</script>

<style>

    /*.cloudnaryVendorImage{
        margin-left: 24px;
        margin-top: 23px;
    }*/
    /*.POSTGRESVendorImage {
        margin-left: 43px;
    }

    .EmailVendorImage {
        margin-left: 50px;
        margin-top: 4px;
    }*/
</style>
<div class="row s-dash-container h-100">
    <div class="pd-0 tdasboard-sidebar tenant_sidebar">
        <div class="t-container">
            <ul class="list-group menuwrapper_ul_outer">
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">highlight</span>
                        <span class="t__sidebar_text">Solutions</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">attach_money</span>
                        <span class="t__sidebar_text">Billing</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/AppStore" target="_blank">
                        <span class="material-icons t__sidebar_icon">store</span>
                        <span class="t__sidebar_text">App Store</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">chrome_reader_mode</span>
                        <span class="t__sidebar_text">Wiki</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">contact_support</span>
                        <span class="t__sidebar_text">Support</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc border-style-none">
            <div class="col-md-9 pd-0">
                <h4 class="mr-t-0 mr-0">@ViewBag.Connections.SolutionInfo.SolutionName</h4>
                <p class="small mr-t-10 mr-b-0">Created on @ViewBag.Connections.SolutionInfo.DateCreated</p>
                <p class="small mr-0">
                    @ViewBag.Connections.SolutionInfo.Description
                </p>
            </div>
            <div class="col-md-3 pd-0 form-inline">
                <form method="post" action="@sso_dev.Replace(" myaccount.", "")" target="_blank">
                    <input type="hidden" name="Rtoken" value="@ViewBag.rToken" />
                    <input type="hidden" name="Btoken" value="@ViewBag.bToken" />
                    <input type="hidden" name="WhichConsole" value="dc" />
                    <button class="ebbtn eb_btnwhite eb_btn-sm pull-right btn_s_fr" type="submit" sid="@ViewBag.Connections.SolutionInfo.EsolutionId" wc="dc">
                        <i class="fa fa-wrench"></i> Dev Home
                    </button>
                </form>
                <form method="post" action="@sso_user.Replace(" myaccount.", "")" target="_blank">
                    <input type="hidden" name="Rtoken" value="@ViewBag.rToken" />
                    <input type="hidden" name="Btoken" value="@ViewBag.bToken" />
                    <input type="hidden" name="WhichConsole" value="uc" />
                    <button class="ebbtn eb_btnblue eb_btn-sm pull-right" sid="@ViewBag.Connections.SolutionInfo.EsolutionId" wc="uc">
                        <i class="fa fa-user-o" aria-hidden="true"></i> User Home
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">
            <ul class="nav nav-tabs eb-styledTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#home" role="tab">
                        <i class="fa fa-home"></i> 
                        General
                    </a>
                </li>
                <li class="nav-item">
                    <a id="IntegrationsCall" class="nav-link" data-toggle="tab" href="#Integrations" role="tab">
                        <i class="fa fa-plug"></i> 
                        Connection Manager
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#team" role="tab">
                        <i class="fa fa-users"></i> Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#billing" role="tab">
                        <i class="fa fa-usd"></i> Billing</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="form-group">
                        <div class="col-md-4 pd-0">
                            <label>Upload Logo</label>
                            <button id="log-upload-btn" class="btn btn-default log-upload-b">Change Logo <i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-md-8 pd-0 logo_img_cont">
                            <img src="" class="img-responsive pull-right" id="oB_logo-prev" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="Integrations" role="tabpanel">
                    <div class="col-md-12 pd-0">
                        <ul class="nav nav-tabs tab-inside-tab chormer-effect" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" data-toggle="tab" href="#Integration" role="tab">
                                <i class="fa fa-plus-square"></i> New Connections</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" id="MyIntegration" href="#MyIntegrations" role="tab">
                                <i class="fa fa-list"></i> My Connections</a>
                            </li>
                        </ul>
                        <div class="tab-content" style="padding:10px 0">
                            <div class="tab-pane active" id="Integration" role="tabpanel">
                                <div class="eb_connection_wrapper flex-container">
                                    <div class="connection_wrap_outer   db-type-set" data-toggle="modal" data-target="#dbConnectionEdit" id="Postgres" data-whatever="PGSQL">
                                        <div class="connection_wrap w-100 ">
                                            <div class="connection_wrap_header w-100 image-hover" id="DbConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/POSTGRES.png" align="middle" style="width:63%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mysql" class="connection_wrap_outer  db-type-set" data-toggle="modal" data-target="#dbConnectionEdit" data-whatever="MYSQL">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="DbConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/mysql.png" align="middle" style="width:70%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="oracle" class="connection_wrap_outer  db-type-set" data-toggle="modal" data-target="#dbConnectionEdit" data-whatever="ORACLE">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="DbConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/oracle.png" style="width:70%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mssql" class="connection_wrap_outer  db-type-set" data-toggle="modal" data-target="#dbConnectionEdit" data-whatever="MSSQL">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="DbConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/sqlserver.png" style="width:62%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mongo" class="connection_wrap_outer" data-toggle="modal" data-target="#filesDbConnectEdit" data-whatever="MongoDB">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="FilesConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/MongodB.png" style="width:50%; margin:auto;" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="cloudinary" class="connection_wrap_outer" data-toggle="modal" data-target="#cldnry_conEdit" data-whatever="Cloudinary">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="FilesConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/cloudnary.png" style="width:75%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="SMTP" class="connection_wrap_outer" data-toggle="modal" data-target="#EmailconnectionEdit" data-whatever="SMTP">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="EmailConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/svg/email.svg" style="width:47%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="twilio" class="connection_wrap_outer" data-toggle="modal" data-target="#TwilioConnectionEdit" data-whatever="Twilio">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="TwilioConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/twilio.png" style="width:95%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="expert" class="connection_wrap_outer" data-toggle="modal" data-target="#ExpertTextingConnectionEdit" data-whatever="ExpertTexting">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="ExpertTextingConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/expert texting.png" style="width:85%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="MyIntegrations" role="tabpanel">
                                <div class="flex-container">
                                    <div class="panel-group" id="ALL">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title myintegration-collapse-title">
                                                    <a id="Integration_conf_all" data-toggle="collapse" data-parent="#MyIntegrations" href="#All">
                                                        All
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="All" class="panel-collapse collapse in">
                                                <div id="integration_config_all" class="panel-body">
                                                    @*@{
                                                            foreach (KeyValuePair<string, List<EbIntegrationConfData>> Conf_type in ViewBag.Connections.IntegrationsConfig)
                                                            {
                                                                List<EbIntegrationConfData> Row0 = Conf_type.Value;
                                                                foreach (EbIntegrationConfData row0 in Row0)
                                                                {
                                                                    <div class="inteConfContainer @string.Concat(row0.Type, "edit")" data-whatever="@row0.Type" datawhater="@row0.Id">

                                                                        <div id="nm" class="inteConfContainer_Image ">
                                                                            @Html.Raw(Image_url[row0.Type])
                                                                        </div>
                                                                        <div id="nm" class="inteConfContainer_NN" data-toggle="tooltip" data-placement="top" title="Updated on : @row0.CreatedOn">
                                                                            <span>@row0.NickName</span>
                                                                        </div>
                                                                        <div id="nm" class="inteConfContainer_caret-down ">
                                                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }*@
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="Integration_data" data-toggle="collapse" data-parent="#MyIntegrations" href="#EbDATA">
                                                        Data Store
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="EbDATA" class="panel-collapse collapse">
                                                <div id="EbDATA-All" class="panel-body">
                                                    @*@{
                                                        if (ViewBag.Connections.Integrations.ContainsKey("EbDATA"))
                                                        {
                                                            List<EbIntegrationData> Row = ViewBag.Connections.Integrations["EbDATA"];
                                                            foreach (EbIntegrationData row in Row)
                                                            {
                                                                <div class="integrationContainer @string.Concat(row.Type, "edit")" data-whatever="@row.Type" datawhater="@row.Id">

                                                                    <div class="integrationContainer_Image">
                                                                        @Html.Raw(Image_url[row.Ctype])
                                                                    </div>
                                                                    <div id="nm" class="integrationContainer_NN">
                                                                        <span>@row.NickName</span>
                                                                        <span class="PF_span">PRIMARY</span>
                                                                    </div>
                                                                    <div id="nm" class="integrationContainer_caret-down">
                                                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }*@
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="Integration_files" data-toggle="collapse" data-parent="#MyIntegrations" href="#EbFILES">
                                                        File Store
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="EbFILES" class="panel-collapse collapse">
                                                <div id="EbFILES-All" class="panel-body">
                                                    @*@{
                                                            if (ViewBag.Connections.Integrations.ContainsKey("EbFILES"))
                                                            {
                                                                List<EbIntegrationData> Row2 = ViewBag.Connections.Integrations["EbFILES"];
                                                                foreach (EbIntegrationData row2 in Row2)
                                                                {
                                                                    <div class="integrationContainer hover-mover @string.Concat(row2.Type, "edit") @row2.Preference" data-whatever="@row2.Type" datawhater="@row2.Id" dataConffId="@row2.ConfId">
                                                                        <div class="integrationContainer_Image">
                                                                            @Html.Raw(Image_url[row2.Ctype])
                                                                        </div>
                                                                        <div id="nm" class="integrationContainer_NN">
                                                                            <span>@row2.NickName</span>
                                                                            @{
                                                                                if (row2.Preference == "1")
                                                                                {
                                                                                    <span  class="PF_span">PRIMARY</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span  class="PF_span">Fallback</span>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <div id="nm" class="inteConfContainer_caret-down ">
                                                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="Integration_SMTP" data-toggle="collapse" data-parent="#MyIntegrations" href="#SMTP_call">
                                                        Email
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="SMTP_call" class="panel-collapse collapse">
                                                <div id="SMTP-All" class="panel-body">
                                                    @*@{
                                                            if (ViewBag.Connections.Integrations.ContainsKey("SMTP"))
                                                            {
                                                                List<EbIntegrationData> Row1 = ViewBag.Connections.Integrations["SMTP"];
                                                                foreach (EbIntegrationData row1 in Row1)
                                                                {
                                                                    <div class="integrationContainer hover-mover @string.Concat(row1.Type, "edit") @row1.Preference" data-whatever="@row1.Type" datawhater="@row1.Id" dataConffId="@row1.ConfId">

                                                                        <div class="integrationContainer_Image">
                                                                            @Html.Raw(Image_url[row1.Ctype])
                                                                        </div>
                                                                        <div id="nm" class="integrationContainer_NN">
                                                                            <span>@row1.NickName</span>
                                                                            @{
                                                                                if (row1.Preference == "1")
                                                                                {
                                                                                    <span  class="PF_span">PRIMARY</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span  class="PF_span">Fallback</span>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <div id="nm" class="inteConfContainer_caret-down ">
                                                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="Integration_cloudinary" data-toggle="collapse" data-parent="#MyIntegrations" href="#Cloudinary">
                                                        Cloudinary
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="Cloudinary" class="panel-collapse collapse">
                                                <div id="Cloudinary-all" class="panel-body">
                                                    @*@{
                                                            if (ViewBag.Connections.Integrations.ContainsKey("Cloudinary"))
                                                            {
                                                                List<EbIntegrationData> Row3 = ViewBag.Connections.Integrations["Cloudinary"];
                                                                foreach (EbIntegrationData row3 in Row3)
                                                                {
                                                                    <div class="integrationContainer hover-mover @string.Concat(row3.Type, "edit")" data-whatever="@row3.Type" datawhater="@row3.Id">

                                                                        <div class="integrationContainer_Image">
                                                                            @Html.Raw(Image_url[row3.Ctype])
                                                                        </div>
                                                                        <div id="nm" class="integrationContainer_NN">
                                                                            <span>@row3.NickName</span>
                                                                            @{
                                                                                if (row3.Preference == "1")
                                                                                {
                                                                                    <span  class="PF_span">PRIMARY</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span  class="PF_span">Fallback</span>
                                                                                }
                                                                            }
                                                                        </div>

                                                                        <div id="nm" class="inteConfContainer_caret-down ">
                                                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="Integration_sms" data-toggle="collapse" data-parent="#MyIntegrations" href="#SMS">
                                                        Message
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="SMS" class="panel-collapse collapse">
                                                <div id="SMS-all" class="panel-body">
                                                    @*@{
                                                            if (ViewBag.Connections.Integrations.ContainsKey("SMS"))
                                                            {
                                                                List<EbIntegrationData> Row4 = ViewBag.Connections.Integrations["SMS"];
                                                                foreach (EbIntegrationData row4 in Row4)
                                                                {
                                                                    <div class="integrationContainer hover-mover @string.Concat(row4.Type, "edit") @row4.Preference" data-whatever="@row4.Type" datawhater="@row4.Id" dataConffId="@row4.ConfId">

                                                                        <div class="integrationContainer_Image">
                                                                            @Html.Raw(Image_url[row4.Ctype])
                                                                        </div>
                                                                        <div id="nm" class="integrationContainer_NN">
                                                                            <span>@row4.NickName</span>
                                                                            @{
                                                                                if (row4.Preference == "1")
                                                                                {
                                                                                    <span  class="PF_span">PRIMARY</span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span  class="PF_span">Fallback</span>
                                                                                }
                                                                            }
                                                                        </div>

                                                                        <div id="nm" class="inteConfContainer_caret-down ">
                                                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            }
                                                        }*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="team" role="tabpanel">

                </div>
                <div class="tab-pane" id="billing" role="tabpanel">
                    @*@await Component.InvokeAsync("Stripe")*@
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="All_IntreationConfig" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1250px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="All_IntreationConfig_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body" style="min-height:525px">
                <div id="All_IntreationConfig_bodyflex" class="display-flex">
                </div>

            </div>
            @*<div id="All_IntreationConfig_footer" class="modal-footer">

                </div>*@
        </div>

    </div>
</div>

<div class="modal fade" id="All_IntreationList" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <form action="" method="post" id="IntegrationSubmit" data-toggle="validator">
                <div id="All_Intreation_header" class="modal-header">
                    <div id="Integration_loder" class="dbConnection_loder"></div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <input type="hidden" class="" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">
                    <div id="All_Intreation_bodyflex">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>

    </div>
</div>




<div id="dbConnectionEdit" class="modal fade s-dash-modal" role="dialog" style="margin-top:100px;">
    <div class="modal-dialog">
        <div class="modal-content" id="dbConnection_mask">
            <form action="" method="post" id="dbConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">DataBase Connection</h4>
                    <div id="dbConnection_loder" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Database</label>
                                <input id="dbvendorInput" name="DatabaseVendor" type="text" value="PGSQL" class="form-control Inputclear Vendor" readonly />
                            </div>
                            <div class="form-group">
                                <label>DataBase Name</label>
                                <input id="dbDatabaseNameInput" name="DatabaseName" type="text" class="form-control dbConnectionInput Inputclear" required />
                            </div>
                            <div class="form-group">
                                <label>Nick Name</label>
                                <input id="dbNickNameInput" name="NickName" type="text" class="form-control dbConnectionInput Inputclear" required />
                            </div>
                            <div class="form-group">
                                <label>Enable SSL</label>
                                <input id="dbIsSSLInput" name="IsSSL" type="checkbox" style="margin-left: 15px;width: 16px;height: 16px;" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label>User Name</label>
                            <div class="col-md-12 pd-0">
                                <table class="table table-bordered table-form">
                                    <thead>
                                        <tr>
                                            <th style="width:130px;"></th>
                                            <th>User Name</th>
                                            <th>Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Admin</td>
                                            <td><input id="dbUserNameInput" name="UserName" type="text" class="form-control dbConnectionInput Inputclear" required /></td>
                                            <td>
                                                <div class="input-group">
                                                    <input id="dbPasswordInput" autocomplete="new-password" name="Password" class="form-control Password dbConnectionInput Inputclear" type="password" required />
                                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="advanced-tr" style="display:none">
                                            <td>Read-Write User</td>
                                            <td><input name="ReadWriteUserName" type="text" class="form-control dbConnectionInput Inputclear" /></td>
                                            <td>
                                                <div class="input-group">
                                                    <input autocomplete="new-password" name="ReadWritePassword" class="form-control Password dbConnectionInput Inputclear" type="password" />
                                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="advanced-tr" style="display:none">
                                            <td>ReadOnly User</td>
                                            <td><input name="ReadOnlyUserName" type="text" class="form-control dbConnectionInput Inputclear" /></td>
                                            <td>
                                                <div class="input-group">
                                                    <input autocomplete="new-password" name="ReadOnlyPassword" class="form-control Password Inputclear" type="password" />
                                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="uname-advanced-sec form-inline">
                                    <label style="margin-right:5px;">Advanced</label>
                                    <label class="switch">
                                        <input type="checkbox" id="UserNamesAdvanced">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Server Address</label>
                                <input id="dbServerInput" name="Server" type="text" class="form-control Inputclear" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Port</label>
                                <input id="dbPortInput" name="Port" pattern="^[0-9]*$" type="text" class="form-control Inputclear" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>TimeOut</label>
                                <input id="dbTimeoutInput" name="Timeout" pattern="^[0-9]*$" type="text" class="form-control Inputclear" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <input type="hidden" class="Inputclear IntConfId" id="IntConfId" name="Id" value="0" />
                        <input type="hidden" class="" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary saveConnection" style="display:none">Save</button>
                    <a whichform="dbConnectionSubmit" url="DataDbTest" class="ebbtn eb_btnblue testConnection">Test Connection</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="filesDbConnectEdit" class="modal fade s-dash-modal input-clear" role="dialog" style="margin-top: 100px;" display: block;>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="" method="post" id="filesDbConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mongo Files Db Connection</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <input name="DatabaseVendor" type="hidden" value="MongoDB" class="form-control Vendor" readonly />
                            @* <input name="MongoId" type="hidden" />*@
                            <div class="form-group">
                                <label>Nick Name</label>
                                <input id="FilesInputNickname" name="NickName" type="text" class=" Inputclear form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Enable SSL</label>
                                <input id="FilesInputIsSSL" class=" Inputclear" name="IsSSL" type="checkbox" style="margin-left: 15px;width: 16px;height: 16px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>User Name</label>
                                <div class="col-md-12 pd-0">
                                    <table class="table table-bordered table-form">
                                        <thead>
                                            <tr>
                                                <th style="width:130px;"></th>
                                                <th>User Name</th>
                                                <th>Password</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Admin</td>
                                                <td><input id="FilesInputUsername" name="UserName" type="text" class="Inputclear form-control" required /></td>
                                                <td>
                                                    <div class="input-group">
                                                        <input id="FilesInputPassword" autocomplete="new-password" name="Password" class="Inputclear form-control Password" type="password" required />
                                                        <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                                            <i class="fa fa-eye " aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Host</label>
                                <input id="FilesInputServer" name="Server" type="text" class="form-control Inputclear" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Port</label>
                                <input id="FilesInputPort" name="Port" pattern="^[0-9]*$" type="text" class="form-control Inputclear" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                    <input type="hidden" class="Inputclear IntConfId" id="FilesInputIntConfId" name="Id" value="0" />
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary MongoConnection">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="TwilioConnectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="twilio_mask">
            <form id="TwilioConnectionSubmit" method="post" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Twilio Accounts</h4>
                    <div id="twilioConnection_loder" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <input name="DatabaseVendor" value="Twilio" class="form-control Vendor" type="hidden" readonly />
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Username</label>
                                <input id="TwilioInputUsername" name="UserName" class="form-control Inputclear" type="text" required />
                            </div>
                            <div class="form-group">
                                <label>Nick Name</label>
                                <input id="TwilioInputNickname" name="NickName" class="form-control Inputclear" type="text" required />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group ">
                                <label>Password</label>
                                <div class="input-group">
                                    <input id="TwilioInputPassword" autocomplete="new-password" name="Password" class="form-control Password Inputclear" type="password" required />
                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Sender Number</label>
                                <input id="TwilioInputFrom" name="From" class="form-control Inputclear" type="text" required />
                            </div>
                            <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                            <input type="hidden" class="Inputclear IntConfId" id="TwilioInputIntConfId" name="Id" value="0" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="ExpertTextingConnectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="expert_mask">
            <form id="ExpertConnectionSubmit" method="post" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Expert Accounts</h4>
                    <div id="expertConnection_loder" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <input name="DatabaseVendor" value="ExpertTexting" class="form-control Vendor " type="hidden" readonly />
                            <div class="form-group">
                                <label>Sender Number</label>
                                <input id="ExpertInputFrom" name="From" class="form-control Inputclear" type="text" required />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Nick Name</label>
                                <input id="ExpertInputNickname" name="NickName" class="form-control Inputclear" type="text" required />
                            </div>
                            <div class="form-group">
                                <label>Api Key</label>
                                <input id="ExpertInputApi" name="ApiKey" class="form-control Inputclear" type="text" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Username</label>
                                <input id="ExpertInputUsername" name="UserName" class="form-control Inputclear" type="text" required />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Password</label>
                                <div class="input-group">
                                    <input id="ExpertInputPassword" autocomplete="new-password" name="Password" class="form-control Password Inputclear" type="password" required />
                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                    <input type="hidden" class="Inputclear IntConfId" id="ExpertInputIntConfId" name="Id" value="0" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="cldnry_conEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cloudnary_mask">
            <form action="" method="post" id="CloudnaryConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cloudnary Connection</h4>
                    <div id="cloudnary_loader" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <input name="DatabaseVendor" value="Cloudinary" class="form-control Vendor" type="hidden" readonly />
                                <label>Cloud</label>
                                <input id="CloudnaryInputCloud" type="text" name="Cloud" class="form-control Inputclear" value="" required />
                            </div>
                            <div class="form-group">
                                <label>Nick Name</label>
                                <input id="CloudnaryInputNickname" type="text" name="NickName" class="form-control Inputclear" value="" required />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Api Key</label>
                                <input id="CloudnaryInputApikey" type="text" name="ApiKey" class="form-control Inputclear" value="" required />
                            </div>
                            <div class="form-group">
                                <label>Api Secret</label>
                                <input id="CloudnaryInputApisecret" type="text" name="ApiSecret" class="form-control Inputclear" value="" required />
                            </div>
                            <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                            <input type="hidden" class="Inputclear IntConfId" id="CloudnaryInputIntConfId" name="Id" value="0" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @*<a whichform="CloudnaryConnectionSubmit" url="FilesDbTest" class="btn btn-primary testConnection">Test Connection</a>*@
                </div>
            </form>
        </div>
    </div>
</div>

<div id="ftp_connectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="ftp_mask">
            <form action="" method="post" id="FtpConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FTP Connection</h4>
                    <div id="ftp_loader" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" name="Username" class="form-control Inputclear" value="" required />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-group">
                            <input autocomplete="new-password" name="Password" onload="this.value=''" class="form-control Password Inputclear" type="password" required />
                            <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                <i class="fa fa-eye " aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Host</label>
                        <input type="text" name="Host" class="form-control Inputclear" value="" required />
                    </div>
                    <div class="form-group">
                        <label>NickName</label>
                        <input type="text" name="NickName" class="form-control Inputclear" value="" required />
                    </div>
                    <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @*<a whichform="CloudnaryConnectionSubmit" url="FilesDbTest" class="btn btn-primary testConnection">Test Connection</a>*@
                </div>
            </form>
        </div>
    </div>
</div>

<div id="EmailconnectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="email_mask">
            <form action="" method="post" id="emailConnectionSubmit">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email Connection</h4>
                    <div id="email_loader" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <input name="DatabaseVendor" value="SMTP" class="form-control Vendor" type="hidden" readonly />
                                    <label>Provider</label>
                                    <input id="EmailInputEmailvendor" type="text" name="Emailvendor" class="form-control" value="Gmail" required />
                                </div>
                                <div class="form-group">
                                    <label style="margin-right:15px;margin-bottom:0;">Enable SSL</label>
                                    <input type="checkbox" class="Inputclear" name="IsSSL" value="false" />
                                </div>
                                <div class="form-group">
                                    <label>NickName</label>
                                    <input id="EmailInputNickname" type="text" name="NickName" class="form-control Inputclear" value="" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label>Login</label>
                            <div class="col-md-12 pd-0">
                                <table class="table table-bordered table-form">
                                    <thead>
                                        <tr>
                                            <th style="width:130px;"></th>
                                            <th>Email Address</th>
                                            <th>Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Admin</td>
                                            <td><input id="EmailInputEmail" type="text" name="Email" class="form-control Inputclear" value="" required /></td>
                                            <td>
                                                <div class="input-group">
                                                    <input id="EmailInputPassword" autocomplete="new-password" name="Password" class="Inputclear form-control Password" type="password" required />
                                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Host</label>
                                <input id="EmailInputSMTP" type="text" name="SMTP" class=" Inputclear form-control" value="" required />
                            </div>
                        </div>
                        <div class="col-md-5">

                            <div class="form-group">
                                <label>Port</label>
                                <input id="EmailInputPort" type="text" name="Port" class="form-control Inputclear" value="" required />
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="SolnId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                <input type="hidden" class="Inputclear IntConfId" id="SMTPInputIntConfId" name="Id" value="0" />

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @*<a whichform="CloudnaryConnectionSubmit" url="FilesDbTest" class="btn btn-primary testConnection">Test Connection</a>*@
                </div>
            </form>
        </div>
    </div>
</div>
<div class="eb-cropie" id="cropsection"></div>
@section JsCode{
    <script>
        let Connection = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Connections));
	    var sdb = new SolutionDashBoard(Connection, '@ViewBag.Connections.SolutionInfo.EsolutionId');
	    $("#no_user").change(function (e) {
		    $("#user_countForm").val(e.target.value);
        });
    </script>
}

