@{
    @using System;
    @using Newtonsoft.Json;
    @using ExpressBase.Common;
    @using ExpressBase.Objects.ServiceStack_Artifacts;
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
<script src="~/js/EbOnBoarding/SolutionDashBoard.js" type="text/javascript"></script>
@{
    string proto = string.Empty;

    if (ViewBag.Env == "Development")
    {
        proto = "http://";
    }
    else if (ViewBag.Env == "Staging")
    {
        proto = "https://";
    }
    else if (ViewBag.Env == "Production")
    {
        proto = "https://";
    }


    string sso_dev = proto + ViewBag.Connections.SolutionInfo.EsolutionId + "-dev." + ViewBag.Domain + "/Ext/SwitchContext";
    string sso_user = proto + ViewBag.Connections.SolutionInfo.EsolutionId + "." + ViewBag.Domain + "/Ext/SwitchContext";

    //string dbdefault = /*(EbConnections.DataDbConnection.IsDefault) ? "(Default)" :*/ "";
    //string filedefault = "";
    //if (EbConnections.FilesDbConnection != null)
    //{
    //    filedefault = (EbConnections.FilesDbConnection.IsDefault)? "(Default)" : "";
    //}
}
<script>
    var cm = new EbHeader().setName("Solution Configuration");
</script>

<style>

    /*.cloudnaryVendorImage{
        margin-left: 24px;
        margin-top: 23px;
    }*/
    .POSTGRESVendorImage {
        margin-left: 43px;
    }

    .EmailVendorImage {
        margin-left: 50px;
        margin-top: 4px;
    }
</style>
<div class="row s-dash-container">
    <div class="pd-0 tdasboard-sidebar tenant_sidebar">
        <div class="t-container">
            <ul class="list-group menuwrapper_ul_outer">
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">highlight</span>
                        <span class="t__sidebar_text">Solutions</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">attach_money</span>
                        <span class="t__sidebar_text">Billing</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/AppStore" target="_blank">
                        <span class="material-icons t__sidebar_icon">store</span>
                        <span class="t__sidebar_text">App Store</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">chrome_reader_mode</span>
                        <span class="t__sidebar_text">Wiki</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">contact_support</span>
                        <span class="t__sidebar_text">Support</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc">
            <div class="col-md-9 pd-0">
                <h4 class="mr-t-0 mr-0">@ViewBag.Connections.SolutionInfo.SolutionName</h4>
                <p class="small mr-0">@ViewBag.Connections.SolutionInfo.EsolutionId Created on @ViewBag.Connections.SolutionInfo.DateCreated</p>
                <p class="small mr-0">
                    @ViewBag.Connections.SolutionInfo.Description
                </p>
            </div>
            <div class="col-md-3 pd-0 form-inline">
                <form method="post" action="@sso_dev.Replace(" myaccount.", "")" target="_blank">
                    <input type="hidden" name="Rtoken" value="@ViewBag.rToken" />
                    <input type="hidden" name="Btoken" value="@ViewBag.bToken" />
                    <input type="hidden" name="WhichConsole" value="dc" />
                    <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr" type="submit" sid="@ViewBag.Connections.SolutionInfo.EsolutionId" wc="dc">
                        <i class="fa fa-wrench"></i> Dev Home
                    </button>
                </form>
                <form method="post" action="@sso_user.Replace(" myaccount.", "")" target="_blank">
                    <input type="hidden" name="Rtoken" value="@ViewBag.rToken" />
                    <input type="hidden" name="Btoken" value="@ViewBag.bToken" />
                    <input type="hidden" name="WhichConsole" value="uc" />
                    <button class="ebbtn eb_btngreen eb_btn-sm pull-right" sid="@ViewBag.Connections.SolutionInfo.EsolutionId" wc="uc">
                        <i class="fa fa-user-o" aria-hidden="true"></i> User Home
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#home" role="tab">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Integrations" role="tab">Connection Manager</a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" data-toggle="tab" id="MyIntegration" href="#MyIntegrations" role="tab">My Inegrations</a>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#team" role="tab">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#billing" role="tab">Billing</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="form-group">
                        <div class="col-md-4 pd-0">
                            <label>Upload Logo</label>
                            <button id="log-upload-btn" class="btn btn-default log-upload-b">Change Logo <i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-md-8 pd-0 logo_img_cont">
                            <img src="" class="img-responsive pull-right" id="oB_logo-prev" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="Integrations" role="tabpanel">
                    <div class="col-md-12 pd-0">
                        <ul class="nav nav-tabs chormer-effect" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#Integration" role="tab">Integrations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" id="MyIntegration" href="#MyIntegrations" role="tab">My Inegrations</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="Integration" role="tabpanel">
                                <div class="eb_connection_wrapper flex-container">
                                    <div class="connection_wrap_outer DisplayAllModal" id="Postgres" data-whatever="PGSQL">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100" id="DbConnection_config">
                                                <div class="db_vendorimg ">
                                                    <img class="img-responsive" src="~/images/POSTGRES.png" align="middle" style="width:75%" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mysql" class="connection_wrap_outer DisplayAllModal" data-whatever="MYSQL">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100" id="DbConnection_config">
                                                <div class="db_vendorimg">
                                                    <img class="img-responsive" src="~/images/mysql.png" align="middle" style="width:70%" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="oracle" class="connection_wrap_outer DisplayAllModal" data-whatever="ORACLE">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100" id="DbConnection_config">
                                                <div class="db_vendorimg">
                                                    <img class="img-responsive" src="~/images/oracle.png" style="width:70%" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mssql" class="connection_wrap_outer DisplayAllModal" data-whatever="MSSQL">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100" id="DbConnection_config">
                                                <div class="db_vendorimg">
                                                    <img class="img-responsive" src="~/images/sqlserver.png" style="width:62%" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mongo" class="connection_wrap_outer DisplayAllModal" data-whatever="MongoDB">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100" id="FilesConnection_config">
                                                <div class="db_vendorimg">
                                                    <img class="img-responsive" src="~/images/MongodB.png" style="width:70%" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="cloudinary" class="connection_wrap_outer DisplayAllModal" data-whatever="Cloudinary">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100" id="FilesConnection_config">
                                                <div class="db_vendorimg">
                                                    <img class="img-responsive" src="~/images/cloudnary.png" style="width:75%" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="SMTP" class="connection_wrap_outer DisplayAllModal" data-whatever="SMTP">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100" id="EmailConnection_config">
                                                <div class="db_vendorimg ">
                                                    <img class="img-responsive" src="~/images/svg/email.svg" style="width:47%" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="twilio" class="connection_wrap_outer DisplayAllModal" data-whatever="Twilio">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100" id="TwilioConnection_config">
                                                <div class="db_vendorimg">
                                                    <img class="img-responsive" src="~/images/twilio.png" style="width:95%" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="expert" class="connection_wrap_outer DisplayAllModal" data-whatever="ExpertTexting">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100" id="ExpertTextingConnection_config">
                                                <div class="db_vendorimg">
                                                    <img class="img-responsive" src="~/images/expert texting.png" style="width:85%" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="MyIntegrations" role="tabpanel">
                                <div class="eb_connection_wrapper flex-container">
                                    <div class="tab">
                                        <button class="tablinks VerticalTabContent" datatype="Object" id="defaultOpen">Object</button>
                                        <button class="tablinks VerticalTabContent" datatype="Data">Data</button>
                                        <button class="tablinks VerticalTabContent" datatype="File">File</button>
                                        <button class="tablinks VerticalTabContent" datatype="Logs">Logs</button>
                                        <button class="tablinks VerticalTabContent" datatype="SMTP">SMTP</button>
                                        <button class="tablinks VerticalTabContent" datatype="SMS">SMS</button>
                                        <button class="tablinks VerticalTabContent" datatype="Cloudinary">Cloudinary</button>
                                    </div>

                                    <div id="Object_Call" class="tabcontent">
                                        <h3>Objects</h3>
                                        @{ if (ViewBag.Connections.Integrations.ContainsKey("EbOBJECTS"))
                                            {
                                                var temp = ViewBag.Connections.Integrations["EbOBJECTS"];
                                                <div class=" integra-p-s-divider">
                                                    @for (var i = 0; i < temp.Count; i++)
                                                    {
                                                        @if (temp[i].Preference == "1")
                                                        {
                                                            <div class="input-group integra-divider">
                                                                <span class="input-group-addon">Primary  </span>
                                                                <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="@temp[i].NickName">
                                                                <div class="input-group-btn">
                                                                    <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="EbOBJECTS" pref="1" type="submit">
                                                                        <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class=" integra-p-s-divider">
                                                    <div class="input-group integra-divider">
                                                        <span class="input-group-addon">Primary  </span>
                                                        <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" value="">
                                                        <div class="input-group-btn">
                                                            <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="EbOBJECTS" pref="1" type="submit">
                                                                <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div id="Data_Call" class="tabcontent">
                                        <h3>Data</h3>
                                        @{ if (ViewBag.Connections.Integrations.ContainsKey("EbDATA"))
                                            {
                                                var temp = ViewBag.Connections.Integrations["EbDATA"];
                                                <div class=" integra-p-s-divider">
                                                    @for (var i = 0; i < temp.Count; i++)
                                                    {
                                                        @if (temp[i].Preference == "1")
                                                        {
                                                            <div class="input-group integra-divider">
                                                                <span class="input-group-addon">Primary  </span>
                                                                <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="@temp[i].NickName">
                                                                <div class="input-group-btn">
                                                                    <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="EbDATA" pref="1" type="submit">
                                                                        <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class=" integra-p-s-divider">
                                                    <div class="input-group integra-divider">
                                                        <span class="input-group-addon">Primary  </span>
                                                        <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="">
                                                        <div class="input-group-btn">
                                                            <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="EbDATA" pref="1" type="submit">
                                                                <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div id="File_Call" class="tabcontent">
                                        <h3>File</h3>
                                    </div>
                                    <div id="Logs_Call" class="tabcontent">
                                        <h3>Logs</h3>
                                        @{ if (ViewBag.Connections.Integrations.ContainsKey("EbLOGS"))
                                            {
                                                var temp = ViewBag.Connections.Integrations["EbLOGS"];
                                                <div class=" integra-p-s-divider">
                                                    @for (var i = 0; i < temp.Count; i++)
                                                    {
                                                        @if (temp[i].Preference == "1")
                                                        {
                                                            <div class="input-group integra-divider">
                                                                <span class="input-group-addon">Primary  </span>
                                                                <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="@temp[i].NickName">
                                                                <div class="input-group-btn">
                                                                    <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="EbLOGS" pref="1" type="submit">
                                                                        <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class=" integra-p-s-divider">
                                                    <div class="input-group integra-divider">
                                                        <span class="input-group-addon">Primary  </span>
                                                        <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" value="">
                                                        <div class="input-group-btn">
                                                            <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="EbLOGS" pref="1" type="submit">
                                                                <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div id="SMTP_Call" class="tabcontent">
                                        <h3>SMTP</h3>
                                        @{ if (ViewBag.Connections.Integrations.ContainsKey("SMTP"))
                                            {
                                                var temp = ViewBag.Connections.Integrations["SMTP"];
                                                <div class=" integra-p-s-divider">
                                                    @for (var i = 0; i < temp.Count; i++)
                                                    {
                                                        @if (temp[i].Preference == "1")
                                                        {
                                                            <div class="input-group integra-divider">
                                                                <span class="input-group-addon">Primary  </span>
                                                                <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="@temp[i].NickName">
                                                                <div class="input-group-btn">
                                                                    <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="SMTP" pref="1" type="submit">
                                                                        <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        }
                                                        else if (temp[i].Preferance == "2")
                                                        {
                                                            <div class="input-group  integra-divider">
                                                                <span class="input-group-addon">Secondary</span>
                                                                <input id="EbOBJECTS-Secondary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="@temp[i].NickName">
                                                                <div class="input-group-btn">
                                                                    <button class="ebbtn eb_btngreen eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="SMTP" pref="2" type="submit">
                                                                        <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="input-group integra-divider">
                                                    <span class="input-group-addon">Primary  </span>
                                                    <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="">
                                                    <div class="input-group-btn">
                                                        <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="SMTP" pref="1" type="submit">
                                                            <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="input-group  integra-divider">
                                                    <span class="input-group-addon">Secondary</span>
                                                    <input id="EbOBJECTS-Secondary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="">
                                                    <div class="input-group-btn">
                                                        <button class="ebbtn eb_btngreen eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="SMTP" pref="2" type="submit">
                                                            <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div id="SMS_Call" class="tabcontent">
                                        <h3>SMS</h3>
                                        @{ if (ViewBag.Connections.Integrations.ContainsKey("SMS"))
                                            {
                                                var temp = ViewBag.Connections.Integrations["SMS"];
                                                <div class=" integra-p-s-divider">
                                                    @for (var i = 0; i < temp.Count; i++)
                                                    {
                                                        @if (temp[i].Preference == "1")
                                                        {
                                                            <div class="input-group integra-divider">
                                                                <span class="input-group-addon">Primary  </span>
                                                                <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="@temp[i].NickName">
                                                                <div class="input-group-btn">
                                                                    <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="SMS" pref="1" type="submit">
                                                                        <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        }
                                                        else if (temp[i].Preferance == "2")
                                                        {
                                                            <div class="input-group  integra-divider">
                                                                <span class="input-group-addon">Secondary</span>
                                                                <input id="EbOBJECTS-Secondary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="@temp[i].NickName">
                                                                <div class="input-group-btn">
                                                                    <button class="ebbtn eb_btngreen eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="SMS" pref="2" type="submit">
                                                                        <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class=" integra-p-s-divider">
                                                    <div class="input-group integra-divider">
                                                        <span class="input-group-addon">Primary  </span>
                                                        <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="">
                                                        <div class="input-group-btn">
                                                            <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="SMS" pref="1" type="submit">
                                                                <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="input-group  integra-divider">
                                                        <span class="input-group-addon">Secondary</span>
                                                        <input id="EbOBJECTS-Secondary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="">
                                                        <div class="input-group-btn">
                                                            <button class="ebbtn eb_btngreen eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="SMS" pref="2" type="submit">
                                                                <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div id="Cloudinary_Call" class="tabcontent">
                                        <h3>Cloudinary</h3>
                                        @{ if (ViewBag.Connections.Integrations.ContainsKey("Cloudinary"))
                                            {
                                                var temp = ViewBag.Connections.Integrations["Cloudinary"];
                                                <div class=" integra-p-s-divider">
                                                    @for (var i = 0; i < temp.Count; i++)
                                                    {
                                                        @if (temp[i].Preference == "1")
                                                        {
                                                            <div class="input-group integra-divider">
                                                                <span class="input-group-addon">Primary  </span>
                                                                <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" readonly value="@temp[i].NickName">
                                                                <div class="input-group-btn">
                                                                    <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="Cloudinary" pref="1" type="submit">
                                                                        <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        }

                                                    }
                                                </div>
                                            }
                                            else
                                            {
                                                <div class=" integra-p-s-divider">
                                                    <div class="input-group integra-divider">
                                                        <span class="input-group-addon">Primary  </span>
                                                        <input id="EbOBJECTS-Primary" type="text" class="form-control" name="msg" placeholder="No Account Selected" value="">
                                                        <div class="input-group-btn">
                                                            <button class="ebbtn eb_btnorange eb_btn-sm pull-right btn_s_fr Inter_modal_list" data-type="Cloudinary" pref="1" type="submit">
                                                                <i class="fa fa-cog" aria-hidden="true"></i> Change
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="team" role="tabpanel">

                </div>
                <div class="tab-pane" id="billing" role="tabpanel">
                    <div class="billing_wrap">
                        <div class="head__">
                            <h2 class="mr-t-0">Payment methods</h2>
                            <p class="u-mb-5">
                                Please enter your preferred payment method below. You can use a credit card or prepay through PayPal.
                            </p>
                            <div class="form-group">
                                <label class="col-md-12 col-lg-12 pd-0">Total Users</label>
                                <div class="col-md-3 col-sm-3 col-lg-3 pd-0">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </span>
                                        <input type="number" class="form-control" id="no_user" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="s-dash-workplace">
                            <div class="s-dash-workplace-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    @*
                                        <li class="nav-item active">
                                            <a class="nav-link" data-toggle="tab" href="#creditpayment_tab" role="tab">
                                                Credit Card
                                            </a>
                                        </li>*@
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#paypalpayment_tab" role="tab"> PayPal</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    @*<div class="tab-pane active" id="creditpayment_tab" role="tabpanel">
                                            <div class="credit_info_head">
                                                <p class="col-md-10">
                                                    Card will be charged monthly for number of users. All major credit cards accepted.
                                                </p>
                                                <button class="ebbtn eb_btnblue col-md-2" onclick="$('.credit_info').toggle('fast');">Add Card</button>
                                            </div>
                                            <div class="credit_info">
                                                <form class="form-horizontal" method="post" action="/PayPal/CreditCardPayment">
                                                    <div class="form-group">
                                                        <label class="pay_label">Name On Card</label>
                                                        <input type="text" class="form-control" name="CardHolder" placeholder="" value="Amal K dev">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="pay_label">Card Number</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="CardNumber" placeholder="" value="1234567887654321">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-8 pd-0">
                                                            <label class="pay_label col-md-12 pd-0">Expiry</label>
                                                            <div class="col-md-6 pd-l-0">
                                                                <input type="text" class="form-control" name="ExpiryMonth" placeholder="MM" value="05">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" class="form-control" name="ExpiryYear" placeholder="YY" value="20">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label class="pay_label">CVV</label>
                                                            <input type="text" name="Cvv" class="form-control" value="613">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn paypal_btn">Subscribe</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>*@
                                    <div class="tab-pane active" id="paypalpayment_tab" role="tabpanel">
                                        <p>
                                            Subscribe using your paypal account.
                                        </p>
                                        <div class="col-md-12 col-lg-12 col-sm-12 pd-0">
                                            <form action="/PayPal/PayPalPayment" method="post">
                                                <input type="hidden" name="UserCount" id="user_countForm" />
                                                <input type="hidden" value="@ViewBag.Connections.SolutionInfo.EsolutionId" name="Sid" />
                                                <button type="submit" class="btn paypal_btn">PayPal</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="All_IntreationConfig" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1250px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="All_IntreationConfig_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body" style="min-height:525px">
                <div id="All_IntreationConfig_bodyflex" class="display-flex">
                </div>

            </div>
            @*<div id="All_IntreationConfig_footer" class="modal-footer">

                </div>*@
        </div>

    </div>
</div>

<div class="modal fade" id="All_IntreationList" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="All_Intreation_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
                <div id="All_Intreation_bodyflex" class="display-flex">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>




<div id="dbConnectionEdit" class="modal fade s-dash-modal" role="dialog" style="margin-top:100px;">
    <div class="modal-dialog">
        <div class="modal-content" id="dbConnection_mask">
            <form action="" method="post" id="dbConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">DataBase Connection</h4>
                    <div id="dbConnection_loder" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Database</label>
                                <input id="dbvendorInput" name="DatabaseVendor" type="text" value="PGSQL" class="form-control Inputclear" readonly />
                            </div>
                            <div class="form-group">
                                <label>DataBase Name</label>
                                <input id="dbDatabaseNameInput" name="DatabaseName" type="text" class="form-control dbConnectionInput Inputclear" required />
                            </div>
                            <div class="form-group">
                                <label>Nick Name</label>
                                <input id="dbNickNameInput" name="NickName" type="text" class="form-control dbConnectionInput Inputclear" required />
                            </div>
                            <div class="form-group">
                                <label>Enable SSL</label>
                                <input id="dbIsSSLInput" name="IsSSL" type="checkbox" style="margin-left: 15px;width: 16px;height: 16px;" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label>User Name</label>
                            <div class="col-md-12 pd-0">
                                <table class="table table-bordered table-form">
                                    <thead>
                                        <tr>
                                            <th style="width:130px;"></th>
                                            <th>User Name</th>
                                            <th>Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Admin</td>
                                            <td><input id="dbUserNameInput" name="UserName" type="text" class="form-control dbConnectionInput Inputclear" required /></td>
                                            <td>
                                                <div class="input-group">
                                                    <input id="dbPasswordInput" autocomplete="new-password" name="Password" class="form-control Password dbConnectionInput Inputclear" type="password" required />
                                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="advanced-tr" style="display:none">
                                            <td>Read-Write User</td>
                                            <td><input name="ReadWriteUserName" type="text" class="form-control dbConnectionInput Inputclear" /></td>
                                            <td>
                                                <div class="input-group">
                                                    <input autocomplete="new-password" name="ReadWritePassword" class="form-control Password dbConnectionInput Inputclear" type="password" />
                                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="advanced-tr" style="display:none">
                                            <td>ReadOnly User</td>
                                            <td><input name="ReadOnlyUserName" type="text" class="form-control dbConnectionInput Inputclear" /></td>
                                            <td>
                                                <div class="input-group">
                                                    <input autocomplete="new-password" name="ReadOnlyPassword" class="form-control Password Inputclear" type="password" />
                                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="uname-advanced-sec form-inline">
                                    <label style="margin-right:5px;">Advanced</label>
                                    <label class="switch">
                                        <input type="checkbox" id="UserNamesAdvanced">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Server Address</label>
                                <input id="dbServerInput" name="Server" type="text" class="form-control Inputclear" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Port</label>
                                <input id="dbPortInput" name="Port" pattern="^[0-9]*$" type="text" class="form-control Inputclear" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>TimeOut</label>
                                <input id="dbTimeoutInput" name="Timeout" pattern="^[0-9]*$" type="text" class="form-control Inputclear" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <input type="hidden" class="Inputclear" id="IntConfId" name="Id" value="0" />
                        <input type="hidden" class="" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary saveConnection" style="display:none">Save</button>
                    <a whichform="dbConnectionSubmit" url="DataDbTest" class="ebbtn eb_btnblue testConnection">Test Connection</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="filesDbConnectEdit" class="modal fade s-dash-modal input-clear" role="dialog" style="margin-top: 100px;" display: block;>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="" method="post" id="filesDbConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mongo Files Db Connection</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            @* <input name="MongoId" type="hidden" />*@
                            <div class="form-group">
                                <label>Nick Name</label>
                                <input id="FilesInputNickname" name="NickName" type="text" class=" Inputclear form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Enable SSL</label>
                                <input id="FilesInputIsSSL" class=" Inputclear" name="IsSSL" type="checkbox" style="margin-left: 15px;width: 16px;height: 16px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>User Name</label>
                                <div class="col-md-12 pd-0">
                                    <table class="table table-bordered table-form">
                                        <thead>
                                            <tr>
                                                <th style="width:130px;"></th>
                                                <th>User Name</th>
                                                <th>Password</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Admin</td>
                                                <td><input id="FilesInputUsername" name="UserName" type="text" class="Inputclear form-control" required /></td>
                                                <td>
                                                    <div class="input-group">
                                                        <input id="FilesInputPassword" autocomplete="new-password" name="Password" class="Inputclear form-control Password" type="password" required />
                                                        <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                                            <i class="fa fa-eye " aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Host</label>
                                <input id="FilesInputServer" name="Server" type="text" class="form-control Inputclear" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Port</label>
                                <input id="FilesInputPort" name="Port" pattern="^[0-9]*$" type="text" class="form-control Inputclear" required />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                    <input type="hidden" class="Inputclear IntConfId" id="FilesInputIntConfId" name="Id" value="0" />
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary MongoConnection">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="TwilioConnectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="twilio_mask">
            <form id="TwilioConnectionSubmit" method="post" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Twilio Accounts</h4>
                    <div id="twilioConnection_loder" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Username</label>
                                <input id="TwilioInputUsername" name="UserName" class="form-control Inputclear" type="text" required />
                            </div>
                            <div class="form-group">
                                <label>Nick Name</label>
                                <input id="TwilioInputNickname" name="NickName" class="form-control Inputclear" type="text" required />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group ">
                                <label>Password</label>
                                <div class="input-group">
                                    <input id="TwilioInputPassword" autocomplete="new-password" name="Password" class="form-control Password Inputclear" type="password" required />
                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Sender Number</label>
                                <input id="TwilioInputFrom" name="From" class="form-control Inputclear" type="text" required />
                            </div>
                            <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                            <input type="hidden" class="Inputclear IntConfId" id="TwilioInputIntConfId" name="Id" value="0" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="ExpertTextingConnectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="expert_mask">
            <form id="ExpertConnectionSubmit" method="post" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Expert Accounts</h4>
                    <div id="expertConnection_loder" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Sender Number</label>
                                <input id="ExpertInputFrom" name="From" class="form-control Inputclear" type="text" required />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Nick Name</label>
                                <input id="ExpertInputNickname" name="NickName" class="form-control Inputclear" type="text" required />
                            </div>
                            <div class="form-group">
                                <label>Api Key</label>
                                <input id="ExpertInputApi" name="ApiKey" class="form-control Inputclear" type="text" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Username</label>
                                <input id="ExpertInputUsername" name="UserName" class="form-control Inputclear" type="text" required />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Password</label>
                                <div class="input-group">
                                    <input id="ExpertInputPassword" autocomplete="new-password" name="Password" class="form-control Password Inputclear" type="password" required />
                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                    <input type="hidden" class="Inputclear IntConfId" id="ExpertInputIntConfId" name="Id" value="0" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="cldnry_conEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="cloudnary_mask">
            <form action="" method="post" id="CloudnaryConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cloudnary Connection</h4>
                    <div id="cloudnary_loader" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Cloud</label>
                                <input id="CloudnaryInputCloud" type="text" name="Cloud" class="form-control Inputclear" value="" required />
                            </div>
                            <div class="form-group">
                                <label>Nick Name</label>
                                <input id="CloudnaryInputNickname" type="text" name="NickName" class="form-control Inputclear" value="" required />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Api Key</label>
                                <input id="CloudnaryInputApikey" type="text" name="ApiKey" class="form-control Inputclear" value="" required />
                            </div>
                            <div class="form-group">
                                <label>Api Secret</label>
                                <input id="CloudnaryInputApisecret" type="text" name="ApiSecret" class="form-control Inputclear" value="" required />
                            </div>
                            <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                            <input type="hidden" class="Inputclear IntConfId" id="CloudnaryInputIntConfId" name="Id" value="0" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @*<a whichform="CloudnaryConnectionSubmit" url="FilesDbTest" class="btn btn-primary testConnection">Test Connection</a>*@
                </div>
            </form>
        </div>
    </div>
</div>

<div id="ftp_connectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="ftp_mask">
            <form action="" method="post" id="FtpConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FTP Connection</h4>
                    <div id="ftp_loader" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" name="Username" class="form-control Inputclear" value="" required />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-group">
                            <input autocomplete="new-password" name="Password" onload="this.value=''" class="form-control Password Inputclear" type="password" required />
                            <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                <i class="fa fa-eye " aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Host</label>
                        <input type="text" name="Host" class="form-control Inputclear" value="" required />
                    </div>
                    <div class="form-group">
                        <label>NickName</label>
                        <input type="text" name="NickName" class="form-control Inputclear" value="" required />
                    </div>
                    <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @*<a whichform="CloudnaryConnectionSubmit" url="FilesDbTest" class="btn btn-primary testConnection">Test Connection</a>*@
                </div>
            </form>
        </div>
    </div>
</div>

<div id="EmailconnectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="email_mask">
            <form action="" method="post" id="emailConnectionSubmit">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email Connection</h4>
                    <div id="email_loader" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Provider</label>
                                    <input id="EmailInputEmailvendor" type="text" name="Emailvendor" class="form-control Inputclear" value="" required />
                                </div>
                                <div class="form-group">
                                    <label style="margin-right:15px;margin-bottom:0;">Enable SSL</label>
                                    <input type="checkbox" class="Inputclear" name="IsSSL" value="false" />
                                </div>
                                <div class="form-group">
                                    <label>NickName</label>
                                    <input id="EmailInputNickname" type="text" name="NickName" class="form-control Inputclear" value="" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label>Login</label>
                            <div class="col-md-12 pd-0">
                                <table class="table table-bordered table-form">
                                    <thead>
                                        <tr>
                                            <th style="width:130px;"></th>
                                            <th>Email Address</th>
                                            <th>Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Admin</td>
                                            <td><input id="EmailInputEmail" type="text" name="Email" class="form-control Inputclear" value="" required /></td>
                                            <td>
                                                <div class="input-group">
                                                    <input id="EmailInputPassword" autocomplete="new-password" name="Password" class="Inputclear form-control Password" type="password" required />
                                                    <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Host</label>
                                <input id="EmailInputSMTP" type="text" name="SMTP" class=" Inputclear form-control" value="" required />
                            </div>
                        </div>
                        <div class="col-md-5">

                            <div class="form-group">
                                <label>Port</label>
                                <input id="EmailInputPort" type="text" name="Port" class="form-control Inputclear" value="" required />
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="SolnId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                <input type="hidden" class="Inputclear IntConfId" id="SMTPInputIntConfId" name="Id" value="0" />

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @*<a whichform="CloudnaryConnectionSubmit" url="FilesDbTest" class="btn btn-primary testConnection">Test Connection</a>*@
                </div>
            </form>
        </div>
    </div>
</div>



<div class="eb-cropie" id="cropsection"></div>
<script>
    let Connection = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Connections));
	var sdb = new SolutionDashBoard(Connection, '@ViewBag.Connections.SolutionInfo.EsolutionId');
	$("#no_user").change(function (e) {
		$("#user_countForm").val(e.target.value);
    });
</script>
