@{
    @using System;
    @using Newtonsoft.Json;
    @using ExpressBase.Common;
    @using ExpressBase.Objects.ServiceStack_Artifacts;
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}

@section JavaScript{
    <script src="~/js/EbDashBoards/SolutionDashBoard.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" />
    <script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
}
@{
    string proto = string.Empty;

    if (ViewBag.Env == "Development")
    {
        proto = "http://";
    }
    else if (ViewBag.Env == "Staging")
    {
        proto = "https://";
    }
    else if (ViewBag.Env == "Production")
    {
        proto = "https://";
    }
    string sso_dev = proto + ViewBag.Connections.SolutionInfo.EsolutionId + "-dev." + ViewBag.Domain + "/Ext/SwitchContext";
    string sso_user = proto + ViewBag.Connections.SolutionInfo.EsolutionId + "." + ViewBag.Domain + "/Ext/SwitchContext";
    //string dbdefault = /*(EbConnections.DataDbConnection.IsDefault) ? "(Default)" :*/ "";
    //string filedefault = "";
    //if (EbConnections.FilesDbConnection != null)
    //{
    //    filedefault = (EbConnections.FilesDbConnection.IsDefault)? "(Default)" : "";
    //}
    Dictionary<string, string>
    Image_url = new Dictionary<string, string>
        ();
    Image_url.Add("PGSQL", "<img class='img-responsive' src='../images/POSTGRES.png' align='middle' style='height:45px' />");
    Image_url.Add("MSSQL", "<img class='img-responsive' src='../images/sqlserver.png' align='middle' style='height: 50px;' />");
    Image_url.Add("MYSQL", "<img class='img-responsive' src='../images/mysql.png' align='middle' style='height:35px' />");
    Image_url.Add("ORACLE", "<img class='img-responsive' src='../images/oracle.png' align='middle' style='height: 50px;' />");
    Image_url.Add("MongoDB", "<img class='img-responsive' src='../images/MongodB.png' align='middle' style='height:40px' />");
    Image_url.Add("Cloudinary", "<img class='img-responsive' src='../images/cloudnary.png' align='middle' style='height: 17px;' />");
    Image_url.Add("ExpertTexting", "<img class='img-responsive' src='../images/expert texting.png' align='middle' style='height:26px' />");
    Image_url.Add("Twilio", "<img class='img-responsive' src='../images/twilio.png' align='middle' style='height: 38px;' />");
    Image_url.Add("SMTP", "<img class='img-responsive' src='../images/svg/email.svg' align='middle' style='height: 36px;' />");

    string Logourl = "/images/logo/" + ViewBag.cid + ".png";
    <script>
        const sid = '@ViewBag.cid';
    </script>
}
<script>
    var cm = new EbHeader().setName("Solution Settings");
</script>
<style>
    .eb-sdash-longdivcontainer .toggle {
        width: 128px !important;
    }
</style>
<div class="row s-dash-container h-100">
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc border-style-none">
            <div class="col-md-9 col-lg-9 col-xs-12 pd-0">
                <h4 class="mr-t-0 mr-0">@ViewBag.Connections.SolutionInfo.SolutionName</h4>
                <p class="small mr-t-10 mr-b-0">Created on @ViewBag.Connections.SolutionInfo.DateCreated</p>
                <p class="small mr-0">
                    @ViewBag.Connections.SolutionInfo.Description
                </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xs-12 pd-0 form-inline s-dash-btnwraper">
                <form method="post" action="@sso_dev.Replace(" myaccount.", "" )" target="_blank">
                    <input type="hidden" name="Rtoken" value="@ViewBag.rToken" />
                    <input type="hidden" name="Btoken" value="@ViewBag.bToken" />
                    <input type="hidden" name="WhichConsole" value="dc" />
                    <button class="ebbtn eb_btnwhite eb_btn-sm pull-right btn_s_fr" type="submit" sid="@ViewBag.Connections.SolutionInfo.EsolutionId" wc="dc">
                        <i class="fa fa-wrench"></i> Dev Login
                    </button>
                </form>
                <form method="post" action="@sso_user.Replace(" myaccount.", "" )" target="_blank">
                    <input type="hidden" name="Rtoken" value="@ViewBag.rToken" />
                    <input type="hidden" name="Btoken" value="@ViewBag.bToken" />
                    <input type="hidden" name="WhichConsole" value="uc" />
                    <button class="ebbtn eb_btnblue eb_btn-sm pull-right" sid="@ViewBag.Connections.SolutionInfo.EsolutionId" wc="uc">
                        <i class="fa fa-user-o" aria-hidden="true"></i> User Login
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 pd-0 s-dash-workplace-tabs">
            <ul class="nav nav-tabs eb-styledTab" role="tablist">
                <li class="nav-item active">
                    <a id="IntegrationsCall" class="nav-link" data-toggle="tab" href="#Integrations" role="tab">
                        <i class="fa fa-plug"></i>
                        Connection Manager
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#team" role="tab">
                        <i class="fa fa-users"></i> Team
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#billing" role="tab">
                        <i class="fa fa-usd"></i> Billing
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#home" role="tab">
                        <i class="fa fa-home"></i>
                        General
                    </a>
                </li>
            </ul>
            <div class="tab-content" style="margin-bottom:0px;">
                <div class="tab-pane active" id="Integrations" role="tabpanel">
                    <div class="col-md-12 pd-0">
                        <ul class="nav nav-tabs tab-inside-tab chormer-effect" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" data-toggle="tab" href="#Integration" role="tab">
                                    <i class="fa fa-plus-square"></i> New Connections
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" id="MyIntegration" href="#MyIntegrations" role="tab">
                                    <i class="fa fa-list"></i> My Connections
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" style="margin-bottom:0px; padding-bottom:0px">
                            <div class="tab-pane active" id="Integration" role="tabpanel">
                                <div class="eb_connection_wrapper flex-container">
                                    <div class="connection_wrap_outer   db-type-set" data-toggle="modal" data-target="#dbConnectionEdit" id="Postgres" data-whatever="PGSQL">
                                        <div class="connection_wrap w-100 ">
                                            <div class="connection_wrap_header w-100 image-hover" id="DbConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/POSTGRES.png" align="middle" style="width:63%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mysql" class="connection_wrap_outer  db-type-set" data-toggle="modal" data-target="#dbConnectionEdit" data-whatever="MYSQL">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="DbConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/mysql.png" align="middle" style="width:70%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mongo" class="connection_wrap_outer" data-toggle="modal" data-target="#filesDbConnectEdit" data-whatever="MongoDB">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="FilesConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/MongodB.png" style="width:50%; margin:auto;" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="cloudinary" class="connection_wrap_outer" data-toggle="modal" data-target="#cldnry_conEdit" data-whatever="Cloudinary">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="FilesConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/cloudnary.png" style="width:75%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="SMTP" class="connection_wrap_outer" data-toggle="modal" data-target="#EmailconnectionEdit" data-whatever="SMTP">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="EmailConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/svg/email.svg" style="width:47%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="twilio" class="connection_wrap_outer" data-toggle="modal" data-target="#TwilioConnectionEdit" data-whatever="Twilio">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="TwilioConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/Twilio.png" style="width:95%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="expert" class="connection_wrap_outer" data-toggle="modal" data-target="#ExpertTextingConnectionEdit" data-whatever="ExpertTexting">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="ExpertTextingConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/Expert Texting.png" style="width:85%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="maps" class="connection_wrap_outer" data-toggle="modal" data-target="#MapConnectionEdit" data-whatever="Maps">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="MapsConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/maps-google.png" style="width:100%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="sentgrid" class="connection_wrap_outer" data-toggle="modal" data-target="#SentGridConnectionEdit" data-whatever="SendGrid">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="sentgridConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/SendGrid.png" style="width:100%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="dropbox" class="connection_wrap_outer" data-toggle="modal" data-target="#DropBoxConnectionEdit" data-whatever="DropBox">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="dropboxConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/Dropbox-logo.png" style="width:100%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="awss3" class="connection_wrap_outer" data-toggle="modal" data-target="#AWSS3ConnectionEdit" data-whatever="AWSS3">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="AWSS3Connection_config">
                                                <img class="img-responsive image-vender" src="~/images/amazon-s3.png" style="width:100%" />
                                                <div class="image-add">
                                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="googledrive" class="connection_wrap_outer" data-toggle="modal" @*data-target="#GoogleDriveConnectionEdit" *@ data-whatever="GoogleDrive">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="googledriveConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/Google-Drive-Logo.png" style="width:80%" />
                                                <div class="image-add">
                                                    <div class="text fa-coming-soon">Coming Soon</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="oracle" class="connection_wrap_outer  db-type-set" data-toggle="modal" @*data-target="#dbConnectionEdit" *@ data-whatever="ORACLE">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="DbConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/oracle.png" style="width:70%" />
                                                <div class="image-add">
                                                    <div class="text fa-coming-soon">Coming Soon</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="mssql" class="connection_wrap_outer  db-type-set" data-toggle="modal" @*data-target="#dbConnectionEdit" *@ data-whatever="MSSQL">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="DbConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/sqlserver.png" style="width:62%" />
                                                <div class="image-add">
                                                    <div class="text fa-coming-soon">Coming Soon</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="slack" class="connection_wrap_outer" data-toggle="modal" data-target="#" data-whatever="">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="slackConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/slack.png" style="width:100%" />
                                                <div class="image-add">
                                                    <div class="text fa-coming-soon">Coming Soon</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="whatsapp" class="connection_wrap_outer" data-toggle="modal" data-target="#" data-whatever="">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="whatsappConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/WhatsApp_Logo.png" style="width:50%" />
                                                <div class="image-add">
                                                    <div class="text fa-coming-soon">Coming Soon</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="facebook" class="connection_wrap_outer" data-toggle="modal" data-target="#" data-whatever="">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="facebookConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/fb_logo.png" style="width:50%" />
                                                <div class="image-add">
                                                    <div class="text fa-coming-soon">Coming Soon</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="googleanalitics" class="connection_wrap_outer" data-toggle="modal" data-target="#" data-whatever="">
                                        <div class="connection_wrap w-100">
                                            <div class="connection_wrap_header w-100 image-hover" id="MapsConnection_config">
                                                <img class="img-responsive image-vender" src="~/images/google-analytics-logo.png" style="width:100%" />
                                                <div class="image-add">
                                                    <div class="text fa-coming-soon">Coming Soon</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="MyIntegrations" role="tabpanel">
                                <div class="flex-container">
                                    <div class="panel-group" id="ALL">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title myintegration-collapse-title">
                                                    <a id="Integration_conf_all" data-toggle="collapse" data-parent="#MyIntegrations" href="#All">
                                                        All
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="All" class="panel-collapse collapse in">
                                                <div id="integration_config_all" class="panel-body">

                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="Integration_data" data-toggle="collapse" data-parent="#MyIntegrations" href="#EbDATA">
                                                        Data Store
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="EbDATA" class="panel-collapse collapse">
                                                <div id="EbDATA-All" class="panel-body">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="Integration_files" data-toggle="collapse" data-parent="#MyIntegrations" href="#EbFILES">
                                                        File Store
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="EbFILES" class="panel-collapse collapse">
                                                <div id="EbFILES-All" class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="Integration_SMTP" data-toggle="collapse" data-parent="#MyIntegrations" href="#SMTP_call">
                                                        Email
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="SMTP_call" class="panel-collapse collapse">
                                                <div id="SMTP-All" class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="Integration_cloudinary" data-toggle="collapse" data-parent="#MyIntegrations" href="#Cloudinary">
                                                        Image Processing
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="Cloudinary" class="panel-collapse collapse">
                                                <div id="Cloudinary-all" class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="Integration_sms" data-toggle="collapse" data-parent="#MyIntegrations" href="#SMS">
                                                        Message
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="SMS" class="panel-collapse collapse">
                                                <div id="SMS-all" class="panel-body">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="Integration_map" data-toggle="collapse" data-parent="#MyIntegrations" href="#MAP">
                                                        GOOGLE MAPS
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="MAP" class="panel-collapse collapse">
                                                <div id="MAP-all" class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="team" role="tabpanel">
                    <div class="eb-sdash-team-container flex-center">
                        <span class="">Coming soon</span>
                    </div>
                </div>
                <div class="tab-pane" id="billing" role="tabpanel">
                    @await Component.InvokeAsync("Stripe", new { sid = ViewBag.cid })
                </div>
                <div class="tab-pane" id="home" role="tabpanel">
                    <div class="eb-sdash-general-container flex-center">
                        @*<div class="eb-sdash-longdiv w-100" style="margin-bottom:20px;">
                            <div class="eb-sdash-upgradecont">
                                <div class="col-md-8">
                                    <p>Change your solution info</p>
                                </div>
                                <div class="col-md-4">
                                    <button class="ebbtn eb_btnblue pull-right">Edit Solution</button>
                                </div>
                            </div>
                        </div>*@
                        <div class="eb-sdash-longdiv" style="margin-bottom:20px;">
                            <div class="eb-sdash-longdivhead">
                                <label>Solution Logo</label>
                            </div>
                            <div class="eb-sdash-longdivcontainer">
                                <div class="left-sec" style="display:flex;justify-content:center;min-width:25%;">
                                    <img src="~/images/your_company_logo.png" data-src=@Logourl class="Eb_Image" style="max-width:200px;align-self:center;" />
                                </div>
                                <div class="right-sec">
                                    <p>
                                        Select the logo to represent the business for which this solution is being
                                        built/managed. If your business has multiple branches and each branch is having
                                        a different logo, you have the option to configure it in the “Locations” section.
                                    </p>
                                    <button id="log-upload-btn" class="btn eb_btn-sm btn-success eb_btngreen log-upload-b">Change Logo <i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="eb-sdash-longdiv">
                            <div class="eb-sdash-longdivhead">
                                <label>Object Versioning</label>
                            </div>
                            <div class="eb-sdash-longdivcontainer">
                                <div class="left-sec">
                                    <p>
                                        An Invoice Form, can have two versions, pre-VAT & post-VAT, or a PDF report
                                        with two different ways of calculating taxable amount.

                                        By default, versioning of objects is switched off. Switch it on, only
                                        if you need to manage multiple versions for objects. By switching on,
                                        you agree that you are doing it deliberately, and you understand the
                                        complexity of managing multiple versions.

                                        We recommend keeping versioning switched off, and only switch it on,
                                        when you have a real need to have two or more different versions of
                                        the same object.
                                    </p>
                                </div>
                                <div class="right-sec" style="display:flex;justify-content:center;min-width:25%;">
                                    <div class="uname-advanced-sec">
                                        @*<label>Switch Versioning</label>*@
                                        @*<label class="switch">
                                                <input type="checkbox" id="VersioningSwitch" style="display:inline">
                                                <span class="slider round"></span>
                                            </label>*@
                                        <label class="label-custom-style" style="display:inline-block">Switch Versioning</label>
                                        <input id="VersioningSwitch" type="checkbox" data-toggle="toggle" data-on="Versioning On" data-off="Versioning Off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="dbConnectionEdit" class="modal fade s-dash-modal" role="dialog" style="align-items: center;">
    <div class="modal-dialog" style="min-width: 70%;max-width:100%;">
        <div class="modal-content" id="dbConnection_mask">
            <form action="" method="post" id="dbConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative border-style-none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="dbConnectionheader" class="modal-title">DataBase Connection</h4>
                    <div id="dbConnection_loder" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body" style="display:flex;">
                    <div id="vender-data-holder" class="vender-data-holder"></div>
                    <div class="connection-data-holder">
                        <div class="col-md-12 col-lg-12 pd-0">
                            <div class="col-md-6 pd-l-0">
                                <div class="form-group">
                                    <label>Nick Name</label>
                                    <input id="dbNickNameInput" name="NickName" type="text" class="form-control dbConnectionInput Inputclear eb_input-h" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 pd-0">
                            <div class="col-md-6 pd-l-0">
                                <div class="form-group">
                                    <label>DataBase Name</label>
                                    <input id="dbDatabaseNameInput" name="DatabaseName" type="text" class="form-control dbConnectionInput Inputclear eb_input-h" required />
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <input id="dbvendorInput" name="DatabaseVendor" type="hidden" value="PGSQL" class="form-control Inputclear Vendor eb_input-h" readonly />
                                <div class="form-group" style="margin-top: 32px;">
                                    <label>Enable SSL</label>
                                    <input id="dbIsSSLInput" class="InputclearIsSSL" name="IsSSL" type="checkbox" style="margin-left: 15px;width: 16px;height: 16px;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 pd-0">
                            <div class="col-md-4 pd-l-0">
                                <div class="form-group">
                                    <label>Server Address</label>
                                    <input id="dbServerInput" name="Server" type="text" class="form-control Inputclear eb_input-h" required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Port</label>
                                    <input id="dbPortInput" name="Port" pattern="^[0-9]*$" maxlength="5" type="number" class="form-control Inputclear eb_input-h" required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 pd-r-0">
                                <div class="form-group">
                                    <label>TimeOut</label>
                                    <input id="dbTimeoutInput" name="Timeout" pattern="^[0-9]*$" type="text" class="form-control Inputclear eb_input-h" required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <input type="hidden" class="Inputclear IntConfId" id="IntConfId" name="Id" value="0" />
                            <input type="hidden" class="" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                        </div>
                        <div class="col-md-12 pd-0">
                            <div class="uname-advanced-sec">
                                <label>Credentials</label>
                                <label style="margin-left: auto;margin-right:5px;">Advanced</label>
                                <label class="switch">
                                    <input type="checkbox" id="UserNamesAdvanced">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="eb-db-cred-sec">
                                <table class="table table-form table-boarder-remover">
                                    <thead>
                                        <tr>
                                            <th style="width:130px;"></th>
                                            <th>User Name</th>
                                            <th style="padding-left:15px;">Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Admin</td>
                                            <td><input id="dbUserNameInput" name="UserName" type="text" class="form-control dbConnectionInput Inputclear" required /></td>
                                            <td>
                                                <div class="input-group eb-inputWicon">
                                                    <input id="dbPasswordInput" autocomplete="new-password" name="Password" class="form-control Password dbConnectionInput Inputclear" type="password" required />
                                                    <span class='input-group-addon' id="ShowPasswordd">
                                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="advanced-tr" style="display:none">
                                            <td>Read-Write User</td>
                                            <td><input id="dbReadWriteUserName" name="ReadWriteUserName" type="text" class="form-control dbConnectionInput Inputclear" /></td>
                                            <td>
                                                <div class="input-group eb-inputWicon">
                                                    <input id="dbReadWritePassword" autocomplete="new-password" name="ReadWritePassword" class="form-control Password dbConnectionInput Inputclear" type="password" />
                                                    <div class='input-group-addon' id="ShowPasswordd">
                                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="advanced-tr" style="display:none">
                                            <td>ReadOnly User</td>
                                            <td><input id="dbReadOnlyUserName" name="ReadOnlyUserName" type="text" class="form-control dbConnectionInput Inputclear" /></td>
                                            <td>
                                                <div class="input-group eb-inputWicon" style="padding-bottom:0;">
                                                    <input id="dbReadOnlyPassword" autocomplete="new-password" name="ReadOnlyPassword" class="form-control Password Inputclear" type="password" />
                                                    <div class='input-group-addon' id="ShowPasswordd">
                                                        <i class="fa fa-eye " aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-style-none">
                    <button type="submit" class="btn btn-primary saveConnection" style="display:none">Save</button>
                    <a whichform="dbConnectionSubmit" url="DataDbTest" class="ebbtn eb_btnblue eb_btn-sm testConnection">Save Connection</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="filesDbConnectEdit" class="modal fade s-dash-modal input-clear" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="" method="post" id="filesDbConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative border-style-none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mongo Files Db Connection</h4>
                </div>
                <div class="modal-body" style="display:flex">
                    <div class="vender-data-holder">
                        <img class='img-responsive' src='../images/MongodB.png' align='middle' style='height: 100px;margin:auto;margin-top: 15px;margin-bottom: 15px;' />
                        <div class="connection-vender-desp">
                            <span>MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schema. MongoDB is licensed under the Server Side Public License.</span>
                        </div>
                    </div>
                    <div class="connection-data-holder">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nick Name</label>
                                    <input id="FilesInputNickname" name="NickName" type="text" class="Inputclear form-control eb_input-h" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="margin-top: 32px;">
                                    <label>Enable SSL</label>
                                    <input id="FilesInputIsSSL" class=" Inputclear" name="IsSSL" type="checkbox" style="margin-left: 15px;width: 16px;height: 16px;" />
                                </div>
                            </div>
                            <input name="DatabaseVendor" type="hidden" value="MongoDB" class="form-control Vendor" readonly />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input id="FilesInputUsername" name="UserName" type="text" class="Inputclear form-control eb_input-h" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="input-group eb-inputWicon" style="padding:0;">
                                        <input id="FilesInputPassword" autocomplete="new-password" name="Password" class="Inputclear form-control Password eb_input-h" type="password" required />
                                        <div class='input-group-addon' id="ShowPasswordd">
                                            <i class="fa fa-eye " aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Host</label>
                                    <input id="FilesInputServer" name="Server" type="text" class="form-control Inputclear eb_input-h" required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Port</label>
                                    <input id="FilesInputPort" name="Port" pattern="^[0-9]*$" maxlength="5" type="number" class="form-control Inputclear eb_input-h" required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                        <input type="hidden" class="Inputclear IntConfId" id="FilesInputIntConfId" name="Id" value="0" />
                    </div>
                </div>
                <div class="modal-footer border-style-none">
                    <button type="submit" class="ebbtn eb_btnblue eb_btn-sm MongoConnection">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="TwilioConnectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="twilio_mask">
            <form id="TwilioConnectionSubmit" method="post" data-toggle="validator">
                <div class="modal-header relative border-style-none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Twilio Accounts</h4>
                    <div id="twilioConnection_loder" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body" style="display:flex">
                    <div class="vender-data-holder" style="width:25%;">
                        <img class='img-responsive' src='~/images/Twilio.png' align='middle' style='height: 100px;margin:auto;margin-top: 15px;margin-bottom: 15px;' />
                        <div class="connection-vender-desp">
                            <span>Twilio is a cloud communications platform as a service (CPaaS). Twilio allows software developers to programmatically make and receive phone calls, send and receive text messages, and perform other communication functions using its web service APIs.</span>
                        </div>
                    </div>
                    <div class="connection-data-holder">
                        <input name="DatabaseVendor" value="Twilio" class="form-control Vendor" type="hidden" readonly />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nick Name</label>
                                    <input id="TwilioInputNickname" name="NickName" class="form-control Inputclear eb_input-h" type="text" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Sender Number</label>
                                    <input id="TwilioInputFrom" name="From" class="form-control Inputclear eb_input-h" type="text" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input id="TwilioInputUsername" name="UserName" class="form-control Inputclear eb_input-h" type="text" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group ">
                                    <label>Password</label>
                                    <div class="input-group eb-inputWicon" style="padding:0;">
                                        <input id="TwilioInputPassword" autocomplete="new-password" name="Password" class="form-control Password Inputclear eb_input-h" type="password" required />
                                        <div class='input-group-addon' id="ShowPasswordd">
                                            <i class="fa fa-eye " aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                                <input type="hidden" class="Inputclear IntConfId" id="TwilioInputIntConfId" name="Id" value="0" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-style-none">
                    <button type="submit" class="ebbtn eb_btnblue eb_btn-sm">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="ExpertTextingConnectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="expert_mask">
            <form id="ExpertConnectionSubmit" method="post" data-toggle="validator">
                <div class="modal-header relative border-style-none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Expert Accounts</h4>
                    <div id="expertConnection_loder" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body" style="display:flex">
                    <div class="vender-data-holder" style="width:25%;">
                        <img class='img-responsive' src='~/images/Expert Texting.png' align='middle' style='height: 100px;margin:auto;margin-top: 15px;margin-bottom: 15px;' />
                        <div class="connection-vender-desp">
                            <span>ExpertTexting aims to offer businesses a cost-effective channel that can bring communication too easy with their customers. With the state-of-art API that can even integrate with any leading CRM in the world.</span>
                        </div>
                    </div>
                    <div class="connection-data-holder">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nick Name</label>
                                    <input id="ExpertInputNickname" name="NickName" class="form-control Inputclear eb_input-h" type="text" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input name="DatabaseVendor" value="ExpertTexting" class="form-control Vendor " type="hidden" readonly />
                                <div class="form-group">
                                    <label>Sender Number</label>
                                    <input id="ExpertInputFrom" name="From" class="form-control Inputclear eb_input-h" type="text" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Api Key</label>
                                    <input id="ExpertInputApi" name="ApiKey" class="form-control Inputclear eb_input-h" type="text" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input id="ExpertInputUsername" name="UserName" class="form-control Inputclear eb_input-h" type="text" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="input-group eb-inputWicon" style="padding:0;">
                                        <input id="ExpertInputPassword" autocomplete="new-password" name="Password" class="form-control Password Inputclear eb_input-h" type="password" required />
                                        <div class='input-group-addon' id="ShowPasswordd">
                                            <i class="fa fa-eye " aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                        <input type="hidden" class="Inputclear IntConfId" id="ExpertInputIntConfId" name="Id" value="0" />
                    </div>
                </div>
                <div class="modal-footer border-style-none">
                    <button type="submit" class="ebbtn eb_btnblue eb_btn-sm">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="cldnry_conEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog" style="min-width:60%;max-width:100%">
        <div class="modal-content" id="cloudnary_mask">
            <form action="" method="post" id="CloudnaryConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative border-style-none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cloudnary Connection</h4>
                    <div id="cloudnary_loader" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body" style="display:flex;">
                    <div class="vender-data-holder">
                        <img class='img-responsive' src='~/images/cloudnary.png' align='middle' style='height: 28px;margin:auto;margin-top: 15px;margin-bottom: 15px;' />
                        <div class="connection-vender-desp">
                            <span>Cloudinary is a SaaS technology company. The company provides a cloud-based image and video management solution. It enables users to upload, store, manage, manipulate and deliver images and video for websites and apps.</span>
                        </div>
                    </div>
                    <div class="connection-data-holder">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nick Name</label>
                                    <input id="CloudnaryInputNickname" type="text" name="NickName" class="form-control Inputclear eb_input-h" value="" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="DatabaseVendor" value="Cloudinary" class="form-control Vendor" type="hidden" readonly />
                                    <label>Cloud</label>
                                    <input id="CloudnaryInputCloud" type="text" name="Cloud" class="form-control Inputclear eb_input-h" value="" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Api Key</label>
                                    <input id="CloudnaryInputApikey" type="text" name="ApiKey" class="form-control Inputclear eb_input-h" value="" required />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Api Secret</label>
                                    <input id="CloudnaryInputApisecret" type="text" name="ApiSecret" class="form-control Inputclear eb_input-h" value="" required />
                                </div>
                                <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                                <input type="hidden" class="Inputclear IntConfId" id="CloudnaryInputIntConfId" name="Id" value="0" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-style-none">
                    <button type="submit" class="ebbtn eb_btnblue eb_btn-sm">Save</button>
                    @*<a whichform="CloudnaryConnectionSubmit" url="FilesDbTest" class="btn btn-primary testConnection">Test Connection</a>*@
                </div>
            </form>
        </div>
    </div>
</div>

<div id="ftp_connectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="ftp_mask">
            <form action="" method="post" id="FtpConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative border-style-none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FTP Connection</h4>
                    <div id="ftp_loader" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" name="Username" class="form-control Inputclear" value="" required />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-group">
                            <input autocomplete="new-password" name="Password" onload="this.value=''" class="form-control Password Inputclear" type="password" required />
                            <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                <i class="fa fa-eye " aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Host</label>
                        <input type="text" name="Host" class="form-control Inputclear" value="" required />
                    </div>
                    <div class="form-group">
                        <label>NickName</label>
                        <input type="text" name="NickName" class="form-control Inputclear" value="" required />
                    </div>
                    <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                </div>
                <div class="modal-footer border-style-none">
                    <button type="submit" class="ebbtn eb_btnblue eb_btn-sm">Save</button>
                    @*<a whichform="CloudnaryConnectionSubmit" url="FilesDbTest" class="btn btn-primary testConnection">Test Connection</a>*@
                </div>
            </form>
        </div>
    </div>
</div>

<div id="EmailconnectionEdit" class="modal fade input-clear" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="email_mask">
            <form action="" method="post" id="emailConnectionSubmit">
                <div class="modal-header relative border-style-none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email Connection</h4>
                    <div id="email_loader" class="dbConnection_loder"></div>
                </div>
                <div class="modal-body" style="display:flex;">
                    <div class="vender-data-holder">
                        <img class='img-responsive' src='~/images/svg/email.svg' align='middle' style='height: 50px; margin:auto; margin-top:15px; margin-bottom:15px;' />
                        <div class="connection-vender-desp">
                            <span>SMTP is a push protocol and is used to send the mail whereas POP (post office protocol) or IMAP (internet message access protocol) are used to retrieve those mails at the receiver's side. SMTP Fundamentals. SMTP is an application layer protocol.</span>
                        </div>
                    </div>
                    <div class="connection-data-holder">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>NickName</label>
                                    <input id="EmailInputNickname" type="text" name="NickName" class="form-control Inputclear eb_input-h" value="" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input name="DatabaseVendor" value="SMTP" class="form-control Vendor" type="hidden" readonly />
                                    <label>Provider</label>
                                    <select id="InputEmailvendor" name="Emailvendor" class="form-control Inputclear eb_input-h">
                                        <option value="1">Gmail</option>
                                        <option value="2">Yahoo</option>
                                    </select>
                                    @*<input id="InputEmailvendor" type="text" name="Emailvendor" class="form-control Inputclear" value="Gmail" required />*@
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 30px;">
                                <div class="form-group">
                                    <label style="margin-right:15px;margin-bottom:0;">Enable SSL</label>
                                    <input id="EmailIsSSL" type="checkbox" class="InputclearIsSSL" name="IsSSL" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Host</label>
                                    <input id="EmailInputSMTP" type="text" name="SMTP" class=" Inputclear form-control eb_input-h" value="" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Port</label>
                                    <input id="EmailInputPort" type="number" name="Port" pattern="^[0-9]*$" maxlength="5" class="form-control Inputclear eb_input-h" value="" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pd-0">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input id="EmailInputEmail" type="text" name="Email" class="form-control Inputclear eb_input-h" value="" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Password</label>
                                    <div class="input-group eb-inputWicon" style="padding:0;">
                                        <input id="EmailInputPassword" autocomplete="new-password" name="Password" class="Inputclear form-control Password eb_input-h" type="password" required />
                                        <div class='input-group-addon' id="ShowPasswordd" style='padding: 3px; '>
                                            <i class="fa fa-eye " aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="SolnId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                <input type="hidden" class="Inputclear IntConfId" id="SMTPInputIntConfId" name="Id" value="0" />
                <div class="modal-footer border-style-none">
                    <button type="submit" class="ebbtn eb_btnblue eb_btn-sm">Save</button>
                    @*<a whichform="CloudnaryConnectionSubmit" url="FilesDbTest" class="btn btn-primary testConnection">Test Connection</a>*@
                </div>
            </form>
        </div>
    </div>
</div>

<div id="MapConnectionEdit" class="modal fade s-dash-modal input-clear" role="dialog" style="margin-top: 100px;" display: block;>
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="Map_mask">
            <form action="" method="post" id="MapsConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative border-style-none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Google Maps</h4>
                    <div id="Map_loader" class="MapConnection_loder"></div>
                </div>
                <div class="modal-body" style="display:flex">
                    <div class="vender-data-holder" style="width:25%">
                        <img class='img-responsive' src='~/images/maps-google.png' align='middle' style='margin:auto;margin-top: 15px;margin-bottom: 15px;' />
                        <div class="connection-vender-desp">
                            <span>Build customized, agile experiences that bring the real world to your users with static and dynamic maps, Street View imagery, and 360° views.</span>
                        </div>
                    </div>
                    <div class="connection-data-holder">
                        <div class="row">
                            <div class="col-md-12">
                                <input name="MapVendor" type="hidden" value="GoogleMap" class="form-control Vendor" readonly />
                                @* <input name="MongoId" type="hidden" />*@
                                <div class="form-group">
                                    <label>Nick Name</label>
                                    <input id="MapInputNickname" name="NickName" type="text" class=" Inputclear form-control eb_input-h" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>ApiKey</label>
                                        <input id="MapInputApiKey" name="ApiKey" type="text" class="form-control Inputclear eb_input-h" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                        <input type="hidden" class="Inputclear IntConfId" id="MapInputIntConfId" name="Id" value="0" />
                    </div>
                </div>

                <div class="modal-footer border-style-none">
                    <button type="submit" class="ebbtn eb_btnblue eb_btn-sm MapConnection">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="GoogleDriveConnectionEdit" class="modal fade s-dash-modal input-clear" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="GoogleDrive_mask">
            <form action="" method="post" id="GoogleDriveConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">GoogleDrive</h4>
                    <div id="GoogleDrive_loader" class="GoogleDriveConnection_loder"></div>
                </div>
                <div class="modal-body" style="display:flex">
                    <div class="vender-data-holder" style="width:50%">
                        <img class='img-responsive' src='~/images/Google-Drive-Logo.png' align='middle' style='height: 100px;margin:auto;margin-top: 15px;margin-bottom: 15px;' />
                        <div class="connection-vender-desp">
                            <span>Build customized, agile experiences that bring the real world to your users with static and dynamic maps, Street View imagery, and 360° views.</span>
                        </div>
                    </div>
                    <div class="connection-data-holder">
                        <div class="row">
                            <div class="col-md-12">
                                <input name="GoogleDriveVendor" type="hidden" value="GoogleDrive" class="form-control Vendor" readonly />
                                @* <input name="MongoId" type="hidden" />*@
                                <div class="form-group">
                                    <label>Nick Name</label>
                                    <input id="GoogleDriveInputNickname" name="NickName" type="text" class=" Inputclear form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Application Name</label>
                                        <input id="GoogleDriveInputApplicationName" name="ApplicationName" type="text" class="form-control Inputclear" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p>Upload JSON Key</p>
                                        <input id="GoogleDriveInputJSONUpload" class="form-control Inputclear" type="file" name="files" accept=".JSON">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Crendentials</label>
                                        <textarea class="form-control Inputclear" rows="4" name="JsonFile" id="exampleTextarea"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                        <input type="hidden" class="Inputclear IntConfId" id="GoogleDriveInputIntConfId" name="Id" value="0" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="ebbtn eb_btnblue eb_btn-sm MapConnection">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="SentGridConnectionEdit" class="modal fade s-dash-modal input-clear" role="dialog" style="margin-top: 100px;" display: block;>
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="Map_mask">
            <form action="" method="post" id="SendGridConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative border-style-none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send Grid</h4>
                    <div id="SendGrid_loader" class="MapConnection_loder"></div>
                </div>
                <div class="modal-body" style="display:flex">
                    <div class="vender-data-holder" style="width:25%">
                        <img class='img-responsive' src='~/images/SendGrid.png' align='middle' style='height: 100px;margin:auto;margin-top: 15px;margin-bottom: 15px;' />
                        <div class="connection-vender-desp">
                            <span>Delivering your transactional and marketing emails through the world's largest cloud-based email delivery platform. Send with confidence.</span>
                        </div>
                    </div>
                    <div class="connection-data-holder">
                        <div class="row">
                            <div class="col-md-12">
                                <input name="SendGridVendor" type="hidden" value="SendGrid" class="form-control Vendor" readonly />
                                @* <input name="MongoId" type="hidden" />*@
                                <div class="form-group">
                                    <label>Nick Name</label>
                                    <input id="SendGridInputNickname" name="NickName" type="text" class=" Inputclear form-control eb_input-h" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label>From</label>
                                    <input id="SendGridInputFrom" name="EmailAddress" type="email" class=" Inputclear form-control eb_input-h" required />
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input id="SendGridInputFromName" name="Name" type="text" class=" Inputclear form-control eb_input-h" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>ApiKey</label>
                                        <input id="SendGridInputApiKey" name="ApiKey" type="text" class="form-control Inputclear eb_input-h" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                        <input type="hidden" class="Inputclear IntConfId" id="SendGridInputIntConfId" name="Id" value="0" />
                    </div>
                </div>

                <div class="modal-footer border-style-none">
                    <button type="submit" class="ebbtn eb_btn-sm eb_btnblue MapConnection">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="DropBoxConnectionEdit" class="modal fade s-dash-modal input-clear" role="dialog" style="margin-top: 100px;" display: block;>
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="DropBox_mask">
            <form action="" method="post" id="DropBoxConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative border-style-none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">DropBox</h4>
                    <div id="DropBox_loader" class="DropBoxConnection_loder"></div>
                </div>
                <div class="modal-body" style="display:flex">
                    <div class="vender-data-holder" style="width:35%">
                        <img class='img-responsive' src='~/images/Dropbox-logo.png' align='middle' style='margin:auto;margin-top: 15px;margin-bottom: 15px;' />
                        <div class="connection-vender-desp">
                            <span>Dropbox is a file hosting service operated by the American company Dropbox, Inc., that offers cloud storage, file synchronization, personal cloud, and client software. </span>
                        </div>
                    </div>
                    <div class="connection-data-holder">
                        <div class="row">
                            <div class="col-md-12">
                                <input name="DropBoxVendor" type="hidden" value="DropBox" class="form-control Vendor" readonly />
                                <div class="form-group">
                                    <label>Nick Name</label>
                                    <input id="DropBoxInputNickname" name="NickName" type="text" class=" Inputclear form-control eb_input-h" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Access Token</label>
                                        <input id="DropBoxInputAccessToken" name="AccessToken" type="text" class="form-control Inputclear eb_input-h" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                        <input type="hidden" class="Inputclear IntConfId" id="DropBoxInputIntConfId" name="Id" value="0" />
                    </div>
                </div>

                <div class="modal-footer border-style-none">
                    <button type="submit" class="ebbtn eb_btnblue eb_btn-sm DropBoxConnection">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="AWSS3ConnectionEdit" class="modal fade s-dash-modal input-clear" role="dialog" style="margin-top: 100px;" display: block;>
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="AWSS3_mask">
            <form action="" method="post" id="AWSS3ConnectionSubmit" data-toggle="validator">
                <div class="modal-header relative border-style-none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">AWS S3</h4>
                    <div id="AWSS3_loader" class="AWSS3Connection_loder"></div>
                </div>
                <div class="modal-body" style="display:flex">
                    <div class="vender-data-holder" style="width:35%">
                        <img class='img-responsive' src='~/images/amazon-s3.png' align='middle' style='margin:auto;margin-top: 15px;margin-bottom: 15px;' />
                        <div class="connection-vender-desp">
                            <span>Amazon S3 or Amazon Simple Storage Service is a service offered by Amazon Web Services that provides object storage through a web service interface. Amazon S3 uses the same scalable storage infrastructure that Amazon.com uses to run its global e-commerce network.  </span>
                        </div>
                    </div>
                    <div class="connection-data-holder">
                        <div class="row">
                            <div class="col-md-12">
                                <input name="AWSS3Vendor" type="hidden" value="AWSS3" class="form-control Vendor" readonly />
                                <div class="form-group">
                                    <label>Nick Name</label>
                                    <input id="AWSS3InputNickname" name="NickName" type="text" class=" Inputclear form-control eb_input-h" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Bucket name</label>
                                        <input id="AWSS3InputBucketName" name="BucketName" type="text" class="form-control Inputclear eb_input-h" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Bucket Region</label>
                                        <input id="AWSS3InputbucketRegion" name="bucketRegion" type="text" class="form-control Inputclear eb_input-h" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Access Key ID</label>
                                        <input id="AWSS3InputAccessKeyID" name="AccessKeyID" type="text" class="form-control Inputclear eb_input-h" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Secret Access Key</label>
                                        <input id="AWSS3InputSecretAccessKey" name="SecretAccessKey" type="text" class="form-control Inputclear eb_input-h" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="SolutionId" value="@ViewBag.Connections.SolutionInfo.EsolutionId" />
                        <input type="hidden" class="Inputclear IntConfId" id="AWSS3InputIntConfId" name="Id" value="0" />
                    </div>
                </div>

                <div class="modal-footer border-style-none">
                    <button type="submit" class="ebbtn eb_btnblue eb_btn-sm AWSS3Connection">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="eb-cropie" id="cropsection"></div>
@{
    if (ViewBag.Connections.SolutionInfo.IsVersioningEnabled)
    {
        <script>
            $("#VersioningSwitch").bootstrapToggle('on');
        </script>
    }
}
@section JsCode{
    <script>
        let Connection = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Connections));
	    var sdb = new SolutionDashBoard(Connection, '@ViewBag.Connections.SolutionInfo.EsolutionId');
	    $("#no_user").change(function (e) {
		    $("#user_countForm").val(e.target.value);
        });
    </script>
}

