@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@await Component.InvokeAsync("PageHeaderCommon")

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css" />
<link rel="stylesheet" href="~/css/EbOnBoarding/EbOnBoarding.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
<script src="~/js/EbCropper.js" type="text/javascript"></script>
<script src="~/js/validator.js" type="text/javascript"></script>
<script src="~/js/EbOnBoarding/SolutionDashBoard.js" type="text/javascript"></script>
<script>
    var EbConnections = @Html.Raw(ViewBag.Connections);
    $("#quik_menu").hide();
    var protocol = window.location.protocol;
    var host = window.location.host.indexOf("-dev") > -1 ? window.location.host.replace("-dev", "") : window.location.host;
</script>

<div class="row s-dash-container">
    <div class="pd-0 tdasboard-sidebar">
        <div class="t-container">
            <ul class="list-group menuwrapper_ul_outer">
                <li class="list-group-item outer_li">Solutions<i class="fa fa-chevron-right tdash-icon pull-right"></i></li>
                <li class="list-group-item outer_li">Billing<i class="fa fa-chevron-right tdash-icon pull-right"></i></li>
                <li class="list-group-item outer_li">Support<i class="fa fa-chevron-right tdash-icon pull-right"></i></li>
            </ul>
        </div>
    </div>
    <div class="s-dash-workplace">
        <div class="col-md-12 pd-0 s-dash-solution-desc">
            <div class="col-md-9 pd-0">
                <h3 class="mr-t-0">@ViewBag.SolutionInfo.SolutionName</h3>
                <p class="small">@ViewBag.SolutionInfo.EsolutionId Created on @ViewBag.SolutionInfo.DateCreated</p>
                <p>
                    @ViewBag.SolutionInfo.Description
                </p>
            </div>
            <div class="col-md-3 pd-0 form-inline">
                <a class="btn pull-right btn-orange single__sso" wc="dc"><i class="fa fa-wrench"></i> Dev</a>
                <a class="btn pull-right btn-blue single__sso" wc="uc"><i class="fa fa-user-o" aria-hidden="true"></i> User</a>
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#home" role="tab">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Connections" role="tab">Connection Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#team" role="tab">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#billing" role="tab">Billing</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="form-group">
                        <div class="col-md-4 pd-0">
                            <label>Upload Logo</label>
                            <button id="log-upload-btn" class="btn log-upload-b">Change Logo <i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-md-8 pd-0 logo_img_cont">
                            <img src="" class="img-responsive pull-right" id="oB_logo-prev" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="Connections" role="tabpanel">
                    <div class="connectons-container">
                        <div class="s-dash-headComm form-inline">
                            <button class="btn btn-sm table-btn"><i class="fa fa-database"></i></button>
                            Database Connections
                            <button class="btn btn-sm table-btn pull-right" data-toggle="collapse" data-target="#dbConnection"><i class="fa fa-chevron-down"></i></button>
                            @*<button whichmodal="dbConnectionEdit" op="new" class="btn btn-sm table-btn pull-right addConnection"><i class="fa fa-plus"></i></button>*@
                        </div>
                        <div class="s-dash-bodyComm collapse in" id="dbConnection">
                            <table class="table dbConnectionEdit">
                                <thead>
                                    <tr style="border: 1px solid #adaaaa;">
                                        <th class="td-width15">Database Type</th>
                                        <th class="td-width15">Database Vendor</th>
                                        <th>Server Address</th>
                                        <th>Database Name</th>
                                        <th>Nick Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr class="connection-row">
                                            <td field="DatabaseVendor">row.DatabaseVendor</td>
                                            <td field="DatabaseName">row.DatabaseNam</td>
                                            <td field="Server">row.Server</td>
                                            <td field="Port">row.Port</td>
                                            <td field="NickName">row.NickName</td>
                                            <td field="UserName">rowUserName</td>
                                            <td field="TimeOut">row.Timeout</td>
                                            <td class="edit-row"><button class="btn btn-sm table-btn edit-btn" op="edit" whichmodal="dbConnectionEdit"><i class="fa fa-pencil"></i></button></td>
                                        </tr>*@
                                </tbody>
                            </table>
                            <table class="table filesDbConnectionEdit">
                                <thead>
                                    <tr style="border: 1px solid #adaaaa;">
                                        <th class="td-width15">Database Type</th>
                                        <th class="td-width15">Database Vendor</th>
                                        <th>Files URL</th>
                                        <th>Nick Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr class="connection-row">
                                            @*<td field="">Files</td>
                                                <td field="DatabaseVendor">MongoDB</td>
                                                <td field="FilesDB_url" style="width: 38%;"></td>
                                                <td field="NickName"></td>
                                                <td class="edit-row"><button class="btn btn-sm table-btn edit-btn" op="edit" whichmodal="dbConnectionEdit"><i class="fa fa-pencil"></i></button></td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="connectons-container">
                        <div class="s-dash-headComm form-inline">
                            <button class="btn btn-sm table-btn"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
                            Email Accounts
                            <button class="btn btn-sm table-btn pull-right" data-toggle="collapse" data-target="#smtpConnections"><i class="fa fa-chevron-down"></i></button>
                            <button whichmodal="EmailConnectionEdit" class="btn btn-sm table-btn pull-right addConnection"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="s-dash-bodyComm collapse in" id="smtpConnections">
                            <table class="table EmailConnectionEdit mr-b-0">
                                <thead>
                                    <tr>
                                        <th class="td-width15">Email Vendor</th>
                                        <th>Email</th>
                                        <th>SMTP Server</th>
                                        <th>Port</th>
                                        <th>Nick Name</th>
                                        <th class="edit-row"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                            <td field="EmailVendor">Google</td>
                                            <td field="Email">sdfds</td>
                                            <td field="Password">sdfds</td>
                                            <td field="SMTP">fdsfsd</td>
                                            <td field="Port">fdsfsd</td>
                                            <td field="NickName">dsfdsf</td>
                                            <td class="edit-row"><button whichmodal="EmailConnectionEdit" class="btn btn-sm table-btn edit-btn"><i class="fa fa-pencil"></i></button></td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="connectons-container">
                        <div class="s-dash-headComm form-inline">
                            <button class="btn btn-sm table-btn"><i class="fa fa-commenting-o" aria-hidden="true"></i></button>
                            SMS Accounts
                            <button class="btn btn-sm table-btn pull-right" data-toggle="collapse" data-target="#smsConnections"><i class="fa fa-chevron-down"></i></button>
                            <button whichmodal="SmsConnectionEdit" class="btn btn-sm table-btn pull-right addConnection"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="s-dash-bodyComm collapse in" id="smsConnections">
                            <table class="table SmsConnectionEdit mr-b-0">
                                <thead>
                                    <tr>
                                        <th class="td-width15">Provider Name</th>
                                        <th>UserName</th>
                                        <th>Sender Number</th>
                                        <th>Nick Name</th>
                                        <th class="edit-row"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                                            <td field="ProviderName">Google</td>
                                            <td field="UserName">sdfds</td>
                                            <td field="From">fdsfsd</td>
                                            <td field="NickName">dsfdsf</td>
                                            <td class="edit-row"><button whichmodal="SmsConnectionEdit" class="btn btn-sm table-btn edit-btn"><i class="fa fa-pencil"></i></button></td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="team" role="tabpanel">

                </div>
                <div class="tab-pane" id="billing" role="tabpanel">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="dbConnectionEdit" class="modal fade s-dash-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="post" id="dbConnectionSubmit" data-toggle="validator">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">DataBase Connection</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Database</label>
                                <select name="DatabaseVendor" class="form-control">
                                    <option value="PGSQL">PGSQL</option>
                                    <option value="MYSQL">MYSQL</option>
                                    <option value="MSSQL">MSSQL</option>
                                    <option value="ORACLE">ORACLE</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>DataBase Name</label>
                                <input name="DatabaseName" type="text" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Nick Name</label>
                                <input name="NickName" type="text" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label>User Name</label>
                            <div class="col-md-12 pd-0">
                                <table class="table table-bordered table-form">
                                    <thead>
                                        <tr>
                                            <th style="width:130px;"></th>
                                            <th>User Name</th>
                                            <th>Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Admin</td>
                                            <td><input name="UserName" type="text" class="form-control" required /></td>
                                            <td><input name="Password" type="text" class="form-control" required /></td>
                                        </tr>
                                        <tr class="advanced-tr" style="display:none">
                                            <td>Read-Write User</td>
                                            <td><input name="ReadWriteUserName" type="text" class="form-control" /></td>
                                            <td><input name="ReadWritePassword" type="text" class="form-control" /></td>
                                        </tr>
                                        <tr class="advanced-tr" style="display:none">
                                            <td>ReadOnly User</td>
                                            <td><input name="ReadOnlyUserName" type="text" class="form-control" /></td>
                                            <td><input name="ReadOnlyPassword" type="text" class="form-control" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="uname-advanced-sec form-inline">
                                    <label style="margin-right:5px;">Advanced</label>
                                    <label class="switch">
                                        <input type="checkbox" id="UserNamesAdvanced">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Server Address</label>
                                <input name="Server" type="text" pattern="^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Port</label>
                                <input name="Port" pattern="^[0-9]*$" type="text" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>TimeOut</label>
                                <input name="Timeout" pattern="^[0-9]*$" type="text" class="form-control" required />
                            </div>
                        </div>
                        <input type="hidden" name="IsNew" />
                        <input type="hidden" name="SolutionId" value="@ViewBag.SolutionInfo.EsolutionId" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary saveConnection" style="display:none">Save</button>
                    <a whichform="dbConnectionSubmit" url="DataDbTest" class="btn btn-primary testConnection">Test Connection</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="filesDbConnectEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="" method="post" id="filesDbConnectionSubmit" data-toggle="validator">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Files Db Connection</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Database Vendor</label>
                        <select name="DatabaseVendor" class="form-control">
                            <option value="MongoDB">MongoDB</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Connection String</label>
                        <textarea name="ConnectionString" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>NickName</label>
                        <input type="text" name="NickName" class="form-control" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary saveConnection" style="display:none;">Save</button>
                    <a whichform="filesDbConnectionSubmit" url="FilesDbTest" class="btn btn-primary testConnection">Test Connection</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="EmailConnectionEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="EmailConnectionSubmit" data-toggle="validator">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Email Accounts</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 pd-l-0">
                                <div class="form-group">
                                    <label>Email Vendor</label>
                                    <select name="Emailvendor" class="form-control">
                                        <option>Google</option>
                                        <option>Zoho</option>
                                        <option>MSN</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 pd-r-0">
                                <div class="form-group">
                                    <label>Nick Name</label>
                                    <input name="NickName" type="text" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6 pd-l-0">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input name="Email" type="text" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6 pd-r-0">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input name="Password" type="text" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6 pd-l-0">
                                <div class="form-group">
                                    <label>SMTP Server</label>
                                    <input name="SMTP" type="text" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6 pd-r-0">
                                <div class="form-group">
                                    <label>Port</label>
                                    <input name="Port" type="text" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="SmsConnectionEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="smsConnectionSubmit" method="post" data-toggle="validator">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sms Accounts</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Provider Name</label>
                        <input name="ProviderName" class="form-control" type="text" required />
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input name="UserName" class="form-control" type="text" required />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="Password" class="form-control" type="text" required />
                    </div>
                    <div class="form-group">
                        <label>Sender Number</label>
                        <input name="From" class="form-control" type="text" required />
                    </div>
                    <div class="form-group">
                        <label>Nick Name</label>
                        <input name="NickName" class="form-control" type="text" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="eb-cropie" id="cropsection"></div>
<script>
    var sdb = new SolutionDashBoard(EbConnections,'@ViewBag.SolutionInfo.EsolutionId');
</script>