@using System;
@using ExpressBase.Objects.ServiceStack_Artifacts;
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    List<EbSolutionsWrapper> sarr = ViewBag.Solutions;
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
@section JavaScript{
    <script src="~/js/EbDashBoards/TenantDashBoard.js" type="text/javascript" asp-append-version=@bApnd></script>
}
<div class="row s-dash-container h-100">
    @*<div class="pd-0 tdasboard-sidebar tenant_sidebar">
        <div class="t-container">
            <ul class="list-group eb-dashbord-sidebar">
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/MySolutions">
                        <span class="material-icons t__sidebar_icon">highlight</span>
                        <span class="t__sidebar_text">My Solutions</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/Store">
                        <span class="material-icons t__sidebar_icon">store</span>
                        <span class="t__sidebar_text">App Store</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/Wiki">
                        <span class="material-icons t__sidebar_icon">chrome_reader_mode</span>
                        <span class="t__sidebar_text">Wiki</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">contact_support</span>
                        <span class="t__sidebar_text">Support</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>*@
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc">
            <div class="col-md-7 col-lg-7 col-xs-12 col-sm-6 pd-0">
                <h4 class="mr-t-0 mr-b-0">Solutions <span class="apps_count">(@sarr.Count)</span></h4>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12 pd-0 s-dash-btnwraper">
                <div class="input-group eb-search-box" style="margin-left: 15px;">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" id="solSearch" class="form-control" placeholder="Search solution">
                </div>
                <button class="ebbtn eb_btnblue eb_btn-sm new_sol_lk" id="eb-new-solution">New Solution</button>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pd-0 s-dash-workplace-tabs">
            <div class="tdash-box-body">
                @{
                    foreach (EbSolutionsWrapper s in sarr)
                    {
                        string desc = (string.IsNullOrEmpty(s.Description)) ? "no description" : s.Description;

                        <div class="solution_container">
                            <div class="solution_container_pd w-100">
                                @*<div class="w-100 s_info_img text-center">
                                        <img class="img-responsive" src="/images/your_company_logo.png" />
                                    </div>*@
                                <div class="s_info w-100">
                                    <h4 name="SolutionTitle">@s.SolutionName</h4>
                                    <p class="small mr-0">@desc</p>
                                    <p class="small mr-0">Created on @s.DateCreated</p>
                                </div>
                                <div class="sso_head text-center">
                                    <input name="WhichConsole" type="hidden" value="" />
                                    <a sid="@s.IsolutionId" tour-for="userhome" wc="uc" class="sso-btn eb_btnblue single__sso" title="go to user console">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> User Login
                                    </a>
                                    <a sid="@s.IsolutionId" tour-for="devhome" wc="dc" class="sso-btn eb_btnwhite  single__sso" title="go to dev console">
                                        <i class="fa fa-wrench" aria-hidden="true"></i> Dev Login
                                    </a>
                                </div>
                                <div class="sln-configLink">
                                    <a href="MySolutions/@s.IsolutionId" class="pull-right sln_settings_link" title="configure solution">
                                        <i class="fa fa-cog" aria-hidden="true"></i> Settings
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section JsCode{
    <script>
        $(document).ready(function () {
            window.ebcontext.header.setName("My Solutions");
            TenantDashBoard();//init tenant assset js

            if ('@ViewBag.Msg')
                EbMessage("show", { Message: "@ViewBag.Msg", AutoHide: true });
            
            window.tour = new Tour(
                {
                    WelcomeMessage: "<small>Welcome to </small> <br/> <b>EXPRESSbase</b>",
                    Description: `A low-code, Rapid application development <br/> & delivery platform
                                  on the cloud for Businesses <br/> & Developers to build, run & manage
                                  business <br/> process apps 10x efficiently.`,
                    Stack: [
                        {
                            element: '.solution_container',
                            title: "This is your FIRST Solution",
                            content: `A solution is nothing but a collection of applications, using the same
                                      Data-Store (Database). A solution may have multiple File-Stores
                                      (to store files/attachments), and multiple other connections/integrations.<br>
                                      When you signed-up to the EXPRESSbase platform, this solution 
                                      was automatically created for you. It is connected to a database
                                      (PostGreSQL), setup exclusively for you in our data centre. 
                                      This solution also has a demo application built on the famous NorthWind test data.<br>
                                      If you wish, you may connect your own database to this solution in the Solution Settings page.`
                        },
                        {
                            element: '[tour-for="devhome"]',
                            title: "Go to the Developer Home",
                            content: `Here is where your developers (you yourself, if you are a developer,
                                      or your IT team members or your IT solution providers)
                                      will login to the solution to build applications. The URL
                                      for the developers would be <br/> <span style="color: #e2ef9d;text-decoration: underline;">
                                      https://&#60;solution-id>-dev.expressbase.com</span>
                                      <br/>You don’t need to login again (as you are the solution owner),
                                      we use Single-Sign-On (SSO), to let you in.`,
                            click: true
                        },
                        {
                            element: '[tour-for="userhome"]',
                            title: "Go to the User Home",
                            content: `Here is where your users (employees or contractors or whomever 
                                    you wish to grant access) will login to the solution to use the applications
                                    under it. The URL for those users would be <br/>
                                    <span style="color: #e2ef9d;text-decoration: underline;">
                                    https://&#60;solution-id>.expressbase.com</span><br/>
                                    You don’t need to login again (as you are the solution owner),
                                    we use Single-Sign-On (SSO), to let you in.`,
                            click: true
                        },
                        {
                            element: ".sln_settings_link",
                            title: "Go to the Solution Settings",
                            content: `Here is where you will be configuring your solution’s connections
                                      or integrations – like the email server to enable the applications
                                      to send emails, SMS gateway to send SMS, etc.<br/>
                                      You can also configure the databases to be used (in case you want to connect your own database)
                                      by the solution.`,
                            click: true
                        },
                        {
                            element: "#eb-new-solution",
                            title: "Create a NEW Solution",
                            content: `In EXPRESSbase, you can create as many solutions you want, and each
                                      solution having its own database.
                                      <br> Think of a solution as a collection of applications for one of your businesses.
                                      <br>For example, if you have two businesses, say a wholesale trading company,
                                      and a food manufacturing company, you would go ahead
                                      and create two different solutions.  Each of those businesses
                                      may have multiple branches, that is okay, as our platform
                                      supports multi-location out-of-the-box.`,
                            click: true
                        }
                    ]
                });
        });
    </script>
}








