@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<head>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.eb_acc_dbcon_btn').click(function () {
                var accid = $(this).attr("data-accid");
                $.get('https://expressbaseservicestack.azurewebsites.net/infra/', { "Colvalues": JSON.stringify({ "dbedit": "dbedit", "op": " ", "id": accid }), "Token": getToken() }, function (result) {
                    alert(JSON.stringify(result.data));
                    if (result.data.conf_dbtype === 1) {
                        var DBwizard_sim = new EbWizard("http://localhost:53431/Tenant/SimpleDbConf", "https://expressbaseservicestack.azurewebsites.net/infra/", 800, 600, "Configure DB Connectivity - Simple", "fa-database", accid, result.data);
                        DBwizard_sim.Init();

                    }
                    else if (result.data.conf_dbtype === 2) {
                        var DBwizard_adv = new EbWizard("http://localhost:53431/Tenant/dbConfig", "https://expressbaseservicestack.azurewebsites.net/infra/", 800, 635, "Configure DB Connectivity - Advanced", "fa-database", accid, result.data);
                        DBwizard_adv.Init();
                    }
                    else {
                        var DBwizard = new EbWizard("http://localhost:53431/Tenant/SimpleAdvanced", "https://expressbaseservicestack.azurewebsites.net/infra/", 800, 600, "Configure DB Connectivity", "fa-database", accid);
                        DBwizard.Init();
                    }
                })

            });

            $('.new').click(function () {
                var addaccountwzd = new EbWizard("http://localhost:53431/Tenant/AddAccount2", "https://expressbaseservicestack.azurewebsites.net/infra/", 800, 800, "Add Account", "fa-database");
                var ele = $(this).attr("data-accid");
                $('#acid').val(ele);
                addaccountwzd.Init();
            });

            $('.edit').click(function () {
                var accId = $(this).attr("data-accid");
                $('#acid').val(accId);
                $.get('https://localhost:44377/infra/', { "Colvalues": JSON.stringify({ "edit": "edit", "op": " ", "id": accId }), "Token": getToken() }, function (result) {

                    var editaccountwzd = new EbWizard("http://localhost:53431/Tenant/AddAccount2", "https://expressbaseservicestack.azurewebsites.net/infra/", 600, 600, "600, 600", "fa-database", result.data);
                    editaccountwzd.Init();
                })
            });
            $('.users').click(function () {
                var ele = $(this).attr("data-accid");
                $('#acid').val(ele);
            $('[data-toggle="tooltip"]').tooltip();

            $('img').click(function () {
                $('.selected').removeClass('selected'); // removes the previous selected class
                $(this).addClass('selected'); // adds the class to the clicked image
            });
            $("#tid td").click(function () {
                $("#tid td").removeClass("border_blue");
                $(this).addClass("border_blue");
            });
        });

    </script>
</head>
<div class="container">
    @{
        List<List<object>> list = new List<List<object>>();
        list = ViewBag.dict;
        <form>
            <div class="row">
                <div class="input-group input-group-lg col-md-3">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="button" class="new btn btn-success" value="New Account" />
                </div>
                <div class="col-md-4">
                    <input type="button" class="btn btn-success" value="Download Studio" />

                </div>
            </div>
        </form>




        foreach (var sublist in list)
        {

            <div class="tenant_account z-depth-2">
                <div class="bs-example">
                    <div class="col-xs-12 col-md-12">
                        <label>@sublist[1]</label> <br />
                        <div>@Html.Raw(sublist[2])</div>
                        <span>
                            <a href="#" class="eb_acc_dbcon_btn" data-accid="@sublist[0]" data-toggle="tooltip" title="Configure DB"><i class="btn btn-default fa fa-database fa-2x" aria-hidden="true"></i></a>
                            <a href="#" class="" data-accid="@sublist[0]" data-toggle="tooltip" title="Settings"><i class="btn btn-default fa fa-cogs fa-2x" aria-hidden="true"></i></a>
                            <a href="#" class="" data-accid="@sublist[0]" data-toggle="tooltip" title="Engineering"><i class="btn btn-default fa fa-wrench fa-2x" aria-hidden="true"></i></a>
                            <a href="#" class="" data-accid="@sublist[0]" data-toggle="tooltip" title="On - Off Maintainance Mode"><i class="btn btn-default fa fa-bed fa-2x" aria-hidden="true"></i></a>
                            <a href="#" class="" data-accid="@sublist[0]" data-toggle="tooltip" title="Organizational Structure"><i class="btn btn-default fa fa-sitemap fa-2x" aria-hidden="true"></i></a>
                            <a href="#" class="" data-accid="@sublist[0]" data-toggle="tooltip" title="Applications"><i class="btn btn-default fa fa-align-right fa-flip-hoizontal fa-2x" aria-hidden="true"></i></a>
                            <a href="#" class="" data-accid="@sublist[0]" data-toggle="tooltip" title="Users"><i class="btn btn-default fa fa-users fa-2x users" aria-hidden="true"></i></a>
                            <a href="#" class="" data-accid="@sublist[0]" data-toggle="tooltip" title="Roles"><i class="btn btn-default fa fa-graduation-cap fa-2x" aria-hidden="true"></i></a>
                            <a href="#" class="" data-accid="@sublist[0]" data-toggle="tooltip" title="Billing"><i class="btn btn-default fa fa-credit-card fa-2x" aria-hidden="true"></i></a>
                            <a href="#" class="" data-accid="@sublist[0]" data-toggle="tooltip" title="Launch Site"><i class="btn btn-default fa fa-external-link fa-2x" aria-hidden="true"></i></a>
                            <a href="#" class="" data-accid="@sublist[0]" data-toggle="tooltip" title="Monitoring"><i class="btn btn-default fa fa-desktop fa-2x" aria-hidden="true"></i></a>
                            <a href="@Url.Action("marketPlace", "Tenant")" data-accid="@sublist[0]" data-toggle="tooltip" title="Market Place"><i class="btn btn-default fa fa-shopping-cart fa-2x marketPlace" aria-hidden="true"></i></a>
                            <a href="#" class="edit" data-accid="@sublist[0]" data-toggle="tooltip" title="Edit Data"><i class="btn btn-default fa fa-desktop fa-2x" aria-hidden="true"></i></a>
                        </span>
                    </div>
                    <!-- Database Modal -->

                    @if (ViewBag.Message != null)
                    {
                        <script type="text/javascript">
                            window.onload = function () {
                                alert("@ViewBag.Message");
                            };
                        </script>
                    }

                    <!-- UserModal HTML Invite User -->


                </div>
            </div>
        }
    }
</div>
<style>
    .new {
        float: right;
        margin-right: 50%;
    }

    .prologo {
        width: 20%;
        height: 20%;
    }

    .tdd {
        margin: 10px;
        width: 100px;
    }

    .tds {
        margin-top: 50px;
    }

    .tenant_account {
        width: 50%;
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        height: 300px;
        margin: 1rem;
        position: relative;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        border-radius: 10px;
    }

        .tenant_account:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }


    img {
        border: solid 0px yellow;
        margin: 10px;
        width: 20%;
        height: 20%;
    }

    .hov:hover {
        border: solid 2px blue;
    }

    .border_blue {
        border: solid 2px blue;
    }
</style>


