@using System;
@using ExpressBase.Objects.ServiceStack_Artifacts;
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    List<EbSolutionsWrapper> sarr = ViewBag.Solutions;
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
@section StyleSheet {
    <link rel="stylesheet" href="~/css/EbControls/eb-walkthrough.css" />
}
@section JavaScript{
    <script src="~/js/EbDashBoards/TenantDashBoard.js" type="text/javascript" asp-append-version=@bApnd></script>
    <script src="~/js/EbControls/eb-walkthrough.js" type="text/javascript" asp-append-version=@bApnd></script>
}
<div class="row s-dash-container h-100">
    <div class="pd-0 tdasboard-sidebar tenant_sidebar">
        <div class="t-container">
            <ul class="list-group eb-dashbord-sidebar">
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/MySolutions">
                        <span class="material-icons t__sidebar_icon">highlight</span>
                        <span class="t__sidebar_text">My Solutions</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/Store">
                        <span class="material-icons t__sidebar_icon">store</span>
                        <span class="t__sidebar_text">App Store</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/Wiki">
                        <span class="material-icons t__sidebar_icon">chrome_reader_mode</span>
                        <span class="t__sidebar_text">Wiki</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">contact_support</span>
                        <span class="t__sidebar_text">Support</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc">
            <div class="col-md-7 pd-0">
                <h4 class="mr-t-0 mr-b-0">Solutions <span class="apps_count">(@sarr.Count)</span></h4>
            </div>
            <div class="col-md-5 pd-0" style="display: flex;flex-flow: row-reverse nowrap;">
                <div class="input-group eb-search-box" style="margin-left: 15px;">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" id="solSearch" class="form-control" placeholder="Search solution">
                </div>
                <button class="ebbtn eb_btnblue eb_btn-sm new_sol_lk" id="eb-new-solution">New Solution</button>
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">
            <div class="tdash-box-body">
                @{
                    foreach (EbSolutionsWrapper s in sarr)
                    {
                        string desc = (string.IsNullOrEmpty(s.Description)) ? "no description" : s.Description;

                        <div class="solution_container">
                            <div class="solution_container_pd w-100">
                                @*<div class="w-100 s_info_img text-center">
                                        <img class="img-responsive" src="/images/your_company_logo.png" />
                                    </div>*@
                                <div class="s_info w-100">
                                    <h4 name="SolutionTitle">@s.SolutionName</h4>
                                    <p class="small mr-0">@desc</p>
                                    <p class="small mr-0">Created on @s.DateCreated</p>
                                </div>
                                <div class="sso_head text-center">
                                    <input name="WhichConsole" type="hidden" value="" />
                                    <a sid="@s.IsolutionId" wc="uc" class="sso-btn eb_btnblue single__sso" title="go to user console">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> User Login
                                    </a>
                                    <a sid="@s.IsolutionId" wc="dc" class="sso-btn eb_btnwhite  single__sso" title="go to dev console">
                                        <i class="fa fa-wrench" aria-hidden="true"></i> Dev Login
                                    </a>
                                </div>
                                <div class="sln-configLink">
                                    <a href="MySolutions/@s.IsolutionId" target="_blank" class="pull-right" title="configure solution">
                                        <i class="fa fa-cog" aria-hidden="true"></i> Settings
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
                @*<div class="ebTour_bodyWrpr"></div>
                    <div class="ebTour_bodyWrprInner">
                        <div class="TourTile">
                            <div class="TourTileInner">
                                <div class="TilePointer"></div>
                                <div class="TourTileHead">
                                    <span>Developer</span>
                                </div>
                                <div class="TourTileContent">
                                    <p>
                                        fdsgkljdfkagdf fdghdfagnfd fdlgkjfdgfdklg dfglkdfjglkfdg;
                                    </p>
                                </div>
                                <div class="TourTileFooter">
                                    <button class="TourTileBtn TourTilePrevBtn"><i class="fa fa-arrow-left"></i> Prev</button>
                                    <button class="TourTileBtn TourTileNextBtn">Next <i class="fa fa-arrow-right"></i></button>
                                </div>
                        </div>
                    </div>
                    <a class="touFtr-skip">Skip <i class="fa fa-step-forward" aria-hidden="true"></i></a>
                    <a class="touFtr-showAgn">Dont show again <i class="fa fa-power-off" aria-hidden="true"></i></a>
               </div>*@
            </div>
        </div>
    </div>
</div>

@section JsCode{
    <script>
        $(document).ready(function () {
            var cm = new EbHeader().setName("My Solutions");
            var Tdb = TenantDashBoard();
            if ('@ViewBag.Msg')
                EbMessage("show", { Message: "@ViewBag.Msg", AutoHide: true });
            });
        //setTimeout(function () {
        //    var tour = new Tour(
        //        {
        //            Stack: [
        //                {
        //                    element: ".c-blue",
        //                    content: "go to user console",
        //                    title: "User Console"
        //                },
        //                {
        //                    element: ".c-orange",
        //                    content: "go developer console",
        //                    title: "developer"
        //                },
        //                {
        //                    element: ".c-normal",
        //                    content: "go to solution configuration",
        //                    title: "Solution Info"
        //                },
        //                {
        //                    element: ".new_sol_lk",
        //                    content: "create new solution",
        //                    title:"Create Solution"
        //                }
        //            ]
        //        })
        //},1000)
    </script>
}








