@{
    Layout = "~/Views/Shared/_Layout1.cshtml";

}
<style>
    .padd {
        margin-top: 50px;
    }
</style>
<script>
    $(document).ready(function () {


        $('#newAcc').click(function () {
            var addaccountwzd = new EbWizard("https://expressbase.org/Tenant/AddAccount2", "https://expressbaseservicestack.azurewebsites.net/infra/", 800, 600, "Add Account", "fa-database");
        });
        $('.eb_acc_dbcon_btn').click(function () {

            var accid = $(this).attr("data-accid");

            $.ajax({
                url: "https://expressbaseservicestack.azurewebsites.net/infra/",
                dataType: 'jsonp',
                data: {
                    "Colvalues": JSON.stringify({ "dbedit": "dbedit", "op": " ", "id": accid }),
                    "Token": getToken()
                },
                success: function (result, status) {
                    if (result.data.conf_dbtype === 1) {
                        var DBwizard_sim = new EbWizard("https://expressbase.org/Tenant/SimpleDbConf", "https://expressbaseservicestack.azurewebsites.net/infra/", 800, 600, "Configure DB Connectivity - Simple", "fa-database", accid, result.data);
                        DBwizard_sim.CustomWizFunc = (new CustomWizFuncs(accid)).DbCheck;
                    }
                    else if (result.data.conf_dbtype === 2) {
                        var DBwizard_adv = new EbWizard("https://expressbase.org/Tenant/dbConfig", "https://expressbaseservicestack.azurewebsites.net/infra/", 800, 635, "Configure DB Connectivity - Advanced", "fa-database", accid, result.data);
                        DBwizard_adv.CustomWizFunc = (new CustomWizFuncs(accid)).DbCheck;
                    }
                    else {
                        var DBwizard = new EbWizard("https://expressbase.org/Tenant/SimpleAdvanced", "https://expressbaseservicestack.azurewebsites.net/infra/", 800, 600, "Configure DB Connectivity", "fa-database", accid);
                        DBwizard.CustomWizFunc = (new CustomWizFuncs(accid)).DbCheck;
                    }
                },
                beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + getToken()); }
            });

        });


    });

    function readURLImg(input) {
        $('#imgInp').val(input.value.replace(/C:\\fakepath\\/, ''));
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {

                $('#imgpro').val(reader.result);
                $('#img-upload').attr('src', e.target.result).width(100)
           .height(100);;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
@{
    List<List<object>> list = new List<List<object>>();
    list = ViewBag.dict;




    <div class="col-md-12">
        <div class="col-sm-2">
            <label style="font-size:20px;">My Accounts</label>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" id="newAcc">New Account</button>
        </div>
        <div class="col-md-3 col-md-offset-5">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            @foreach (var sublist in list)
            {
                <div class="col-md-4">
                    <div class="padd" style="border:solid 1px #e6e0e0;height:260px;">
                        <h4>@sublist[1]</h4>
                        <span class="media-meta">Created At:@sublist[4]</span>

                        @{
                            if (string.IsNullOrEmpty(sublist[2].ToString()))
                            {
                                <img src="~/images/EB_Logo.png" class="img-responsive" style="width:200px;" />

                            }
                            else
                            {
                                @*@Html.Raw(sublist[2])*@
                                <img src="~/images/EB_Logo.png" class="img-responsive" style="width:200px;" />
                            }
                        }

                        <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis. </p>
                        <div class="col-xs-3">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions<span class="caret"></span></button>
                            @{ var domain = this.Context.Request.Host; }
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-plus-title">
                                    Account settings
                                    <b class="pull-right glyphicon glyphicon-chevron-up"></b>
                                </li>
                                <li><a href="#" class="eb_acc_dbcon_btn" id="dbcheck" data-accid="@sublist[0]" data-cid="@sublist[3]" data-toggle="tooltip" title="Configure DB">Configure Database</a></li>
                                <li><a href="#" class="" data-accid="@sublist[0]" data-cid="@sublist[3]" data-toggle="tooltip" title="Users">Users</a></li>
                                <li><a href="#" class="" data-accid="@sublist[0]" data-cid="@sublist[3]" data-toggle="tooltip" title="Billing">Billing</a></li>
                                <li><a href="http://@sublist[3].@domain" target="_blank" class="" data-accid="@sublist[0]" data-cid="@sublist[3]" data-toggle="tooltip" title="Launch Site">Launch Site</a></li>
                                <li><a href="@Url.Action("marketPlace", "Tenant")" data-accid="@sublist[0]" data-cid="@sublist[3]" data-toggle="tooltip" title="Market Place">Market Place</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-3 col-xs-offset-3">
                            @*<button class="btn btn-success">Open Console</button>*@

                            <form id="devconsole" method="post" action="http://@sublist[3].@domain/dev" target="_blank">
                                <input type="hidden" name="tacid" id="tacid" value="@sublist[0]" />
                                <input type="hidden" name="cid" id="cid" value="@sublist[3]" />
                                <input type="submit" class="btn btn-success" value="Open Console" />
                            </form>
                        </div>
                    </div>
                </div>
                                }

        </div>
    </div>
}