@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
<head>
    <title>Customer Stripe Invoice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="~/css/Stripe/subscribedview.css">

</head>
<body>
    <div class="div-body-main">
        <div class="div-icon">
            <i class="fa fa-check fa-5x"></i>
        </div>
        <div class="heading">
            SUBSCRIBED SUCCESSFULLY
        </div>
        <div class="div-sub-desc">
            You have successfully subscribed to @ViewBag.SubscribeObjects.Plan on @ViewBag.SubscribeObjects.Created.ToString("dd MMM,yyyy")
        </div>
        <div class="div-sub-headings">
            <div class="col-md-12 div-sub-heading">
                <div class="col-md-6 sub-heading">
                    Amount per Users
                </div>
                <div class="col-md-6 ">
                    $@(ViewBag.SubscribeObjects.Amount / 100)
                </div>
            </div>
            <div class="col-md-12 div-sub-heading">
                <div class="col-md-6 sub-heading">
                    Total Amount
                </div>
                <div class="col-md-6">
                    $@(ViewBag.SubscribeObjects.Amount / 100 * ViewBag.SubscribeObjects.Quantity)    ($@(ViewBag.SubscribeObjects.Amount / 100) * @ViewBag.SubscribeObjects.Quantity Users)
                </div>
            </div>
        </div>
        <div class="div-footer">
            You will be charged $@(ViewBag.SubscribeObjects.Amount / 100 * ViewBag.SubscribeObjects.Quantity) (@ViewBag.SubscribeObjects.PeriodStart.ToString("dd MMM,yyyy") - @ViewBag.SubscribeObjects.PeriodEnd.ToString("dd MMM,yyyy")) on @ViewBag.SubscribeObjects.PeriodEnd.ToString("dd MMM,yyyy")
        </div>
    </div>
</body>
