@using System.Data
@using System.Linq
@using System.Collections.Generic
@using ExpressBase.Common;
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}

<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="~/css/RedisClient/rediscss.css" />
<link rel="stylesheet" href="~/css/RedisClient/jquery.splitter.css" />
<link rel="stylesheet" href="~/css/ApiRelated/EbPrettyJson.css" />
<title>Index</title>
<script src="~/js/RedisClient/RedisClietJS.js" type="text/javascript"></script>
<script src="~/js/RedisClient/jquery.splitter.js" type="text/javascript"></script>
<script src="~/js/ApiBuilder/EbPrettyJson.js" type="text/javascript"></script>

<script>
    var cm = new EbHeader().setName("Redis Explorer");
</script>

<div style=" margin-top: 3%;">
    <div class="col-md-2">
        <div class="borderstyle " style="margin-bottom: 1px;">
            <div class="input-group mb-3 ">
                @*<input type="text" id="t3" value="@ViewBag.cc" />*@

                <input type="text" id="t1" value="" class=" form-control " placeholder="Key" />
                <div class="input-group-btn">
                    <button id="Btnsrch" class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
            @{
                <select id="ptns" class="form-control">
                    <option value="1">At beginning</option>
                    <option value="2">End</option>
                    <option value="3">Middle</option>
                </select>
            }
        </div>
        <div style="max-height:540px; height:540px;" id="group_div" class="borderstyle">
            <span href="#defaultgrp" id="dfltgrp" style="display:block; border: 1px  solid blue ; border-left: 4px solid blue;   border-radius: 5px;" data-toggle="collapse">Group                        <i class="fa fa-caret-down"></i></span>
            <div id="defaultgrp" class=" collapse  in">
                <ul id="keyslist" class="nav nav-pills nav-stacked scrol_0 ">
                    @{
                        foreach (EbGroup p in @ViewBag.defltgrplst)
                        {
                            <li>
                                <a class="grp_link list-group-item" role="tab" href="#dispvalue" data-toggle="tab" data-ptn="@p.Pattern" grp_name="@p.Name">@p.Name</a>
                            </li>
                        }

                    }
                </ul>
            </div>
            <span href="#customgrp" id="cstmgrp" style="display:block; border: 1px  solid blue;  border-radius: 5px;  border-left: 4px solid blue; border-radius: 5px;" data-toggle="collapse"> Custom Groups                <i class="fa fa-caret-down"></i></span>
            <div id="customgrp" class="collapse  ">
                <ul id="grplists" class="nav nav-pills nav-stacked scrol_1 ">
                    @{
                        foreach (KeyValuePair<string, List<string>> item in @ViewBag.csgrplst)
                        {
                            var kname = "Group" + ViewBag.cid + "_" + item.Key;
                            <li>
                                <a class="cstmgrp_link list-group-item" role="tab" href="#dispvalue" data-toggle="tab" cgrpkey="kname" data-name="@item.Key" grp-ptns=@JsonConvert.SerializeObject(item.Value)>@item.Key</a>
                                @*<ul id="sub_@p.pattern"></ul>*@
                            </li>
                        }
                    }
                </ul>
            </div>



        </div>
    </div>
    <div class="col-md-10 pading0">
        <div class="row">
            <nav>
                <ul class="nav nav-tabs" id="hdbar">
                    <li id="btninfo"><a class="active " role="tab" href="#dispvalue" data-toggle="tab">Info</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add Keys <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" role="tab" data-toggle="modal" data-target="#modalstring">String</a></li>
                            <li><a href="#" role="tab" data-toggle="modal" data-target="#modallist">List</a></li>
                            <li><a href="#" role="tab" data-toggle="modal" data-target="#modalhash">Hash</a></li>
                            <li><a href="#" role="tab" data-toggle="modal" data-target="#modalset">Set</a></li>
                            <li><a href="#" role="tab" data-toggle="modal" data-target="#modalsortedset">Sorted Set</a></li>
                        </ul>
                    </li>
                    <li id="btnkeys"><a role="tab" href="#dispvalue" data-toggle="tab">Display keys</a></li>
                    <li id="tabterminal"><a class="active" role="tab" href="#termnl" data-toggle="tab">Terminal</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Groups<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="tabgrpinsert"><a role="tab" href="#" data-toggle="modal" data-target="#modalgrp">Create Group</a></li>
                            <li><a href="#" role="tab" data-toggle="modal" data-target="#modalgrpedit">Edit Group</a></li>

                        </ul>
                    </li>
                    <li id="tablog"><a role="tab" href="#tbllog" data-toggle="tab">Activity log</a></li>
                    @*<li style=" float: right;"> <button id="btnregex" class="glyphicon  glyphicon-search"></button>  </li>*@
                    <li style=" float: right;"><button type="button" id="btnregex" class="glyphicon glyphicon-search btn btn-default btn-sm"></button></li>
                    <li style=" float: right;"> <input type="text" id="txtregex" class="form-control pading" placeholder="Search Based on RegEx"> </li>

                </ul>

            </nav>
        </div>

        <div class="tab-content">
            <div id="infos" class="tab-pane fade in active">
                <input type="text" id="tl" class="margin_sml7 marginleft" value="" placeholder="Value" padding-top:1px; padding-left: 1px;
                       padding-right: 1px;" />
            </div>

            <div id="termnl" class="tab-pane fade position-relative borderstyle  margin_sml7  " style=" padding-top:1px; padding-left: 1px;
                              padding-right: 1px;">
                <div id="divterminal" style=" background-color: #0f1315; color: #f5f2f2; max-height:567px;height:567px; width: 100%;overflow-y: scroll;" class=" divterm">
                </div>

            </div>
            <div id="dispvalue" class="tab-pane fade " style=" height: 555px;  width: 100%;">
                <div id="subkeydiv" class="col-md-3 pading0  margin_sml7 scrol  " style=" width: 200px;">
                    <ul id="sublist" class="nav nav-pills nav-stacked"></ul>
                </div>

                <div id="outerdisp" class=" position-relative borderstyle  col-md-9  margin_sml7  " style=" padding-top:1px; padding-left: 3px;
                                      padding-right: 1px;" hidden>
                    <div id="smallbtn" hidden style=" margin-bottom: 3px;">
                        <input type="button" id="btnkeydel" value="Delete" class="btn btn-info btn-xs" />
                        <input type="button" id="btnrename" value="Rename" class="btn btn-xs btn-info" role="tab" href="#" data-toggle="modal" data-target="#modalrename" />
                        <input type="button" id="btnjsonview" value="JSON View" class="btn btn-info btn-xs" />
                        <input type="button" id="btnedit" value="Edit" class="btn btn-info btn-xs" />

                    </div>

                    <div id="savediv" class=" position-relative borderstyle"></div>
                    <div id="dispval" class="scrol_1" contenteditable="false"></div>
                </div>
            </div>
            <div id="tbllog" class=" tab-pane fade">
                <div id="logtable" class="scrol_4">
                    <table class="tablelog table table-striped table-bordered">
                        <tr> <th>User</th> <th>Time</th> <th>Command</th> <th>Key</th></tr>
                    </table>
                </div>
                <div id="logshowvalues">
                    <div class="col-md-6 borderstyle " style="height:250px ">
                        <h4><b>Previous Value</b>           </h4>

                        <div class="previousval scrol_2">
                        </div>
                    </div>
                    <div class="col-md-6 borderstyle " style="height:250px">
                        <h4><b>Current Value</b>                  </h4>

                        <div class="currentval scrol_2">
                        </div>
                    </div>
                </div>
            </div>






            <!-- Modal string key insert-->
            <div class="modal fade" id="modalstring" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert key</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="txtkey" value="" placeholder="Key" class="form-control" />
                            <div class="form-group">
                                <textarea class="form-control" rows="5" placeholder="Value" id="txtval"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" id="btninset" value="Insert" class="btn btn-primary" data-dismiss="modal" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal list key insert-->
            <div class="modal fade" id="modallist" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert List Key</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="txtlistkey" value="" placeholder="Key" class="form-control" />
                        </div>
                        <div class="modal-footer">
                            <input type="button" id="btnlistkey" value="OK" role="tab" data-toggle="modal" data-target="#modallistval" class="btn btn-primary" data-dismiss="modal" />

                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal listvalue key-->
            <div class="modal" id="modallistval" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert value</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="txtlistval" value="" placeholder="Value" class=" form-control" />

                        </div>
                        <div class="modal-footer">

                            <input type="button" id="btnlpush" value="Lpush" class="btn btn-primary" role="tab" data-toggle="modal" data-target="#modallistval" data-dismiss="modal" />
                            <input type="button" id="btnrpush" value="Rpush" class="btn btn-primary" role="tab" data-toggle="modal" data-target="#modallistval" data-dismiss="modal" />
                            <input type="button" id="btnlistcancel" value="Cancel" class="btn btn-primary" data-dismiss="modal" />
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal hash key insert-->
            <div class="modal fade" id="modalhash" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert Hash key</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="txthashkey" value="" placeholder="Key" class="form-control" />
                        </div>
                        <div class="modal-footer">
                            <input type="button" id="btnhashkey" value="OK" class="btn btn-primary" role="tab" data-toggle="modal" data-target="#modalhashval" data-dismiss="modal" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal hash field value key-->
            <div class="modal" id="modalhashval" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert value</h4>
                        </div>
                        <div class="modal-body">

                            <input type="text" id="txthashfield" value="" placeholder="Field" class=" form-control" />
                            <div class="form-group">
                                <textarea class="form-control" rows="5" placeholder="Value" id="txthashval"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <input type="button" id="btnhashinsert" value="Insert" class="btn btn-primary" role="tab" data-toggle="modal" data-target="#modalhashval" data-dismiss="modal" />
                            <input type="button" id="btnhashcancel" value="Cancel" class="btn btn-primary" data-dismiss="modal" />
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal set key insert-->
            <div class="modal fade" id="modalset" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert Key</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="txtsetkey" value="" placeholder="Key" class="form-control" />
                        </div>
                        <div class="modal-footer">
                            <input type="button" id="btnsetkey" value="OK" role="tab" data-toggle="modal" data-target="#modalsetval" class="btn btn-primary" data-dismiss="modal" />

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal set value key-->
            <div class="modal" id="modalsetval" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert value</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="txtsetval" value="" placeholder="Value" class=" form-control" />
                        </div>
                        <div class="modal-footer">
                            <input type="button" id="btnsetinsert" value="Insert" class="btn btn-primary" role="tab" data-toggle="modal" data-target="#modalsetval" data-dismiss="modal" />
                            <input type="button" id="btnsetcancel" value="Cancel" class="btn btn-primary" data-dismiss="modal" />
                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal sorted set key insert-->
            <div class="modal fade" id="modalsortedset" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert Key</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="txtsortedsetkey" value="" placeholder="Key" class="form-control" />
                        </div>
                        <div class="modal-footer">
                            <input type="button" id="btnsortedsetkey" value="OK" role="tab" data-toggle="modal" data-target="#modalsortedsetval" class="btn btn-primary" data-dismiss="modal" />

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal sorted set value key-->
            <div class="modal" id="modalsortedsetval" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Insert value</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="txtsortedsetscr" value="" placeholder="Score" class=" form-control" />
                            <input type="text" id="txtsortedsetval" value="" placeholder="Member" class=" form-control" />
                        </div>
                        <div class="modal-footer">
                            <input type="button" id="btnsortedsetinsert" value="Insert" class="btn btn-primary" role="tab" data-toggle="modal" data-target="#modalsortedsetval" data-dismiss="modal" />
                            <input type="button" id="btnsortedsetcancel" value="Cancel" class="btn btn-primary" data-dismiss="modal" />
                        </div>
                    </div>

                </div>
            </div>




            <!-- Modal Rename key-->
            <div class="modal fade" id="modalrename" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Rename key</h4>
                        </div>
                        <div class="modal-body">
                            <input type="text" id="txtrename" class="form-control" value="" placeholder="New Key" />

                        </div>
                        <div class="modal-footer">

                            <input type="button" id="btnrenamekey" value="OK" class="btn btn-primary" data-dismiss="modal" />
                        </div>
                    </div>

                </div>
            </div>




            <!-- Modal create group-->
            <div class="modal fade" id="modalgrp" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create Group</h4>
                        </div>

                        <div class="grpinsertbody modal-body">

                            <input type="text" id="txtnm" value="" class=" form-control" placeholder="Group Name" />
                            <div>
                                <div class="input-group " style="width:auto">
                                    <input type="text" id="txtptn1" class=" txtadnlptn form-control pading" placeholder="(\w+\-\w+\-)object_number(\-\w+\-\w+\-\w+\-\w">
                                    <div class="input-group-btn ">
                                        <div>
                                            <button class="btn btn-primary " id="btnsave1" type="submit" hidden="hidden">
                                                save
                                                <i class="glyphicon glyphicon-upload"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div id="ptnsdiv" class="scrol_3">
                                    <ul id="ptnslist" class="list-group"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="grpinsertfooter modal-footer">
                            <input type="button" id="btngrpcancel1" value="Cancel" class="btn btn-primary " data-dismiss="modal" />
                            <input type="button" id="btngrpinsert" value="Create Group" class="btn btn-primary " data-dismiss="modal" />

                        </div>
                    </div>

                </div>
            </div>


            <!-- Modal edit group-->
            <div class="modal fade" id="modalgrpedit" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Group</h4>
                        </div>

                        <div class="grpeditbody modal-body">

                            <input type="text" id="txtgrp_name" value="" class=" form-control" placeholder="Group Name" />
                            <div id="newptn_div" class="input-group " style="width:auto">
                                <input type="text" id="txtnewptn" class="  form-control pading" placeholder="Pattern" disabled="disabled">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" id="btnsave_newptn" type="submit" disabled="disabled">
                                        <i class="glyphicon glyphicon-floppy-disk"></i>
                                    </button>

                                </div>
                            </div>
                            <div id="edit_grp_list" class="scrol_2" contenteditable="false">

                            </div>

                        </div>
                        <div class="grpinsertfooter modal-footer">
                            <input type="button" id="btngrpcancel2" value="Cancel" class="btn btn-primary " data-dismiss="modal" />
                            @*<input type="button" id="btngrpadd" value="More Patterns?" class="btn btn-primary" />*@
                            @*<input type="button" id="btngrp_add_ptn" value="Add Pattern" class="btn btn-primary" disabled="disabled" />*@
                            <input type="button" id="btngrp_save" value="Save" class="btn btn-primary " data-dismiss="modal" disabled="disabled" />

                        </div>


                    </div>

                </div>
            </div>


        </div>
    </div>



</div>


<script>
       var  _temp = null;
        var sln_name = null;
    var auto_arr = null;
    var dgrpnames = null;

        $(document).ready(function () {
             sln_name = location.hostname.split("-")[0];
            _temp = @Html.Raw(ViewBag.allkeylist);

            dgrpnames =@Html.Raw(Json.Serialize(ViewBag.grpdetails));
            auto_arr =@Html.Raw(Json.Serialize(ViewBag.cmdbag));
            custom_grps=@Html.Raw(Json.Serialize(ViewBag.csgrplst));
                var client = new RedisClientJS();


    });

        $("#keyslist").click(function () {
            $('#dispval').empty();
        });
        $("#tabterminal").click(function () {
            $('#divterminal').empty();
            //$('.terminalcls').val('');
            //$('.divanswer').empty();
            let html = `>> <input type="text" class="active terminalcls txtboxwidth " style=" background-color: #0f1315; color: #6ce890;" autofocus>
                                <div class="tresponse" style=" background-color: #0f1315; color: #2795ee;">
                                </div> `;
            $('#divterminal').append(html);




        });
        //$("#subkeydiv").click(function () {
        //    $('#dispval').show();
        //});

        //$("#btnkeys").click(function () {
        //    client.Allkeysfn();
        //});

</script>
