@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    Html.RenderPartial("ExtPageHeader");
}
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
<link href="~/css/Demos/Demos.css" rel="stylesheet" type="text/css" />

<script>
    $.getScript('https://connect.facebook.net/en_US/sdk.js', function () {
        FB.init({
            appId: ('@ViewBag.Env' === 'Development' ? '141908109794829' : ('@ViewBag.Env' === 'Staging' ? '1525758114176201' : '2202041803145524')),
            version: ('@ViewBag.Env' === 'Development' ? 'v2.11' : ('@ViewBag.Env' === 'Staging' ? 'v2.8' : 'v3.0')), // or v2.1, v2.2, v2.3, ...
            cookie: true,
            xfbml: true,
        });
            //FB.getLoginStatus(updateStatusCallback);
    });

    function authFbId(id,name,email) {
        $.ajax({
            url: "../Demos/DemoAuth",
            data: {
                Context: '@ViewBag.wc',
                FbId: id,
                Name: name,
                Email: email,
                Cid: "north_wind_demo"
            },
            success: function (res) {
                $(".commonLoader").EbLoader("hide");
                location.replace(res);
            }
        });
    }

    function updateStatusCallback(r) {
        if (r.authResponse) {
            getUserInfo();
            $(".commonLoader").EbLoader("show");
        }
    };

    function loginCallBack(respose) {
        getUserInfo();
        $(".commonLoader").EbLoader("show");
    }

    function getUserInfo(){
        FB.api('/me?fields=id,name,picture,email', function (r) {
            authFbId(r.id,r.name,r.email);
        });
    }

    function FBlogin() {
        //context = $(event.target).attr("_context");
        FB.login(loginCallBack, { scope: 'email' });
    }
</script>
<div class="row dmssrw">
    <div class="container">
        <div class="ssowrpHs">
            <h2 class="text-center">Live Demo</h2>
            <h4 class="text-center">Explore & Experience the platform</h4>
            <p class="text-center">
                Checkout HR Management, Order Management & Inventory Control demo apps created 
                using the famous Northwind sample database.
            </p>
        </div>
        <div class="SdemWraperOuter">
            @{
                if (ViewBag.wc == "uc")
                {
                    <div class="ssoWrpr-uc">
                        <div class="ssoUcBdy">
                            <h4 class="text-center">User Expierence</h4>
                            <p style="margin-bottom: 20px;">Forms, PDF Reports Table and Chart Vis.</p>
                            <img class="wall-img" src="~/images/svg/userloginwall.svg" />
                            <button _context="uc" class="ebbtn eb_btnblue w-100 loginbutton">
                                <i class="fa fa-facebook pull-left" style="font-size: 19px;"></i>
                                Login with Facebook
                            </button>
                        </div>
                    </div>
                }
                else if (ViewBag.wc == "dc")
                {
                    <div class="ssoWrpr-dc">
                        <div class="ssoDcBdy">
                            <h4 class="text-center">Developer Experience</h4>
                            <p style="margin-bottom: 20px;">Web based Drag-n-Drop builders <br />Install one-click apps from appstore</p>
                            <img class="wall-img" src="~/images/svg/devloginwall.svg" />
                            <button _context="dc" class="ebbtn eb_btnblue w-100 loginbutton">
                                <i class="fa fa-facebook pull-left" style="font-size: 19px;"></i>
                                Login with Facebook
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<script>$('.loginbutton').click(FBlogin);</script>