@using ExpressBase.Objects.ServiceStack_Artifacts;
@using Newtonsoft.Json;
@{
    if (ViewBag.Message == null)
    {
        <script>
            if (window.DBExplorer != undefined) {
                window.DBExplorer.TCobj = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Tables));
            }
        </script>

        if (ViewBag.IsAdminOwn && ViewBag.Message == null)
        {
            <div class="db_client_toolbox TablePannelHead" style="padding-top: 3%; padding-left: 8%;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <select id="searchSolution" class="selectpicker" title="@ViewBag.DB_Name" data-live-search="true">
                                @{
                                    foreach (string solution in ViewBag.Solutions)
                                    {
                                        <option class="dropdown-item" type="button">@solution</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="dbTyper" dt="@ViewBag.DB_Name" dOwn="@ViewBag.IsAdminOwn"></div>

        <div class="db_client_toolbox TablePannelHead">
            <i class="fa fa-database" aria-hidden="true"></i>        @ViewBag.DB_Name 
            <input type="text" id="myInput" placeholder="Search for Table.." title="Table Name">
        </div>
        <div class="mytree db_client_toolbox_bdy" id="myUL">

            <div>
                <span>Tables ( @ViewBag.TableCount )</span>
                @{ foreach (KeyValuePair<string, EbDbExplorerTable> Table_kvp in ViewBag.Tables.TableCollection)
                    {
                        <div table-name="@Table_kvp.Key" id="@Table_kvp.Key" class="treecontextmenu">
                            @*<i class="fa fa-plus-square-o treecontextmenu parent" aria-hidden="true"></i>
                                <i class="fa fa-minus-square-o treecontextmenu expanded" aria-hidden="true" style="visibility:hidden"></i>*@
                            @{
                                EbDbExplorerTable table = Table_kvp.Value;
                                string schema = table.Schema;
                                List<string> Indexes = table.Index;
                                List<EbDbExplorerColumn> Columns = table.Columns;

                                <span class="table-name " data-name="@Table_kvp.Key" data-toggle="tooltip" data-placement="left" title="No. of Columns : @Columns.Count()">@Table_kvp.Key</span>

                                <div>
                                    <span>Schema ( @schema )</span>
                                </div>
                                <div>
                                    <span>Index (@Indexes.Count())</span>
                                    @foreach (string Index in Indexes)
                                    {
                                        <div>@Index</div>
                                    }
                                </div>
                                <div>
                                    <span data-toggle="tooltip" data-placement="left" title="Count : @Columns.Count()">Column (@Columns.Count())</span>
                                    @foreach (EbDbExplorerColumn Column in Columns)
                                    {
                                        <div>
                                            @{ if (Column.ColumnKey == "Primary key")
                                                { <i class="fa fa-key fa-1x gold" aria-hidden="true"></i> }
                                                else if (Column.ColumnKey == "Foreign key")
                                                {<i class="fa fa-key fa-1x fkey" aria-hidden="true"></i> }
                                                if (Column.ColumnType == "integer" || Column.ColumnType == "numeric")
                                                {
                                                    <i class="fa fa-sort-numeric-asc data-type" aria-hidden="true"></i>
                                                }
                                                else if (Column.ColumnType == "text" || Column.ColumnType == "character")
                                                {
                                                    <i class="fa fa-font data-type" aria-hidden="true"></i>
                                                }
                                                if (Column.ColumnType == "timestamp without time zone")
                                                {
                                                    <i class="fa fa-calendar fa-1 data-type" aria-hidden="true"></i>
                                                }
                                            } <span id="@Column.ColumnName" data-toggle="tooltip" data-placement="left" title="@Column.ColumnType :: @Column.ColumnKey">@Column.ColumnName     @Column.ColumnTable</span>
                                        </div>
                                    }
                                </div>                               
                            }
                        </div>
                    }
                }
            </div> 
            <div>

                @{ List<EbDbExplorerFunctions> Functions = ViewBag.Tables.FunctionCollection;
                    <span>Functions ( @Functions.Count() )</span>
                    foreach (EbDbExplorerFunctions Function in Functions)
                    {
                        <div Function-name="@Function.FunctionName" id="@Function.FunctionName">
                            @{
                                <span class="table-name " data-name="@Function.FunctionName" data-toggle="tooltip" data-placement="left">@Function.FunctionName</span>

                                <div>
                                    <span>@Function.FunctionQuery</span>
                                </div>
                            }
                        </div>
                    }
                }
            </div>


        </div>
        <script>
    //window.onload = function () {
        if (window.DBExplorer !== null || window.DBExplorer !== undefined) {
            window.DBExplorer = new Eb_DBExplorer({
                TCobj: @Html.Raw(JsonConvert.SerializeObject(ViewBag.Tables))
            });
        }
        else {
            window.DBExplorer.TCobj = @Html.Raw(JsonConvert.SerializeObject(ViewBag.Tables));
       }
    //}
        </script>
    }
    else
    {

        <script>
    $(document).ready(function () {
        EbMessage("show", { Message: '@ViewBag.Message', Background: "red" });
        setTimeout(function () {
            location.reload(true);
        }, 5000);
    });
        </script>

    }
}
