@using ExpressBase.Objects.ServiceStack_Artifacts
@using ExpressBase.Common
@using ExpressBase.Common.LocationNSolution;
@using Newtonsoft.Json;

@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" />
<link href="~/css/EbOnBoarding/eb-assets.style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<link rel="stylesheet" type="text/css" href="~/css/bootstrap-select.min.css" />

<script type="text/javascript" src="~/js/location-config.js"></script>
<script type="text/javascript" src="~/js/CommonDataTable.js"></script>
<script type="text/javascript" src="~/js/datatables.min.js"></script>
<script type="text/javascript" src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<script>
    var cm = new EbHeader().setName("Configure Locations");
</script>
@{
    Dictionary<int, EbLocation> locations = ViewBag.LocList;
    List<EbLocationType> location_types = ViewBag.LocType;
}
<div class="row s-dash-container h-100">
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc border-style-none">
            <div class="col-md-10 pd-0">
                <h4 class="mr-t-0 mr-b-0">Locations <span class="apps_count">(@locations.Count)</span></h4>
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">

            <ul class="nav nav-tabs eb-styledTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#locations_hierarchial_tab" role="tab">
                        <i class="fa fa-indent" aria-hidden="true"></i> Locations Tree View
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" data-toggle="tab" href="#locations_tab" role="tab">
                        <i class="fa fa-list" aria-hidden="true"></i> Locations
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#location_types" role="tab"><i class="fa fa-object-group" aria-hidden="true"></i> Location Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#location_conf" role="tab"><i class="fa fa-cogs" aria-hidden="true"></i> Customize</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane" id="locations_tab" role="tabpanel">
                    <div class="row col-md-12">
                        <div class="col-md-2 pd-0 pull-right ">
                            <a data-toggle="modal" data-target="#create_loc_mod" class="ebbtn eb_btnblue eb_btn-sm new_sol_lk pull-right "> <i class="fa fa-plus"></i> New Location</a>
                        </div>
                    </div>
                    @foreach (KeyValuePair<int, EbLocation> loc in locations)
                    {
                        <div class="col-md-4 col-lg-4 col-sm-4 appcontainer">
                            <a class="appcontainer_inner loc_tile" locid=@locations[loc.Key].LocId>
                                <div class="col-md-4 pd-l-0 flex-center locsImage">
                                    <img src="~/images/your_company_logo.png" />
                                </div>
                                <div class="col-md-10 pd-0">
                                    <h5 class="txtdecor_none ellipsis-text">@locations[loc.Key].LongName</h5>
                                    <p class="small txtdecor_none">@locations[loc.Key].ShortName</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>

                <div class="tab-pane active" id="locations_hierarchial_tab" role="tabpanel">
                    <div id="loc_tree_container"></div>
                </div>

                <div class="tab-pane location_conf" id="location_conf" role="tabpanel">
                    <div class="form-inline btn_container">
                        <button class="ebbtn eb_btnblue eb_btn-sm pull-right" data-toggle="modal" data-target="#add_new_key" id="addkey">
                            <i class="fa fa-plus"></i> Custom Field
                        </button>
                    </div>
                    <form class="form-horizontal conf_container" id="textspace" method="post">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Field Name</th>
                                    <th scope="col" class="text-center">Required</th>
                                    <th scope="col" class="text-center">Type</th>
                                    <th scope="col" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr key="Name">
                                    <td>Name</td>
                                    <td class="text-center"><i class="fa fa-check fa-green"></i></td>
                                    <td class="text-center">Text</td>
                                    <td class="text-center"></td>
                                </tr>
                                <tr key="Short Name">
                                    <td>ShortName</td>
                                    <td class="text-center"><i class="fa fa-check fa-green"></i></td>
                                    <td class="text-center">Text</td>
                                    <td class="text-center"></td>
                                </tr>
                                <tr key="Logo">
                                    <td>Logo</td>
                                    <td class="text-center"><i class="fa fa-check fa-green"></i></td>
                                    <td class="text-center">Image</td>
                                    <td class="text-center"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <div class="tab-pane location_conf" id="location_types" role="tabpanel">
                    <div class="form-inline btn_container">
                        <button class="ebbtn eb_btnblue eb_btn-sm pull-right" data-toggle="modal" data-target="#location_type_modal" id="add_location_type">
                            <i class="fa fa-plus"></i> Add New Type
                        </button>
                    </div>
                    <form class="form-horizontal conf_container" id="types-space" method="post">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Sl.No</th>
                                    <th scope="col" class="text-center">Id</th>
                                    <th scope="col" class="text-center">Location Type</th>
                                    <th scope="col" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1;
                                    foreach (EbLocationType t in location_types)
                                    {
                                        <tr key="@t.Id">
                                            <td class="text-center">@i</td>
                                            <td class="text-center">@t.Id</td>
                                            <td class="text-center _type" key="@t.Type">@t.Type</td>
                                            <td class="text-center" id="@t.Id">
                                                <i id="del_@t.Id" class="fa fa-trash delete-loc-type"></i>
                                                <i id="edit_@t.Id" class="fa fa-pencil edit-loc-type"></i>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade create_loc_mod" id="create_loc_mod" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Location</h4>
            </div>
            <div class="modal-body new_location_bdy">
                <div class="form-horizontal" id="locspace">
                    <input type="hidden" name="LocId" />
                    <div class="form-group">
                        <label class="col-sm-3">Name </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control keyname" placeholder="Enter Name" id="shortname" name="longname" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3">ShortName </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control keyname" placeholder="Enter Short Name " id="shortname" name="shortname" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Logo</label>
                        <div class="col-sm-3">
                            <input type="hidden" value="" name="Logo" />
                            <button key="Logo" id="Logo_toggle_btn" class="btn btn-default disablebtn" disabled>Choose file <i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-md-6 logo_img_cont">
                            <img src="" class="img-responsive pull-right" id="Logo_prev" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="ebbtn eb_btnblue pull-right" value="" id="createloc">Add</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade create_loc_mod" id="add_new_key" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Custom Field</h4>
            </div>
            <div class="modal-body new_location_bdy">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3">Field Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="KeyName" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Required</label>
                        <div class="col-sm-9">
                            <input type="checkbox" name="IsRequired" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Type</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="KeyType">
                                <option value="Text">Text</option>
                                <option value="Image">Image</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="ebbtn eb_btnblue pull-right" id="add_key_btn">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="location_type_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Location type</h3>

            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="TypeName" value="">
                            <input type="hidden" value="0" id="type_id" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="ebbtn eb_btnblue pull-right" id="add_type_btn">Add</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="add_location_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add/Edit Location</h4>
            </div>
            <div class="modal-body new_location_bdy" id="add_location_bdy">
                <input type="hidden" name="_LocId" />
                @if(location_types!=null&&location_types.Count>0)
                {
                <div class="form-group">
                    <label class="col-sm-3">Type</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="loc_type" name="loc_type">
                            <option value="0" selected>--Select--</option>
                            @foreach (EbLocationType t in location_types)
                            {
                                <option value="@t.Id"> @t.Type</option>
                            }
                        </select>
                    </div>
                </div>
                }
                <input type="hidden" class="form-control keyname" placeholder="Enter Parent ID" id="_parentId" name="_parentId" value="">
                <div class="form-group">
                    <label class="col-sm-3">Name </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control keyname" placeholder="Enter Name" id="_shortname" name="_longname" value="">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3">ShortName </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control keyname" placeholder="Enter Short Name " id="_shortname" name="_shortname" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3">Logo</label>
                    <div class="col-sm-3">
                        <input type="hidden" value="" name="_Logo" />
                        <button key="_Logo" id="_Logo_toggle_btn" class="btn btn-default disablebtn" disabled>Choose file <i class="fa fa-cloud-upload" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-md-6 logo_img_cont">
                        <img src="" class="img-responsive pull-right" id="_Logo_prev" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="add_location" class="btn btn-default">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.EbObjectTypes);
   @{
       var locs = JsonConvert.SerializeObject(ViewBag.LocList);
   }
      var Loc_ = new Eb_locationMeta(@Html.Raw(ViewBag.Config),@Html.Raw(locs),'@ViewBag.cid',@location_types.Count);
</script>

<style>

    #types-space table thead, #loc_tree_container table thead  {
    background-color: #055d9c;
    color: white;
} 
    #loc_tree_container td,context-menu-active {
        background-color: unset;
    } 

    div.dataTables_wrapper .info-search-cont {
        display: flex;
        margin-bottom: 2px;
        justify-content: space-between;
    }

    .display-none {
        display: none;
    }

    #treemodal .modal-dialog {
        width: max-content;
    }

    #treemodal .treemodalul {
        display: inline;
        margin-left: 30px;
    }

        #treemodal .treemodalul span {
            margin-left: 8px;
        }

    #treemodal .treemodal-container {
        padding: 10px;
        min-width: 500px;
        width: 100% !important;
        background-color: white;
        margin: 0 auto;
        border-radius: 2px;
        overflow: hidden;
        font-weight: 300;
        position: relative;
        font-family: open sans;
        height: 225px;
    }

    #treemodal .tree_close {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #treemodal .tree_item_cont {
        margin-bottom: 15px;
        margin-left: 20px;
    }

    #treemodal #movefrom {
        margin-left: 15px;
        font-weight: 500;
    }

    .treemodal-header {
        margin-bottom: 20px;
        text-align: center;
    }

    #treemodal_submit {
        color: white;
        background-color: #aa0000;
        margin-right: 20px;
        min-width: 75px;
    }

    #treemodal_cancel {
        color: #aa0000;
        background-color: white;
        border: 1px solid #aa0000;
        min-width: 75px;
    }

    #treemodal .pull-right {
        margin-right: 20px;
    }
    .treeview .context-menu-item {
        padding: 0.4em 2em!important;
    }

     #loc_tree_container .eb_btn-sm {
        padding: 7px 10px;
        font-size: 12px;
    }
</style>