@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    @using ExpressBase.Objects.ServiceStack_Artifacts;
    @using ExpressBase.Objects;
    List<EbObjectWrapper> List = ViewBag.dict;
}
<style>
    table {
        width: 100%;
    }

    .col-md-4 {
        padding-left: 0 !important;
    }

    .col-md-8 {
        padding-right: 0 !important;
    }

    tr {
        text-align: center;
    }

    input[type=checkbox] {
        margin-left: 5px;
    }


    .scrollable-menu {
        margin-top: 15px;
        border: 1px solid #eee;
        max-height: 200px;
        overflow-x: hidden;
    }
</style>
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" id="role_name" name="role_name" placeholder="Role Name" value="@ViewBag.RoleName" />
            </div>
            <div class="form-group">
                <select class="form-control" id="appselect">
                    @{
                        <option selected="selected" value="@ViewBag.ApplicationId">@ViewBag.ApplicationName</option>

                        foreach (var element in List)
                        {
                            if (ViewBag.ApplicationId != element.Id.ToString())
                            {
                                <option value="@element.Id">@element.Name</option>
                            }


                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <textarea class="form-control" id="Description" placeholder="Description" style="height:83px;width:100%;">@ViewBag.Description</textarea>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#objlist1">Permissions</a></li>
        <li><a onclick="GetSubRoles(@ViewBag.roleid,@ViewBag.ApplicationId)" data-toggle="tab" href="#rolesdiv">Sub Roles</a></li>
        <li><a onclick="GetUsers()" data-toggle="tab" href="#usersdiv">Users</a></li>
    </ul>
    <div class="tab-content">
        <div class="row tab-pane fade in active" id="objlist1">
            <div class="list-group">
                <ul>
                    @foreach (var ObjectType in Enum.GetValues(typeof(EbObjectTypesUI)))
                {
                    var intobj = (int)ObjectType;
                        <li>
                            <a class="list-group-item list-group-item-action collapse" data-toggle="collapse" data-target="#objtype_@intobj" onclick="GetTable(@intobj)">@ObjectType<i class="fa fa-caret-right pull-right"></i></a>
                            <table class="objtype table table-responsive sub-menu collapse" id="objtype_@intobj"></table>
                        </li>
                    }
                </ul>
            </div>
            <input type="hidden" id="applicationid" />
            <input type="hidden" id="roleid" name="roleid" value="@ViewBag.roleid" />
            <input type="submit" value="Save" id="save_permission" />
        </div>
        <div id="rolesdiv" class="tab-pane fade">
            @*<div class="input-group pull-right">
                    <input type="text" class="form-control" id="searchobj" aria-label="..."><span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>*@
            <div id="roles" class="scrollable-menu">
                <div class="form-inline" id="searchbar" style="width:100%">
                    <div class="input-group pull-right">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">Search<span class="caret"></span></button>
                        </div>
                        <input type="text" class="form-control" id="searchobj" aria-label="..."><span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>

            </div>
            <input type="submit" value="Save" id="save_roles" />
        </div>

        <div id="usersdiv" class="tab-pane fade">

            <div id="users" class="scrollable-menu">
                <div class="form-inline" id="searchbar" style="width:100%">
                    <div class="input-group pull-right">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">Search<span class="caret"></span></button>
                        </div>
                        <input type="text" class="form-control" id="searchobj" aria-label="..."><span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class='row'>
                    <div id='div1' class='col-lg-6 well'>

                    </div>
                    <div id='div2' class='col-lg-6 well'>
                    </div>
                </div>
            </div>
            <input type="submit" value="Save" id="save_users" />
        </div>


    </div>
                        }


<script>
    $('document').ready(function () {
        var ids = "";
        var temp = new dragula([document.getElementById("div1"), document.getElementById("div2")], {});
        temp.on("drop", function (el, target, source, sibling) {
            ids += $(el).attr("id") + ",";

        });

        $('#applicationid').val($('#appselect').val());

        $('a').click(function () {
            $(this).css("background-color", "#f5f5f5");
        });

        $("#appselect").change(function () {

            $('#applicationid').val(this.value);
            // $('#objlist1').show();
        });

        $("#save_permission").click(function () {
            var selected = [];
            $('.objtype input:checked').each(function () {
                selected.push($(this).attr('value'));
            });
            $.post("../TenantUser/SaveRoles",
            {
                "Permissions": selected,
                "RoleName": $('#role_name').val(),
                "RoleId": $('#roleid').val(),
                "ApplicationId": $('#applicationid').val(),
                "Description": $('#Description').val()

            }, function (result) {
            });
        });

        $("#save_roles").click(function () {
            var selected = [];
            $('#rolesdiv input:checked').each(function () {
                selected.push($(this).attr('value'));
            });
            $.post("../TenantUser/SubRoles",
            {
                "subrolesid": selected,
                "roleid": $('#roleid').val(),


            }, function (result) {
            });
        });

        $("#save_users").click(function () {
            var selected = [];
            $('#usersdiv input:checked').each(function () {
                selected.push($(this).attr('value'));
            });
            $.post("../TenantUser/Role2User",
            {
                "users": selected,
                "roleid": $('#roleid').val(),


            }, function (result) {
            });
        });

    })
    function GetTable(type) {

        $.post("../TenantUser/GetRowAndColumn",
           {

               "ApplicationId": $('#applicationid').val(),
               "ObjectType": type,
               "RoleId": $('#roleid').val()


           }, function (result) {
               if (result) {
                   document.getElementById("objtype_" + type.toString()).innerHTML = result;
               }
           });
    }

    function GetSubRoles(roleid,applicationid)
    {
        $.post("../TenantUser/GetSubRoles",
              {
                  "roleid": roleid,
                  "applicationid" : applicationid


              }, function (result) {
                  if (result) {
                      document.getElementById("roles").innerHTML = result;
                  }
              });

    }

    function GetUsers()
    {
        $.post("../TenantUser/GetUsers",
              {
                  "roleid": $('#roleid').val()
              }, function (result) {
                  if (result) {
                      document.getElementById("div1").innerHTML = result;
                  }
              });

    }
</script>
