@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    //Html.RenderPartial("ExtPageHeader");
}
@using ExpressBase.Objects.ServiceStack_Artifacts;

<script type="text/javascript" src="~/js/wiki/eb_wiki.js"></script>
<script type="text/javascript" src="~/js/wiki/tagsinput.js"></script>
<script>
    $(document).ready(function () {
        new addwiki();
        $("#category").val("@ViewBag.Wiki.Category");
        $("#status").val("@ViewBag.Wiki.Status");
    });
</script>
<link rel="stylesheet" type="text/css" href="~/css/EbWiki/eb_wiki.css">
<link rel="stylesheet" type="text/css" href="~/css/EbWiki/tagsinput.css">

<div style="padding-top:40px"></div>
<form action="/wiki/save" method="post">
    <div class="container-fluid wiki-add">
        <div style="display:flex" class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs eb-styledTab">
                    <li class="active"><a data-toggle="tab" href="#builder">Builder</a></li>
                    <li><a data-toggle="tab" href="#wiki-preview" id="preview">Preview</a></li>
                    <li><a data-toggle="tab" href="#wiki-gallery" id="gallery">Gallery</a></li>
                    <li style="float:right"> <input type="submit" value="Save" name="submit" class="Save_Btn" id="wikisave" /></li>
                </ul>
            </div>
        </div>


        <div class="tab-content">
            <div id="builder" class="tab-pane fade in active">
                <div class="row">

                    @*<div class="col-sm-6 btnstyle" id="editor_wiki">*@



                    <div class="row fullViewtoggle" style="padding-left:10px;padding-right:10px">
                        <div class="col-sm-4">  <input type="text" placeholder="Title" name="title" id="title" value="@ViewBag.Wiki.Title" class="GrpAddSel" style="margin-right: 4%;" required /> </div>
                        <div class="col-sm-2">
                            <select name="category" id="category" class="GrpAddSel" style="    margin-right: 4%;">
                                <option value="" disabled selected required>Select category</option>
                                @foreach (WikiCat categ in ViewBag.WikiCat)
                                {
                                    <option>@categ.WikiCategory</option>
                                }

                            </select>
                            <script>

                            $("#category").attr("value" ,"@ViewBag.Wiki.Category");
                            </script>
                        </div>
                        <div class="col-sm-2">
                            <select name="status" id="status" value="@ViewBag.Wiki.Status" class="GrpAddSel">
                                <option value="" disabled selected required>Select Status</option>
                                <option>Draft</option>
                                <option>Publish</option>
                                <option>Unpublish</option>
                            </select>
                        </div>
                        <div class="col-sm-4">  <input type="text" value="@ViewBag.Wiki.Tags" data-role="tagsinput" name="tagbox" class="form-control" placeholder="Add tags" style="" /> </div>

                    </div>
                    <div class="row fullViewtoggle">
                        <div class="col-sm-12" style="padding: 4px 10px 4px 25px;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="padding: 0px 25px 0px 25px;">
                            <div class="ButtonBox">
                                <div style="display:flex" class="Btn1stRow">
                                    <input type="button" value="h1" class="props" val="h1" style="border-radius: 4px 0px 0px 0px;">
                                    <input type="button" value="h2" class="props" val="h2">
                                    <input type="button" value="h3" class="props" val="h3">
                                    <input type="button" value="h4" class="props" val="h4">
                                    <input type="button" value="h5" class="props" val="h5">
                                    <input type="button" value="h6" class="props" val="h6">
                                    <input type="button" value="div" class="props " val="div">
                                    <input type="button" value="&#xf1dd" class="props fa fa-input" val="p">
                                    <input type="button" class="props fa fa-input" val="b" value="&#xf032" />
                                    <input type="button" class="props fa fa-input" value="&#xf033" val="i" />
                                    <input type="button" class="props fa fa-input" value="&#xf0cd" val="u" style="border-radius:  0px 4px 0px 0px;">
                                    <input type="button" value="&#xf036" class="props fa fa-input" val="left" />
                                    <input type="button" value="&#xf037" val="center" class="fa fa-input props" />
                                    <input type="button" value="&#xf038" class="props fa fa-input" val="right" />
                                    <input type="button" value="&#xf121" class="props fa fa-input" val="code" />

                                    <input type="button" value="&#xf0ca" class="props fa fa-input" val="ul" />
                                    <input type="button" value="&#xf0cb" class="props fa fa-input" val="ol" />
                                    <input type="button" value="li" class="props" val="li" />
                                    <input type="button" value="&#xf0c1" class="props fa fa-input" val="a" />
                                    <input type="button" value="&#xf16a" class="props fa fa-input" val="iframe" />
                                    <input type="button" class="fa fa-input props2" value="&#xf03e" id="gallery-tab1" />
                                    <input type="button" class="fa fa-input props2" value="&#xf06e" id="wiki-preview-tab" style="text-decoration:none" />
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="padding: 0px 10px 10px 10px">
                        <div class="col-sm-12" id="edit_field">
                            <textarea rows="23" cols="87" class="readtext" id="text" name="content" style="width: 100%;height: 100%;"> @ViewBag.Wiki.HTML</textarea>
                        </div>

                    </div>
                    <div style="display: flex;justify-content: center;">

                    </div>
                    <div class="col-sm-2"><input type="hidden" name="id" value="@ViewBag.Id" /></div>

                </div>
            </div>

            <div id="wiki-preview" class="tab-pane fade wiki-preview">
                <div class="render" name="render" id="render">
                </div>
            </div>

            <div id="wiki-gallery" class="tab-pane fade">

                <button id="btnUploadImg" type="button" value="Upload Image"> Upload Image</button>
                <div class="imageGallery" id="ImageGallery">
                </div>
            </div>

        </div>

    </div>
</form>

<div class="container-fluid">


</div>

<script>
    let abc = $('#text').val();
    $('#render').html(abc);
    $('#new1').append('');

     var imgup = new EbFileUpload({
        Type: "image",
        PreviewWraper: "#ImageGallery",
        FilesUrl: @Html.Raw(ViewBag.Images),
        Context:"eb_wiki",
        Toggle: "#btnUploadImg",
        Container: "eb-wiki-uploader",
        Multiple: true,
        ServerEventUrl: 'https://se.eb-test.xyz',
        EnableCrop: true,
        MaxSize:(("@ViewBag.Env" === "Staging")? 15: 2),//in MegaBytes
        CustomMenu: [{ name: "Copy link", icon: "fa-user" }]
    });

    imgup.uploadSuccess = function (fileid) {

    }
    imgup.windowClose = function () {

    }
    imgup.customTrigger = function (name, refids) {
        let imgtag = "";
        for (let i = 0; i < refids.length; i++) {
            imgtag += `<img src="/wiki/images/original/${refids[i]}.jpg" class="WikiDefaultImage"/>`;
        }
        copyStringToClipboard(imgtag);
    }

    function copyStringToClipboard(str) {
        var el = document.createElement('textarea');
        el.value = str;
        el.setAttribute('readonly', '');
        el.style = { position: 'absolute', left: '-9999px' };
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    }
    $(".Col_head").click();
</script>
