@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    //Html.RenderPartial("ExtPageHeader");
}
@using ExpressBase.Objects.ServiceStack_Artifacts;

<script type="text/javascript" src="~/js/wiki/eb_wiki.js"></script>
<script type="text/javascript" src="~/js/wiki/tagsinput.js"></script>
<script>
    $(document).ready(function () {
        new addwiki();
        $("#category").val("@ViewBag.Wiki.Category");
        $("#status").val("@ViewBag.Wiki.Status");
    });
</script>
<link rel="stylesheet" type="text/css" href="~/css/EbWiki/eb_wiki.css">
<link rel="stylesheet" type="text/css" href="~/css/EbWiki/tagsinput.css">

<div style="padding-top:50px"></div>
<div class="container-fluid">
    <div class="row">

        @*<div class="col-sm-6 btnstyle" id="editor_wiki">*@

        <form action="/wiki/save" method="post">

            <div class="row fullViewtoggle" style="padding-left:10px">
                <div class="col-sm-12">
                    <div style="display:flex">
                        <input type="text" placeholder="Title" name="title" id="title" value="@ViewBag.Wiki.Title" class="GrpAddSel" />
                        <select name="category" id="category" class="GrpAddSel">
                            <option disabled selected>Select category</option>
                            @foreach (WikiCat categ in ViewBag.WikiCat)
                            {
                                <option>@categ.WikiCategory</option>
                            }
                            
                        </select>
                        <script> 
                            $("#category").attr("value" ,"@ViewBag.Wiki.Category");
                        </script>
                        <select name="status" id="status" value="@ViewBag.Wiki.Status" class="GrpAddSel">
                            <option value="" disabled selected>Select Status</option>
                            <option>Draft</option>
                            <option>Publish</option>
                            <option>Unpublish</option>
                        </select>
                    </div>
                    </div>
                    </div>
                
            <div class="row fullViewtoggle">
                <div class="col-sm-12" style="padding: 10px 10px 10px 25px;">
                    <input type="text" value="@ViewBag.Wiki.Tags" data-role="tagsinput" name="tagbox" class="form-control" placeholder="Add tags" style="width:100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6" style="padding-left: 25px;">
                    <div style="display:flex">
                        <input type="button" class="props" val="b" value="B" style="font-weight: bold;" />
                        <i><input type="button" class="props" value="i" val="i"> </i>
                        <input type="button" class="props" value="U" val="u" style="text-decoration:underline;">
                        <input type="button" value="Center" class="props" val="center">
                        <input type="button" value="H1" class="props" val="h1">
                        <input type="button" value="H2" class="props" val="h2">
                        <input type="button" value="H3" class="props" val="h3">
                        <input type="button" value="H4" class="props" val="h4">
                        <input type="button" value="H5" class="props" val="h5">
                    </div>
                    <div style="display:flex">
                        <input type="button" value="H6" class="props" val="h6">
                        <input type="button" value="YouTube" class="props fa fa-youtube-play" val="iframe">
                        <input type="button" value="Image" class="props" val="img">
                        <input type="button" value="code" class="props" val="pre class='prettyprint'">
                        <input type="button" value="p" class="props" val="p">
                        <input type="button" value="ul" class="props" val="ul">
                        <input type="button" value="ol" class="props" val="ol">
                        <input type="button" value="li" class="props" val="li">
                        <input type="button" value="Links" class="props" val="a">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div style="display:flex">
                        <input id="btnUploadImg" type="button" value="Upload Image" class="btnGrp2"/>
                        <input type="button" id="render_page_toggle" value="Full Screen" val="show" style="float:right" class="btnGrp2">
                        @*<input type="button" id="WikiGalery" value="Gallery" val="show"  class="btnGrp2">*@
                        <a href="#DEFAULT_ColBdy" id="galleryToggle">Gallery</a>

                    </div>
                </div>
                </div>
                @*<div class="col-sm-6">
                    <div style="display:flex">
                        <input id="btnUploadImg" type="button" value="Upload Image" />
                        <input type="button" id="render_page_toggle" value="hide page view" val="show" style="float:right">
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row" style="padding:8px;padding-top:10px;padding-right:30px">
                    <div class="col-sm-6">
                        <table class="table" style="margin-bottom: 0px;">
                            <tbody>
                                <tr>
                                    <td><input type="button" class="props" val="b" value="B" style="font-weight: bold;" /> </td>
                                    <td><i><input type="button" class="props" value="i" val="i"> </i></td>
                                    <td><input type="button" class="props" value="U" val="u" style="text-decoration:underline;"></td>
                                    <td> <input type="button" value="Center" class="props" val="center"> </td>
                                    <td><input type="button" value="H1" class="props" val="h1"></td>
                                    <td><input type="button" value="H2" class="props" val="h2"></td>
                                    <td> <input type="button" value="H3" class="props" val="h3"> </td>
                                    <td> <input type="button" value="H4" class="props" val="h4"></td>
                                </tr>
                                <tr>
                                    <td><input type="button" value="YouTube" class="props fa fa-youtube-play" val="iframe"></td>
                                    <td><input type="button" value="Image" class="props" val="img"></td>
                                    <td><input type="button" value="code" class="props" val="pre class='prettyprint'"></td>
                                    <td><input type="button" value="p" class="props" val="p"></td>
                                    <td><input type="button" value="ul" class="props" val="ul"> </td>
                                    <td><input type="button" value="ol" class="props" val="ol"> </td>
                                    <td><input type="button" value="li" class="props" val="li"> </td>
                                    <td><input type="button" value="Links" class="props" val="a"> </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-8">        <input type="text" value="@ViewBag.Wiki.Tags" data-role="tagsinput" name="tagbox" class="form-control" placeholder="Add tags" /> </div>
                            <div class="col-sm-1"> </div>
                            <div class="col-sm-1"><input type="button" id="render_page_toggle" value="hide page view" val="show"></div>
                        </div>
                        <div class="row">
                            <input id="btnUploadImg" type="button" value="Upload Image" />
                        </div>
                    </div>
                </div>*@
                <div class="row" style="padding:10px">
                    <div class="col-sm-6" id="edit_field">
                        <textarea rows="21" cols="87" class="readtext" id="text" name="content" style="width: 100%;height: 100%;"> @ViewBag.Wiki.HTML</textarea>
                    </div>
                    <div class="col-sm-6" id="render_field">
                        <div class="render" name="render" id="render">
                        </div>
                    </div>
                </div>
                <div style="display: flex;justify-content: center;">
                    <input type="submit" value="Save" name="submit" style="width: 213px;height: 35px;background-color: #ffffff;font-size: 22px;border: solid 1px #528ff2;" />
                </div>
                <div class="col-sm-2"><input type="hidden" name="id" value="@ViewBag.Id" /></div>
</form>
        <div class="imageGallery" id="ImageGallery">
        </div>

    </div>
</div>

<script>
    let abc = $('#text').val();
    $('#render').html(abc);
    $('#new1').append('');

     var imgup = new EbFileUpload({
        Type: "image",
        PreviewWraper: "#ImageGallery",
        FilesUrl: @Html.Raw(ViewBag.Images),
        Context:"eb_wiki",
        Toggle: "#btnUploadImg",
        Container: "eb-wiki-uploader",
        Multiple: true,
        ServerEventUrl: 'https://se.eb-test.xyz',
        EnableCrop: true,
        MaxSize:(("@ViewBag.Env" === "Staging")? 15: 2),//in MegaBytes
        CustomMenu: [{ name: "Copy link", icon: "fa-user" }]
    });

    imgup.uploadSuccess = function (fileid) {
       
    }
    imgup.windowClose = function () {
        
    }
    imgup.customTrigger = function (name, refids) {
        let imgtag = "";
        for (let i = 0; i < refids.length; i++) {
            imgtag += `<img src="/wiki/images/original/${refids[i]}.jpg" class="WikiDefaultImage"/>`;
        }
        copyStringToClipboard(imgtag);
    }

    function copyStringToClipboard(str) {
        var el = document.createElement('textarea');
        el.value = str;
        el.setAttribute('readonly', '');
        el.style = { position: 'absolute', left: '-9999px' };
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    }
    $(".Col_head").click();
</script>
