@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}
<script>
    @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.EbObjectTypes);
</script>

<link rel="stylesheet" href="~/css/MobilePageBuilder/mobile.style.css" asp-append-version=@bApnd />
<script src="~/js/MobilePageBuilder/mobile.page.js" type="text/javascript" asp-append-version=@bApnd></script>
<script src="~/js/MobilePageBuilder/mobile.page.controls.js" type="text/javascript" asp-append-version=@bApnd></script>
<script>
    $.fn.extend({
        treed: function (o) {
            var openedClass = 'fa-minus-square-o';
            var closedClass = 'fa-plus-square-o';
            var ic = o || 'fa-plus-square-o';

            if (typeof o !== 'undefined') {
                if (typeof o.openedClass !== 'undefined') {
                    //openedClass = o.openedClass;
                }
                if (typeof o.closedClass !== 'undefined') {
                    //closedClass = o.closedClass;
                }
            }
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.prepend("<i class='indicator fa " + ic + "'></i>");
                branch.addClass('branch');
                branch.off("click").on('click', function (e) {
                    if (this === e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                });
                branch.children().children().toggle();
            });
            tree.find('.branch .indicator').each(function () {
                $(this).off("click").on('click', function (e) {
                    $(this).closest('li').click();
                });
            });
            tree.find('.branch>a').each(function () {
                $(this).off("click").on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            tree.find('.branch>button').each(function () {
                $(this).off("off").on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });
    $.fn.extend({
        killTree: function (o) {
            var tree = $(this);
            tree.removeClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.children().children().show();
                branch.children("i").remove();
                branch.removeClass('branch');
                branch.off("click");
            });
        }
    });
</script>
<div class="container-fluid mob_body" id="@("mobviewversion-body"+ViewBag.tabnum)">
    <div class="row">
        <div class="eb_mobpage_wraper" id="@("eb_mobpage_wraper"+ViewBag.tabnum)">
            <div class="eb_mobpage_toolbox" id="@("eb_mobpage_toolbox"+ViewBag.tabnum)">
                <div class="eb_mobpage_toolbox_body">
                    <div class="head">
                        Tools
                    </div>
                    <div class="bdy" id="@("eb_mobpage_toolbox"+ViewBag.tabnum+"_draggable")">
                        <div class="eb_mobpage_tbxcategory">
                            <div class="eb_mobpage_tbx_head">
                                Containers
                            </div>
                            <div class="eb_mobpage_tbxbdy">
                                <div eb-type="EbMobileForm" ctrname="Form" class="toolitems layout">
                                    <div class="toolitems-inner">
                                        <i class="fa fa-wpforms"></i> Form
                                    </div>
                                </div>
                                <div eb-type="EbMobileVisualization" ctrname="Visualization" class="toolitems layout">
                                    <div class="toolitems-inner">
                                        <i class="fa fa-list-alt"></i> Visualization
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eb_mobpage_tbxcategory">
                            <div class="eb_mobpage_tbx_head">
                                Form Controls
                            </div>
                            <div class="eb_mobpage_tbxbdy">
                                <div eb-type="EbMobileTextBox" ctrname="TextBox" class="toolitems draggable">
                                    <div class="toolitems-inner">
                                        <i class="fa fa-i-cursor"></i> TextBox
                                    </div>
                                </div>
                                <div eb-type="EbMobileNumericBox" ctrname="Numeric" class="toolitems draggable">
                                    <div class="toolitems-inner">
                                        <i class="fa fa-i-cursor"></i> Numeric
                                    </div>
                                </div>
                                <div eb-type="EbMobileDateTime" ctrname="DateTime" class="toolitems draggable">
                                    <div class="toolitems-inner">
                                        <i class="fa fa-calendar"></i> Date Time
                                    </div>
                                </div>
                                <div eb-type="EbMobileSimpleSelect" ctrname="SimpleSelect" class="toolitems draggable">
                                    <div class="toolitems-inner">
                                        <i class="fa fa-caret-down"></i> SimpleSelect
                                    </div>
                                </div>
                                <div eb-type="EbMobileBoolean" ctrname="Boolean" class="toolitems draggable">
                                    <div class="toolitems-inner">
                                        <i class="fa fa-toggle-on"></i> Boolean
                                    </div>
                                </div>
                                <div eb-type="EbMobileFileUpload" ctrname="FileUpload" class="toolitems draggable">
                                    <div class="toolitems-inner">
                                        <i class="fa fa-upload"></i> FileUploader
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="eb_mobpage_tbxcategory">
                            <div class="eb_mobpage_tbx_head">
                                Layout
                            </div>
                            <div class="eb_mobpage_tbxbdy">
                                <div eb-type="EbMobileTableLayout" ctrname="TableLayout" class="toolitems draggable">
                                    <div class="toolitems-inner">
                                        <i class="fa fa-th-large"></i> TableLayout
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eb_mobpage_pane">
                <div class="eb_mobpage_pane_body">
                    <div class="eb_mobtree_body" style="display:none;" id="@("eb_mobtree_body_"+ViewBag.tabnum)">
                        <div class="eb_mobtree_inner">
                            <div class="eb_mobtree_ds">
                                <ul id="@("ds_parameter_list" + ViewBag.tabnum)" class="tool-box-items" style="padding:10px">
                                    <li>
                                        <a>Colums</a>
                                        <ul class="ds_cols"></ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="eb_mobpage_pane_layout">
                        <div class="eb_mobpage_emulatorbody">
                            <div class="eb_mobpage_drparea">
                                <div class="eb_mobpage_drop" id="@("eb_mobpage_pane"+ViewBag.tabnum)">

                                </div>
                            </div>
                        </div>
                        <img src="~/images/walls/emulator.png" class="eb_mobpage_pane_layout_emulator"/>
                    </div>
                </div>
            </div>
            <div class="eb_mobpage_properties" id="@("eb_mobpage_property_wrapr"+ViewBag.tabnum)">
                <div class="eb_mobpage_properties_body" id="@("eb_mobpage_properties"+ViewBag.tabnum)">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
         if (@ViewBag.tabnum === 0) {
            var commonO = $("#layout_div").data("commonObj");
         }
        commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = EB_MobilePage({
            Wc: '@ViewBag.wc',
            TenantId: '@ViewBag.cid',
            RefId: '@ViewBag.Refid',
            Version: '@ViewBag.VersionNumber',
            ObjType: @ViewBag.ObjType,
            DsObj: @Html.Raw(ViewBag.dsObj),
            Status: '@ViewBag.Status',
            TabNum: @ViewBag.tabnum,
            ServiceUrl: '@ViewBag.ServiceUrl'
        });
    });
</script>