@{
    @using Newtonsoft.Json;
    var obj = JsonConvert.SerializeObject(ViewBag.Object);
}


<div class="side-menu-container">
    <ul class="menuwrapper_ul_outer">
        @if (ViewBag.Role.Contains("SolutionOwner"))
        {
            <li>
                <a href="#" class="list-group-item outer_li" data-toggle="collapse" data-target="#security">
                    Security<i class="fa fa-chevron-right pull-right"></i>
                </a>
                <ul class="sub-menuObj collapse" id="security">
                    <li><a class="list-group-item inner_li for_brd" href="/Security/CommonList?type=Users">Users</a></li>
                    <li><a class="list-group-item inner_li for_brd" href="/Security/CommonList?type=AnonymousUsers">Anonymous Users</a></li>
                    <li><a class="list-group-item inner_li for_brd" href="/Security/CommonList?type=UserGroups">User Groups</a></li>
                    <li><a class="list-group-item inner_li for_brd" href="/Security/CommonList?type=Roles">Roles</a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("EbLocations","TenantUser")" class="list-group-item outer_li">
                    Locations<i class="fa fa-chevron-right pull-right"></i>
                </a>
            </li>
        }
        <li>
            <a href="#" class="list-group-item collapsed outer_li" data-toggle="collapse" data-target="#dropdown2">
                Application<i class="fa fa-chevron-right pull-right"></i>
            </a>
            <ul class="outer sub-menuObj collapse in" id="dropdown2"></ul>
        </li>
        @*<li>
            <a href="#" class="list-group-item menuApp outer_li">
                Email Console
            </a>
            <ul class="sub-menuObj collapse" id="dropdown2">
                <li><a class="list-group-item inner_li for_brd"></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item menuApp outer_li">
                SMS Console
            </a>
            <ul class="sub-menuObj collapse" id="dropdown2">
                <li><a class="list-group-item inner_li for_brd"></a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="list-group-item menuApp outer_li">
                Document Console
            </a>
            <ul class="sub-menuObj collapse" id="dropdown2">
                <li><a class="list-group-item inner_li for_brd"></a></li>
            </ul>
        </li>*@
    </ul>
</div>
<script>
    $(".outer").prepend(`@Html.Raw(ViewBag.menu)`);
    menu.resultObj = @Html.Raw(obj);
    store.set("EbMenuObjects_"+"@ViewBag.cid" + "@ViewBag.UId" + "@ViewBag.wc",@Html.Raw(obj));
    menu.objTypes =@Html.Raw(ViewBag.Types); 
</script>
