@using ExpressBase.Objects.ServiceStack_Artifacts
@using ExpressBase.Common
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}

@await Component.InvokeAsync("PageHeaderCommon")
<script>
    var cm = new EbHeader().setName("Application Configuration");
</script>
<script src="~/js/EbDashBoards/AppDashBoard.js" type="text/javascript"></script>
<script>
    var Object_type = @Html.Raw(ViewBag.Types);
    var Obj_Collection = @Html.Raw(ViewBag.Objects);
</script>
<div class="row s-dash-container">
    <div class="pd-0 tdasboard-sidebar">
        <div class="t-container">
            <ul class="list-group menuwrapper_ul_outer">
                <li class="list-group-item outer_li">Solutions<i class="fa fa-chevron-right tdash-icon pull-right"></i></li>
                <li class="list-group-item outer_li">Billing<i class="fa fa-chevron-right tdash-icon pull-right"></i></li>
                <li class="list-group-item outer_li">Support<i class="fa fa-chevron-right tdash-icon pull-right"></i></li>
            </ul>
        </div>
    </div>
    @{
        var appinfo = ViewBag.AppInfo;
        var apptype = (EbApplicationTypes)appinfo.AppType;
        string desc = String.IsNullOrEmpty(appinfo.Description) ? "No Description" : appinfo.Description;
        string typeIcon = null;

        if (appinfo.AppType == 1) { typeIcon = "/images/svg/grid-world.svg"; }

        else if(appinfo.AppType == 2) { typeIcon = "/images/svg/smartphone-call.svg"; }

        else if (appinfo.AppType == 3) { typeIcon = "/images/svg/chat1.svg"; }

        }


    <div class="s-dash-workplace">
        <div class="col-md-12 pd-0 s-dash-solution-desc" style="margin-bottom:5px;">
            <div class="col-md-10" style="padding-left: 3px;">
                <h3 class="mr-t-0"><span class="@appinfo.Icon appicon_style"></span> @appinfo.Name </h3>
                <p>@desc</p>
                <p class="small"><img class="apptype_icon" src="@typeIcon"/><span>@apptype</span> Application</p>
            </div>
            <div class="col-md-2 pd-0">
                <div class="btn-group pull-right">
                    <button type="button" class="ebbtn eb_btnblue dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        New Object <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="object_types_drd">
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#home" role="tab">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Objects" role="tab">Objects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Surveys" role="tab">Surveys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Appearance" role="tab">Appearance</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    @if (appinfo.AppType == 3)
    {
        var bot_name_txt = appinfo.Name;
        var bot_wc_msg = "";
        var bot_tm_color = "";
        var bot_dp_url = "";



                @if (appinfo.AppSettings != null)
{
    bot_name_txt = appinfo.AppSettings.Name;
    bot_wc_msg = appinfo.AppSettings.WelcomeMessage;
    bot_tm_color = appinfo.AppSettings.ThemeColor;
    bot_dp_url = appinfo.AppSettings.DpUrl;
}
                <div>
                    <label>Bot Name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" id="bot_name_txt" value="@bot_name_txt">
                </div>
                <div>
                    <label>Welcome Message: </label>
                    <input type="text" id="bot_wc_msg" value="@bot_wc_msg">
                </div>
                <div>
                    <label>Theme Colour:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="color" id="bot_tm_color" value="@bot_tm_color">
                </div>
                <div>
                    <label>DP Url:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" id="bot_dp_url" value="@bot_dp_url">
                    <button id="btnSelectDpClipart" class="" title="Select from Clipart" onclick="$('#AppDB_BotDemoDp').modal('show');">Select from clipart</button>
                </div>
                <button onclick="UpdateBotSettings()">Update</button>

                <div>
                    <textarea id="txtemdscript" style="margin: 0px; width: 638px; height: 212px;"><script type="text/javascript">
    (function () {
        d = document;
        s = d.createElement("script");
        s.src = "https://expressbase.com/Bote/Js?id=@ViewBag.cid-@appinfo.Id&mode=s";
        s.async = 1;
        d.getElementsByTagName("head")[0].appendChild(s);
    })();
</script></textarea>
                    <button onclick="$('#txtemdscript').select(); document.execCommand('copy');">Copy to Clipboard</button>
                </div>


                <div id="AppDB_BotDemoDp" class="modal fade" role="dialog">
                    <div class="modal-dialog" style="width:445px">
                        <div class="modal-content">
                            <div class="modal-header" style="">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div>
                                    <div style="margin-left:10px ; display:inline-block"> <h4 class="modal-title">Bot DP Clip Art</h4> </div>
                                </div>
                            </div>
                            <div class="modal-body" style="height:185px">
                                <div class="demodpdiv" style=" background:url('../images/demobotdp1.png')center center no-repeat" onclick="clickOnDemoDp('../images/demobotdp1.png')"></div>
                                <div class="demodpdiv" style=" background:url('../images/demobotdp2.png')center center no-repeat" onclick="clickOnDemoDp('../images/demobotdp2.png')"></div>
                                <div class="demodpdiv" style=" background:url('../images/demobotdp3.png')center center no-repeat" onclick="clickOnDemoDp('../images/demobotdp3.png')"></div>
                                <div class="demodpdiv" style=" background:url('../images/demobotdp4.png')center center no-repeat" onclick="clickOnDemoDp('../images/demobotdp4.png')"></div>
                                <div class="demodpdiv" style=" background:url('../images/demobotdp5.png')center center no-repeat" onclick="clickOnDemoDp('../images/demobotdp5.png')"></div>
                                <div class="demodpdiv" style=" background:url('../images/demobotdp6.png')center center no-repeat" onclick="clickOnDemoDp('../images/demobotdp6.png')"></div>
                            </div>
                            <div class="modal-footer" style="">                                
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

}
                </div>
                <div class="tab-pane appdash_obj_container" id="Objects" role="tabpanel">
                    <div class="not-found text-center" style="margin-top: 150px;">No Objects...</div>
                </div>
                <div class="tab-pane" id="Surveys" role="tabpanel">

                </div>
                <div class="tab-pane" id="Appearance" role="tabpanel">

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .demodpdiv {
        width: 75px;
        height: 75px;
        cursor: pointer;
        display: inline-block;
    }
    .demodpdiv:hover{
        box-shadow: 1px 1px 2px 2px #ccc;
    }
</style>
<script>
    var adash = new AppDashBoard(Object_type, Obj_Collection);
    function UpdateBotSettings() {
        var appSettings = {};
        appSettings["Name"] = $("#bot_name_txt").val();
        appSettings["WelcomeMessage"] = $("#bot_wc_msg").val();
        appSettings["ThemeColor"] = $("#bot_tm_color").val();
        appSettings["DpUrl"] = $("#bot_dp_url").val();
        $.ajax({
            type: "POST",
            url: "../Dev/UpdateAppSettings",
            data: { id: @appinfo.Id, type: @appinfo.AppType, settings: JSON.stringify(appSettings) },
            success: function (data) {
                if (data > 0)
                    alert("Settings Updated Successfully");
                else
                    alert("Something went wrong");
            }
        });
    }
    function clickOnDemoDp(path) {
        $('#AppDB_BotDemoDp').modal('hide');
        $('#bot_dp_url').val(path);
    }
</script>
