@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<html lang="en">
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css " />@*Dona*@
    <title>Code editor</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/hint/show-hint.css">
    <link rel="stylesheet" href="~/lib/codemirror/addon/fold/foldgutter.css" />
    <script src="~/lib/codemirror/lib/codemirror.js"></script>
    <script src="~/lib/codemirror/addon/hint/show-hint.js"></script>
    <script src="~/lib/codemirror/addon/hint/javascript-hint.js"></script>
    <script src="~/lib/codemirror/mode/javascript/javascript.js"></script>
    <script src="~/lib/codemirror/addon/hint/sql-hint.js"></script>
    <script src="~/lib/codemirror/mode/sql/sql.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldcode.js"></script>
    <script src="~/lib/codemirror/addon/fold/foldgutter.js"></script>
    <script src="~/lib/codemirror/addon/fold/brace-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/xml-fold.js"></script>
    <script src="~/lib/codemirror/addon/fold/comment-fold.js"></script>
    <script src="~/lib/codemirror/mode/xml/xml.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var MyDs=new DataSource(@ViewBag.Obj_id,@ViewBag.IsNew, @ViewBag.VersionNumber,'@ViewBag.cid');
            $(".eb-loader").hide();
            $('#filterRun').on('hidden.bs.modal', function () {
                $("#sample").DataTable().destroy();
                $("#sample").children().remove();
            });
            $(document).keydown(function (e) {
                if (e.keyCode == 83 && e.ctrlKey) {
                    e.preventDefault();
                    $("#save").trigger("click");
                }
            });
        });
    </script>
</head>
<body>
    <div class='eb-loader'><i class='fa fa-spinner fa-pulse fa-3x fa-fw center-block'></i></div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <div class="form-group " style="float:left">
                <input maxlength="100" type="text" required="required" id="obj_name" value="@ViewBag.ObjectName" class="form-control inputBox" />
            </div>
            <a data-toggle="collapse" title="Collapse" data-target="#objCollapse"><i class="btn-default btn btn-sm fa fa-plus-square  fa-1x" aria-hidden="true"></i></a>
            <a href="#" class="rel_obj" data-toggle="tooltip" title="Related Objects"><i class="btn-default btn btn-sm fa fa-cogs fa-1x" aria-hidden="true"></i></a>
            <a class="comp" id="comp" data-toggle="tooltip" title="Compare"><i class="btn-default btn btn-sm fa fa-exchange fa-1x" aria-hidden="true"></i></a>
            <a href="#" class="samp_cod" data-toggle="tooltip" title="Sample Code"><i class="btn-default btn btn-sm fa fa-file-code-o fa-1x" aria-hidden="true"></i></a>
            <a href="#" class="fork" data-toggle="tooltip" title="Fork"><i class="btn-default btn btn-sm fa fa-code-fork fa-1x" aria-hidden="true"></i></a>
            <a href="#" class="stat_his" data-toggle="tooltip" title="Status History"><i class="btn-default btn btn-sm fa fa-line-chart fa-1x" aria-hidden="true"></i></a>
            <a href="#" class="ver_his" id="ver_his" data-toggle="tooltip" title="Version History"><i class="btn-default btn btn-sm fa fa-history fa-1x" aria-hidden="true"></i></a>
            <span class="label label-success codeEditLabel">Status : @ViewBag.Status</span>
            <span class="label label-warning codeEditLabel"> Version v.@ViewBag.VersionNumber</span>
        </div>

        <div id="objCollapse" class="collapse">
            <div class="form-group ">
                <label class="control-label">Description</label>
                <textarea required="required" class="form-control" id="obj_desc">@ViewBag.ObjectDesc</textarea>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs versionNav" id="versionNav">
            <li class="active"><a data-toggle="tab" href="#code_edit0">@ViewBag.ObjectName</a></li>
        </ul>

        <div class="tab-content " id="versionTab">
            <div id="code_edit0" class="tab-pane fade in active">
                <div class="btn-group">
                    <div class="dropdown fdlist btn-group">
                        <select id="fd" name="fd" class="selectpicker show-tick align_singleLine" data-live-search="true" )">
                            @{
                                @using ExpressBase.Objects.ServiceStack_Artifacts;
                                Dictionary
                                <int, EbObjectWrapper>
                                    filterDialogs = new Dictionary<int, EbObjectWrapper>
                                        ();
                                filterDialogs = ViewBag.FilterDialogs;
                                <option value="Select Filter Dialog" data-tokens="Select Filter Dialog">Select Filter Dialog</option>
                                <option value="" data-tokens="Auto Generate Filter Dialog">Auto Generate Filter Dialog</option>
                                foreach (var filter in filterDialogs)
                                {
                                    <option value=@filter.Value.Id data-tokens=@filter.Value.Name>@filter.Value.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="btn-group">
                        <a class="commit" id="commit" data-toggle="tooltip" title="Commit"><i class="btn btn-sm btn-default fa fa-save fa-1x" aria-hidden="true"></i></a>
                        <a class="save" id="save" data-toggle="tooltip" title="Save"><i class="btn btn-sm btn-default fa fa-clock-o  fa-1x" aria-hidden="true"></i></a>
                        <a href="#" id="execute" data-toggle="tooltip" title="Execute"><i class="btn btn-sm btn-default fa fa-play fa-1x" aria-hidden="true"></i></a>
                    </div>
                </div>
                <textarea id="code" name="code" class="code">@ViewBag.Code</textarea>
                <input type="hidden" id="tcid" class="tcid" value="@ViewBag.TenantId" />
                <input type="hidden" id="obj_type" value="@ViewBag.ObjType" />
                <p class="help">Hit Ctrl+Space to trigger autocomplete</p><div id="emails"></div>
            </div>
        </div>
    </div>

    <div id="filterDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Filter Dialog</h4>
                </div>
                <div class="modal-body filter_modal_body">
                    <div class="fd_top_content">
                        <span class="align_singleLine">
                            <label class="">Filter Dialog Name</label>
                            <input type="text" id="fdname" name="fdname" class="form-control inputBox" required />
                        </span>
                        <span class="align_singleLine">
                            <label class="">Description</label>
                            <input type="text" id="fddesc" name="fddesc" class="form-control inputBox " required />
                        </span>
                    </div>
                    <div class="table-responsive table-bordered table-responsive">
                        <table class="table fd_table">
                            <thead class="fdthead">
                            </thead>
                            <tbody id="fdtbody" class="fdtbody"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="help"></div>
                    <input type="submit" name="saveFilter" value="Save" class="btn-primary" id="saveFilter" />
                    <input type="submit" name="run" value="Run" class="btn-primary" id="run" />
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function() {
            CodeMirror.commands.autocomplete = function(cm)
            {
                CodeMirror.showHint(cm, @ViewBag.EditorHint);
            };

            window.editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                mode: "@ViewBag.EditorMode",
                lineNumbers: true,
                lineWrapping: true,
                extraKeys: { "Ctrl-Space": "autocomplete" },
                foldGutter: { rangeFinder: new CodeMirror.fold.combine(CodeMirror.fold.brace, CodeMirror.fold.comment) },
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            });

        };
    </script>
</body>
</html>
<style>
    .align_singleLine {
        display: inline-block;
        margin-right: 10px;
        align-content: center;
    }

    .CodeMirror {
        height: 500px;
        background-color: azure;
    }

    .table-responsive {
        overflow-x: inherit;
    }

    .inputBox {
        width: 216px;
        height: 27px;
    }

    .controls-group {
        overflow-y: inherit;
    }

    .fd_top_content {
        margin-bottom: 10px;
    }

    .eb-loader {
        margin-top: 40px;
        margin-left: 50%;
    }

    .versionNav li a {
        height: 33px;
    }

    .codeEditLabel {
        height: 27px;
        padding-top: 5px;
        padding-bottom: 9px;
    }

    .btn {
        border-radius: 2px;
    }
</style>