@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
@section StyleSheet{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/css/bootstrap-iconpicker.min.css" />
}
@section JavaScript{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/js/bootstrap-iconpicker-iconset-all.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/js/bootstrap-iconpicker.min.js"></script>
}
<div class="row s-dash-container h-100">
    @*<div class="pd-0 tdasboard-sidebar tenant_sidebar">
        <div class="t-container">
            <ul class="list-group eb-dashbord-sidebar">
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/MySolutions">
                        <span class="material-icons t__sidebar_icon">highlight</span>
                        <span class="t__sidebar_text">My Solutions</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">attach_money</span>
                        <span class="t__sidebar_text">Billing</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/Store">
                        <span class="material-icons t__sidebar_icon">store</span>
                        <span class="t__sidebar_text">App Store</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">chrome_reader_mode</span>
                        <span class="t__sidebar_text">Wiki</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">contact_support</span>
                        <span class="t__sidebar_text">Support</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>*@
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc">
            <div class="col-md-7 pd-0">
                <h4 class="mr-t-0 mr-b-0">@ViewBag.Op <span class="apps_count"></span></h4>
            </div>
            <div class="col-md-5 pd-0" style="display: flex;flex-flow: row-reverse nowrap;">
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">
            <div class="tdash-box-body">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 createAppFrm">
                    <form class="app-form" action="../Dev/CreateApplication" method="post" data-toggle="validator" role="form" id="app-form">
                        <div class="form-group">
                            <label>Application Name</label>
                            <input type="text" class="form-control ebtext-lg-noic" name="AppName" id="appName" value="@ViewBag.AppInfo.Name" required />
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" id="DescApp" name="DescApp" required>@ViewBag.AppInfo.Description</textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                        <label>Application Type</label>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pd-0 apptypes-cont">
                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 apps-wrapper">
                                <div class="apps-wrapper-fchiled" id="app_web" type="1" tabindex="1">
                                    <img class="apptype" src="~/images/svg/grid-world.svg" />
                                    <div class="app-type-name">Web</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 apps-wrapper">
                                <div class="apps-wrapper-fchiled" id="app_mob" type="2" tabindex="1">
                                    <img class="apptype" src="~/images/svg/smartphone-call.svg" />
                                    <div class="app-type-name">Mobile</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 apps-wrapper">
                                <div class="apps-wrapper-fchiled" id="app_bot" type="3" tabindex="1">
                                    <img class="apptype" src="~/images/svg/chat1.svg" />
                                    <div class="app-type-name">Bot</div>
                                </div>
                            </div>
                            <input type="hidden" name="AppType" value="@ViewBag.AppInfo.AppType" id="apptype" />
                        </div>
                        <div class="form-group appicon_box">
                            <label>Icon</label>
                            <div class="input-group iconpicker-container" style="height:45px">
                                <input type="text" class="form-control" name="AppIcon" value="@ViewBag.AppInfo.Icon" style="height:100%" />
                                <span class="input-group-btn" style="height:100%">
                                    <button class="btn btn-default appicon_btn" style="height:100%" id="AppIcon"></button>
                                </span>
                            </div>
                        </div>
                        <input type="hidden" name="Id" value="@ViewBag.AppInfo.Id" />
                        <div class="form-group">
                            <button type="submit" class="btn eb_btnblue eb_btn_md pull-right">Save</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6">

                </div>
            </div>
        </div>
    </div>
</div>
@section JsCode{   
    <script>
        $(document).ready(function () {
            ebcontext.header.setName('@ViewBag.Op');

        $("#AppIcon").iconpicker({
            placement: 'top',
            iconset: 'fontawesome',
            icon: '@ViewBag.AppInfo.Icon'
        }).on('change', function (e) {
            $("input[name='AppIcon']").val(e.icon);
            });

        $(".apps-wrapper-fchiled").on("focus", function (e) {
            var ob = $(e.target).closest(".apps-wrapper-fchiled");
            ob.addClass("appselected");
            $.each(ob.parent().siblings(), function (i, obj) {
                $(obj).children(".apps-wrapper-fchiled").removeClass("appselected");
            }.bind(this))
            $("[name='AppType']").val(parseInt(ob.attr("type")));
        });

        $("#app-form").on("submit", function () {
            $("#eb_common_loader").EbLoader("show");
        });

        $('.appselected').removeClass("appselected");
        $(`[type='@ViewBag.AppInfo.AppType']`).addClass("appselected");

        if ('@TempData["Msg"]')
            EbMessage("show", { Message: '@TempData["Msg"]', AutoHide: true });
    });
    </script>
}
