@using ExpressBase.Objects.ServiceStack_Artifacts
@using ExpressBase.Common
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}

@await Component.InvokeAsync("PageHeaderCommon")
<script>
    var cm = new EbHeader().setName("Developer Console");
</script>

<div class="row s-dash-container">
    <div class="pd-0 tdasboard-sidebar">
        <div class="t-container">
            <ul class="list-group menuwrapper_ul_outer">
                <li class="list-group-item outer_li">Solutions<i class="fa fa-chevron-right tdash-icon pull-right"></i></li>
                <li class="list-group-item outer_li">Billing<i class="fa fa-chevron-right tdash-icon pull-right"></i></li>
                <li class="list-group-item outer_li">Support<i class="fa fa-chevron-right tdash-icon pull-right"></i></li>
            </ul>
        </div>
    </div>
    <div class="s-dash-workplace">
        <div class="col-md-12 pd-0 s-dash-solution-desc" style="margin-bottom: 7px;">
            <div class="col-md-10 pd-0">
                <h3 class="mr-t-0">Applications</h3>
            </div>
            <div class="col-md-2 pd-0">
                <a href='@Url.Action("CreateApplication","Dev")' class="ebbtn eb_btnblue pull-right new_sol_lk"><i class="fa fa-plus"></i> New Application</a>
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">
            <div class="tdash-box-body">
                @{
                    List<AppWrapper> appList = ViewBag.apps;
                    if (appList != null)
                    {
                        <div class="application_t_wrapper">
                            <h4><img class="apptype_icon_devd" src="/images/svg/grid-world.svg" /> Web Applications <span class="apps_count"></span></h4>
                            <div class="application_t_wrapper_body">
                                @foreach (AppWrapper aw in appList)
                                {
                                    var apptype = (EbApplicationTypes)aw.AppType;

                                    string desc = String.IsNullOrEmpty(aw.Description) ? "No Description" : aw.Description;
                                    if (aw.AppType == 1)
                                    {
                                        <div class="solution_container">
                                            <div class="solution_container_pd">
                                                <div class="col-md-1 appIconContainer">
                                                    <span class="@aw.Icon"></span>
                                                </div>
                                                <div class="col-md-10">
                                                    <h5 class="f16">@aw.Name</h5>
                                                    <p>@desc</p>
                                                    <p class="small"><span>@apptype</span> Application</p>
                                                </div>
                                                <div class="col-md-1 flex-center">
                                                    <a href="@Url.Action("AppDashBoard","Dev",new {Id = aw.Id ,Type = aw.AppType})" class="btn newsolution-btn">
                                                        <i class="material-icons">open_in_new</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="application_t_wrapper">
                            <h4><img class="apptype_icon_devd" src="/images/svg/smartphone-call.svg" /> Mobile Applications <span class="apps_count"></span></h4>
                            <div class="application_t_wrapper_body">
                                @foreach (AppWrapper aw in appList)
                                {
                                    var apptype = (EbApplicationTypes)aw.AppType;

                                    string desc = String.IsNullOrEmpty(aw.Description) ? "No Description" : aw.Description;
                                    if (aw.AppType == 2)
                                    {
                                        <div class="solution_container">
                                            <div class="solution_container_pd">
                                                <div class="col-md-1 appIconContainer">
                                                    <span class="@aw.Icon"></span>
                                                </div>
                                                <div class="col-md-10">
                                                    <h5 class="f16">@aw.Name</h5>
                                                    <p>@desc</p>
                                                    <p class="small"><span>@apptype</span> Application</p>
                                                </div>
                                                <div class="col-md-1 flex-center">
                                                    <a href="@Url.Action("AppDashBoard","Dev",new {Id = aw.Id ,Type = aw.AppType})" class="btn newsolution-btn">
                                                        <i class="material-icons">open_in_new</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="application_t_wrapper">
                            <h4><img class="apptype_icon_devd" src="/images/svg/chat1.svg" /> Bot Applications <span class="apps_count"></span></h4>
                            <div class="application_t_wrapper_body">
                                @foreach (AppWrapper aw in appList)
                                {
                                    var apptype = (EbApplicationTypes)aw.AppType;

                                    string desc = String.IsNullOrEmpty(aw.Description) ? "No Description" : aw.Description;
                                    if (aw.AppType == 3)
                                    {
                                        <div class="solution_container">
                                            <div class="solution_container_pd">
                                                <div class="col-md-1 appIconContainer">
                                                    <span class="@aw.Icon"></span>
                                                </div>
                                                <div class="col-md-10">
                                                    <h5 class="f16">@aw.Name</h5>
                                                    <p>@desc</p>
                                                    <p class="small"><span>@apptype</span> Application</p>
                                                </div>
                                                <div class="col-md-1 flex-center">
                                                    <a href="@Url.Action("AppDashBoard","Dev",new {Id = aw.Id ,Type = aw.AppType})" class="btn newsolution-btn">
                                                        <i class="material-icons">open_in_new</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>
     if ('@ViewBag.Msg') {
        EbMessage("show", { Message: "@ViewBag.Msg", AutoHide: true });
    }
    $(document).ready(function () {
        $.each($(".application_t_wrapper"), function (i, obj) {
            var length = $(obj).children(".application_t_wrapper_body").children().length;
            $(obj).children("h4").children(".apps_count").text("(" + length +")");
        });
    });
</script>
