@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
<script>
    var cm = new EbHeader().setName("Developer Home");
</script>
@{
    List<AppWrapper> appList = ViewBag.apps;
    int appcount = 0;
    if (appList != null)
    {
        appcount = appList.Count;
    }
}
<div class="row s-dash-container h-100">
    <div class="pd-0 tdasboard-sidebar tenant_sidebar">
        <div class="t-container">
            <ul class="list-group eb-dashbord-sidebar">
                <li class="list-group-item outer_li text-center pd-l-0 pd-r-0">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">apps</span>
                        <span class="t__sidebar_text">Applications</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/AppStore">
                        <span class="material-icons t__sidebar_icon">store</span>
                        <span class="t__sidebar_text">App Store</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a" href="/Survey/SurveyHome">
                        <span class="material-icons t__sidebar_icon">question_answer</span>
                        <span class="t__sidebar_text">Survey</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">chrome_reader_mode</span>
                        <span class="t__sidebar_text">Wiki</span>
                    </a>
                </li>
                <li class="list-group-item outer_li text-center">
                    <a class="t_a">
                        <span class="material-icons t__sidebar_icon">contact_support</span>
                        <span class="t__sidebar_text">Support</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc border-style-none">
            <div class="col-md-7 col-lg-7 col-sm-7 pd-0">
                <h4 class="mr-t-0 mr-b-0">Applications (@appcount)</h4>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-5 pd-0" style="display: flex;flex-flow: row-reverse nowrap;">
                <div class="input-group eb-search-box" style="margin-left: 15px;">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" id="appSearch" class="form-control" placeholder="Search Application">
                </div>
                <a href='@Url.Action("CreateApplication", "Dev")' class="ebbtn eb_btnblue eb_btn-sm pull-right new_sol_lk">New Application</a>
            </div>
        </div>
        <div class="col-md-12 pd-0 s-dash-workplace-tabs">
            <ul class="nav nav-tabs eb-styledTab">
                <li class="nav-item active devdshtab">
                    <a class="nav-link devdshtab" data-toggle="tab" href="#webapps_tab" role="tab">
                        <i class="fa fa-globe"></i> Web <span class="apps_count webcount"></span>
                    </a>
                </li>
                <li class="nav-item">

                    <a class="nav-link devdshtab" data-toggle="tab" href="#mobapps_tab" role="tab">
                        <i class="fa fa-mobile"></i> Mobile <span class="apps_count mobcount"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link devdshtab" data-toggle="tab" href="#botapps_tab" role="tab">
                        <i class="fa fa-android"></i> Bot <span class="apps_count botcount"></span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                @{
                    int webcount = 0; int botcount = 0; int mobcount = 0;
                    if (appList != null)
                    {
                        <div class="tab-pane active" id="webapps_tab" role="tabpanel">
                            <div class="tabpane-flex">
                                @foreach (AppWrapper aw in appList)
                                {
                                    var apptype = (EbApplicationTypes)aw.AppType;

                                    string desc = String.IsNullOrEmpty(aw.Description) ? "No Description" : aw.Description;
                                    if (aw.AppType == 1)
                                    {
                                        webcount = webcount + 1;
                                        <div class="appcontainer">
                                            <a class="appcontainer_inner h-100" href="@Url.Action("AppDashBoard","Dev",new {Id = aw.Id ,Type = aw.AppType})">
                                                <div class="appcontainer-icon-container">
                                                    <span class="fa @aw.Icon appcontainer-icon"></span>
                                                </div>
                                                <div class="appcontainer-body">
                                                    <div name="appname" class="title txtdecor_none">@aw.Name</div>
                                                    <p class="mr-0 description txtdecor_none">@desc</p>
                                                </div>
                                                <i class="fa fa-external-link openinnew"></i>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="mobapps_tab" role="tabpanel">
                            <div class="tabpane-flex">
                                @foreach (AppWrapper aw in appList)
                                {
                                    var apptype = (EbApplicationTypes)aw.AppType;

                                    string desc = String.IsNullOrEmpty(aw.Description) ? "No Description" : aw.Description;
                                    if (aw.AppType == 2)
                                    {
                                        mobcount = mobcount + 1;
                                        <div class="appcontainer">
                                            <a class="appcontainer_inner h-100" href="@Url.Action("AppDashBoard","Dev",new {Id = aw.Id ,Type = aw.AppType})">
                                                <div class="appcontainer-icon-container">
                                                    <span class="fa @aw.Icon appcontainer-icon"></span>
                                                </div>
                                                <div class="appcontainer-body">
                                                    <div name="appname" class="title txtdecor_none">@aw.Name</div>
                                                    <p class="mr-0 description txtdecor_none">@desc</p>
                                                </div>
                                                <i class="fa fa-external-link openinnew"></i>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="botapps_tab" role="tabpanel">
                            <div class="tabpane-flex">
                                @foreach (AppWrapper aw in appList)
                                {
                                    var apptype = (EbApplicationTypes)aw.AppType;

                                    string desc = String.IsNullOrEmpty(aw.Description) ? "No Description" : aw.Description;
                                    if (aw.AppType == 3)
                                    {
                                        botcount = botcount + 1;
                                        <div class="appcontainer">
                                            <a class="appcontainer_inner h-100" href="@Url.Action("AppDashBoard","Dev",new {Id = aw.Id ,Type = aw.AppType})">
                                                <div class="appcontainer-icon-container">
                                                    <span class="fa @aw.Icon appcontainer-icon"></span>
                                                </div>
                                                <div class="appcontainer-body">
                                                    <div name="appname" class="title txtdecor_none">@aw.Name</div>
                                                    <p class="mr-0 description txtdecor_none">@desc</p>
                                                </div>
                                                <i class="fa fa-external-link openinnew"></i>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section JsCode{
    <script>
         if ('@ViewBag.Msg') {
            EbMessage("show", { Message: "@ViewBag.Msg", AutoHide: true });
        }
        $(document).ready(function () {
            $(".mobcount").text('(@mobcount)');
            $(".webcount").text("(@webcount)");
            $(".botcount").text("(@botcount)");

            $("#appSearch").off("keyup").on("keyup", function (e) {
                let curtab = $(".eb-styledTab li.active a").attr("href");
                var srch = $(e.target).val().toLowerCase();
                $.each($(curtab).find(".appcontainer"), function (i, obj) {
                    var cmpstr = $(obj).find('[name="appname"]').text().toLowerCase();
                    if (cmpstr.indexOf(srch) !== -1) {
                        $(obj).show();
                    }
                    else
                        $(obj).hide();
                });
            });
        });
    </script>
}
