@using ExpressBase.Objects;
@using ExpressBase.Objects.Attributes;

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">*@
@*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />*@
@*<link rel="stylesheet" type="text/css" href="~/css/FormBuiderStyles.css" />*@
@*<link rel="stylesheet" type="text/css" href="~/css/Eb.css" />*@

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@*<script src="~/js/FormBuilder/EbControlCollection.js"></script>*@
@*<script type="text/javascript" src="~/js/vue-select.js"></script>*@
@*<script type="text/javascript" src="https://unpkg.com/vue@2.1.10"></script>*@
@*<script src='~/js/Eb_dragula.js'></script>*@
@*<script src='~/js/Eb_formBuilder.js'></script>*@
@*<script src='~/js/jqPropertyGrid.js'></script>*@
@*<script src='~/js/Eb_PropertyGrid.js'></script>*@
@*<script type="text/javascript" src="~/js/Eb_UtilityFuncions.js"></script>*@
<script type="text/javascript" src="~/js/"></script>
@*<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>*@@*amal*@
@*<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay_progress.min.js"></script>*@@*amal*@

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@{
    int typeInt = (string.IsNullOrEmpty(ViewBag.Objtype)) ? Convert.ToInt32(Context.Request.Query["objtype"]) : Convert.ToInt32(ViewBag.Objtype);
    EbObjectType type = (EbObjectType)typeInt;

    var _builderType = (BuilderType)Enum.Parse(typeof(BuilderType), type.ToString(), true);
    var _toolBox = new EbToolbox(_builderType);
}

<div class='eb-loaderFixed'><i class='fa fa-spinner fa-pulse fa-4x fa-fw center-block'></i></div>

<div id="con" class="form-buider-cont">
    <div id="toolbox_cont" class='formB-box toolbox-cont'>
        <div class="pgHead">Toolbox  <i class="fa fa-wrench" aria-hidden="true"></i> <i class="fa fa-thumb-tack pin" onclick="slideLeft ('.form-save-wraper', '#toolbox_cont')" aria-hidden="true"></i></div>
        <div id="form-buider-toolBox" class="form-buider-toolBox">

            @Html.Raw(_toolBox.html)

        </div>
    </div>
    <div class="form-save-wraper">

        <div class="formB-box fb-cont">
            <input type="text" id="save_txtBox" required class="form-control" style="width:90%;display:inline-block;" placeholder="Save As...">
            <button id="saveformBtn" type="submit" class="btn btn-default">Save</button>
        </div>

        <div id="form-buider-form" class="formB-box form-buider-form">
            @Html.Raw(@ViewBag.html)
            <textarea id="txtValues" rows="15" cols="40"></textarea>
        </div>
    </div>


    <input type="hidden" id="objtype" value="@type" />
    <input type="hidden" id="objid" value="@ViewBag.Objid" />

    <div id='form-buider-propGrid' class='formB-box property-grid-cont'>
        <div class="pgHead">Properties<i class="fa fa-times" style="float:right; cursor:default;" onclick="$(this).parent().parent().css('visibility', 'hidden')" aria-hidden="true"></i><i class="fa fa-thumb-tack pin" onclick="slideRight('.form-save-wraper', '#form-buider-propGrid')" aria-hidden="true"></i></div>
        <div class="controls-dd-cont">
            <select class="selectpicker" data-live-search="true"> </select>
        </div>
        <div id='propGrid' class="propgrid-table-cont"></div>
    </div>


</div>

<script>
    @Html.Raw(_toolBox.AllControlls);
    @Html.Raw(_toolBox.AllMetas);
    @Html.Raw(_toolBox.XXXX);
    @Html.Raw(_toolBox.TypeRegister);

    var formBuilderObj = null;
    var objid =$("#objid").val();
    var FBid = "form-buider-form";
    var editModeFormObj = null;
    var ToolBoxId = "form-buider-toolBox";
    var PGid = "form-buider-propGrid";



    // if edit mode
    if(objid){
        editModeObj = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.Json));
        //$.each(editModeFormObj, funcion(i, obj) {  });
        formBuilderObj= new formBuilder(ToolBoxId, FBid, PGid, @((int)_builderType), @typeInt);
        formBuilderObj.InitEditModeCtrls(editModeObj);
    }
    else
        formBuilderObj= new formBuilder(ToolBoxId, FBid, PGid, @((int)_builderType), @typeInt);

    function recur(obj)
    {
        if (obj.Controls)
            obj.Controls = new EbControlCollection(obj.Controls);

    }
</script>

<style>
    /*overridding*/



    .property-grid-cont .sp-preview {
        width: calc(100% - 15px) !important;
        height: 15px;
    }

    .property-grid-cont .sp-replacer {
        width: 100% !important;
        padding: 2px;
    }

    .property-grid-cont .btn:first-child {
        margin-left: 0 !important;
        border-radius: 0px !important;
    }

    .form-buider-form .btn {
        padding: 3px 12px !important;
        width: 100%;
    }

    .form-buider-form table td {
        border: 1px dashed #cccccc;
        padding: 1px;
        vertical-align: initial;
    }

    .moveBtn {
        font-size: 10px;
        vertical-align: top;
        margin-left: 6px;
        margin-top: 3px;
        opacity: .9;
    }

        .moveBtn:hover, .moveBtn:focus {
            color: #fff !important;
            background-color: black;
            opacity: 1;
        }

    .close {
        margin-top: -1px;
        height: 17px;
    }

        .close:hover, .close:focus {
            color: #f00 !important;
            opacity: .6 !important;
        }
</style>
