@using ExpressBase.Objects;
@using ExpressBase.Objects.ServiceStack_Artifacts;

@{
    if (ViewBag.isAjaxCall)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
    Dictionary<int, EbObjectWrapper> Objlist = ViewBag.Objlist;
    var ObjectType = ViewBag.EbObjectType;
    string editor = null;
    string whichController = null;
    if (ObjectType == (int)EbObjectType.DataSource)
    {
        editor = "code_editor";
        whichController = "CE";
    }
    else if (ObjectType == (int)EbObjectType.DataVisualization)
    {
        editor = "dv";
        whichController = "DV";
    }
    else if (ObjectType == (int)EbObjectType.Application)
    {
        editor = "CreateApplication";
        whichController = "Dev";
    }
    else if (ObjectType == (int)EbObjectType.SqlFunction)
    {
        editor = "SqlFunction_Editor";
        whichController = "CE";
    }
    else if (ObjectType == (int)EbObjectType.FilterDialog)
    {
        editor = "Eb_formBuilder";
        whichController = "Dev";
    }
    else if (ObjectType == (int)EbObjectType.DisplayBlock)
    {
        editor = "Eb_formBuilder";
        whichController = "Dev";
    }
    else if (ObjectType == (int)EbObjectType.WebForm)
    {
        editor = "Eb_formBuilder";
        whichController = "Dev";
    }
}
<script>
    $('#impexp').next().css("display", "inline-block");
</script>
<div class="row" id="topmenu" style="">
    <div class="form-inline">
        <button class="btn btn-default" id="reload"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        @if (ViewBag.wc == "dc")
        {
            <div class="input-group" id="impexp">
                <div class="input-group-btn">
                    <button class="btn btn-default"><i class="fa fa-download" aria-hidden="true"></i> Import</button>
                    <button class="btn btn-default"><i class="fa fa-upload" aria-hidden="true"></i> Export</button>
                </div>
            </div>           
            @using (Html.BeginForm(editor,whichController , FormMethod.Get, new { target = "_blank" }))
            {              
                <input type="submit" class="btn btn-primary fa-input" value="&#xf055; New" style="font-family: FontAwesome,sans-serif;"/>
                <input type="hidden" name="objtype" id="objtype" value="@ObjectType" />
            }
        }
        <div class="input-group pull-right">
            <div class="input-group-btn">
                <button type="button" id="dropbuttn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name <span class="caret"></span></button>
                <ul class="dropdown-menu" id="MyDropDownId">
                    <li><a href="#">Name</a></li>
                    <li><a href="#">Application</a></li>
                    <li><a href="#">Module</a></li>
                    <li><a href="#">Status</a></li>
                    <li><a href="#">Version</a></li>
                </ul>
            </div>
            <input type="text" class="form-control" id="searchobj" aria-label="..."><span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
    </div>
</div>
@{
    foreach (var element in Objlist)
    {
        <div class="row objitems bg-white" name="objBox" id="searchid+@element.Value.Name">
            <div class="col-md-1">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input">                  
                </div>
            </div>
            <div class="col-md-8">
                <h4 name="head4" style="color:black;">@element.Value.Name</h4>
                <p class="text-justify">@element.Value.Description</p>
                <h6>
                    <i style="font-style:italic;">Last commit by @element.Value.CommitUname on @element.Value.CommitTs</i>
                    <a style="margin-left:10px;" id="labels">
                        <span name="Status" class="label label-primary">Status</span>
                        <span name="Version" class="label label-default">v @element.Value.VersionNumber</span>
                        @if(ViewBag.wc == "dc") {
                            <span class="label label-success">Dependency</span>
                        }
                        <span name="Application" class="label label-danger">Application</span>
                        <span name="Module" class="label label-default">Module</span>
                    </a>
                </h6>
            </div>
            <div class="col-md-2 pull-right">
                @using (Html.BeginForm(editor, whichController, FormMethod.Post, new { target = "_blank" }))
                  
                    {
                    <input type="hidden" name="objid" value="@element.Value.RefId" />
                    <input type="hidden" name="tacid" value="@ViewBag.cid" />
                    <input type="hidden" name="objtype" id="objtype" value="@ObjectType" />
                    <input type="submit" class="btn btn-primary fa-input" value="Open &#xf054;" style="font-family: FontAwesome;" id="btnOpen">
                }
            </div>
        </div>
    }
    <div class="text-center" id="notfound" style="margin-top:230px;">
    </div>
}
<script>
    $(document).ready(function () {
        $('#MyDropDownId li').click(function () {
            $('#dropbuttn').text($(this).text());
        });
        $("#searchobj").on("keyup", function (e) {
            if ($('#dropbuttn').text() === 'Name ') {
                var f = false;
                var srch = $(this).val().toLowerCase();
                $('[name=head4]').each(function () {
                    $(this).parent().parent().hide();
                    var head = $(this).text().toLowerCase();
                    if (head.match(srch)) {
                        $(this).parent().parent().show();
                        f = true;
                    }
                });
                if (!f)
                    $("#notfound").text('Item not found.......');
                else
                    $("#notfound").text('');
            }
            else {
                var searchBy = $('#dropbuttn').text();
                var f = false;
                var srch = $(this).val().toLowerCase();
                $('[name=' + searchBy + ']').each(function () {
                    $(this).parent().parent().parent().parent().hide();
                    var head = $(this).text().toLowerCase();
                    if (head.match(srch)) {
                        $(this).parent().parent().parent().parent().show();
                        f = true;
                    }
                });
                if (!f)
                    $("#notfound").text('Item not found.......');
                else
                    $("#notfound").text('');
            }
        });
    });
</script>
