@using ExpressBase.Common.Objects;
@using ExpressBase.Objects.ServiceStack_Artifacts;

@{
    if (ViewBag.isAjaxCall)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
    Dictionary<int, EbObjectWrapper> Objlist = ViewBag.Objlist;
    var ObjectType = ViewBag.EbObjectType;
    string editor = null;
    string whichController = null;
    if (ObjectType == (int)EbObjectType.DataSource)
    {
        //editor = "code_editor";
        //whichController = "CE";
        editor = "Index";
        whichController = "Eb_Object";
    }
    else if (ObjectType == (int)EbObjectType.DataVisualization)
    {
        editor = "dv";
        whichController = "DV";
    }
    //else if (ObjectType == (int)EbObjectType.Application)
    //{
    //    editor = "CreateApplication";
    //    whichController = "Dev";
    //}
    else if (ObjectType == (int)EbObjectType.SqlFunction)
    {
        editor = "SqlFunction_Editor";
        whichController = "CE";
    }
    else if (ObjectType == (int)EbObjectType.FilterDialog)
    {
        editor = "Eb_formBuilder";
        whichController = "Dev";
    }
    else if (ObjectType == (int)EbObjectType.DisplayBlock)
    {
        editor = "Eb_formBuilder";
        whichController = "Dev";
    }
    else if (ObjectType == (int)EbObjectType.WebForm)
    {
        editor = "Eb_formBuilder";
        whichController = "Dev";
    }
    else if (ObjectType == (int)EbObjectType.Report)
    {
        editor = "ReportBuilder";
        whichController = "RB";
    }
    else if (ObjectType == (int)EbObjectType.EmailBuilder)
    {
        editor = "Eb_Emailbuilder";
        whichController = "Dev";
    }
    else if (ObjectType == (int)EbObjectType.TableVisualization)
    {
        if (ViewBag.wc == "dc")
        {
            editor = "dvTable";
        }
        else
        {
            editor = "dv";
        }
        whichController = "DV";
    }
    else if (ObjectType == (int)EbObjectType.ChartVisualization)
    {
        if (ViewBag.wc == "dc")
        {
            editor = "dvChart";
        }
        else
        {
            editor = "dv";
        }
        whichController = "DV";
    }
}
<script>
    $('#impexp').next().css("display", "inline-block");
</script>
<div class="row" id="topmenu">
    <div class="form-inline objList-menu Eb-CommonMenuStyle">
        <div class="input-group-btn" style="display:inline">
            <button type="button" id="dropbuttn" class="btn dropdown-toggle objList-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Name <span class="caret"></span></button>
            <ul class="dropdown-menu" id="MyDropDownId">
                <li><a href="#">Name</a></li>
                <li><a href="#">Application</a></li>
            </ul>
        </div>
        <input type="text" class="" id="searchobj" aria-label="...">
        <i class="fa fa-search search-icon"></i>
        <div class="pull-right">
            <button class="btn" id="reload"><i class="fa fa-refresh" aria-hidden="true"></i></button>
            @if (ViewBag.wc == "dc")
            {
                <div class="input-group" id="impexp">
                    <div class="input-group-btn">
                        <button class="btn"><i class="fa fa-download" aria-hidden="true"></i></button>
                        <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                    </div>
                </div>
                @using (Html.BeginForm(editor, whichController, FormMethod.Get, new { target = "_blank" }))
                {
                    <input type="submit" class="btn" value="&#xf055;" style="font-family: FontAwesome,sans-serif;" />
                    <input type="hidden" name="objtype" id="objtype" value="@ObjectType" />
                }
            }
        </div>
    </div>
</div>
<div class="row" name="objBox" id="objlist-items">
    @{
        foreach (var element in Objlist)
        {
            <div class="col-md-6 objitems" name="objBox" id="searchid+@element.Value.Name">
                <div class="col-md-1 obj-icon">
                    <div class="obj-ic-cir">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-md-10">
                    <h4 name="head4" style="color:black;">@element.Value.Name</h4>
                    <p class="text-justify">@element.Value.Description</p>
                    @*<i style="font-style:italic;">Last commit by @element.Value.CommitUname on @element.Value.CommitTs</i>*@
                    <a id="labels">
                        @*<span name="Version" class="label label-default">v @element.Value.VersionNumber</span>*@
                        <span name="Application" class="label objbox-label">Application</span>
                    </a>
                </div>
                <div class="col-md-1 objbox-footer">                                     
                        @using (Html.BeginForm(editor, whichController, FormMethod.Post, new { target = "_blank" }))
                            {
                            <input type="hidden" class="obj-list-edit-btn-items" name="objid" value="@element.Value.Id" />
                            <input type="hidden" class="obj-list-edit-btn-items" name="tacid" value="@ViewBag.cid" />
                            <input type="hidden" class="obj-list-edit-btn-items" name="objtype" id="objtype" value="@ObjectType" />
                            <input type="submit" class="btn fa-input fa-lg" value="&#xf054;" style="font-family: FontAwesome;" id="btnOpen">
                            }                   
                </div>
            </div>
        }
        <div class="text-center" id="notfound" style="margin-top:230px;"> </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('#MyDropDownId li').click(function () {
            $('#dropbuttn').text($(this).text());
        });
        $("#searchobj").on("keyup", function (e) {
            if ($('#dropbuttn').text() === 'Name ') {
                var f = false;
                var srch = $(this).val().toLowerCase();
                $('[name=head4]').each(function () {
                    $(this).parent().parent().hide();
                    var head = $(this).text().toLowerCase();
                    if (head.match(srch)) {
                        $(this).parent().parent().show();
                        f = true;
                    }
                });
                if (!f)
                    $("#notfound").text('Item not found.......');
                else
                    $("#notfound").text('');
            }
            else {
                var searchBy = $('#dropbuttn').text();
                var f = false;
                var srch = $(this).val().toLowerCase();
                $('[name=' + searchBy + ']').each(function () {
                    $(this).parent().parent().parent().parent().hide();
                    var head = $(this).text().toLowerCase();
                    if (head.match(srch)) {
                        $(this).parent().parent().parent().parent().show();
                        f = true;
                    }
                });
                if (!f)
                    $("#notfound").text('Item not found.......');
                else
                    $("#notfound").text('');
            }
        });
    });
</script>
