@using ExpressBase.Objects;
@using ExpressBase.Objects.ServiceStack_Artifacts;

@{
    if (ViewBag.isAjaxCall)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
    Dictionary<int, EbObjectWrapper> Objlist = ViewBag.Objlist;
    var ObjectType = ViewBag.EbObjectType;
    string editor = null;
    if (ObjectType == (int)EbObjectType.DataSource)
    {
        editor = "code_editor";
    }
    else if (ObjectType == (int)EbObjectType.DataVisualization)
    {
        editor = "DVEditor";
    }
}
<script>
    $('#reload').next().css("display", "inline-block");
</script>
<div class="row">
    <div class="form-inline">
        <button class="btn btn-default" id="reload">Refresh</button>
        @using (Html.BeginForm(editor, "Dev", FormMethod.Get, new { target = "_blank" }))
            {
            <input type="submit" class="btn btn-default" value="New" />
        }
        <button class="btn btn-default">Import</button>
        <button class="btn btn-default">Export</button>
        <div class="input-group pull-right">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></button>
                <input type="text" class="form-control" aria-label="...">
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@{
    foreach (var element in Objlist)
    {
        <div class="row objitems">
            <div class="col-md-10">
                <h4>@element.Value.Name</h4>
                <p class="text-justify">@element.Value.Description</p>
                <h5>Last commit:@element.Value.CommitUname on @element.Value.CommitTs</h5>
                <span class="label label-primary">Status</span>
                <span class="label label-default">v @element.Value.VersionNumber</span>
                <span class="label label-success">Dependency</span>
                <span class="label label-danger">Application</span>
                <span class="label label-default">Module</span>
            </div>
            <div class="col-md-2 pull-right">
                @using (Html.BeginForm(editor, "Dev", FormMethod.Post, new { target = "_blank" }))
                {
                    <input type="hidden" name="objid" value="@element.Value.Id" />
                        <input type="hidden" name="tacid" value="@ViewBag.cid" />
                        <input type="submit" class="btn btn-default" id="btnOpen" value="Open ">
                }
            </div>
        </div>
    }
}