@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common.LocationNSolution;
@using Newtonsoft.Json;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    Dictionary<string, List<EbObjectWrapper>> Public_ObjList = ViewBag.objlist;
    Dictionary<string, List<EbObjectWrapper>> All_ObjList = ViewBag.all_objlist;
    Dictionary<string, List<EbObjectWrapper>> mobile_allpages = ViewBag.MobilePages;
    string signupFormRefid = ViewBag.signupFormRefid;
    MobileAppSettings mobile_settings = ViewBag.MobileSettings;
}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 23px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .profile_setup {
        padding: 4px 10px;
        border: solid 1px #b7b7b7;
        width: 100%;
        border-radius: 3px;
        margin-bottom: 10px;
        display: flex;
    }

        .profile_setup i {
            font-size: 30px;
            width: 20px;
        }

        .profile_setup p {
            margin: 0px;
            margin-top: 5px;
        }

        .profile_setup:hover {
            cursor: move;
        }

    .mob_add_page {
        width: 30px;
        height: 25px;
        border: 1px solid #ccc;
        background: #d6d4d4;
        cursor: pointer;
        font-weight: bold;
        padding: 3px;
        outline: none;
    }

    .mobile_signup_set {
        width: 50%;
    }

    .mobile_signup_set_inner {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 10px;
    }

    .solution_cons {
        width: 50%;
        display: flex;
    }

    .solution_cons_inner {
        border: 1px solid #ccc;
        height: 100%;
        padding: 10px;
        border-radius: 6px;
    }
</style>
<script src='~/js/Eb_dragula.js' type="text/javascript"></script>

<div class="row s-dash-container h-100">
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc">
            <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12 pd-0">
                <h4 class="mr-t-0 mr-b-0">Solution Console</h4>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12 pd-0 s-dash-btnwraper">
                <button id="save" class="ebbtn eb_btn-sm pull-right" style="background: #15ad15; color: white; padding: 5px 20px;">Save settings</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pd-0 s-dash-workplace-tabs">
        <div class="mr-t-15 w-100 display-flex" id="form-settings-container" style="padding:10px 15px">
            <div class="solution_cons">
                <div class="solution_cons_inner w-100" style="margin-right: 10px;">
                    <label> Select Profile Forms For Each User Types </label>
                    @{
                        int i = 1;
                        @foreach (EbProfileUserType type in ViewBag.userTypes)
                        {
                            <div class="usr_typ" id="@type.Id">
                                <label style="padding-top: 10px;font-weight: 500;">@i.  @type.Name </label>
                                <select class="form-control col-md-3 pull-right user_type_forms" value="@type.Id">
                                    <option> </option>
                                    @foreach (KeyValuePair<string, List<EbObjectWrapper>> obj in All_ObjList)
                                    {
                                        @foreach (EbObjectWrapper ver in obj.Value)
                                        {
                                            if (ver.RefId == type.RefId)
                                            {
                                                <option value="@ver.RefId" selected> @ver.DisplayName  (@ver.VersionNumber)</option>
                                            }
                                            else
                                            {
                                                <option value="@ver.RefId"> @ver.DisplayName  (@ver.VersionNumber)</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            i++;
                        }
                    }
                </div>
            </div>
            <div class="solution_cons">
                <div class="solution_cons_inner w-100" style="margin-left: 10px;">
                    <label> Select External Forms </label>
                    <div>
                        <label style="padding-top:10px;font-weight: 500;">1.  Signup Form</label>
                    </div>
                    <select class="form-control" id="signup_object">
                        <option> </option>
                        @foreach (KeyValuePair<string, List<EbObjectWrapper>> obj in Public_ObjList)
                        {
                            @foreach (EbObjectWrapper ver in obj.Value)
                            {
                                <option value="@ver.RefId"> @ver.DisplayName  (@ver.VersionNumber)</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="mobile-settings-container w-100" style="padding:10px 15px">
            <h5>Mobile settings</h5>
            <div class="settings-container display-flex">
                <div class="mobile_signup_set">
                    <div class="mobile_signup_set_inner h-100" style="margin-right: 10px;">
                        <label style="font-weight:500;"> Signup page </label>
                        <select class="form-control" id="mobile-signup-refid">
                            <option> --- Choose signup page --- </option>
                            @{
                                foreach (KeyValuePair<string, List<EbObjectWrapper>> pair in mobile_allpages)
                                {
                                    @foreach (EbObjectWrapper ver in pair.Value)
                                    {
                                        <option value="@ver.RefId"> @ver.DisplayName  (@ver.VersionNumber)</option>
                                    }
                                }
                            }
                        </select>

                        @{
                            string verify_user = mobile_settings.VerifyUserByOTP ? "checked" : "";

                            <div class="verify-signup-container" style="margin-top:15px;">
                                <label style="font-weight:500;">Verify User</label>
                                <input type="checkbox" id="verify-user-mobilesetting" style="margin:0;margin-left:10px;" @verify_user/>
                            </div>
                        }

                        <div class="mr-t-10 mr-b-15 display-flex">
                            <div style=" width: 100%;font-weight: 500;">Profile</div>
                            <button class="mob_add_page" data-toggle="modal" data-target="#mob_pages"><i class="fa fa-list" aria-hidden="true"></i></button>
                        </div>
                        <div id="profile_setup_pages">
                            @{
                                int count = 0;

                                foreach (string refid in mobile_settings.ProfileSetupPages)
                                {
                                    @foreach (KeyValuePair<string, List<EbObjectWrapper>> type in mobile_allpages)
                                    {
                                        if (type.Value.Count > 0 && refid == type.Value[0].RefId)
                                        {
                                            count++;
                                            <div refid="@type.Value[0].RefId" class="profile_setup">
                                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                                <p> @type.Value[0].DisplayName </p>
                                            </div>
                                        }
                                    }
                                }
                                if (count == 0)
                                {
                                    <div class="text-center"> Empty</div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mob_pages" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 15px 15px 0px 15px;border-bottom:none">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mobile Pages</h4>
            </div>
            <div class="modal-body">
                <div style=" border: solid 1px #cfcfcf; padding: 10px 25px;max-height: 50rem; overflow: auto;">
                    @{
                        List<string> profiles = mobile_settings.ProfileSetupPages ?? new List<string>();

                        foreach (KeyValuePair<string, List<EbObjectWrapper>> type in mobile_allpages)
                        {
                            if (type.Value.Count > 0)
                            {
                                string selected = profiles.Contains(type.Value[0].RefId) ? "checked" : "";

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="@type.Value[0].DisplayName" id="@type.Value[0].RefId" @selected>
                                    <label class="form-check-label" for="@type.Value[0].RefId"> @type.Value[0].DisplayName </label>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="modal-footer" style="border:none;">
                <button type="button" id="mobilepage_submit" class="btn btn-primary btn-sm" style="background: #4987fb; color: #fff;" data-dismiss="modal">Add</button>
            </div>
        </div>

    </div>
</div>
<script>
    var MobileSettings = @Html.Raw(JsonConvert.SerializeObject(mobile_settings));
    var MobPageColl = [];

    $(document).ready(function () {
        if ("@signupFormRefid" != "") {
            $("#signup_object").val("@signupFormRefid");
        }
        containers = document.getElementById("profile_setup_pages")
        var drake = dragula([document.getElementById("profile_setup_pages")]);
        drake.off("drop").on("drop", function () {});

        if (MobileSettings && MobileSettings.SignUpPageRefId) {
            $('#mobile-signup-refid').val(MobileSettings.SignUpPageRefId);
        }
    });

    $("#mobilepage_submit").on("click", function () {
        let htm = "";
        var abc = $("input:checkbox[class=form-check-input]:checked");
        $.each(abc, function (i, ob) {
            htm += `<div class="profile_setup" refid=${ob.id} value="${ob.value}"><i class="fa fa-mobile" aria-hidden="true"></i> <p>${ob.value}</p></div>`
        });
        $("#profile_setup_pages").empty().append(htm);
    });

    $("#save").on("click", function () {
        $("#eb_common_loader").EbLoader("show");
        let arr = [];

        $(".usr_typ").each(function (index) {
            arr.push({Id : this.id, RefId :$('#'+this.id +' .user_type_forms').val()});
        });

        setMobileSettings();

        let obj = {
            SignupFormRefid: $("#signup_object").val(),
            UserTypeForms: arr,
            MobileAppSettings: MobileSettings,
        };
        $.post("../Dev/SaveSolutionSettings",
            { obj: JSON.stringify(obj) },
            function (result) {
                $("#eb_common_loader").EbLoader("hide");
                EbDialog("show", {
                    Message: result ,
                    Buttons: {
                        "Ok": {
                            Background: "blue",
                            Align: "right",
                            FontColor: "white;"
                        }
                    }
                });
            }
        );
    });

    function setMobileSettings() {
        MobileSettings.SignUpPageRefId = $('#mobile-signup-refid').val() || null;
        MobileSettings.ProfileSetupPages = getMobileProfilePages();
        MobileSettings.VerifyUserByOTP = $("#verify-user-mobilesetting").is(":checked");
    }

    function getMobileProfilePages() {
        profiles = [];
        $(".profile_setup").each(function (i, obj) {
            profiles.push(obj.getAttribute("refid").trim());
        });
        return profiles;
    }
</script>
