@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common.LocationNSolution;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    Dictionary<string, List<EbObjectWrapper>> Public_ObjList = ViewBag.objlist;
    Dictionary<string, List<EbObjectWrapper>> All_ObjList = ViewBag.all_objlist;
    string signupFormRefid = ViewBag.signupFormRefid;
}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 23px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .profile_setup {
        padding: 4px 10px;
        border: solid 1px #b7b7b7;
        width: 100%;
        border-radius: 3px;
        margin-bottom: 10px;
        display: flex;
    }

        .profile_setup i {
            font-size: 30px;
            width: 20px;
        }

        .profile_setup p {
            margin: 0px;
            margin-top: 5px;
        }

        .profile_setup:hover {
            cursor: move;
        }

    .mob_add_page {
        width: 30px;
        height: 25px;
        border: 1px solid #ccc;
        background: #d6d4d4;
        cursor: pointer;
        font-weight: bold;
        padding: 3px;
        outline: none;
    }

    .mobile_signup_set {
        border: solid 1px #c7c7c7;
        margin-left: 17px;
        padding: 10px 10px;
        border-radius: 4px;
    }
    .solution_cons {
        border: solid 1px #c7c7c7;
        margin-left: 17px;
        padding: 10px 10px;
        border-radius: 4px;
    }
</style>
<script src='~/js/Eb_dragula.js'></script>
<div class="container-fluid center" style="background-color:white;height:100%;">
    <div class="row">
        <div class="col-md-12" style="margin-top:50px; margin-bottom: 15px;">
            <h4 class="col-md-10" style="margin-bottom:15px;padding-left:0px"><i class="fa fa-cog"></i> Mobile App Settings  </h4>
            <div class="col-md-2">
                <button id="save" class="btn btn-success pull-right form-inline ">Save</button>
            </div>
        </div>
        <div class="col-md-6 mobile_signup_set">
            <div class="col-md-12 " style=" margin-bottom: 2rem;"> <div style="font-weight: 500;">Mobile Signup Settings</div></div>
            <div class="col-md-5">
                <div style="display:flex">
                    <div style="width: 80%">Enable SignUp</div>
                    @{
                        if (ViewBag.MobileSignup.MobileSignUpSettings.SignUp)
                        { <label class="switch"> <input type="checkbox" id="SignUp" checked> <span class="slider round"></span> </label> }
                        else
                        { <label class="switch"> <input type="checkbox" id="SignUp"> <span class="slider round"></span> </label>}
                    }
                </div>
                <div>
                    <div class="checkbox" style="display:flex">
                        <div style="width:80%">Email</div>
                        @{
                            if (ViewBag.MobileSignup.MobileSignUpSettings.Email)
                            { <label class="switch"> <input type="checkbox" name="login" id="Mob_Email" checked><span class="slider round"></span></label>}
                            else
                            { <label class="switch"> <input type="checkbox" name="login" id="Mob_Email"><span class="slider round"></span></label>}
                        }
                    </div>
                    <div class="radio" style="display:flex">
                        <div style="width: 80%">Mobile</div>
                        @{
                            if (ViewBag.MobileSignup.MobileSignUpSettings.MobileNo)
                            { <label class="switch"> <input type="checkbox" name="login" id="Mob_Phone" checked><span class="slider round"></span></label> }
                            else
                            { <label class="switch"><input type="checkbox" name="login" id="Mob_Phone"><span class="slider round"></span></label>}
                        }
                    </div>
                </div>
                <div>
                    <div class="checkbox" style="display:flex">
                        <div style="width: 80%">Password</div>
                        @{
                            if (ViewBag.MobileSignup.MobileSignUpSettings.Password)
                            { <label class="switch"><input type="checkbox" name="psw" id="Mob_Password" checked><span class="slider round"></span></label> }
                            else
                            { <label class="switch"><input type="checkbox" name="psw" id="Mob_Password"><span class="slider round"></span></label>}
                        }

                    </div>
                    <div class="radio" style="display:flex">
                        <div style="width: 80%">Verification</div>
                        @{
                            if (ViewBag.MobileSignup.MobileSignUpSettings.Verification)
                            { <label class="switch"><input type="checkbox" name="psw" id="Mob_Verfi" checked><span class="slider round"></span></label> }
                            else
                            { <label class="switch"><input type="checkbox" name="psw" id="Mob_Verfi"><span class="slider round"></span></label>}
                        }

                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <div>
                    <div class="" style=" margin-bottom: 1rem;display:flex">
                        <div style=" width: 100%;font-weight: 500;">Profile</div>
                        <button class="mob_add_page" data-toggle="modal" data-target="#mob_pages"><i class="fa fa-list" aria-hidden="true"></i></button>
                    </div>
                    <div id="profile_setup_pages">
                        @{int count = 0;

                            foreach (string refid in ViewBag.MobileSignup.MobileSignUpSettings.ProfileSetupPages)
                            {
                                @foreach (KeyValuePair<string, List<EbObjectWrapper>> type in ViewBag.MobilePages)
                                {

                                    if (refid == type.Value[0].RefId)
                                    {
                                        count++;
                                        <div refid="@type.Value[0].RefId" class="profile_setup">
                                            <i class="fa fa-mobile" aria-hidden="true"></i>
                                            <p> @type.Value[0].DisplayName </p>
                                        </div>
                                    }
                                }
                            }
                            if (count == 0)
                            {
                                <div> Empty</div>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top:50px; margin-bottom: 15px;">
            <h4 class="col-md-10" style="margin-bottom:15px;padding-left:0px"><i class="fa fa-cog"></i> Solution Console  </h4>
        </div>
        <hr />
        <div class="form-group col-md-4 solution_cons">
            <label> Select Profile Forms For Each User Types</label>
            @{
                int i = 1;
                @foreach (EbProfileUserType type in ViewBag.userTypes)
                {
                    <div class="usr_typ" id="@type.Id">
                        <label style="padding-top: 10px;font-weight: 500;">@i.  @type.Name </label>
                        <select class="form-control col-md-3 pull-right user_type_forms" value="@type.Id">
                            <option> </option>
                            @foreach (KeyValuePair<string, List<EbObjectWrapper>> obj in All_ObjList)
                            {
                                @foreach (EbObjectWrapper ver in obj.Value)
                                {
                                    if (ver.RefId == type.RefId)
                                    {
                                        <option value="@ver.RefId" selected> @ver.DisplayName  (@ver.VersionNumber)</option>
                                    }
                                    else
                                    {
                                        <option value="@ver.RefId"> @ver.DisplayName  (@ver.VersionNumber)</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    i++;
                }
            }
        </div>
        <div class="form-group objlist col-md-4 solution_cons">
            <label> Select External Forms</label>
            <div><label style="padding-top:10px;font-weight: 500;">1.  Signup Form</label></div>
            <select class="form-control" id="signup_object">
                <option> </option>
                @foreach (KeyValuePair<string, List<EbObjectWrapper>> obj in Public_ObjList)
                {
                    @foreach (EbObjectWrapper ver in obj.Value)
                    {
                        <option value="@ver.RefId"> @ver.DisplayName  (@ver.VersionNumber)</option>
                    }
                }
            </select>
        </div>

    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="mob_pages" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding: 15px 15px 0px 15px;border-bottom:none">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mobile Pages</h4>
            </div>
            <div class="modal-body" >
                <div style=" border: solid 1px #cfcfcf; padding: 10px 25px;max-height: 50rem; overflow: auto;">
                    @foreach (KeyValuePair<string, List<EbObjectWrapper>> type in ViewBag.MobilePages)
                    {
                        bool temp = false;
                        foreach (string refid in ViewBag.MobileSignup.MobileSignUpSettings.ProfileSetupPages)
                        {
                            if (refid == type.Value[0].RefId)
                            {
                                temp = true;
                            }
                        }
                        if (temp)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@type.Value[0].DisplayName" id="@type.Value[0].RefId" checked>
                                <label class="form-check-label" for="@type.Value[0].RefId"> @type.Value[0].DisplayName </label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@type.Value[0].DisplayName" id="@type.Value[0].RefId">
                                <label class="form-check-label" for="@type.Value[0].RefId"> @type.Value[0].DisplayName </label>
                            </div>
                        }

                    }
                </div>
            </div>
            <div class="modal-footer" style="border:none;">
                <button type="button" id="mobilepage_submit" class="btn btn-primary btn-sm" style="background: #4987fb; color: #fff;" data-dismiss="modal">Add</button>
            </div>
        </div>

    </div>
</div>
<script>
    var MobPageColl = [];
    $(document).ready(function () {
        if("@signupFormRefid"!="")
            $("#signup_object").val("@signupFormRefid");
        containers = document.getElementById("profile_setup_pages")
        var drake = dragula([document.getElementById("profile_setup_pages")]);
        drake.off("drop").on("drop", function () {
        });
    });
    $("#mobilepage_submit").on("click", function () {

        let htm = "";
        var abc = $("input:checkbox[class=form-check-input]:checked");
        $.each(abc, function (i, ob) {
            htm += `<div class="profile_setup" refid=${ob.id} value="${ob.value}"><i class="fa fa-mobile" aria-hidden="true"></i> <p>${ob.value}</p></div>`
        });
        $("#profile_setup_pages").empty().append(htm);
    });

    $("#save").on("click", function () {
          $("#eb_common_loader").EbLoader("show");
         let arr = [];
        $(".usr_typ").each(function (index) {
            arr.push({Id : this.id, RefId :$('#'+this.id +' .user_type_forms').val()});
        });
        MobPageColl = [];
        var abc = $(".profile_setup");
        $.each(abc, function (i, obj) {
            MobPageColl.push(obj.getAttribute("refid").trim());
        });
        let mobSignupSettings = {
            SignUp: $('#SignUp').is(':checked'),
            Email: $('#Mob_Email').is(':checked'),
            MobileNo: $('#Mob_Phone').is(':checked'),
            Password: $('#Mob_Password').is(':checked'),
            Verification: $('#Mob_Verfi').is(':checked'),
            ProfileSetupPages: MobPageColl
        }
        let obj = {
            SignupFormRefid: $("#signup_object").val(),
            UserTypeForms: arr,
            MobileAppSettings: { MobileSignUpSettings: mobSignupSettings},
        };
        $.post("../Dev/SaveSolutionSettings",
            { obj: JSON.stringify(obj) },
            function (result) {
                $("#eb_common_loader").EbLoader("hide");
                EbDialog("show", {
                    Message: result ,
                    Buttons: {
                        "Ok": {
                            Background: "blue",
                            Align: "right",
                            FontColor: "white;"
                        }
                    },

                });
            }
        );
    });
</script>
