@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common.LocationNSolution;
@using Newtonsoft.Json;
@using ExpressBase.Common.Structures;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    Dictionary<string, List<EbObjectWrapper>> Public_ObjList = ViewBag.objlist;
    Dictionary<string, List<EbObjectWrapper>> All_ObjList = ViewBag.all_objlist;
    Dictionary<string, List<EbObjectWrapper>> mobile_allpages = ViewBag.MobilePages;
    string signupFormRefid = ViewBag.signupFormRefid;
    MobileAppSettings mobile_settings = ViewBag.MobileSettings;
    EbWebFormSettings Web_settings = ViewBag.WebFormSettings;
}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 23px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .mobile_signup_set {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 10px;
        background-color: #eee;
    }

    .solution_cons {
        width: 50%;
        display: flex;
    }

    .solution_cons_inner {
        border: 1px solid #ccc;
        height: 100%;
        padding: 10px;
        border-radius: 6px;
    }

    .webform_css_parent {
        height: 35px;
        border: solid 1px #d2d2d2;
        padding: 6px 20px;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        background: white;
    }

    .webform_css_child {
        padding: 0px 5rem;
        margin-left: 35px;
        background: white;
    }

    .css_selector {
        margin-top: 7px;
        border: solid 1px #dcdcdc;
        border-radius: 4px;
        padding: 0px 30px;
        margin-left: 44px;
        cursor: pointer;
    }

        .css_selector label {
            font-size: 14px;
            font-weight: 400;
            font-family: 'Roboto';
        }

    #css_cont .webform_css_parent[aria-expanded="true"] {
        background: #508bf9;
        border: none;
        color: white;
        border-radius: 4px;
    }
    .web-settings-container {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 10px;
        background-color: #eee;
        margin: 10px 15px;
    }
</style>
<script src='~/js/Eb_dragula.js' type="text/javascript"></script>
<script src="~/js/EbDashBoards/FormStyleHelper.js" type="text/javascript"></script>

<div class="row s-dash-container h-100">
    <div class="s-dash-workplace tenant_workpane">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc">
            <div class="col-md-7 col-lg-7 col-sm-6 col-xs-12 pd-0">
                <h4 class="mr-t-0 mr-b-0">Solution Console</h4>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12 pd-0 s-dash-btnwraper">
                <button id="save" class="ebbtn eb_btn-sm pull-right" style="background: #15ad15; color: white; padding: 5px 20px;">Save settings</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pd-0 s-dash-workplace-tabs">
        <div class="mr-t-15 w-100 display-flex" id="form-settings-container" style="padding:10px 15px">
            <div class="solution_cons">
                <div class="solution_cons_inner w-100" style="margin-right: 10px;">
                    <label> Select Profile Forms For Each User Types </label>
                    @{
                        int i = 1;
                        @foreach (EbProfileUserType type in ViewBag.userTypes)
                        {
                            <div class="usr_typ" id="@type.Id">
                                <label style="padding-top: 10px;font-weight: 500;">@i.  @type.Name </label>
                                <select class="form-control col-md-3 pull-right user_type_forms" value="@type.Id">
                                    <option value="">  --- Choose profile form --- </option>
                                    @foreach (KeyValuePair<string, List<EbObjectWrapper>> obj in All_ObjList)
                                    {
                                        @foreach (EbObjectWrapper ver in obj.Value)
                                        {
                                            if (ver.RefId == type.RefId)
                                            {
                                                <option value="@ver.RefId" selected> @ver.DisplayName  (@ver.VersionNumber)</option>
                                            }
                                            else
                                            {
                                                <option value="@ver.RefId"> @ver.DisplayName  (@ver.VersionNumber)</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            i++;
                        }
                    }
                </div>
            </div>
            <div class="solution_cons">
                <div class="solution_cons_inner w-100" style="margin-left: 10px;">
                    <label> Select External Forms </label>
                    <div>
                        <label style="padding-top:10px;font-weight: 500;">1.  Signup Form</label>
                    </div>
                    <select class="form-control" id="signup_object">
                        <option value="">  --- Choose signup form --- </option>
                        @foreach (KeyValuePair<string, List<EbObjectWrapper>> obj in Public_ObjList)
                        {
                            @foreach (EbObjectWrapper ver in obj.Value)
                            {
                                <option value="@ver.RefId"> @ver.DisplayName  (@ver.VersionNumber)</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="mobile-settings-container w-100" style="padding:10px 15px">
            <h5>Mobile settings</h5>
            <div class="settings-container display-flex">
                <div class="mobile_signup_set w-100 display-flex h-100">
                    <div class="solution_cons">
                        <div class="w-100" style="margin-right:10px;">
                            <label> Profile Form </label>
                            <div id="mobile_profile_pages">

                                @{
                                    int k = 1;

                                    @foreach (EbProfileUserType type in ViewBag.userTypes)
                                    {
                                        string selected = mobile_settings.GetProfileFormIdByUserType(type.Id);

                                        <div class="user_type_mobile" type-id="@type.Id" type-name="@type.Name">
                                            <label style="padding-top: 10px;font-weight: 500;">@k.  @type.Name </label>
                                            <select class="form-control col-md-3 pull-right user_type_select" value="@type.Id">
                                                <option value="">  --- Choose profile page --- </option>

                                                @foreach (KeyValuePair<string, List<EbObjectWrapper>> obj in mobile_allpages)
                                                {
                                                    @foreach (EbObjectWrapper ver in obj.Value)
                                                    {
                                                        if (ver.RefId == selected)
                                                        {
                                                            <option value="@ver.RefId" selected> @ver.DisplayName  (@ver.VersionNumber)</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@ver.RefId"> @ver.DisplayName  (@ver.VersionNumber)</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        i++;
                                    }
                                }

                            </div>
                        </div>
                    </div>
                    <div class="solution_cons">
                        <div class="w-100" style="margin-left:10px;">
                            <label> External Form </label>
                            <div class="mobile_ext_forms" style="margin-top:10px;">
                                <label style="font-weight:500;"> Signup page </label>
                                <select class="form-control" id="mobile-signup-refid">
                                    <option value=""> --- Choose signup page --- </option>
                                    @{
                                        foreach (KeyValuePair<string, List<EbObjectWrapper>> pair in mobile_allpages)
                                        {
                                            @foreach (EbObjectWrapper ver in pair.Value)
                                            {
                                                if (ver.RefId == mobile_settings.SignUpPageRefId)
                                                {
                                                    <option value="@ver.RefId" selected> @ver.DisplayName  (@ver.VersionNumber)</option>
                                                }
                                                else
                                                {
                                                    <option value="@ver.RefId"> @ver.DisplayName  (@ver.VersionNumber)</option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="web-settings w-100" style="padding:10px 15px">
            <h5>Webform Style</h5>
            <div class="web-settings-container display-flex">
                <div class="col-lg-3" id="css_cont"> </div>
                <div class="col-lg-6 col-sm-6">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="web_css_edit" style="min-height: 32rem; overflow-y: auto; resize: none;"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="padding:10px 15px; width: 100%;">
            <h5>System Columns</h5>
            <div style="border: 1px solid #ccc; border-radius: 6px; padding: 10px; background-color: #eee;">
                <div class="row">
                    <div class="col-md-12">
                        <button style="float: right;" onclick="resetSysColValues()">Reset All</button>
                    </div>
                </div>
                <div class="row" id="divSysColCont">
                    @{
                        var counter = 1;
                        foreach (EbSystemColumn esc in ViewBag.SystemColumns)
                        {
                            <div>
                                <div class="col-md-2" style="padding-right: 0px;">
                                    <div class="form-group">
                                        <label>@(counter++). @esc.Name</label>
                                        <input type="text" class="form-control" value="@esc.Value" data-def="@esc.Default" data-name="@esc.Name">
                                    </div>
                                </div>
                                <div class="col-md-1" style="padding-left: 0px;">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <select class="form-control" data-def="@esc.Type" style="padding: 5px;">
                                            @if (esc.PossibleTypes != null)
                                            {
                                                @foreach (KeyValuePair<int, string> type in esc.PossibleTypes)
                                                {
                                                    if (esc.Type == type.Key)
                                                    {
                                                        <option value="@type.Key" selected>@type.Value</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@type.Key">@type.Value</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var MobileSettings = @Html.Raw(JsonConvert.SerializeObject(mobile_settings));
    var MobPageColl = [];
    var SystemColumns = @Html.Raw(JsonConvert.SerializeObject(ViewBag.SystemColumns));
     let css = @Html.Raw(JsonConvert.SerializeObject(ViewBag.WebFormSettings));
    var stylehelp = new FormStyleHelper(css);
    $(document).ready(function () {
        if ("@signupFormRefid" != "") {
            $("#signup_object").val("@signupFormRefid");
        }
        containers = document.getElementById("profile_setup_pages")
        var drake = dragula([document.getElementById("profile_setup_pages")]);
        drake.off("drop").on("drop", function () {});
    });

    $("#save").on("click", function () {
        $("#eb_common_loader").EbLoader("show");
        let arr = [];

        $(".usr_typ").each(function (index) {
            arr.push({Id : this.id, RefId :$('#'+this.id +' .user_type_forms').val()});
        });

        setMobileSettings();
        setSystemColumns();

        let obj = {
            SignupFormRefid: $("#signup_object").val(),
            UserTypeForms: arr,
            MobileAppSettings: MobileSettings,
            WebSettings: stylehelp.getStyleObj(),
            SystemColumns: SystemColumns
        };
        $.post("../Dev/SaveSolutionSettings",
            { obj: JSON.stringify(obj) },
            function (result) {
                $("#eb_common_loader").EbLoader("hide");
                EbDialog("show", {
                    Message: result ,
                    Buttons: {
                        "Ok": {
                            Background: "blue",
                            Align: "right",
                            FontColor: "white;"
                        }
                    }
                });
            }
        );
    });

    function setMobileSettings() {
        MobileSettings.SignUpPageRefId = $('#mobile-signup-refid').val() || null;
        MobileSettings.UserTypeForms = getMobileProfilePages();
    }

    function EbProfileUserType(id,name,refid) {
        this.Id = id;
        this.Name = name;
        this.RefId = refid;
    };

    function getMobileProfilePages() {
        var userTypes = [];
        $("#mobile_profile_pages .user_type_mobile").each(function (i, obj) {
            var $el = $(obj);
            let id = $el.attr("type-id");
            let name = $el.attr("type-name");
            let value = $el.find(".user_type_select").val() || null;

            let type = new EbProfileUserType(id, name, value);
            userTypes.push(type);
        });
        return userTypes;
    }

    function setSystemColumns() {
        SystemColumns = [];
        $.each($("#divSysColCont").children(), function (i, obj) {
            let $inp = $(obj).find('input');
            let $sel = $(obj).find('select');
            SystemColumns.push({ Name: $inp.attr('data-name'), Value: $inp.val(), Type: $sel.val() || 0 });
        });
    }

    function resetSysColValues() {
        $.each($("#divSysColCont").children(), function (i, obj) {
            let $inp = $(obj).find('input');
            let $sel = $(obj).find('select');
            $inp.val($inp.attr('data-def'));
            $sel.val($sel.attr('data-def'));
        });
    }
</script>
