
@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common;
@{
    Layout = "~/Views/Shared/LayoutBuilders.cshtml";
    @await Component.InvokeAsync("PageHeaderCommon")
}

@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}

<script src="~/js/Eb_Basic_DataTable.js" asp-append-version=@bApnd></script>
<script src="~/js/EbControls/EbProgressBar.js" asp-append-version=@bApnd></script>
<script src="~/js/EbSqlJob/SqlJobConsole.js" asp-append-version=@bApnd></script>
<link rel="stylesheet" href="~/css/EbSqlJob/SqlJobConsole.css" asp-append-version=@bApnd />
<script>
    $(function () {
        $("#date").datepicker({
            dateFormat: "dd-mm-yy"
        });
    });

</script>
<script>

</script>
@*<div class="Scheduler_main">
    @await Component.InvokeAsync("SchedulerWindow", new { objid = 2642 , tasktype = JobTypes.SqlTask })
</div>*@
<div id="show-scheduler"></div>
<div class="container-fluid" style="margin-top:50px">
    <div class="row">


        <div class="col-sm-12">
            <div class="dropdown view-log-pane" id="sql-job-objs" style="width:20%"> </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Run Sql Job</a></li>
                <li><a data-toggle="tab" href="#menu1">View Log</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="run-sql-job-pane">
                        <button class="btn btn-primary" id="run-sql-job" data-toggle="modal" data-target="#myModal">Run Now </button>
                        @*<button class="btn btn-primary" id="schedule-sql-job"> SChedule </button>*@
                        <button class="btn btn-primary" id="schedule-job"> Schedule Sql Job </button>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <div class="row">
                        <div class="col-sm-12" style="display:flex">
                            <div class="view-log-pane">
                                <input type="email" class="form-control" id="date" placeholder="MM/DD/YY">
                            </div>
                            <div class="view-log-pane"><button id="show-sql-jobs" class="btn btn-primary"> Show Jobs</button></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="list-of-jobs"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg" style="top:15%">
        <div class="modal-content">
            <div id="sql-job-param"> </div>
        </div>
    </div>
</div>
<style>
    tbody {
        padding: 10px;
        border: solid 1px #2b2b2b;
        background-color: #ffff;
    }

    thead {
        padding: 10px;
        border: solid 1px #2b2b2b;
        background-color: #ffff;
    }

    dataTables_scroll {
        height: 550px;
    }

    .selected {
        background-color: #fff !important;
        color: black !important;
    }
</style>
<script>
    @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.EbObjectTypes);
    @Html.Raw(ViewBag.ControlOperations);
    if (@Html.Raw(ViewBag.SqlJobObject) != null) {
        var obj = new sqljobconsole({
            AllObj: @Html.Raw(ViewBag.SqlJobObject),
        });
    }
</script>
