@{
    @using ExpressBase.Common;
    var dsObj = EbSerializers.Json_Deserialize(ViewBag.dsObj);
    string readonlyval = (dsObj != null) ? dsObj.VersionNumber.Substring(dsObj.VersionNumber.Length - 1) : "w";
}
@*<link href="~/css/SqlBuilder/Home.css" rel="stylesheet" />
    <link href="~/css/SqlBuilder/QBuilder.css" rel="stylesheet" />
    <link href="~/css/SqlBuilder/whereClause.css" rel="stylesheet" />

    <script src="~/js/SqlBuilder/connectingLine.js" type="text/javascript"></script>
    <script src="~/js/SqlBuilder/connectSVG.js" type="text/javascript"></script>
    <script src="~/js/SqlBuilder/Home.js" type="text/javascript"></script>
    <script src="~/js/SqlBuilder/jquerySVGmin.js" type="text/javascript"></script>
    <script src="~/js/SqlBuilder/QBuilder.js" type="text/javascript"></script>
    <script src="~/js/SqlBuilder/Sort.js" type="text/javascript"></script>
    <script src="~/js/SqlBuilder/whereClause.js" type="text/javascript"></script>*@

<section class="ds-page ds-cont adv-dsb-cont" id="ds-page@(ViewBag.tabnum)">
    <div class='code-window' id='codewindow@(ViewBag.tabnum)' style='padding: 0;'>
        <textarea id='code@(ViewBag.tabnum)' name='code' class='code'></textarea>
    </div>
    <div class='ds-prop'>
        <div id='dspropgrid@(ViewBag.tabnum)' class='pull-right' style='padding:0px'></div>
    </div>
</section>

@*qUERY bUILDER*@
<section class="simple-dsb-cont">
    @*<section class="topbar">
        <div class="container-fluid">
            <div class="row h_toolbar">
                <a type="button" class="btn" href="~/QB/outerQueryBuilder"><i class="glyphicon glyphicon-backward"></i></a>
                <label id="QBheadtext"><b>VISUAL SQL QUERY BUILDER</b></label>
                <button type="button" class="btn pull-right" data-target="#myModal" data-toggle="modal"><i class="glyphicon glyphicon-floppy-saved"></i></button>
            </div>
        </div>
    </section>*@
    <div class="container-fluid builder-window">
        <div class="row builder-window-row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 Builder-toolbox">
                <div id="tables-cont"></div>
                <ul id="column-cont"></ul>
                <div id="dragula-tables-cont"></div>
                <ul id="dragula-column-cont"></ul>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Builder-work-pane pd-0">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#Design" aria-controls="home" role="tab" data-toggle="tab">Design</a></li>
                    <li><a href="#Condition" aria-controls="Condition" role="tab" data-toggle="tab">Condition</a></li>
                    @*<li><a href="#Query" aria-controls="Query" role="tab" data-toggle="tab">Query</a></li>*@
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div class="tab-pane active De" id="Design">
                        <div class="DesignPane drop" id="designpane" style="height:700px;width:100%">
                        </div>
                        <div class="col-sm-2 sortfunction sortfunction">
                        </div>
                    </div>
                    <div class="tab-pane condition-tab" id="Condition">
                        <div class="conditiong-gp-container" id="groupBox0">
                            <div class="ConditionPanes-header conditiong-gp-container-header form-inline">
                                <div class="btn-group btn-toggle where-toggle" id="grpBtnId00">
                                    <button class="btn btn-sm btn-default grpAndOrBtn" value="AND">AND</button>
                                    <button class="btn btn-sm btn-default grpAndOrBtn active" value="OR">OR</button>
                                </div>
                                <div class="pull-right" id="saveError"></div>
                                <div class="btn-group where-btns pull-right">
                                    <button type="button" data-counter="0" class="btn btn-xs btn-success where-btn2 addGroup" id="group0"><i class="glyphicon glyphicon-plus-sign"></i>Group</button>
                                    <button type="button" class="btn btn-xs btn-success saveQuery">SAVE</button>
                                </div>
                            </div>
                            <div class="conditiong-gp-container-body" id="firstBody">
                            </div>
                        </div>
                    </div>
                    @*<div class="tab-pane QueryPane" id="Query">
                        <textarea id="QueryPane"></textarea>
                    </div>*@
                </div>
            </div>
        </div>
       @* <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Save File</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="queryobj_name" name="Name" class="form-control fileNameText" />
                        </div>
                        <input type="hidden" id="json_input" name="Json" />
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="save_queryobj" class="btn btn-default saveQB" value="Save" />
                    </div>
                </div>

            </div>
        </div>*@
    </div>
</section>
<script>

    @*var builder = new QueryBuilder("@ViewBag.TableSchema");*@//edited  by amal

    if (@ViewBag.tabnum === 0) {
        var commonO = $("#layout_div").data("commonObj");
    }
        if (@ViewBag.tabnum === 0) {
            CodeMirror.commands.autocomplete = function (cm) {
                CodeMirror.showHint(cm, CodeMirror.hint.sql);
            };
        }

        if ("@readonlyval" === "w" ||'@ViewBag.IsNew'==="True")
            _readonly = false;
        else
         _readonly = true;
        window["editor@(ViewBag.tabnum)"] = CodeMirror.fromTextArea(document.getElementById("code@(ViewBag.tabnum)"), {
            mode: "text/x-pgsql",
            lineNumbers: true,
            lineWrapping: false,
            extraKeys: { "Ctrl-Space": "autocomplete" },
            autoRefresh: true,
            readOnly: /*false,//*/_readonly,
            foldGutter: { rangeFinder: new CodeMirror.fold.combine(CodeMirror.fold.brace, CodeMirror.fold.comment) },
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
        });
     var orig = CodeMirror.hint.sql;
        CodeMirror.hint.sql = function (editor) {
            var inner = orig(editor) || {from: editor.getCursor(), to: editor.getCursor(), list: []};
            var SqlFnList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.SqlFns));
            $.each(SqlFnList, function (i, fdj) {
                inner.list.push(fdj);
            });
            var cursor = editor.getCursor();
            var currentLine = editor.getLine(cursor.line);
            var start = cursor.ch;
            var end = start;
            while (end < currentLine.length && /[\w$]+/.test(currentLine.charAt(end))) ++end;
            while (start && /[\w$]+/.test(currentLine.charAt(start - 1))) --start;
            var curWord = start != end && currentLine.slice(start, end);
            var regex = new RegExp('^' + curWord, 'i');
            var result = {
                list: (!curWord ? inner.list : inner.list.filter(function (item) {
                    return item.match(regex);
                })).sort(),
                from: CodeMirror.Pos(cursor.line, start),
                to: CodeMirror.Pos(cursor.line, end)
            };

            return result;
        };
        setTimeout(function () {
            window["editor@(ViewBag.tabnum)"].refresh();
        }, 500);
    commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = new DataSourceWrapper('@ViewBag.Refid', '@ViewBag.VersionNumber', @ViewBag.ObjType, @Html.Raw(ViewBag.dsObj), '@ViewBag.Status', @ViewBag.tabnum, '@ViewBag.ssurl');
</script>
<style>
    .CodeMirror {
        z-index: 0;
    }

    .ds-cont {
        position: relative;
        margin: 0 auto;
        height: calc( 100vh - 76.5px);
        margin-top: 37px;
        box-shadow: var(--eb-shadow);
        border: solid rgba(54, 57, 88, 0.1);
        border-width: 1px 1px 1px 0px;
        border-radius: 2px 3px 3px 2px;
        overflow: hidden;
    }

        .ds-cont .CodeMirror-gutters {
            background-color: rgb(54, 57, 88);
        }

        .ds-cont .CodeMirror-gutter-elt {
            color: white;
        }

        .ds-cont .ds-prop {
            position: fixed;
            right: 0px;
            top: 37px;
            width: 300px;
            height: 100%;
            background-color: white;
            box-shadow: var(--eb-shadow);
            border: 1px solid #ccc;
            z-index: 9;
        }

        .ds-cont .CodeMirror pre {
            z-index: 0 !important;
        }

        .ds-cont .code-window {
            height: 100%;
        }

        .ds-cont .CodeMirror {
            font-family: monospace;
            height: 100%;
            color: black;
        }

        .ds-cont .CodeMirror-selected {
            background-color: #0083ff3b;
        }

        .ds-cont .param-div-cont {
            position: absolute;
            background-color: white;
            height: calc( 100vh - 77px);
        }

        .ds-cont .param-div {
            position: absolute;
            left: 0px;
            min-width: 300px;
            height: 100%;
            background-color: white;
            box-shadow: var(--eb-shadow);
            border: 1px solid #ccc;
            z-index: 9;
        }

    .CodeMirror-gutters {
        z-index: 0;
    }

    .CodeMirror-gutter-wrapper {
        z-index: 2;
    }

    div.CodeMirror-cursors {
        z-index: 2;
    }

    .CodeMirror-gutter-elt {
        /*z-index: 3;*/
    }

    .CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
        z-index: 2;
    }
</style>