@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common;
@{
    Layout = "~/Views/Shared/LayoutBuilders.cshtml";
    @await Component.InvokeAsync("PageHeaderCommon")
}

@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}

<script src="~/js/CommonDataTable.js" asp-append-version=@bApnd></script>
<script src="~/js/EbControls/EbProgressBar.js" asp-append-version=@bApnd></script>
<script src="~/js/CommunicationConsole.js" asp-append-version=@bApnd></script>
<link rel="stylesheet" href="~/css/CommunicationConsole/CommunicationConsole.css" asp-append-version=@bApnd />
<link rel="stylesheet" href="~/css/Eb_datatable.css" asp-append-version=@bApnd />

<script>

    new EbHeader().setName("Communication Console");

    $(function () {
        $("#from-date").datepicker({
            dateFormat: "dd-mm-yy"
        });
    });

</script>

<script>
    $(function () {
        $("#to-date").datepicker({
            dateFormat: "dd-mm-yy"
        });
    });

</script>
<div id="show-scheduler"></div>
<div class="container-fluid" style="margin-top:50px; background-color:white; height:100%">
    <div class="row">
        <ul class="nav nav-pills mb-3" role="tablist" style="border-bottom: 1px solid #ddd">
            <li class="nav-item active">
                <a class="nav-link active" id="pills-sms-tab" data-toggle="pill" href="#smstab" role="tab" aria-controls="smstab" aria-selected="true">Sms Log</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-email-tab" data-toggle="pill" href="#emailtab" role="tab" aria-controls="emailtab" aria-selected="false">Email Log</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">System Notifications Log</a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="smstab" role="tabpanel" aria-labelledby="pills-sms-tab" ">
                <div id="menu1" class=" row col-sm-12">
                    <div class="dropdown view-log-pane col-sm-3" id="sms-objs" style="width:20%"> <div>Template</div></div>
                    <div class="view-log-pane col-sm-3">
                        <div> Date From </div>
                        <input type="date" class="form-control date-cntrl" id="sms-from-date" placeholder="MM/DD/YY">
                    </div>
                    <div class="view-log-pane col-sm-3">
                        <div> Date To </div>
                        <input type="date" class="form-control date-cntrl" id="sms-to-date" placeholder="MM/DD/YY">
                    </div>
                    <div></div>
                    <div class="view-log-pane col-sm-3"><button id="show-sms-logs" class="btn btn-primary"> Show SMS</button></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="list-of-sms"> </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="emailtab" role="tabpanel" aria-labelledby="pills-email-tab">
                <div id="menu2" class=" row col-sm-12">
                    <div class="dropdown view-log-pane col-sm-3" id="email-objs" style="width:20%"> <div>Template</div></div>
                    <div class="view-log-pane col-sm-3">
                        <div> Date From </div>
                        <input type="date" class="form-control date-cntrl" id="email-from-date" placeholder="MM/DD/YY">
                    </div>
                    <div class="view-log-pane col-sm-3">
                        <div> Date To </div>
                        <input type="date" class="form-control date-cntrl" id="email-to-date" placeholder="MM/DD/YY">
                    </div>
                    <div></div>
                    <div class="view-log-pane col-sm-3"><button id="show-email-logs" class="btn btn-primary"> Show Email</button></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="list-of-email"> </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        </div>

    </div>
</div>



<style>
    tbody {
        padding: 10px;
        border: solid 1px #2b2b2b;
        background-color: #ffff;
    }

    thead {
        padding: 10px;
        border: solid 1px #2b2b2b;
        background-color: #ffff;
    }

    dataTables_scroll {
        height: 550px;
    }

    .selected {
        background-color: #fff !important;
        color: black !important;
    }
</style>

<script>
    @Html.Raw(ViewBag.Meta);
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.EbObjectTypes);
    @Html.Raw(ViewBag.ControlOperations);

        var obj = new CommunicationConsoleObject({
             SMSObj: @Html.Raw(ViewBag.SMSObjects),
             EmailObj: @Html.Raw(ViewBag.EmailObjects)
        });
</script>