@using System.Web;
@using ExpressBase.Common.LocationNSolution;
@using Newtonsoft.Json;
@using ExpressBase.Security;
@{
    string Logourl = "/images/logo/" + ViewBag.cid + ".png";

    string DpUrl = "/images/proimg.jpg";

    if (ViewBag.wc != "tc")
    {
        DpUrl = "/images/dp/" + ViewBag.UId + ".png";
    }

    string ml = "0px";
}
<script>
    function Leave() {
        localStorage.removeItem("Eb_LoginCount");
        if (loc__) {
            loc__.clearSwitchedLoc();
        }
    }
</script>

<div class="row" id="">
    <div class="toolbar objectDashB-toolbar">
        <div class="toolbar-brd-Container pd-0">
            @if (ViewBag.UId > 1 || ViewBag.cide == "demo")
            {
                if (ViewBag.wc == "dc" || ViewBag.wc == "uc" || ViewBag.wc == "tc")
                {
                    <button class="btn obj_list_shortCut quik_menu" id="quik_menu"><i class="fa fa-th" aria-hidden="true"></i></button>
                }
                else
                {
                    ml = "10px";
                }
            }
            <div class="solution_logo_cont pull-left" style="margin-left:@ml">
                @{
                    if (ViewBag.wc == "tc")
                    {
                        <img src="~/images/EB_Logo.png" class="solution_logo" />
                    }
                    else
                    {
                        <img src="~/images/your_company_logo.png" data-src=@Logourl class="solution_logo Eb_Image" />
                    }
                }

            </div>
            @if (ViewBag.UId > 1 || ViewBag.cide == "demo")
            {
                if (ViewBag.wc == "uc")
                {
                    <div class="LocInfCr" id="switch_loc" title="Alt+Ctrl+L">
                        <div>
                            <div class="Loc_type" id="LocInfoCr_type"></div>
                        </div>
                        <div>
                            <span class="Locname" id="LocInfoCr_name"></span>
                            <span style="margin-left:10px;" class="fa fa-caret-down"></span>
                        </div>
                    </div>
                }
            }

            <div class="brd_cr_t EbHeadTitle hidden-xs">
                @if (ViewBag.UId > 1 || ViewBag.cide == "demo")
                {
                    <div class="brd_row">

                        @{ if (ViewBag.wc == "tc")
                            {
                                <span class="eb_context"><a href="/MySolutions"><i class="fa fa-home"></i></a></span>
                            }
                            else if (ViewBag.wc == "dc")
                            {
                    <span class="sid_sec_Common">@ViewBag.SolutionObject.SolutionName</span><span class='eb_slash'>/</span>
                                <span class="eb_context"><a href="/MyApplications">Dev <i class="fa fa-home"></i></a></span>
                            }
                            else if (ViewBag.wc == "uc")
                            {
                                <span class="sid_sec_Common">@ViewBag.SolutionObject.SolutionName</span><span class='eb_slash'>/</span>
                                <span class="eb_context"><a href="/UserDashBoard">User <i class="fa fa-home"></i></a></span>
                            }
                        }
                        @Html.Raw(HttpUtility.HtmlDecode(ViewBag.BreadCrumb))
                    </div>
                }
                <div class="mr-0 Obj_title" id="objname">@ViewBag.ObjName</div>
            </div>
        </div>
        <div class="toolbar-buttons-Container comon_header_dy pd-0">
            <div class='toolicons form-inline'>
                <div id="obj_icons" style="display:inline"></div>
                @if (ViewBag.UId > 1 || ViewBag.cide == "demo")
                {
                    <div class='form-group' id="notificaionandprofile">
                        <div class="dropdown obj_dash_proimage_drp">
                            <img src="~/images/proimg.jpg" data-src=@DpUrl data-toggle="dropdown" class="obj_dash_proimage dropdown-toggle Eb_Image" />
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <ul class="drp_ul">
                                    <li class="drp_item" style="display:flex; height:50px;">
                                        <img src="~/images/proimg.jpg" data-src=@DpUrl class="proimage_inner Eb_Image" />
                                        <div class="user_info">
                                            <h4>@ViewBag.UserDisplayName</h4>
                                            <p>@ViewBag.email</p>
                                        </div>
                                    </li>
                                    @{
                                        Eb_Solution Solution = ViewBag.SolutionObject;

                                        if (ViewBag.wc == "uc" && ViewBag.UserObject != string.Empty)
                                        {
                                            User u = JsonConvert.DeserializeObject<ExpressBase.Security.User>(ViewBag.UserObject);
                                            if (Solution != null)
                                            {
                                                if (Solution.SolutionSettings != null)
                                                {
                                                    if (Solution.SolutionSettings.UserTypeForms != null)
                                                    {
                                                        if (Solution.SolutionSettings.UserTypeForms.Count > 0)
                                                        {
                                                            EbProfileUserType p = Solution.SolutionSettings.UserTypeForms.FirstOrDefault(x => x.Id == u.UserType);
                                                            if (p != null && !string.IsNullOrEmpty(p.RefId))
                                                            {
                                                                <li class="drp_item"><a href="../WebForm/GetProfile?r=@p.RefId&l=@u.Preference.DefaultLocation"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a></li>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    <li class="drp_item"><a href="../Security/MyProfile"><i class="fa fa-cog" aria-hidden="true"></i>Account Settings</a></li>
                                    @if (ViewBag.wc == "uc" || ViewBag.wc == "dc")
                                    {
                                        <li class="drp_item"><a href="../ResetPassword/ResetLink"><i class="fa fa-key" aria-hidden="true"></i>Reset Password</a></li>
                                    }
                                    <li class="drp_item"><a onclick="return Leave();" href="@Url.Action("Logout", "Tenantuser")"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                        @{
                            if (ViewBag.wc != "tc")
                            {
                                <button class="btn notification_menu" id="eb-expand-nfWindow">
                                    <i class="fa fa-bell" aria-expanded="false"></i>
                                    <div class="notification_alert" id="notification-count" style="display:none;"></div>
                                </button>
                            }
                        }
                        <button class='btn' style="display:none;" id="minmize"><i class="fa fa-ellipsis-v" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="pin"></i></button>
                    </div>
                }
            </div>
        </div>
        <div class="eb_common_loader" id="eb_common_loader"></div>
    </div>
</div>
<script>
    window.ebcontext.header = new EbHeader();
</script>