@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Web.Controllers;
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    Dictionary<int, ObjectVersionsDictionary> AppObjMap = ViewBag.AppObjMap;
    Dictionary<int, string> appNameCollection = ViewBag.appNameCollection;
}
@section StyleSheet{
    <style>
        .list_cont {
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: white;
        }

        .eb-exprt-container {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin-bottom: 20px;
        }

        .objContainer_f_app {
            background: white;
            display: flex;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

            .objContainer_f_app:last-child {
                margin-bottom: 20px;
            }

        .page-header input, .input-group {
            width: 50%;
        }

        .app-name {
            height: 25px;
            background-color: #75a8f5;
            padding: 3px;
            margin-bottom: 10px;
            color: white;
        }
    </style>
}
@section JavaScript{


    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/js/bootstrap-iconpicker-iconset-all.min.js" type="text/javascript"></script>*@
    <script src="~/js/LayoutCommon/bootstrap-iconpicker-iconset-all.min.js" type="text/javascript"></script>
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-iconpicker/1.9.0/js/bootstrap-iconpicker.min.js"></script>*@
    <script type="text/javascript" src="~/js/LayoutCommon/bootstrap-iconpicker.min.js"></script>
}
<div class="container-fluid list_cont">
    <div class="page-header eb-exprt-container">
        <h4>Export Objects</h4>
        <div class="">
            <div class="form-group ">
                Package Name
                <input type="text" class="form-control" id="packname" placeholder="Package Name" style="height:40px" />
            </div>
            <div class="form-group ">
                package Description
                <input type="text" class="form-control" id="packdesc" placeholder="package Description" style="height:40px" />
            </div>
            <div class="form-group appicon_box">
                Icon
                <div class="input-group iconpicker-container" style="height:40px">
                    <input type="text" class="form-control" name="packIcon" value="fa-home" style="height:100%" />
                    <span class="input-group-btn" style="height:100%">
                        <button class="btn btn-default appicon_btn" style="height:100%" id="packIcon"></button>
                    </span>
                </div>
            </div>
        </div>
        Please select versions of each objects to be exported.
    </div>
    <div class="eb-exprt-container">
        <div class="eb-exprt-body">
            @foreach (KeyValuePair<int, ObjectVersionsDictionary> app in AppObjMap)
            {
                <div class="app_container col-md-12">
                    <div class="app-name">
                        <span class="col-md-12 appkey" value="@app.Key"> @appNameCollection[app.Key]</span>
                    </div>
                    @foreach (KeyValuePair<int, List<EbObjectWrapper>> obj in app.Value)
                    {
                        <div class="objContainer_f_app">
                            <span class="col-md-10 pd-0 objkey"> @obj.Value[0].DisplayName</span>
                            <select class="selectpicker show-tick version_dd col-md-2" style="border:none;">
                                @foreach (EbObjectWrapper ver in obj.Value)
                                {
                                    <option value="@ver.RefId">@ver.VersionNumber</option>
                                }
                            </select>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="eb-exprt-footer">
            <a id="goto_store" class="ebbtn" href="/AppStore" style="        background: #f58a8a;
        color: white;
">Back to App Store</a>
            <button id="commit_export" class="pull-right ebbtn eb_btngreen">Export</button>
        </div>
    </div>
</div>
@section JsCode{
    <script>
        window.ebcontext.header.setName("Export objects");

         $("#packIcon").iconpicker({
            placement: 'top',
            iconset: 'fontawesome',
            icon: 'fa-home'
        }).on('change', function (e) {
            $("input[name='packIcon']").val(e.icon);
        });

        $('#commit_export').on('click', function () {
            let appdict = {};
            $('.list_cont').find('.app_container').each(function (j, obj)
            {
                var refids = [];
                $(this).find('.selectpicker').each(function (i, o)
                {
                    refids.push($(this).find("option:selected").val());
                });
                appdict[parseInt($(obj).children(".app-name").children(".appkey").attr("value"))] = refids;
            });
            let App = {
                packName:$('#packname').val(),
                packDesc:$('#packdesc').val(),
                packIcon:$("input[name='packIcon']").val(),
                appColl: appdict
                };
            let po = {
                Message: "Exporting objects...",
                Html: function ($selector) {
                    $selector.html(`<span>Exporting objects...</span><span class="fa fa-spinner fa-spin" style="margin-left:30px;"></span>`);
                },
                ButtonStyle: {
                    Text: "Go to App Store",
                    Color: "white",
                    Background: "#508bf9",
                    Callback: function () {
                        location.href = "/AppStore";
                    }
                }
            };

            $.ajax({
                url: "../ImportExport/Export",
                type: "POST",
                data: {App :App },
                beforeSend: function () {
                    self.EbPopBox("show", po);
                },
                success: function (data) {
                    self.EbPopBox("show", { Message: "Exported Successfully. Go to App Store to view the package :)" });
                },
                error: function () {
                    self.EbPopBox("show", { Title: "Oops!", Message: "Unable to export objects!" });
                }
            })
        });

    </script>
}
