@using ExpressBase.Objects.ServiceStack_Artifacts
@{
    Layout = "~/Views/Shared/LayoutInner.cshtml";
    AppStore appstore = ViewBag.appstore;
}

@section StyleSheet{
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet">
    <style>
        .screenshot-container {
            border: 1px solid #ccc;
            border-radius: 4px;
        }

            .screenshot-container .screenshot-header {
                display: flex;
                background: #f2f2f2;
                justify-content: space-between;
                padding: 5px;
                align-items: center;
                border-bottom: 1px solid #e6e4e4;
            }

            .screenshot-container .screenshot-body {
                min-height: 100px;
                display: flex;
                flex-flow: row wrap;
                padding:10px;
            }

                .screenshot-container .screenshot-body .sc-thumb {
                    width: 25%;
                    padding: 10px;
                }
                    .screenshot-container .screenshot-body .sc-thumb img {
                        width: 100%;
                        border-radius: 4px;
                    }
    </style>
}

@section JavaScript{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
}

@*<div class="container">
        <div class="app_profile col-md-12">
            <h4>Application Profile</h4>
            @using (Html.BeginForm("ShareToPublic", "ImportExport", FormMethod.Post))
            {
                <input type="hidden" name="appid" value="@ViewBag.appid" />
                <input type="hidden" name="detailid" value="@appstore.DetailId" />
                <div class="form-group  col-md-4">
                    <label>Title:</label>
                    <input type="text" class="form-control" name="title" value="@appstore.Title">
                </div>
                <div class="form-group col-md-6">
                    <label>Short Description:</label>
                    <textarea class="form-control" rows="1" name="short_description">@appstore.ShortDesc</textarea>
                </div>
                <div class="form-group col-md-2">
                    <label>Price:</label>
                    <label class="radio-inline">
                        <input type="radio" name="price_option" value="1" checked>Free
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="price_option" value="2">Paid
                    </label>
                    <div class="input-group ">
                        <span class="input-group-addon"> $ </span>
                        <input type="text" class="form-control" name="price" id="price" value="@appstore.Cost" disabled>
                    </div>
                </div>

                <div class="form-group tags_main col-md-12">
                    <label>Tags:</label>
                    <input type="text" class="form-control app_tags" value="@appstore.Tags" data-role="tagsinput" name="tags" />
                </div>
                <div id="store_nav" class="container">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#desc_tab" data-toggle="tab">Detailed description</a>
                        </li>
                        <li>
                            <a href="#media" data-toggle="tab">Media</a>
                        </li>
                        <li>
                            <a href="#pricing" data-toggle="tab">Pricing</a>
                        </li>
                        <li>
                            <a href="#faq" data-toggle="tab"> FAQ </a>
                        </li>
                        <li>
                            <a href="#issue" data-toggle="tab">Issues</a>
                        </li>
                        <li>
                            <a href="#forum" data-toggle="tab">Forum(in rendering side)</a>
                        </li>
                    </ul>

                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="desc_tab">
                            <div class="form-group" id="">
                                <label>Detailed Description:</label>
                                <textarea id="det_desc_note" name="detailed_description">@appstore.DetailedDesc</textarea>
                            </div>
                        </div>
                        <div class="tab-pane" id="media">
                            <div class="form-group">
                                <label>Demo link:</label>
                                <input type="text" class="form-control" name="demo_link" value="@appstore.DemoLinks" />
                            </div>
                            <div class="form-group vdeo_lnks_main">
                                <label>Video Links:</label>
                                <input type="text" class="form-control col-md-12 video_tgs primary" value="@appstore.VideoLinks" data-role="tagsinput" name="video_links" />
                            </div>

                            <div class="form-group">
                                <label>Images:</label>
                                <textarea class="form-control" rows="1" name="images">@appstore.Images</textarea>
                            </div>
                        </div>
                        <div class="tab-pane" id="pricing">
                            <div class="form-group" id="">
                                <label>Pricing Description:</label>
                                <textarea id="price_desc_note" name="pricing_description">@appstore.PricingDesc</textarea>
                            </div>
                        </div>
                        <div class="tab-pane" id="faq">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-highlight">
                                    <thead>
                                    <th>Sl. No</th>
                                    <th>Question</th>
                                    <th>Answer</th>
                                    <th>Show / Hide</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><label class="form-control">1</label></td>
                                            <td><textarea class="form-control" value="">How many clients are currently using the offered solution?</textarea></td>
                                            <td><textarea class="form-control" value="">10 clients.</textarea></td>
                                            <td>
                                                <select class="form-control">
                                                    <option>Show</option>
                                                    <option>Hide</option>
                                                </select>
                                            </td>
                                            <td>
                                                <button type="button">save</button>
                                                <button id="delete" type="button">delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="issue">
                        </div>
                        <div class="tab-pane" id="forum">
                        </div>
                    </div>
                </div>
                <input type="submit" class="pull-right" id="share" name="share" value="Share" />
            }
        </div>
    </div>*@

<div class="row s-dash-container">
    <div class="s-dash-workplace tenant_workpane share_to_publicWraper">
        <div class="col-md-12 col-lg-12 col-sm-12 s-dash-solution-desc">
            <div class="col-md-10 pd-0">
                <h4 class="mr-t-0 mr-b-0">Share To Public</h4>
            </div>
            <div class="col-md-2 pd-0">

            </div>
        </div>
        @using (Html.BeginForm("ShareToPublic", "ImportExport", FormMethod.Post))
        {
            <div class="col-md-12 col-lg-12 col-sm-12 share_to_pub_info">
                <input type="hidden" name="appid" value="@ViewBag.appid" />
                <input type="hidden" name="detailid" value="@appstore.DetailId" />
                <div class="form-group  col-md-4 pd-0">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" value="@appstore.Title">
                </div>
                <div class="form-group col-md-6">
                    <label>Short Description</label>
                    <textarea class="form-control" rows="1" name="short_description">@appstore.ShortDesc</textarea>
                </div>
                <div class="form-group col-md-2 pd-r-0">
                    <label>Price</label>
                    <label class="radio-inline pull-right">
                        <input type="radio" name="price_option" value="2">Paid
                    </label>
                    <label class="radio-inline pull-right mr-r-10">
                        <input type="radio" name="price_option" value="1" checked>Free
                    </label>
                    <div class="input-group ">
                        <span class="input-group-addon"> $ </span>
                        <input type="text" class="form-control" name="price" id="price" value="@appstore.Cost" disabled>
                    </div>
                </div>

                <div class="form-group tags_main col-md-12 pd-0">
                    <label>Tags</label>
                    <input type="text" class="form-control app_tags" value="@appstore.Tags" data-role="tagsinput" name="tags" />
                </div>
            </div>
            <div class="col-md-12 pd-0 s-dash-workplace-tabs">
                <ul class="nav nav-tabs eb-styledTab">
                    <li class="nav-item active devdshtab">
                        <a class="nav-link devdshtab" data-toggle="tab" href="#desc_tab" role="tab">
                            Details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link devdshtab" data-toggle="tab" href="#media" role="tab">
                            Media
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link devdshtab" data-toggle="tab" href="#pricing" role="tab">
                            Pricing
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link devdshtab" data-toggle="tab" href="#faq" role="tab">
                            FAQ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link devdshtab" data-toggle="tab" href="#issue" role="tab">
                            Issues
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link devdshtab" data-toggle="tab" href="#forum" role="tab">
                            Forum (render side)
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="desc_tab" role="tabpanel">
                        <div class="tab-pane active" id="desc_tab">
                            <div class="form-group" id="">
                                <label>Detailed Description</label>
                                <textarea id="det_desc_note" name="detailed_description">@appstore.DetailedDesc</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="media" role="tabpanel">
                        <div class="form-group">
                            <label>Demo link</label>
                            <input type="text" class="form-control" name="demo_link" value="@appstore.DemoLinks" />
                        </div>
                        <div class="form-group vdeo_lnks_main">
                            <label>Video Links</label>
                            <input type="text" class="form-control col-md-12 video_tgs primary" value="@appstore.VideoLinks" data-role="tagsinput" name="video_links" />
                        </div>

                        <div class="form-group">
                            <input type="hidden" name="images" value="@appstore.Images">
                            <div class="screenshot-container">
                                <div class="screenshot-header">
                                    <label>Images</label> <button class="ebbtn eb_btnblue eb_btn-sm pull-right" id="uploadscreenshot">Upload</button>
                                </div>
                                <div class="screenshot-body">
                                    @{
                                        string[] imgs = (appstore.Images == null) ? string.Empty.Split(","): appstore.Images.Split(",");
                                        foreach (string s in imgs)
                                        {
                                            int v = 0;
                                            try
                                            {
                                                v = Convert.ToInt32(s);
                                            }
                                            catch (Exception e)
                                            {
                                                continue;
                                            }

                                            if (v != 0)
                                            {
                                                <div class="sc-thumb">
                                                    <img src="/eb/images/small/@(v+".jpg")" />
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="pricing" role="tabpanel">
                        <div class="form-group" id="">
                            <label>Pricing Description</label>
                            <textarea id="price_desc_note" name="pricing_description">@appstore.PricingDesc</textarea>
                        </div>
                    </div>
                    <div class="tab-pane" id="faq" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-highlight">
                                <thead>
                                <th>Sl. No</th>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>Show / Hide</th>
                                <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td><textarea class="form-control border-none" value="">How many clients are currently using the offered solution?</textarea></td>
                                        <td><textarea class="form-control border-none" value="">10 clients.</textarea></td>
                                        <td class="pd-10">
                                            <select class="form-control">
                                                <option>Show</option>
                                                <option>Hide</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <button class="ebbtn eb_btngreen eb_btn-sm">save</button>
                                            <button id="delete" class="ebbtn eb_btnblue eb_btn-sm">delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="issue" role="tabpanel">

                    </div>
                    <div class="tab-pane" id="forum" role="tabpanel">

                    </div>
                </div>
                <input type="submit" class="pull-right" id="share_btn_form" name="share" value="Share" style="display:none;" />
            </div>
        }
    </div>
</div>
@section JsCode{
    <script>
        $(document).ready(function () {

            ebcontext.header.setName("ShareToPublic");
            ebcontext.header.insertButton(`<button class="btn" onclick="$('#share_btn_form').click();"><i class="fa fa-share-alt" aria-hidden="true"></i></button>`);

            $('#det_desc_note').summernote();
            $('#price_desc_note').summernote();
            $("input[name='price_option'][value='" + @appstore.IsFree + "']").prop('checked', true);
            if ( @appstore.IsFree  === 1) {
                $('#price').val("0.00");
                $('#price').attr("disabled", "disabled");
            }
            else
                $("#price").removeAttr("disabled");

            var screenshot = new EbFileUpload({
                Type: "image",
                Toggle: "#uploadscreenshot",
                Container: "appstore-scshot",
                Multiple: true,
                ServerEventUrl: 'https://se.eb-test.xyz',
                EnableTag: false,
                EnableCrop: true,
                ResizeViewPort: true,
                UploadToEb: true,
                Context:"appstore"
            });

            screenshot.uploadSuccess = function (fileid) {
                let v = $("input[name='images']").val() + "," + fileid;
                $("input[name='images']").val(v);
                $(".screenshot-body").append(`<div class="sc-thumb"><img src="/eb/images/small/${fileid}.jpg"/></div>`);
            }
        });
        $('input[type=radio][name=price_option]').change(function () {
            if (this.value === '1') {
                $('#price').val("0.00");
                $('#price').attr("disabled", "disabled");
            }
            else if (this.value === '2') {
                $("#price").removeAttr("disabled");
            }
        });
        $('#delete').on('click', function () {
            alert("delete");
        });
    </script>
}
