
<head>
    <title>Stripe Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="~/js/Stripe/index.js"></script>

    <link rel="stylesheet" href="~/css/Stripe/cust_invoices.css">
    <link rel="stylesheet" href="~/css/Stripe/index.css">
    <link rel="stylesheet" href="~/css/Stripe/subscribedview.css">
    <style>
        .div-main {
            margin-top: 13px;
        }

        .div-body {
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .div-body-invoices {
            margin-top: 33px;
            margin-bottom: 33px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .div-heading {
            padding: 20px 0px 30px 0px;
            height: 40px;
            text-align-last: center;
            width: 100%;
        }

        .stripe-headings {
            font-family: Helvetica Neue, Helvetica, sans-serif;
            text-align-last: center;
            color: #666ee8;
            font-weight: 100;
            font-size: medium;
        }

        .user-det-sub-heading {
            font-family: Helvetica Neue, Helvetica, sans-serif;
            text-align: left;
            color: darkblue;
        }

        .user-det-contents {
            font-family: Helvetica Neue, Helvetica, sans-serif;
            text-align: left;
            color: darkslategray;
            font-weight: 100;
            font-size: small;
        }

        .user-det-padding {
            padding-bottom: 5px;
        }

        .button {
            display: block;
            background: #666ee8;
            color: #fff;
            box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            border: 0;
            font-weight: 700;
            width: 100%;
            height: 40px;
            outline: none;
            cursor: pointer;
            transition: all 0.15s ease;
            text-align: center;
            padding: 10px;
        }

        .div-card {
            background-color: #e5ebf2;
            margin: 5px 20px 5px 20px;
            padding: 15px 10px 15px 10px;
            border-radius: 4px;
        }

        .card-number {
            font-family: Helvetica Neue, Helvetica, sans-serif;
            font-weight: 100;
            color: darkslategrey;
        }

        .card-exp {
            font-family: Helvetica Neue, Helvetica, sans-serif;
            font-weight: 100;
            font-size: small;
            color: darkslategrey;
        }

        .scrollable {
            height: 115px;
            overflow-y: scroll;
        }

        #style-15::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        #style-15::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        #style-15::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #FFF;
            background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#666ee8), to(#666ee8), color-stop(.6,#8f95eb))
        }

        .upgrade-content-sub {
            margin-top: 27px;
            padding: 10px 30px 10px 30px;
            margin-bottom: 12px;
        }

        .modal-size {
            height: 800px;
        }

        .modal-sub-upgrade {
            height: 410px;
        }

        .modal-cust-size {
            height: 490px;
        }

        .modal-card-size {
            height: 260px;
        }

        .button-margin {
            margin: 10px 400px;
        }

        .button-margin-card {
            margin: 10px 50px;
        }

        .form-margin {
            margin: 30px 400px 0px;
        }

        .form-margin-card {
            margin: 30px 50px 0px;
        }

        .subscribed-margin {
            margin: 40px 400px;
        }

        .modalheader {
            min-height: 16.43px;
            padding: 15px;
        }
    </style>
</head>
<body>
    @{
        if (ViewBag.Status)
        {
            <div id="subscription-req">
                <div class="form-style form-style-padding form-margin">
                    <div class="heading">
                        <h2>UPGRADE</h2>
                    </div>
                    <div class="upgrade-content">
                        You are currently using Free Plan (Free for first 5 users). You can upgrade your plan for having more users, cost $5 for each.
                    </div>
                </div>
                <div class="div-seperate button-margin">
                    @*<button class="button-style" onclick="showusr()">Upgrade</button>*@
                </div>
            </div>

            <div id="users-form" style="display:none;">
                <div class="form-style form-style-padding form-margin">
                    <div class="div-input" id="div-usr">
                        <label class="label-font-sub">Number of Users</label>
                        <input type="number" class="text-input" name="usr" id="usr" placeholder="5" min="5" onchange="calculateAmt()" onkeyup="calculateAmt()" required />
                    </div>
                    <div id="div-total" class="div-input">
                        <label class="label-total label-total-main-title">Total</label>
                        <label class="label-total label-total-content" id="total-content" name="total-content"></label>
                        <label class="label-total label-total-main" name="total" id="total"></label>
                        <label class="label-total label-total-content">/month</label>
                    </div>
                </div>
                <div class="div-seperate button-margin" id="div-continue-button">
                    <button class="button-style" id="continue-button" onclick="showpayment()">Proceed to Payment</button>
                </div>
                <div id="payment-form" autocomplete="off" style="display: none;">
                    <div class="form-style-sub form-style-padding form-margin">
                        <input type="hidden" id="tot" name="tot" />
                        <input type="hidden" id="usrno" name="usrno" />
                        <div class="div-input div-input-border">
                            <label class="label-font">Name</label>
                            <input type="text" class="text-input" name="name" id="name" placeholder="Jenny Rosen" required />
                        </div>
                        <div class="div-input div-input-border">
                            <label class="label-font">Email</label>
                            <input type="email" class="text-input" name="emailid" id="emailid" placeholder="jenny@example.com" required />
                        </div>
                        <div class="div-input div-input-border">
                            <label class="label-font">Address</label>
                            <input type="text" class="text-input" name="add1" id="add1" placeholder="185 Berry Street Suite 550" />
                        </div>
                        <div class="div-input div-input-border">
                            <label class="label-font">City</label>
                            <input type="text" class="text-input" name="city" id="city" placeholder="San Francisco" />
                        </div>
                        <div class="div-input div-input-border">
                            <label class="label-font">State</label>
                            <input type="text" class="text-input-sub" name="state" id="state" placeholder="CA" />
                            <label class="label-font">Zip</label>
                            <input type="text" class="text-input-sub" name="zip" id="zip" placeholder="94107" />
                        </div>
                        <div class="div-input">
                            <label class="label-font">Country</label>
                            <div>
                                <select name="country" id="country" class="text-select">
                                    <option value="AU">Australia</option>
                                    <option value="AT">Austria</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BR">Brazil</option>
                                    <option value="CA">Canada</option>
                                    <option value="CN">China</option>
                                    <option value="DK">Denmark</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="DE">Germany</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="IN">India</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IT">Italy</option>
                                    <option value="JP">Japan</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MX">Mexico</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="NO">Norway</option>
                                    <option value="PT">Portugal</option>
                                    <option value="SG">Singapore</option>
                                    <option value="ES">Spain</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="US" selected="selected">United States</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="div-seperate form-style card-padding form-margin">
                        <div class="form-row div-input">
                            <label for="card-element" class="label-font col-md-1">
                                Card
                            </label>
                            <div id="card-element" class="col-md-11">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                            <input type="hidden" id="token" name="token">
                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>
                    </div>
                    <div class="div-seperate button-margin">
                        <button class="button-style" id="pay" name="pay">Subscribe</button>
                    </div>
                </div>
            </div>
            <div id="sub_succ1"></div>
        }
        else
        {
            <div class="div-main container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="div-body" style="height: 234px;">
                            <div class="div-heading row">
                                <label class="stripe-headings">PLAN DETAILS</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="upgrade-content upgrade-content-sub">
                                        You are currently using @ViewBag.Plan plan for @ViewBag.Users users per month. You can upgrade your plan for having more users, cost $5 for each.
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding:20px 0px 10px 0px;">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button class="button" data-toggle="modal" data-target="#planUpgrade">Upgrade</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-body">
                            <div class="div-heading row">
                                <label class="stripe-headings">BILLING DETAILS</label>
                            </div>
                            <div class="cust-update">
                                <div class="row user-det-padding">
                                    <div class="user-det-sub-heading col-md-3 col-md-offset-1">
                                        Name
                                    </div>
                                    <div class="user-det-contents col-md-6">
                                        @ViewBag.Cust.Name
                                    </div>
                                </div>
                                <div class="row user-det-padding">
                                    <div class="user-det-sub-heading col-md-3 col-md-offset-1">
                                        Email
                                    </div>
                                    <div class="user-det-contents col-md-6">
                                        @ViewBag.Cust.Email
                                    </div>
                                </div>
                                <div class="row user-det-padding">
                                    <div class="user-det-sub-heading col-md-3 col-md-offset-1">
                                        Address
                                    </div>
                                    <div class="user-det-contents col-md-6">
                                        @ViewBag.Cust.Address
                                    </div>
                                </div>
                                <div class="row user-det-padding">
                                    <div class="user-det-sub-heading col-md-3 col-md-offset-1">
                                        City
                                    </div>
                                    <div class="user-det-contents col-md-3">
                                        @ViewBag.Cust.City
                                    </div>
                                    <div class="user-det-sub-heading col-md-2 ">
                                        State
                                    </div>
                                    <div class="user-det-contents col-md-3">
                                        @ViewBag.Cust.State
                                    </div>
                                </div>
                                <div class="row user-det-padding">
                                    <div class="user-det-sub-heading col-md-3 col-md-offset-1">
                                        Country
                                    </div>
                                    <div class="user-det-contents col-md-3">
                                        @ViewBag.Cust.Country
                                    </div>
                                    <div class="user-det-sub-heading col-md-2">
                                        Zip
                                    </div>
                                    <div class="user-det-contents col-md-3">
                                        @ViewBag.Cust.Zip
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding:10px 0px 10px 0px;">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button class="button" data-toggle="modal" data-target="#custUpdate">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="div-body">
                            <div class="div-heading row">
                                <label class="stripe-headings">CARD DETAILS</label>
                            </div>
                            <div class="cardupdate scrollable" id="style-15">
                                @{
                                    for (int i = 0; i < ViewBag.Card.Count; i++)
                                    {
                                        <div class="div-card">
                                            <div class="row">
                                                <div class="col-md-offset-2 col-md-6 card-number">
                                                    **** **** **** @ViewBag.Card.Cards.Card[i].Last4
                                                </div>
                                                <div class="col-md-4 card-exp">
                                                    Exp. (@ViewBag.Card.Cards.Card[i].ExpMonth / @ViewBag.Card.Cards.Card[i].ExpYear)
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="row" style="padding:20px 0px 10px 0px;">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button class="button" data-toggle="modal" data-target="#addCard">Add Card</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="div-body-invoices">
                            <div class="div-label row">
                                <label class="stripe-headings">TRANSACTION HISTORY</label>
                            </div>
                            <div class="div-payment-details-heading row" style="margin-left:1px; margin-right:1px;">
                                <div class="div-payment-details-heading-1 col-md-2 ">
                                    <p class="content-heading">DATE</p>
                                </div>
                                <div class="div-payment-details-heading-3 col-md-7">
                                    <p class="content-heading">DESCRIPTION</p>
                                </div>
                                <div class="div-payment-details-heading-4 col-md-1">
                                    <p class="content-heading">DEBIT</p>
                                </div>
                                <div class="div-payment-details-heading-5 col-md-2">
                                    <p class="content-heading">CREDIT</p>
                                </div>
                            </div>
                            <div class="div-payment-details-body" style="margin-left:16px; margin-right:16px;">
                                @{
                                    int debt_tot = 0;
                                    int credit_tot = 0;
                                    for (int i = 0; i < ViewBag.UpCount; i++)
                                    {
                                        <div class="div-payment-details-body-main row" style="border-bottom: 1px solid #ccc;background-color :#e5ebf2">
                                            <div class="div-payment-details-body-1 col-md-2 ">
                                                <p class="payment-content">
                                                    @ViewBag.StripeUpcomingInvoice.Invoice.Date.ToString("dd MMM,yyyy")
                                                </p>
                                            </div>
                                            <div class="div-payment-details-body-3 col-md-7">
                                                <p class="payment-content" style="text-align:left">
                                                    (@ViewBag.StripeUpcomingInvoice.Invoice.Data[i].PeriodStart.ToString("dd MMM") - @ViewBag.StripeUpcomingInvoice.Invoice.Data[i].PeriodEnd.ToString("dd MMM,yyyy"))
                                                    @ViewBag.StripeUpcomingInvoice.Invoice.Data[i].Description
                                                </p>
                                            </div>
                                            <div class="div-payment-details-body-4 col-md-1">
                                                <p class="payment-content"></p>
                                            </div>
                                            <div class="div-payment-details-body-5 col-md-2">
                                                <p class="payment-content">$@ViewBag.StripeUpcomingInvoice.Invoice.Data[i].Amount</p>
                                            </div>
                                        </div>

                                    }
                                }

                                @{
                                    for (int i = 0; i < ViewBag.Count; i++)
                                    {
                                        if (ViewBag.StripeInvoice.Invoices.List[i].Status)
                                        {
                                            <div class="div-payment-details-body-main row">
                                                <div class="div-payment-details-body-1 col-md-2 ">
                                                    <p class="payment-content">
                                                        @ViewBag.StripeInvoice.Invoices.List[i].PeriodEnd.ToString("dd MMM,yyyy")
                                                    </p>
                                                </div>
                                                <div class="div-payment-details-body-3 col-md-7">
                                                    <p class="payment-content" style="text-align:left">
                                                        Amount Paid ( Invoice No.
                                                        <a href="@ViewBag.StripeInvoice.Invoices.List[i].Url" class="payment-content">
                                                            @ViewBag.StripeInvoice.Invoices.List[i].InvNumber
                                                            <span class="glyphicon">&#xe164;</span>
                                                        </a>
                                                        )
                                                    </p>
                                                </div>
                                                <div class="div-payment-details-body-4 col-md-1">
                                                    $@ViewBag.StripeInvoice.Invoices.List[i].Total
                                                    @{debt_tot = debt_tot + ViewBag.StripeInvoice.Invoices.List[i].Total;
                                                    }
                                                </div>
                                                <div class="div-payment-details-body-5 col-md-2">
                                                    <p class="payment-content"></p>
                                                </div>
                                            </div>

                                            <div class="div-payment-details-body-main row">
                                                <div class="div-payment-details-body-1 col-md-2 ">
                                                    <p class="payment-content">
                                                        @ViewBag.StripeInvoice.Invoices.List[i].PeriodEnd.ToString("dd MMM,yyyy")
                                                    </p>
                                                </div>
                                                <div class="div-payment-details-body-3 col-md-7">
                                                    <p class="payment-content" style="text-align:left">
                                                        (@ViewBag.StripeInvoice.Invoices.List[i].PeriodStart.ToString("dd MMM") - @ViewBag.StripeInvoice.Invoices.List[i].PeriodEnd.ToString("dd MMM,yyyy"))
                                                        @ViewBag.StripeInvoice.Invoices.List[i].Description
                                                    </p>
                                                </div>
                                                <div class="div-payment-details-body-4 col-md-1">

                                                </div>
                                                <div class="div-payment-details-body-5 col-md-2">
                                                    <p class="payment-content">
                                                        $@ViewBag.StripeInvoice.Invoices.List[i].Total
                                                        @{credit_tot = credit_tot + ViewBag.StripeInvoice.Invoices.List[i].Total;
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="div-payment-details-body-main row">
                                                <div class="div-payment-details-body-1 col-md-2 ">
                                                    <p class="payment-content">
                                                        @ViewBag.StripeInvoice.Invoices.List[i].PeriodEnd.ToString("dd MMM,yyyy")
                                                    </p>
                                                </div>
                                                <div class="div-payment-details-body-3 col-md-7">
                                                    <p class="payment-content" style="text-align:left">
                                                        (@ViewBag.StripeInvoice.Invoices.List[i].PeriodStart.ToString("dd MMM") - @ViewBag.StripeInvoice.Invoices.List[i].PeriodEnd.ToString("dd MMM,yyyy"))
                                                        @ViewBag.StripeInvoice.Invoices.List[i].Description
                                                    </p>
                                                </div>
                                                <div class="div-payment-details-body-4 col-md-1">

                                                </div>
                                                <div class="div-payment-details-body-5 col-md-2">
                                                    <p class="payment-content">
                                                        $@ViewBag.StripeInvoice.Invoices.List[i].Total
                                                        @{credit_tot = credit_tot + ViewBag.StripeInvoice.Invoices.List[i].Total;
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        }

                                    }
                                }
                            </div>
                            <div class="div-payment-details-body-main row">
                                <div class="div-payment-details-body-1 col-md-9 ">
                                    <p class="payment-content" style="text-align:right;">
                                        Total
                                    </p>
                                </div>
                                <div class="div-payment-details-body-1 col-md-1 ">
                                    <p class="payment-content">
                                        $@debt_tot
                                    </p>
                                </div>
                                <div class="div-payment-details-body-1 col-md-2 ">
                                    <p class="payment-content">
                                        $@credit_tot
                                    </p>
                                </div>
                            </div>
                            <div class="div-payment-details-body-main row">
                                <div class="div-payment-details-body-1 col-md-9 ">
                                    <p class="payment-content" style="text-align:right;">
                                        Balance
                                    </p>
                                </div>
                                @{
                                    int bal = debt_tot - credit_tot;
                                    string debtbal = "";
                                    string creditbal = "";
                                    if (bal < 0)
                                    {
                                        creditbal = "-$" + (-1 * bal);
                                    }
                                    else
                                    {
                                        debtbal = "$" + bal;
                                    }
                                }
                                <div class="div-payment-details-body-1 col-md-1 ">
                                    <p class="payment-content">
                                        @debtbal
                                    </p>
                                </div>
                                <div class="div-payment-details-body-1 col-md-2 ">
                                    <p class="payment-content">
                                        @creditbal
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            @* MODAL *@
            @*-----------------------------PLAN----------------------------*@
            <div id="planUpgrade" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content modal-sub-upgrade " id="modal-upgrade">
                        <div class="modalheader">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                            <div id="users-form1" style="margin: 90px;">
                                <div class="form-style form-style-padding">
                                    <div class="div-input" id="div-usr1">
                                        <label class="label-font-sub">Number of Users</label>
                                        <input type="number" class="text-input" name="usr1" id="usr1" placeholder="5" min="5" onchange="calculateAmount1()" onkeyup="calculateAmount1()" required />
                                        <input type="hidden" id="tot1" name="tot1" />
                                        <input type="hidden" id="usrno1" name="usrno1" />
                                    </div>
                                    <div id="div-total1" class="div-input" style="display:none;">
                                        <label class="label-total label-total-main-title">Total</label>
                                        <label class="label-total label-total-content" id="total-content1" name="total-content1"></label>
                                        <label class="label-total label-total-main" name="total1" id="total1"></label>
                                        <label class="label-total label-total-content">/month</label>
                                    </div>
                                </div>
                                <div class="div-seperate">
                                    <button class="button-style" id="pay1" name="pay1">Subscribe</button>
                                </div>

                                @*@{TempData["SolnId"] = ViewBag.cid;}*@
                            </div>
                        </div>
                    </div>
                    <div id="sub_succ"></div>

                </div>
            </div>

            @*--------------------CUSTOMER-------------------------*@
            <div id="custUpdate" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content modal-cust-size " id="modal-cust">
                        <div class="modalheader">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div id="modal-users-form" style="margin: 60px 90px;">
                                <div id="modal-payment-form">
                                    <div class="form-style-sub form-style-padding">
                                        <div class="div-input div-input-border">
                                            <label class="label-font">Name</label>
                                            <input type="text" class="text-input" name="upname" id="upname" value="@ViewBag.Cust.Name" placeholder="Jenny Rosen" required />
                                            <input type="hidden" id="custid" name="custid" value="@ViewBag.CustId" />
                                            <input type="hidden" id="upemailid" name="upemailid" value="@ViewBag.Cust.Email" />
                                        </div>
                                        <div class="div-input div-input-border">
                                            <label class="label-font">Address</label>
                                            <input type="text" class="text-input" name="upadd1" id="upadd1" value="@ViewBag.Cust.Address" placeholder="185 Berry Street Suite 550" />
                                        </div>
                                        <div class="div-input div-input-border">
                                            <label class="label-font">City</label>
                                            <input type="text" class="text-input" name="upcity" id="upcity" value="@ViewBag.Cust.City" placeholder="San Francisco" />
                                        </div>
                                        <div class="div-input div-input-border">
                                            <label class="label-font">State</label>
                                            <input type="text" class="text-input-sub" name="upstate" id="upstate" value="@ViewBag.Cust.State" placeholder="CA" />
                                            <label class="label-font">Zip</label>
                                            <input type="text" class="text-input-sub" name="upzip" id="upzip" value="@ViewBag.Cust.Zip" placeholder="94107" />
                                        </div>
                                        <div class="div-input">
                                            <label class="label-font">Country</label>
                                            <div>
                                                <select name="upcountry" id="upcountry" class="text-select">
                                                    <option value="AU">Australia</option>
                                                    <option value="AT">Austria</option>
                                                    <option value="BE">Belgium</option>
                                                    <option value="BR">Brazil</option>
                                                    <option value="CA">Canada</option>
                                                    <option value="CN">China</option>
                                                    <option value="DK">Denmark</option>
                                                    <option value="FI">Finland</option>
                                                    <option value="FR">France</option>
                                                    <option value="DE">Germany</option>
                                                    <option value="HK">Hong Kong</option>
                                                    <option value="IN">India</option>
                                                    <option value="IE">Ireland</option>
                                                    <option value="IT">Italy</option>
                                                    <option value="JP">Japan</option>
                                                    <option value="LU">Luxembourg</option>
                                                    <option value="MX">Mexico</option>
                                                    <option value="NL">Netherlands</option>
                                                    <option value="NZ">New Zealand</option>
                                                    <option value="NO">Norway</option>
                                                    <option value="PT">Portugal</option>
                                                    <option value="SG">Singapore</option>
                                                    <option value="ES">Spain</option>
                                                    <option value="SE">Sweden</option>
                                                    <option value="CH">Switzerland</option>
                                                    <option value="GB">United Kingdom</option>
                                                    <option value="US" selected="selected">United States</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="div-seperate">
                                        <button class="button-style" id="custupdate" name="custupdate">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*--------------------CARD-------------------------*@
            <div id="addCard" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content modal-card-size " id="modal-card">
                        <div class="modalheader">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="div-seperate form-style card-padding form-margin-card">
                                <div class="form-row div-input">
                                    <label for="card-element" class="label-font col-md-1">
                                        Card
                                    </label>
                                    <div id="card-element" class="col-md-11">
                                        <!-- A Stripe Element will be inserted here. -->
                                    </div>
                                    <input type="hidden" id="tokenid" name="tokenid">
                                    <input type="hidden" id="cust_id" name="cust_id" value="@ViewBag.CustId" />
                                    <!-- Used to display form errors. -->
                                    <div id="card-errors" role="alert"></div>
                                </div>
                            </div>
                            <div class="div-seperate" style="margin:10px 50px 0px 50px;">
                                <button class="button-style" id="addcard" name="addcard">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</body>

<script>
        var stripe = Stripe('@(ViewBag.pb_key)');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', { style: style });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        //var form = document.getElementById('payment-form');
        //form.addEventListener('submit', function (event) {
        //    event.preventDefault();

        //    //stripe.createToken(card).then(function (result) {
        //    //    if (result.error) {
        //    //        // Inform the user if there was an error.
        //    //        var errorElement = document.getElementById('card-errors');
        //    //        errorElement.textContent = result.error.message;
        //    //    } else {
        //    //        let dt = new Date(result.token.created * 1000);
        //    //        result.token.created = dt.getUTCFullYear() + "-" + (dt.getUTCMonth() + 1) + "-" + dt.getUTCDate() + " " + dt.getUTCHours() + ":" + dt.getUTCMinutes() + ":" + dt.getUTCSeconds();
        //    //        console.log('hfghj');
        //    //        document.getElementById('token').value = JSON.stringify(result.token);
        //    //        form.submit();
        //    //    }
        //    //});
        //});
    $('#pay').on('click', function () {
        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                let dt = new Date(result.token.created * 1000);
                result.token.created = dt.getUTCFullYear() + "-" + (dt.getUTCMonth() + 1) + "-" + dt.getUTCDate() + " " + dt.getUTCHours() + ":" + dt.getUTCMinutes() + ":" + dt.getUTCSeconds();
                console.log('hfghj');
                document.getElementById('token').value = JSON.stringify(result.token);
            }

            $.ajax({
                type: "POST",
                url: "../Stripe/Index",
                data: { user_no: $('#usrno').val(), name: $('#name').val(), email: $('#emailid').val(), address: $('#add1').val(), city: $('#city').val(), state: $('#state').val(), zip: $('#zip').val(), country: $('#country option:selected').val(), token: $('#token').val(), sid:sid },
                success: function (data) {
                    $('#users-form').hide();
                    $('#sub_succ1').append(`<div class="div-body-main subscribed-margin">
                                                        <div class="div-icon">
                                                            <i class="fa fa-check fa-5x"></i>
                                                        </div>
                                                        <div class="heading">
                                                            SUBSCRIBED SUCCESSFULLY
                                                        </div>
                                                        <div class="div-sub-desc">
                                                            You have successfully subscribed to ${data.plan} on ${data.created}
                                                        </div>
                                                        <div class="div-sub-headings">
                                                            <div class="col-md-12 div-sub-heading">
                                                                <div class="col-md-6 sub-heading">
                                                                    Amount per Users
                                                                </div>
                                                                <div class="col-md-6 ">
                                                                   $${data.amount}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 div-sub-heading">
                                                                <div class="col-md-6 sub-heading">
                                                                    Total Amount
                                                                </div>
                                                                <div class="col-md-6">
                                                                    $${data.amount * data.quantity}    ($${data.amount} * ${data.quantity} Users)
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="div-footer">
                                                            You will be charged $${data.amount * data.quantity}(${data.periodStart} - ${data.periodEnd}) on ${data.periodEnd}
                                                        </div>
                                                    </div>`);
                    setTimeout(viewbilldata, 1);
                }
            });
        });

    });

    this.viewbilldata = function ()
    {
        location.reload();
    }



    $('#pay1').on('click', function () {
        $.ajax({
            type: "POST",
            url: "../Stripe/UpdateCustomerSubscription",
            data: { user_no: $('#usr1').val() ,sid:sid},
            success: function (data) {
                $('#users-form1').hide();
                $('#modal-upgrade').hide();
                $('#sub_succ').append(`<div class="div-body-main">
                        <div class="div-icon">
                            <i class="fa fa-check fa-5x"></i>
                        </div>
                        <div class="heading">
                            SUBSCRIBED SUCCESSFULLY
                        </div>
                        <div class="div-sub-desc">
                            You have successfully subscribed to ${data.plan} on ${data.created}
                        </div>
                        <div class="div-sub-headings">
                            <div class="col-md-12 div-sub-heading">
                                <div class="col-md-6 sub-heading">
                                    Amount per Users
                                </div>
                                <div class="col-md-6 ">
                                   $${data.amount}
                                </div>
                            </div>
                            <div class="col-md-12 div-sub-heading">
                                <div class="col-md-6 sub-heading">
                                    Total Amount
                                </div>
                                <div class="col-md-6">
                                    $${data.amount*data.quantity}    ($${data.amount} * ${data.quantity} Users)
                                </div>
                            </div>
                        </div>
                        <div class="div-footer">
                            You will be charged $${data.amount * data.quantity} (${data.periodStart} - ${data.periodEnd}) on ${data.periodEnd}
                        </div>
                    </div>`);
                this.upgradecontent(data);
            }.bind(this)
        });

    }.bind(this));

    this.upgradecontent = function (data) {
        var html = `You are currently using ${data.plan} plan for ${data.quantity} users per month. You can upgrade your plan for having more users, cost $${data.amount} for each.`
        $(".upgrade-content").empty().append(html);
        //$("#planUpgrade").modal("toggle");
    }.bind(this);


    $('#custupdate').on('click', function () {
        $.ajax({
            type: "POST",
            url: "../Stripe/UpdateCustomerSubscription",
            data: { cust_id: $('#custid').val(), name: $('#upname').val(), email: $('#upemailid').val(), address: $('#upadd1').val(), city: $('#upcity').val(), state: $('#upstate').val(), zip: $('#upzip').val(), country: $('#upcountry option:selected').val(), sid: sid },
            success: function (data) {
                $('#modal-cust').hide();
                this.updatebillingcontent(data);
            }.bind(this)
        });
    }.bind(this));

    this.updatebillingcontent = function (data) {
        var html = `<div class="row user-det-padding">
                                    <div class="user-det-sub-heading col-md-3 col-md-offset-1">
                                        Name
                                    </div>
                                    <div class="user-det-contents col-md-6">
                                        ${data.name}
                                    </div>
                                </div>
                                <div class="row user-det-padding">
                                    <div class="user-det-sub-heading col-md-3 col-md-offset-1">
                                        Email
                                    </div>
                                    <div class="user-det-contents col-md-6">
                                        ${data.email}
                                    </div>
                                </div>
                                <div class="row user-det-padding">
                                    <div class="user-det-sub-heading col-md-3 col-md-offset-1">
                                        Address
                                    </div>
                                    <div class="user-det-contents col-md-6">
                                        ${data.address}
                                    </div>
                                </div>
                                <div class="row user-det-padding">
                                    <div class="user-det-sub-heading col-md-3 col-md-offset-1">
                                        City
                                    </div>
                                    <div class="user-det-contents col-md-3">
                                        ${data.city}
                                    </div>
                                    <div class="user-det-sub-heading col-md-2 ">
                                        State
                                    </div>
                                    <div class="user-det-contents col-md-3">
                                        ${data.state}
                                    </div>
                                </div>
                                <div class="row user-det-padding">
                                    <div class="user-det-sub-heading col-md-3 col-md-offset-1">
                                        Country
                                    </div>
                                    <div class="user-det-contents col-md-3">
                                        ${data.country}
                                    </div>
                                    <div class="user-det-sub-heading col-md-2">
                                        Zip
                                    </div>
                                    <div class="user-det-contents col-md-3">
                                        ${data.zip}
                                    </div>
                                </div>`
        $(".cust-update").empty().append(html);
    }.bind(this);

    $('#addcard').on('click', function () {
        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                let dt = new Date(result.token.created * 1000);
                result.token.created = dt.getUTCFullYear() + "-" + (dt.getUTCMonth() + 1) + "-" + dt.getUTCDate() + " " + dt.getUTCHours() + ":" + dt.getUTCMinutes() + ":" + dt.getUTCSeconds();
                console.log('hfghj');
                document.getElementById('tokenid').value = JSON.stringify(result.token);
            }
        $.ajax({
            type: "POST",
            url: "../Stripe/AddCustomerCard",
            data: { cust_id: $('#cust_id').val(), token: $('#tokenid').val(), sid: sid },
            success: function (data) {
                $('#modal-card').hide();
                this.updatecardcontent(data);
            }.bind(this)
            });
        });
    }.bind(this));

    this.updatecardcontent = function (data) {
        var html = ``;
        for (var i = 0; i < ViewBag.Card.Count; i++) {
            html = html + ` <div class="div-card">
                                <div class="row">
                                     <div class="col-md-offset-2 col-md-6 card-number">
                                          **** **** **** ${data.Cards.Card[i].Last4}
                                                </div>
                                                <div class="col-md-4 card-exp">
                                                    Exp. (${data.Cards.Card[i].ExpMonth} / ${data.Cards.Card[i].ExpYear})
                                                </div>
                                            </div>
                                        </div> `
        }
        $(".cardupdate").empty().append(html);
    }.bind(this);


</script>