@{
    var appdata = Html.Raw(ViewBag.Apps);

    string Logourl = "/static/logo/logo_" + ViewBag.cid + ".png";

    string DpUrl = "/static/dp/dp_" + ViewBag.UId + ".png";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>@*dona*@
<div class="row" id="">
    <div class="toolbar objectDashB-toolbar">
        <div class="col-md-5 pd-0">
            <button class="btn obj_list_shortCut quik_menu" id="quik_menu"><i class="fa fa-th" aria-hidden="true"></i></button>
            <div class="solution_logo_cont pull-left">
                <img src="~/images/your_company_logo.png" data-src=@Logourl class="solution_logo Eb_Image" />
            </div>
            <div class="brd_cr_t">
                <div class="brd_row"><span class="eb_context">@ViewBag.cid</span><span class="eb_slash">/</span> Home <span class="eb_slash">/</span></div>
                <div class="mr-0 Obj_title" id="objname">@ViewBag.ObjName</div>
            </div>
        </div>
        <div class="col-md-7 pd-0">
            <div class='toolicons form-inline pull-right'>
                <div id="obj_icons" style="display:inline"></div>
                <div class='form-group'>
                    <button class='btn save' id="save" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                    <button class='btn commit_outer' id="commit_outer" data-toggle="tooltip" data-placement="bottom" title="Commit"><i class="fa fa-upload" aria-hidden="true"></i></button>
                    @{
                        if (ViewBag.Refid.Length > 0)
                        {
                            var vNumMajor = ("v." + (ViewBag._major + 1) + "." + ViewBag._minor + "." + ViewBag._patch + ".w");
                            var vNumMinor = ("v." + ViewBag._major + "." + (ViewBag._minor + 1) + "." + ViewBag._patch + ".w");
                            var vNumPatch = ("v." + ViewBag._major + "." + ViewBag._minor + "." + (ViewBag._patch + 1) + ".w");
                            <div class="dropdown" style="display:inline" id="create_button">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <ul class="dropdown-menu" id="create"></ul>
                            </div>
                            <button class='btn compare' id="compare" data-toggle="tooltip" data-placement="bottom" title="Compare"><i class="fa fa-files-o" aria-hidden="true"></i></button>
                            ///<button class='btn rel_obj' id="rel_obj" data-toggle="tooltip" data-placement="bottom" title="Related Objects"><i class="fa fa-cogs" aria-hidden="true"></i></button>
                            <button class='btn status' id="status" data-toggle="tooltip" data-placement="bottom" title="status"><i class="fa fa-exchange" aria-hidden="true"></i></button>
                            <button class='btn ver_his' id="ver_his" data-toggle="tooltip" data-placement="bottom" title="Version History"><i class="fa fa-history" aria-hidden="true"></i></button>
                        }
                    }
                    <button class="btn notification_menu" style="display:none;">
                        <i class="fa fa-bell" alt="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></i>
                    </button>
                    <div class="dropdown obj_dash_proimage_drp">
                        <img src="~/images/proimg.jpg" data-src=@DpUrl id="header_dp" data-toggle="dropdown" class="obj_dash_proimage dropdown-toggle Eb_Image" />
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <ul class="drp_ul">
                                <li class="drp_item border_b" style="height:50px;">
                                    <img src="~/images/proimg.jpg" data-src=@DpUrl class="proimage_inner Eb_Image" /><div class="user_info">
                                        <h4>@ViewBag.UserDisplayName</h4>
                                        <p>@ViewBag.email</p>
                                    </div>
                                </li>
                                <li class="drp_item border_b"><a onclick="LoadMyProfile()"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a></li>
                                <li class="drp_item"><a onclick="location.href='@Url.Action("Logout","Tenantuser")'"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class='btn' id="minmize"><i class="fa fa-ellipsis-v" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="pin"></i></button>
                </div>
            </div>
        </div>
        <div class="eb_common_loader" id="eb_common_loader"></div>
    </div>
</div>
<div class="row">
    <div class="dashbord" style="display:none;">
        <div class="card1" style="margin-top: 20px;">
            <div class="head">
                <i class="fa fa-tags" aria-hidden="true"></i> Applications
            </div>
            <div class="card_body app-container">
                <input type="text" id="apps" class="typeahead form-control" data-role="tagsinput" />
            </div>
            @*<div class="firstcommit">
                    <h6 class="smallfont">Owner/Assignee</h6>
                    <div style="display:block">
                        <div class="userimg">
                            <img src="../static/dp/dp_@(ViewBag.Owner_Id)_micro.jpg" class="prof_dp img-thumbnail img-circle"/>
                        </div>
                        <div class="profileInfo">
                            <h6 class="xtrasmall">@ViewBag.Owner_Name</h6>
                            <h6 class="xtrasmall">@ViewBag.Owner_Ts</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 box4">
                    <h6 class="smallfont">Application</h6>
                    <select class="selectpicker btn" id="apps" name="Apps">
                        <option id="" value="0">Select Application</option>
                        @{
                            foreach (KeyValuePair<string, object> entry in ViewBag.Apps)
                            {
                                <option id="" value="@entry.Key">@entry.Value</option>
                            }
                        }
                    </select>
                </div>*@
        </div>

        <div class="box2">
            @{
                if (ViewBag.Refid.Length > 0)
                {

                    <div class="card1">
                        <div class="head">
                            Working Copy(s)
                        </div>
                        <div class="count text-center workcopies">
                            @using Newtonsoft.Json;
                            @{
                                string[] wrkcpy = ViewBag.Workingcopy;
                                if (wrkcpy[0] == "")
                                {
                                    <p>No working copies</p>
                                }
                                else
                                {
                                    foreach (var w in wrkcpy)
                                    {
                                        var wcpy = JsonConvert.DeserializeObject<Dictionary<string, string>>(w);
                                        foreach (var k in wcpy)
                                        {
                                            <a href="#" class="wrkcpylink tag label label-primary" data-id="@k.Value" data-verNum="@k.Key">@k.Key.Replace(".w", " w")</a>
                                        }
                                    }
                                }
                            }

                        </div>
                    </div>
                    <div class="card1">
                        <div class="head">
                            Last Commit
                        </div>
                        <div class="card_body">
                            @{
                                if (ViewBag.LastCommitedVersionRefid != "")
                                {
                                    <div class="card1-mid">
                                        <div class="count text-right">
                                            <a href="#" class="wrkcpylink tag label label-primary" data-id="@ViewBag.LastCommitedVersionRefid" data-verNum="@ViewBag.LastCommitedVersionNumber">@ViewBag.LastCommitedVersionNumber</a>
                                            @ViewBag.LastCommitedVersion_Status
                                        </div>
                                    </div>
                                    <div class="card1-botm" style="display:block">
                                        <div class="userimg">
                                            @*<img src="../static/dp/dp_@(ViewBag.LastCommitedby_Id)_micro.jpg" class="prof_dp img-thumbnail img-circle" />*@
                                        </div>
                                        <div class="profileInfo">
                                            <h6 class="xtrasmall">@ViewBag.LastCommitedby_Name</h6>
                                            <h6 class="xtrasmall"> @ViewBag.LastCommitedVersionCommit_ts</h6>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <p class="count text-center">No Committed Version</p>
                                }
                            }
                        </div>
                    </div>
                    <div class="card1">
                        <div class="head">
                            Live Version
                        </div>
                        <div class="card_body">
                            @{
                                if (ViewBag.LiveVersionRefid != "")
                                {
                                    <div class="card1-mid">
                                        <div class="count text-right">
                                            <a href="#" class="wrkcpylink tag label label-primary" data-id="@ViewBag.LiveVersionRefid" data-verNum="@ViewBag.LiveVersionNumber">@ViewBag.LiveVersionNumber</a>
                                            @ViewBag.LiveVersion_Status
                                        </div>
                                    </div>
                                    <div class="card1-botm" style="display:block">
                                        <div class="userimg">
                                            @*<img src="../static/dp/dp_@(ViewBag.LiveVersionCommitby_Id)_micro.jpg" class="prof_dp img-thumbnail img-circle" />*@
                                        </div>
                                        <div class="profileInfo">
                                            <h6 class="xtrasmall">@ViewBag.LiveVersionCommitby_Name</h6>
                                            <h6 class="xtrasmall">@ViewBag.LiveVersionCommit_ts</h6>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <p class="count text-center">No Live Version</p>
                                }
                            }
                        </div>
                    </div>
                    <div class="card1">
                        <div class="head">
                            <i class="fa fa-bug" aria-hidden="true"></i> Issues
                        </div>
                        <div class="card1-mid card_body">
                            <div class="count text-center" style="font-size:25px">
                                10
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="card1">
            <div class="head">
                <i class="fa fa-tags" aria-hidden="true"></i> Tags
            </div>
            <div class="card_body tag-container">
                <input type="text" class="typeahead form-control" id="tags" data-role="tagsinput" />
            </div>
        </div>
    </div>
</div>

<div class="changLog-container" id="changelogPopup">
    <div class="chlog-top">
        <div class="ch-l-title">Change Log</div>
        <button class="btn btn-sm" id="close_popup"><i class="fa fa-times"></i></button>
    </div>
    <div class="text-sec">
        <div class="col-md-3 imagesec">
            <div class="svgicon">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#5DDDD3;" d="M256.001,512C397,512,512,397,512,255.999C512,115,397,0,256.001,0C115,0,0,115,0,255.999
	C0,397,115,512,256.001,512z" />















<path style="fill:#FFFFFF;" d="M117.586,71.673h276.828v311.43l-57.218,57.221h-219.61V71.673z" />















<path style="fill:#FFCA4F;" d="M337.193,383.106h57.218l-57.218,57.221V383.106z" />















<path style="fill:#C8CACC;" d="M151.848,112.951h201.797v2.993H151.848V112.951z M151.848,285.505L151.848,285.505h92.327v2.993
	h-92.327V285.505z M151.848,269.528L151.848,269.528h201.797v2.993H151.848V269.528z M151.848,249.955L151.848,249.955h201.797
	v2.993H151.848V249.955z M151.848,230.385L151.848,230.385h201.797v2.993H151.848V230.385z M151.848,210.812L151.848,210.812
	h201.797v2.993H151.848V210.812z M151.848,191.242L151.848,191.242h201.797v2.993H151.848V191.242z M151.848,171.67L151.848,171.67
	h201.797v2.993H151.848V171.67z M151.848,152.099L151.848,152.099h201.797v2.993H151.848V152.099z M151.848,132.527L151.848,132.527
	h201.797v2.993H151.848V132.527z" />















<path style="fill:#FFCA4F;" d="M242.616,290.481l-40.247,21.682l18.587,18.589l21.663-40.271H242.616z" />















<path style="fill:#20D0C2;" d="M207.801,317.602c4.64,0.422,7.399,2.801,7.717,7.714L70.149,470.685l-7.717-7.717L207.801,317.602z" />















<path style="fill:#15BDB1;" d="M207.801,317.602c0.391-3.714-1.199-5.718-5.435-5.437L56.998,457.534l5.435,5.435L207.801,317.602z" />















<path style="fill:#ECF0F1;" d="M75.584,476.12l-18.587-18.587l-4.59,4.59l18.587,18.587L75.584,476.12z" />















<path style="fill:#FFCA4F;" d="M57.221,485.303l-9.403-9.406c-2.526-2.526-2.526-6.657,0-9.18l4.593-4.59l18.587,18.587l-4.59,4.59
	c-2.523,2.523-6.655,2.526-9.18,0H57.221z" />















<path style="fill:#666666;" d="M245.234,288.626l-0.774-0.774l-16.937,10.754l6.93,6.933L245.234,288.626z" />















<path style="fill:#15BDB1;" d="M215.518,325.316c3.714-0.391,5.718,1.199,5.435,5.437L75.584,476.123l-5.435-5.437L215.518,325.316z" />















</svg>
            </div>
        </div>
        <div class="col-md-9 textaerea-sec">
            <textarea class="txt-area" id="obj_changelog" placeholder="ChangeLog"></textarea>
            <div class="submitsec-changeLog">
                <i class="fa fa-chevron-circle-right" id="commit"></i>
            </div>
        </div>
    </div>
</div>


<script>

    var data = @appdata;
    var array_values = new Array();
    for (var key in data) {
        array_values.push(data[key]);
    }
    var Applications = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,

        local: $.map(data, function (app, i) {
            return {
                name: app
            };
        })
    });
    Applications.initialize();

    $('#apps').tagsinput({
        typeaheadjs: [{
            minLength: 1,
            highlight: true,
        }, {
            minlength: 1,
            name: 'Applications',
            displayKey: 'name',
            valueKey: 'name',
            source: Applications.ttAdapter()
        }],
        freeInput: true
    });

    $('#apps').on('beforeItemAdd', function(event) {
        if ($.inArray(event.item, array_values)===-1)
        {
            alert("invalid application");
            event.cancel = true ;
        }
        else
        {
            event.cancel = false;
        }
    });
    var Tagdata ="@ViewBag.AllTags".split(",");
    var Tags = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,

        local: $.map(Tagdata, function (tag, i) {
            return {
                name: tag
            };
        })
    });
    Tags.initialize();

    $('#tags').tagsinput({
        typeaheadjs: [{
            minLength: 1,
            highlight: true,
        }, {
            minlength: 1,
            name: 'Tags',
            displayKey: 'name',
            valueKey: 'name',
            source: Tags.ttAdapter()
        }],
        freeInput: true
    });
    var commonO = $("#layout_div").data("commonObj");
    if ('@ViewBag.Refid'.length > 0)
        commonO.UpdateCreateVersionDD();

    $(document).ready(function(){
        $('#commit_outer').on('click', function () {
            $('#changelogPopup').show();
        });
        $('#close_popup').on('click', function () {
            $('#changelogPopup').css("display", "none");
        });
        if ('@ViewBag.Tags'.length > 0)
        {
            $('#tags').tagsinput('add', '@ViewBag.Tags');
        }
        if ('@ViewBag.AppId'.length > 0)
        {
            $('#apps').tagsinput('add', '@ViewBag.AppId');
        }
        @*$('select[name=Apps]').val(@ViewBag.AppId);
        $('.selectpicker').selectpicker('refresh');*@
    });

        $('#minmize').click(function () {
            $('.dashbord').animate({ width: 'toggle' });
        });

        function LoadMyProfile() {
            event.preventDefault();
            //window.open("../Security/ManageUser?itemid=" + $("#hiddenTxtUserId").val(), "_blank");
            var _form = document.createElement("form");
            _form.setAttribute("method", "post");
            _form.setAttribute("action", "../Security/ManageUser");
            _form.setAttribute("target", "_blank");
            var input = document.createElement('input');
            input.type = 'hidden'; input.name = "itemid"; input.value = "-1";
            _form.appendChild(input);
            var mode = document.createElement('input');
            mode.type = 'hidden'; mode.name = "Mode";
            mode.value = '3'; _form.appendChild(mode);
            document.body.appendChild(_form);
            _form.submit();
            document.body.removeChild(_form);
        }
</script>
