<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
<style>
    .dashbord {
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.16, rgb(35, 81, 135)), color-stop(0.44, rgb(51, 102, 137)), color-stop(0.92, rgb(61, 115, 140)));
        width: 100%;
        border-top: none;
        font-family: Tahoma;
        height: 145px;
        color: #ffffff;
        margin-top: 84px;
    }

        .dashbord .box2, .box4 {
            height: 100%;
            padding: 0;
        }

        .dashbord .box3 {
            padding-right: 0;
        }

        .dashbord .box4 > .bootstrap-select {
            padding: 0px;
        }

        .dashbord .box4 .bootstrap-select .btn {
            height: 25px;
            border: none;
            border-radius: 0;
            background: white;
            color: black;
            padding: 0px 0px 0px 7px;
        }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 183px;
    }

    .dashbord .box4 > h6 {
        margin-top: 5px;
    }

    .dashbord .box5 > .bootstrap-tagsinput {
        height: 97px;
        overflow-y: auto;
        background-color: #fafafa;
        border: none;
        box-shadow: none;
        width: 100%;
    }

    .dashbord .card1 {
        background-color: #ffffff;
        margin-left: 15px;
        height: 120px;
        margin-top: 10px;
        padding: 0;
        box-shadow: 0px 1px 3px 1px #3e6183;
        color: #2f323b;
        border-radius: 3px;
    }

    .dashbord .count {
        font-size: 15px;
        color: #949ba2;
    }

    .dashbord .head {
        font-size: 13px;
        padding: 2px;
        color: #ffffff;
        background: #2f323b;
        border-radius: 2px 2px 0px 0px;
    }

    .dashbord .icons {
        margin-right: 10px;
    }

    .dashbord .txtarea {
        width: 100%;
        height: 180px !important;
    }

    .objectDashB-toolbar {
        width: 100%;
        background-color: #2c2d27;
        margin-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        position: fixed;
        z-index: 10;
    }

        .objectDashB-toolbar .brdCrumb {
            font-size: 11px;
        }

    .mr-0 {
        margin: 0;
    }

    .pd-0 {
        padding: 0;
    }

    .toolbar2 {
        margin-top: 5px;
    }

    .toolicons .btn {
        background-color: transparent;
        color: white;
    }

        .toolicons .btn:hover {
            background-color: #30C2FF;
            border-radius: 0;
        }

        .toolicons .btn:focus {
            background-color: #30C2FF;
            border-radius: 0;
        }

    .dashbord .userimg {
        float: left;
        display: inline;
    }

    .dashbord .profileInfo {
        margin-left: 35px;
    }

    .dashbord .firstcommit {
        width: 100%;
        min-height: 60px;
        padding-right: 20%;
    }

    .dashbord .workcopies {
        overflow-y: auto;
        height: 80%;
    }

    .workcopies::-webkit-scrollbar-track {
        background-color: #F5F5F5;
    }

    .workcopies::-webkit-scrollbar {
        width: 10px;
        background-color: #605b5b;
    }

    .workcopies::-webkit-scrollbar-thumb {
        background-color: #6f6f6f;
        border-radius: 6px;
    }

    .dashbord .col-md-3 {
        width: 23% !important;
    }

    .dashbord .smallfont {
        font-size: 12px;
    }

    .dashbord .xtrasmall {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .changlogTxtArea {
        height: 200px !important;
        width: 94%;
    }

    .changelogPopup {
        display: none;
        position: fixed;
        padding: 10px;
        width: 500px;
        left: 50%;
        margin-left: -237px;
        padding-left: 35px;
        height: 300px;
        top: 50%;
        margin-top: -100px;
        background: #FFF;
        z-index: 20;
        -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    }

    .toolicons .bootstrap-select {
        padding: 0;
    }

        .toolicons .bootstrap-select .btn {
            height: 25px;
            border: none;
            border-radius: 0;
            background: white;
            color: black;
            padding: 0px 0px 0px 7px;
        }

    .toolicons .open li {
        font-size: 12px;
    }

    .dashbord .card1-botm {
        height: 40%;
        padding-left: 5px;
    }

    .dashbord .card1-mid {
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .codedit .nav > li > a {
        padding: 2px 15px;
    }

    .codedit {
        margin-top: 5px;
    }

    .vernav {
    }

    .workcopies a {
        color: #194877;
        text-decoration: none;
        font-family: times;
    }
</style>
<div class="row">
    <div class="toolbar objectDashB-toolbar">
        <div class="col-md-4 pd-0">
            <div class="brdCrumb col-md-12 pd-0">
                <a href="#"> Home/</a>
            </div>
            <div class="col-md-12 pd-0">
                <h5 class="mr-0" style="color:white"> <label id="objname">@ViewBag.ObjName</label></h5>
            </div>
        </div>
        <div class="col-md-8 pd-0">
            <div class='toolicons form-inline pull-right'>
                <div id="obj_icons" style="display:inline"></div>
                <div class='form-group'>
                    <button class='btn save' id="save" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                    <button class='btn commit_outer' id="commit_outer" data-toggle="tooltip" data-placement="bottom" title="Commit"><i class="fa fa-upload" aria-hidden="true"></i></button>
                    @{
                        var vNumMajor = ("v." + (ViewBag._major + 1) + "." + ViewBag._minor + "." + ViewBag._patch + ".w");
                        var vNumMinor = ("v." + ViewBag._major + "." + (ViewBag._minor + 1) + "." + ViewBag._patch + ".w");
                        var vNumPatch = ("v." + ViewBag._major + "." + ViewBag._minor + "." + (ViewBag._patch + 1) + ".w");
                    }
                    <select class="selectpicker btn" id="create">
                        <option>Create</option>
                        <option id="_major">Major Version - (@vNumMajor) from (v.@ViewBag.VersionNumber)</option>
                        <option id="_minor">Minor Version - (@vNumMinor) from (v.@ViewBag.VersionNumber)</option>
                        <option id="_patch">Patch Version - (@vNumPatch) from (v.@ViewBag.VersionNumber)</option>
                    </select>
                    @*<button class='btn run' id="run" data-toggle="tooltip" data-placement="bottom" title="Run"><i class="fa fa-play" aria-hidden="true"></i></button>*@
                    <button class='btn compare' id="compare" data-toggle="tooltip" data-placement="bottom" title="Compare"><i class="fa fa-files-o" aria-hidden="true"></i></button>
                    <button class='btn rel_obj' id="rel_obj" data-toggle="tooltip" data-placement="bottom" title="Related Objects"><i class="fa fa-cogs" aria-hidden="true"></i></button>
                    <button class='btn status' id="status" data-toggle="tooltip" data-placement="bottom" title="status"><i class="fa fa-exchange" aria-hidden="true"></i></button>
                    <button class='btn ver_his' id="ver_his" data-toggle="tooltip" data-placement="bottom" title="Version History"><i class="fa fa-history" aria-hidden="true"></i></button>
                    <button class='btn' id="minmize"><i class="fa fa-caret-down" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="pin"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="dashbord">
        <div class="col-md-7 box2">
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Working Copy(s)
                </div>
                <div class="count text-center workcopies">
                    @using Newtonsoft.Json;
                    @{
                        string[] wrkcpy = ViewBag.Workingcopy;
                        if (wrkcpy == null)
                        {
                            <p>No working copies</p>
                        }
                        else
                        {
                            foreach (var w in wrkcpy)
                            {
                                var wcpy = JsonConvert.DeserializeObject<Dictionary<string, string>>(w);
                                foreach (var k in wcpy)
                                {
                                    <a href="#" class="wrkcpylink" data-id="@k.Value" data-verNum="@k.Key">@k.Key, </a>
                                }
                            }
                        }
                    }

                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Last Commit
                </div>
                <div class="card1-mid">
                    <div class="count text-center">
                        v.x.0.0
                    </div>
                    <div class="count text-center">
                        @ViewBag.Status
                    </div>
                </div>
                <div class="card1-botm" style="display:block">
                    <div class="userimg">
                        <img src="../static/dp_29_micro.jpg" style="width:30px" />
                    </div>
                    <div class="profileInfo">
                        <h6 class="xtrasmall">Mr X</h6>
                        commit time
                    </div>
                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Live Version
                </div>
                <div class="card1-mid">
                    <div style="color:#0db71b" class="count text-center">
                        v.x.0.0
                    </div>
                </div>
                <div class="card1-botm" style="display:block">
                    <div class="userimg">
                        <img src="../static/dp_29_micro.jpg" style="width:30px" />
                    </div>
                    <div class="profileInfo">
                        <h6 class="xtrasmall">Mr X</h6>
                        commit time
                    </div>
                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    <i class="fa fa-bug" aria-hidden="true"></i> Issues
                </div>
                <div class="card1-mid">
                    <div class="count text-center" style="font-size:32px">
                        10
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="firstcommit">
                <h6 class="smallfont">Owner/Assignee</h6>
                <div style="display:block">
                    <div class="userimg">
                        <img src="~/images/proimg.jpg" style="width:30px" />
                    </div>
                    <div class="profileInfo">
                        <h6 class="xtrasmall">Mr X</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-1 box4">
                <h6 class="smallfont">Application</h6>
                <select class="selectpicker btn" id="apps">
                    <option id="">app1</option>
                    <option id="">app2</option>
                    <option id="">app3</option>
                </select>
            </div>
        </div>  

        <div class="col-md-3 box5 card1">
            <div class="head text-center">
                <i class="fa fa-tags" aria-hidden="true"></i> Tags
            </div>
            <input type="text" class="tags" id="tags" data-role="tagsinput" />
        </div>
    </div>
</div>
<div id="changelogPopup" class="changelogPopup">
    <div class="popup">
        <a class="close" id="close_popup" href="#" style="color:indianred">&times;</a>
        <h4>Change Log</h4>
        <div class="content">
            <textarea class="form-control changlogTxtArea" id="obj_changelog"></textarea>
        </div>
        <button id="commit" class="btn btn-primary pull-right">Commit</button>
    </div>
</div>


<script>
    var commonO = $("#layout_div").data("commonObj");
    commonO.UpdateCreateVersionDD();
    $(document).ready(function(){
        $('#commit_outer').on('click', function () {
            $('#changelogPopup').show();
        });
        $('#close_popup').on('click', function () {
            $('#changelogPopup').css("display", "none");
        });
        $('#tags').tagsinput('add', '@ViewBag.Tags');
    });
    $(function () {
        $('#minmize').click(function () {
            var t = $('.dashbord').animate({ height: 'toggle' });
            if ($('.dashbord').css("display") === "block") {
                $('.codedit').css("margin-top", "0px");
            }
            else if ($('.dashbord').css("display") === "none"){
                $('.codedit').css("margin-top", "102px");
            }
        });
    });
</script>
