
<style>
    .dashbord {
        background-color: white;
        width: 100%;
        min-height: 270px;
        border: 1px solid #d3c9c9;
        border-top: none;
        font-family: Tahoma;
        margin-top: 24px;
    }

    .row {
        padding-top: 22px;
    }

    .box1 {
        height: 100%;
        padding-right: 0;
    }

    .box2, .box4 {
        height: 100%;
        padding: 0;
    }

    .box3 {
        padding-right: 0;
    }

    .card1 {
        background-color: #fafafa;
        border-radius: 4px;
        border: 1px solid #cccccc;
        margin-left: 15px;
        height: 120px;
        margin-top: 10px;
        padding: 0;
        font-weight: 300;
    }

    .form1 {
        margin-top: 10px;
    }

    .count {
        font-size: 29px;
    }

    .head {
        font-size: 18px;
        border-bottom: 1px solid #eee;
    }

    .icons {
        margin-right: 10px;
    }

    .txtarea {
        width: 100%;
        height: 180px !important;
    }

    .btn-labls {
        background-color: white;
    }

    .toolbar {
        background-color: white;
        width: 100%;
        min-height: 50px;
        margin-top: -25px;
        padding-top: 10px;
        position: fixed;
        z-index: 50;
        border-bottom: 1px solid #ccc;
    }

    .toolbar2 {
        margin-top: 5px;
    }

    .toolicons .btn {
        border: none !important;
        background-color: white !important;
        color: black;
    }

    .toolAlign {
        margin-left: 35px;
    }

    .med-font {
        font-size: 14px;
    }

    .userimg {
        float: left;
        display: inline;
    }

    .profileInfo {
        margin-left: 35px;
    }

    .firstcommit {
        width: 100%;
        min-height: 60px;
    }

    .lastCommit {
        width: 100%;
        min-height: 60px;
    }

    .col-md-3 {
        width: 23% !important;
    }

    .col-md-1 {
        width: 9.333333% !important;
    }

    .smallfont {
        font-size: 12px;
    }

    .xtrasmall {
        font-size: 10px;
    }

    .changlogTxtArea {
        height: 200px !important;
        width: 94%;
    }

    .changelogPopup {
        display: none;
        position: fixed;
        padding: 10px;
        width: 500px;
        left: 50%;
        margin-left: -237px;
        padding-left: 35px;
        height: 300px;
        top: 50%;
        margin-top: -100px;
        background: #FFF;
        z-index: 20;
        -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    }
</style>
<div class="row">
    <div class="toolbar">
        <div class="col-md-4 brdCrumb">
            <a href="#"> Home/</a>
        </div>
        <div class="col-md-8">
            <div class='toolicons form-inline pull-right'>
                <div class='form-group'>
                    <button class='btn save' id="save" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                    <button class='btn commit_outer' id="commit_outer" data-toggle="tooltip" data-placement="bottom" title="Commit"><i class="fa fa-upload" aria-hidden="true"></i></button>
                    @{
                        var vNumMajor = ("v." + (ViewBag._major + 1) + "." + ViewBag._minor + "." + ViewBag._patch + ".w");
                        var vNumMinor = ("v." + ViewBag._major + "." + (ViewBag._minor + 1) + "." + ViewBag._patch + ".w");
                        var vNumPatch = ("v." + ViewBag._major + "." + ViewBag._minor + "." + (ViewBag._patch + 1) + ".w");
                    }
                    <select class="selectpicker btn" id="create">
                        <option>Create</option>
                        <option id="_major">Major Version - (@vNumMajor) from (v.@ViewBag.VersionNumber)</option>
                        <option id="_minor">Minor Version - (@vNumMinor) from (v.@ViewBag.VersionNumber)</option>
                        <option id="_patch">Patch Version - (@vNumPatch) from (v.@ViewBag.VersionNumber)</option>
                    </select>
                    <button class='btn run' id="run" data-toggle="tooltip" data-placement="bottom" title="Run"><i class="fa fa-play" aria-hidden="true"></i></button>
                    <button class='btn compare' id="compare" data-toggle="tooltip" data-placement="bottom" title="Compare"><i class="fa fa-files-o" aria-hidden="true"></i></button>
                    <button class='btn rel_obj' id="rel_obj" data-toggle="tooltip" data-placement="bottom" title="Related Objects"><i class="fa fa-cogs" aria-hidden="true"></i></button>
                    <button class='btn ver_his' id="ver_his" data-toggle="tooltip" data-placement="bottom" title="Version History"><i class="fa fa-history" aria-hidden="true"> v.@ViewBag.VersionNumber</i></button>
                    <button class='btn' id="minmize"><i class="fa fa-caret-down" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="pin"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="dashbord">
        <div class="col-md-3 box1">
            <div class="form-group form1">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-database"></i></div>
                    <input type="text" class="form-control" id="obj_name" value="@ViewBag.ObjName">
                </div>
                <div class="form-group ">
                    <label style="margin-top:10px;">Description</label>
                    <textarea class="form-control txtarea" id="obj_desc">@ViewBag.description</textarea>
                </div>
            </div>
        </div>
        <div class="col-md-7 box2">

            <div class="col-md-3 card1">
                <div class="head text-center">
                    Total Versions
                </div>
                <div class="count text-center">
                    @*@ViewBag.TotalVersions*@
                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Status
                </div>
                <div style="color:#0db71b" class="count text-center">
                    @ViewBag.Status
                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Live Version
                </div>
                <div class="count text-center">
                    V.
                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Related Objects
                </div>
                <div class="count text-center">
                    2
                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Featured
                </div>
                <div class="count text-center">
                    2
                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Object Size
                </div>
                <div class="count text-center">
                    12 Kb
                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Object Size
                </div>
                <div class="count text-center">
                    12 Kb
                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Object Size
                </div>
                <div class="count text-center">
                    12 Kb
                </div>
            </div>
        </div>

        <div class="col-md-1 box3">
            <div class="firstcommit">
                <h6 class="smallfont">First Commit </h6>
                <div style="display:block">
                    <div class="userimg">
                        <img src="~/images/proimg.jpg" style="width:30px" />
                    </div>
                    <div class="profileInfo">
                        <h6 class="xtrasmall">Mr X</h6>
                    </div>
                </div>
            </div>
            <div class="xtrasmall">
                Application
                <div class="med-font ">appl1</div>
            </div>
        </div>
        <div class="col-md-1 box4">
            <div class="lastCommit">
                <h6 class="smallfont">Last Commit</h6>
                <div style="display:block">
                    <div class="userimg">
                        <img src="~/images/proimg.jpg" style="width:30px" />
                    </div>
                    <div class="profileInfo">
                        <h6 class="smallfont">Mr X</h6>
                    </div>
                </div>
            </div>
            <div class="xtrasmall">
                Module
                <div class="med-font ">mod1</div>
            </div>
        </div>
    </div>
</div>
<div id="changelogPopup" class="changelogPopup">
    <div class="popup">
        <a class="close" id="close_popup" href="#" style="color:indianred">&times;</a>
        <h4>Change Log</h4>
        <div class="content">
            <textarea class="form-control changlogTxtArea" id="obj_changelog"></textarea>
        </div>
        <button id="commit" class="btn btn-primary pull-right">Commit</button>
    </div>
</div>


<script>

    $(document).ready(function(){
        $('#commit_outer').on('click', function () {
            $('#changelogPopup').show();
        });
        $('#close_popup').on('click', function () {
            $('#changelogPopup').css("display", "none");
        })

        if ("@ViewBag._ReadOnly" == "True") {
            $('#commit_outer').hide();
            $('#save').hide();
        }
         if ("@ViewBag._ReadOnly" == "False") {
             $('#_minor').remove();
             $('#_patch').remove();
            //$('.selectpicker').selectpicker('refresh');
         }
        $('#create').on('change', function () {
            var selected = $(this).find("option:selected").val();
            var selected_opt = $(this).find("option:selected").attr("id");

            if (selected_opt === "_major")
            {
                if (confirm('Are you sure you want to create Major version?')) {
                    $.LoadingOverlay("show");
                    $.post("../CE/Create_Major_Version", { _refId: '@ViewBag._Refid', _type: @ViewBag._objtype},
                        function () {
                            alert("Created Major version");
                            $.LoadingOverlay("hide");
                        })
                }
            }
              if (selected_opt === "_minor")
              {
                  if (confirm('Are you sure you want to create Minor version?')) {
                      $.LoadingOverlay("show");
                      $.post("../CE/Create_Minor_Version", { _refId: '@ViewBag._Refid', _type: @ViewBag._objtype},
                          function () {
                              alert("Created Minor version");
                              $.LoadingOverlay("hide");
                          })
                  }
            }
            if (selected_opt === "_patch")
            {
                if (confirm('Are you sure you want to create Patch version?')) {
                    $.LoadingOverlay("show");
                    $.post("../CE/Create_Patch_Version", { _refId: '@ViewBag._Refid', _type: @ViewBag._objtype},
                        function () {
                            alert("Created patch version");
                            $.LoadingOverlay("hide");
                        })
                }
            }

        });

    });
    $(function () {
        $('#minmize').click(function () {
            $tool = $("<div class='form-group'><button class='btn btn-default'><i class='fa fa-align-left'></i></button> </div>");
            var t = $('.dashbord').toggle();
            if ($('.dashbord').css("display") === "none")
                $('.codedit').css("margin-top", "102px");
            else
                $('.codedit').css("margin-top", "0px");

            console.log(t);
        });
    });
</script>
