<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
<style>
    .dashbord {
        background-color: white;
        width: 100%;
        border-top: none;
        font-family: Tahoma;
        margin-top: 19px
    }

    .row {
        padding-top: 33px;
        margin-top: -4px;
    }

    .box1 {
        height: 100%;
        padding-right: 0;
    }

    .box2, .box4 {
        height: 100%;
        padding: 0;
    }

    .box3 {
        padding-right: 0;
    }

    .box4 > .bootstrap-select {
        padding: 0px;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 183px;
    }

    .box5 > .bootstrap-tagsinput {
        height: 116px;
        overflow-y: scroll;
    }

    .card1 {
        background-color: #fafafa;
        border-radius: 4px;
        border: 1px solid #cccccc;
        margin-left: 15px;
        height: 140px;
        margin-top: 10px;
        padding: 0;
        font-weight: 300;
    }

    .form1 {
        margin-top: 10px;
    }

    .count {
        font-size: 15px;
    }

    .head {
        font-size: 18px;
        border-bottom: 1px solid #eee;
    }

    .icons {
        margin-right: 10px;
    }

    .txtarea {
        width: 100%;
        height: 180px !important;
    }

    .btn-labls {
        background-color: white;
    }

    .toolbar {
        background-color: white;
        width: 100%;
        min-height: 50px;
        margin-top: -37px;
        padding-top: 10px;
        position: fixed;
        z-index: 50;
        border-bottom: 1px solid #ccc;
    }

    .toolbar2 {
        margin-top: 5px;
    }

    .toolicons .btn {
        border: none !important;
        background-color: white !important;
        color: black;
    }

    .toolAlign {
        margin-left: 35px;
    }

    .med-font {
        font-size: 14px;
    }

    .userimg {
        float: left;
        display: inline;
    }

    .profileInfo {
        margin-left: 35px;
    }

    .firstcommit {
        width: 100%;
        min-height: 60px;
        padding-right: 20%;
    }

    .lastCommit {
        width: 100%;
        min-height: 60px;
    }

    .col-md-3 {
        width: 23% !important;
    }

    .col-md-1 {
        width: 9% !important;
    }

    .smallfont {
        font-size: 12px;
    }

    .xtrasmall {
        font-size: 10px;
    }

    .changlogTxtArea {
        height: 200px !important;
        width: 94%;
    }

    .changelogPopup {
        display: none;
        position: fixed;
        padding: 10px;
        width: 500px;
        left: 50%;
        margin-left: -237px;
        padding-left: 35px;
        height: 300px;
        top: 50%;
        margin-top: -100px;
        background: #FFF;
        z-index: 20;
        -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    }
    /* Timeline */
    .timeline{
        list-style: none;
        /*padding: 20px;*/
        position: relative;
    }

        .timeline:before {
            top: 40px;
            bottom: 0;
            position: absolute;
            content: ' ';
            width: 3px;
            background-color: #eeeeee;
            left: 50%;
            margin-left: -1.5px;
        }

        .timeline .timeline-item {
            margin-bottom: 20px;
            position: relative;
        }

            .timeline .timeline-item:before,
            .timeline .timeline-item:after {
                content: '';
                display: table;
            }

            .timeline .timeline-item:after {
                clear: both;
            }

            .timeline .timeline-item .timeline-badge {
                color: #fff;
                width: 54px;
                height: 54px;
                line-height: 52px;
                font-size: 22px;
                text-align: center;
                position: absolute;
                top: 18px;
                left: 50%;
                margin-left: -25px;
                background-color: #7c7c7c;
                border: 3px solid #ffffff;
                z-index: 100;
                border-top-right-radius: 50%;
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }

                .timeline .timeline-item .timeline-badge i,
                .timeline .timeline-item .timeline-badge .fa,
                .timeline .timeline-item .timeline-badge .glyphicon {
                    top: 2px;
                    left: 0px;
                }

                .timeline .timeline-item .timeline-badge.primary {
                    background-color: #1f9eba;
                }

                .timeline .timeline-item .timeline-badge.info {
                    background-color: #5bc0de;
                }

                .timeline .timeline-item .timeline-badge.success {
                    background-color: #59ba1f;
                }

                .timeline .timeline-item .timeline-badge.warning {
                    background-color: #d1bd10;
                }

                .timeline .timeline-item .timeline-badge.danger {
                    background-color: #ba1f1f;
                }

            .timeline .timeline-item .timeline-panel {
                position: relative;
                width: 46%;
                float: left;
                right: 16px;
                border: 1px solid #c0c0c0;
                background: #ffffff;
                border-radius: 2px;
                padding: 5px;
                -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
                box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            }

                .timeline .timeline-item .timeline-panel:before {
                    position: absolute;
                    top: 26px;
                    right: -16px;
                    display: inline-block;
                    border-top: 16px solid transparent;
                    border-left: 16px solid #c0c0c0;
                    border-right: 0 solid #c0c0c0;
                    border-bottom: 16px solid transparent;
                    content: ' ';
                }

                .timeline .timeline-item .timeline-panel .timeline-title {
                    margin-top: 0;
                    color: inherit;
                }

                .timeline .timeline-item .timeline-panel .timeline-body > p,
                .timeline .timeline-item .timeline-panel .timeline-body > ul {
                    margin-bottom: 0;
                    margin-top: 5px;
                }

                    .timeline .timeline-item .timeline-panel .timeline-body > p + p {
                        margin-top: 5px;
                    }
    /*li*/
    .livestat:last-child:nth-child(even) {
        float: right;
    }

    .livestat:nth-child(even) .timeline-panel {
        float: right;
        left: 16px;
    }

        .livestat:nth-child(even) .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
        /**/

    .livestat:nth-child(odd) .timeline-panel {
        float: right;
        left: 16px;
    }

        .livestat:nth-child(odd) .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
     
    .timeline-body-clickmore {
        white-space: nowrap;
        width: 25em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="row">
    <div class="toolbar">
        <div class="col-md-4">
            <div class="brdCrumb col-md-12">
                <a href="#"> Home/</a>
            </div>
            <div class="col-md-12">
                <h4> @ViewBag.ObjName</h4>
            </div>
        </div>
        <div class="col-md-8">
            <div class='toolicons form-inline pull-right'>
                <div class='form-group'>
                    <button class='btn save' id="save" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                    <button class='btn commit_outer' id="commit_outer" data-toggle="tooltip" data-placement="bottom" title="Commit"><i class="fa fa-upload" aria-hidden="true"></i></button>
                    @{
                        var vNumMajor = ("v." + (ViewBag._major + 1) + "." + ViewBag._minor + "." + ViewBag._patch + ".w");
                        var vNumMinor = ("v." + ViewBag._major + "." + (ViewBag._minor + 1) + "." + ViewBag._patch + ".w");
                        var vNumPatch = ("v." + ViewBag._major + "." + ViewBag._minor + "." + (ViewBag._patch + 1) + ".w");
                    }
                    <select class="selectpicker btn" id="create">
                        <option>Create</option>
                        <option id="_major">Major Version - (@vNumMajor) from (v.@ViewBag.VersionNumber)</option>
                        <option id="_minor">Minor Version - (@vNumMinor) from (v.@ViewBag.VersionNumber)</option>
                        <option id="_patch">Patch Version - (@vNumPatch) from (v.@ViewBag.VersionNumber)</option>
                    </select>
                    <button class='btn run' id="run" data-toggle="tooltip" data-placement="bottom" title="Run"><i class="fa fa-play" aria-hidden="true"></i></button>
                    <button class='btn compare' id="compare" data-toggle="tooltip" data-placement="bottom" title="Compare"><i class="fa fa-files-o" aria-hidden="true"></i></button>
                    <button class='btn rel_obj' id="rel_obj" data-toggle="tooltip" data-placement="bottom" title="Related Objects"><i class="fa fa-cogs" aria-hidden="true"></i></button>
                    <button class='btn status' id="status" data-toggle="tooltip" data-placement="bottom" title="status"><i class="fa fa-exchange" aria-hidden="true"></i></button>
                    <button class='btn ver_his' id="ver_his" data-toggle="tooltip" data-placement="bottom" title="Version History"><i class="fa fa-history" aria-hidden="true"></i></button>
                    <button class='btn' id="minmize"><i class="fa fa-caret-down" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="pin"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="dashbord">
        <div class="col-md-7 box2">
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Working Copy(s)
                </div>
                <div class="count text-center">
                    @using Newtonsoft.Json;
                    @{
                        string[] wrkcpy = ViewBag.Workingcopy;
                        if (wrkcpy == null)
                        {
                            <p>No working copies</p>
                        }
                        else
                        {
                            foreach (var w in wrkcpy)
                            {
                                var wcpy = JsonConvert.DeserializeObject<Dictionary<string, string>>(w);
                                foreach (var k in wcpy)
                                {
                                    <a href="#" class="wrkcpylink" data-id="@k.Value" data-verNum="@k.Key">@k.Key</a><br />

                                }
                            }
                        }
                    }

                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Last Commit
                </div>
                <div class="count text-center">
                    v.x.0.0
                </div>
                <div class="count text-center">
                    @ViewBag.Status
                </div>
                <div style="display:block">
                    <div class="userimg">
                        <img src="~/images/proimg.jpg" style="width:30px" />
                    </div>
                    <div class="profileInfo">
                        <h6 class="xtrasmall">Mr X</h6>
                        commit time
                    </div>
                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Live Version
                </div>
                <div style="color:#0db71b" class="count text-center">
                    v.x.0.0
                </div>
                <div style="display:block">
                    <div class="userimg">
                        <img src="~/images/proimg.jpg" style="width:30px" />
                    </div>
                    <div class="profileInfo">
                        <h6 class="xtrasmall">Mr X</h6>
                        commit time
                    </div>
                </div>
            </div>
            <div class="col-md-3 card1">
                <div class="head text-center">
                    Issues
                </div>
                <div class="count text-center">
                    10
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="col-md-1 box3">
                <div class="firstcommit">
                    <h6 class="smallfont">Owner/Assignee</h6>
                    <div style="display:block">
                        <div class="userimg">
                            <img src="~/images/proimg.jpg" style="width:30px" />
                        </div>
                        <div class="profileInfo">
                            <h6 class="xtrasmall">Mr X</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 box4">
                    <h6 class="smallfont">Application</h6>
                    <select class="selectpicker btn" id="apps">
                        <option id="">app1</option>
                        <option id="">app2</option>
                        <option id="">app3</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-3 box5">
            <h6 class="smallfont">Tags </h6>
            <input type="text" class="tags" id="tags" data-role="tagsinput" />
        </div>
    </div>
</div>
<div id="changelogPopup" class="changelogPopup">
    <div class="popup">
        <a class="close" id="close_popup" href="#" style="color:indianred">&times;</a>
        <h4>Change Log</h4>
        <div class="content">
            <textarea class="form-control changlogTxtArea" id="obj_changelog"></textarea>
        </div>
        <button id="commit" class="btn btn-primary pull-right">Commit</button>
    </div>
</div>


<script>

    $(document).ready(function(){
        $('#commit_outer').on('click', function () {
            $('#changelogPopup').show();
        });
        $('#close_popup').on('click', function () {
            $('#changelogPopup').css("display", "none");
        })

        @*if ("@ViewBag._ReadOnly" == "True") {
            $('#commit_outer').hide();
            $('#save').hide();
        }
         if ("@ViewBag._ReadOnly" == "False") {
             $('#_minor').remove();
             $('#_patch').remove();
         }*@
        $('#create').on('change', function () {
            var selected = $(this).find("option:selected").val();
            var selected_opt = $(this).find("option:selected").attr("id");

            if (selected_opt === "_major")
            {
                if (confirm('Are you sure you want to create Major version?')) {
                    $.LoadingOverlay("show");
                    $.post("../CE/Create_Major_Version", { _refId: '@ViewBag._Refid', _type: @ViewBag._objtype},
                        function () {
                            alert("Created Major version");
                            $.LoadingOverlay("hide");
                        })
                }
            }
              if (selected_opt === "_minor")
              {
                  if (confirm('Are you sure you want to create Minor version?')) {
                      $.LoadingOverlay("show");
                      $.post("../CE/Create_Minor_Version", { _refId: '@ViewBag._Refid', _type: @ViewBag._objtype},
                          function () {
                              alert("Created Minor version");
                              $.LoadingOverlay("hide");
                          })
                  }
            }
            if (selected_opt === "_patch")
            {
                if (confirm('Are you sure you want to create Patch version?')) {
                    $.LoadingOverlay("show");
                    $.post("../CE/Create_Patch_Version", { _refId: '@ViewBag._Refid', _type: @ViewBag._objtype},
                        function () {
                            alert("Created patch version");
                            $.LoadingOverlay("hide");
                        })
                }
            }

        });
       // alert('@ViewBag._isUI');
       // console.log('@ViewBag.Tags');
        $('#tags').tagsinput('add', '@ViewBag.Tags');
    });
    $(function () {
        $('#minmize').click(function () {
            var t = $('.dashbord').toggle();
        });
    });
</script>
