
<div class="row">
    <div class="toolbar objectDashB-toolbar">
        <div class="col-md-4 pd-0">
            <div class="brdCrumb col-md-12 pd-0">
                <a href="#"> Home/</a>
            </div>
            <div class="col-md-12 pd-0">
                <h5 class="mr-0" style="color:white"> <label id="objname">@ViewBag.ObjName</label></h5>
            </div>
        </div>
        <div class="col-md-8 pd-0">
            <div class='toolicons form-inline pull-right'>
                <div id="obj_icons" style="display:inline"></div>
                <div class='form-group'>
                    <button class='btn save' id="save" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                    <button class='btn commit_outer' id="commit_outer" data-toggle="tooltip" data-placement="bottom" title="Commit"><i class="fa fa-upload" aria-hidden="true"></i></button>
                    @{
                        if (ViewBag.Refid.Length > 0) {
                            var vNumMajor = ("v." + (ViewBag._major + 1) + "." + ViewBag._minor + "." + ViewBag._patch + ".w");
                            var vNumMinor = ("v." + ViewBag._major + "." + (ViewBag._minor + 1) + "." + ViewBag._patch + ".w");
                            var vNumPatch = ("v." + ViewBag._major + "." + ViewBag._minor + "." + (ViewBag._patch + 1) + ".w");
                    <select class="selectpicker btn" id="create">
                        <option>Create</option>
                        <option id="_major">Major Version - (@vNumMajor) from (v.@ViewBag.VersionNumber)</option>
                        <option id="_minor">Minor Version - (@vNumMinor) from (v.@ViewBag.VersionNumber)</option>
                        <option id="_patch">Patch Version - (@vNumPatch) from (v.@ViewBag.VersionNumber)</option>
                    </select>
                    <button class='btn compare' id="compare" data-toggle="tooltip" data-placement="bottom" title="Compare"><i class="fa fa-files-o" aria-hidden="true"></i></button>
                    <button class='btn rel_obj' id="rel_obj" data-toggle="tooltip" data-placement="bottom" title="Related Objects"><i class="fa fa-cogs" aria-hidden="true"></i></button>
                    <button class='btn status' id="status" data-toggle="tooltip" data-placement="bottom" title="status"><i class="fa fa-exchange" aria-hidden="true"></i></button>
                    <button class='btn ver_his' id="ver_his" data-toggle="tooltip" data-placement="bottom" title="Version History"><i class="fa fa-history" aria-hidden="true"></i></button>
                        }
                    }
                    <button class='btn' id="minmize"><i class="fa fa-caret-up" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="pin"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="dashbord">
        <div class="col-md-7 box2">
            @{
            if (ViewBag.Refid.Length > 0)
            {

                <div class="col-md-3 card1">
                    <div class="head text-center">
                        Working Copy(s)
                    </div>
                    <div class="count text-center workcopies">
                        @using Newtonsoft.Json;
                        @{
                            string[] wrkcpy = ViewBag.Workingcopy;
                            if (wrkcpy == null)
                            {
                                <p>No working copies</p>
                            }
                            else
                            {
                                foreach (var w in wrkcpy)
                                {
                                    var wcpy = JsonConvert.DeserializeObject<Dictionary<string, string>>(w);
                                    foreach (var k in wcpy)
                                    {
                                        <a href="#" class="wrkcpylink tag label label-warning" data-id="@k.Value" data-verNum="@k.Key">@k.Key.Replace(".w", " w")</a>
                                    }
                                }
                            }
                        }

                    </div>
                </div>
                <div class="col-md-3 card1">
                    <div class="head text-center">
                        Last Commit
                    </div>
                    <div class="card1-mid">
                        <div class="count text-center">
                            v.x.0.0
                        </div>
                        <div class="count text-center">
                            @ViewBag.Status
                        </div>
                    </div>
                    <div class="card1-botm" style="display:block">
                        <div class="userimg">
                            <img src="../static/dp_29_micro.jpg" style="width:30px" />
                        </div>
                        <div class="profileInfo">
                            <h6 class="xtrasmall">Mr X</h6>
                            commit time
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card1">
                    <div class="head text-center">
                        Live Version
                    </div>
                    <div class="card1-mid">
                        <div style="color:#0db71b" class="count text-center">
                            v.x.0.0
                        </div>
                    </div>
                    <div class="card1-botm" style="display:block">
                        <div class="userimg">
                            <img src="../static/dp_29_micro.jpg" style="width:30px" />
                        </div>
                        <div class="profileInfo">
                            <h6 class="xtrasmall">Mr X</h6>
                            commit time
                        </div>
                    </div>
                </div>
                <div class="col-md-3 card1">
                    <div class="head text-center">
                        <i class="fa fa-bug" aria-hidden="true"></i> Issues
                    </div>
                    <div class="card1-mid">
                        <div class="count text-center" style="font-size:32px">
                            10
                        </div>
                    </div>
                </div>
                            }
        }
    </div>
        <div class="col-md-2">
            <div class="firstcommit">
                <h6 class="smallfont">Owner/Assignee</h6>
                <div style="display:block">
                    <div class="userimg">
                        <img src="~/images/proimg.jpg" style="width:30px" />
                    </div>
                    <div class="profileInfo">
                        <h6 class="xtrasmall">Mr X</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-1 box4">
                <h6 class="smallfont">Application</h6>
                <select class="selectpicker btn" id="apps" name="Apps">
                    <option id="" value="0">Select Application</option>
                @{
                    foreach (KeyValuePair<string, object> entry in ViewBag.Apps) { 
                        <option id="" value="@entry.Key">@entry.Value</option>
                    }
                }
                </select>
            </div>
        </div>  

        <div class="col-md-3 card1 box5">
            <div class="head text-center">
                <i class="fa fa-tags" aria-hidden="true"></i> Tags
            </div>
            <input type="text" class="tags" id="tags" data-role="tagsinput" />
        </div>
    </div>
</div>
<div id="changelogPopup" class="changelogPopup">
    <div class="popup">
        <a class="close" id="close_popup" href="#" style="color:indianred">&times;</a>
        <h4>Change Log</h4>
        <div class="content">
            <textarea class="form-control changlogTxtArea" id="obj_changelog"></textarea>
        </div>
        <button id="commit" class="btn btn-primary pull-right">Commit</button>
    </div>
</div>


<script>
    var commonO = $("#layout_div").data("commonObj");
    if ('@ViewBag.Refid'.length > 0)
        commonO.UpdateCreateVersionDD();
   
    $(document).ready(function(){
        $('#commit_outer').on('click', function () {
            $('#changelogPopup').show();
        });
        $('#close_popup').on('click', function () {
            $('#changelogPopup').css("display", "none");
        });
         if ('@ViewBag.Tags'.length > 0)
        $('#tags').tagsinput('add', '@ViewBag.Tags');

        $('select[name=Apps]').val(@ViewBag.AppId);
        $('.selectpicker').selectpicker('refresh');

        //$(window).scroll(function () {                       
        //    if ($('.dashbord').css("display") === "block") { 
        //        $('.dashbord').hide();
        //        $('.codedit').css("margin-top", "0px");
        //        $('#minmize').css("transform", "none");
        //    }  
        //    else if ($('.dashbord').css("display") === "none") {
        //        $('.codedit').css("margin-top", " 85px");
        //        $('#minmize').css("transform", "rotate(180deg)");
        //    }
        //});
    });
        $('#minmize').click(function () {
            $('.dashbord').animate({ height: 'toggle' }, minMaxDash.bind(this));                     
        });
        minMaxDash = function() {
            if ($('.dashbord').css("display") === "none") {               
                $('.codedit').css("margin-top", " 85px");
                $('#minmize').css("transform", "rotate(180deg)");
                $(".tab-cont-common").css("height", "calc(100vh - 85px)");
            }
            else if ($('.dashbord').css("display") === "block") {
                $('.codedit').css("margin-top", "229px");
                $('#minmize').css("transform", "none");
                $(".tab-cont-common").css("height","calc(100vh - 229px)");
            }
        }
        
        
</script>
