@{
    @using  ExpressBase.Common
    @using Newtonsoft.Json;
}
@{

    var taskType = JobTypes.ReportTask;
}

<style>
    .scheduler {
        padding-bottom: 10px;
    }


    .cron-period-select {
        background-color: white;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    #cron select {
        width: 25%;
    }

    .top-pad {
        padding-top: 4%;
    }

    select {
        width: 11%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .SchedulerModal .modal-dialog {
        width: 1100px;
        margin-top: 75px;
    }

    .SchedulerModal .modal-body {
        height: calc(100vh - 300px);
        overflow-y: auto;
    }

    .non-rec {
        padding-bottom: 15px;
        padding-left: 2%;
        /*height: 190px;*/
    }

    .del-to {
        margin-top: 15px;
    }

    .recur {
        /*height: 190px;*/
    }

    .usergroupmessagepad {
        padding: 10px;
        background: lightgray;
    }

    .user-common {
        height: 238px;
        overflow: auto;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .usr {
        background-color: #e6e6e6;
        box-shadow: 0 2px 3px 0 #0000003b;
        padding: 6px;
        width: 256px;
        text-align: center;
    }

    .user-line {
        padding: 5px;
    }

        .user-line:hover {
            background-color: #e6e6e6;
        }
</style>
<script type="text/javascript" src="~/src/jquery-cron-quartz.js"></script>
<link rel="stylesheet" type="text/css" href="~/src/jquery-cron-quartz.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="~/js/scheduling.js"></script>



<script>
    $(document).ready(function () {
        let usergroups = @Html.Raw(JsonConvert.SerializeObject(ViewBag.usergroups));
        let users = @Html.Raw(JsonConvert.SerializeObject(ViewBag.users));
        let schedules = @Html.Raw(JsonConvert.SerializeObject(ViewBag.schedules));
        var schedule = new scheduleO('@taskType', users, usergroups, schedules);
    });
</script>
<div>
    @{
        int objid = Convert.ToInt32(ViewBag.Obj_id);
        if (objid != 0)
        {
            @await Component.InvokeAsync("SchedulerListing", new { objid })
        }
    }

</div>
<div class="modal SchedulerModal fade" id="SchedulerModal" role="dialog">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Configure Schedule</h4>
            </div>
            <div class="modal-body">
                <div class="scheduler col-md-5">
                    <div>
                        <label class="form-check-label">Name</label>
                        <input type="text" class="sch-name form-control" id="sch-name">
                    </div>
                    <div>

                    </div>
                    <div id="result" style="display: none;"></div>@*expression*@

                    <div class="row">
                        <label class="form-check-label col-md-12 top-pad">
                            Schedule Type
                        </label>
                        <div class="form-check form-check-inline col-md-4">
                            <input class="form-check-input" type="radio" name="sch-type" id="sch-type1" value="reccur" checked>
                            <label class="" for="sch-type1">
                                Recurring
                            </label>
                        </div>
                        <div class="form-check form-check-inline col-md-4">
                            <input class="form-check-input" type="radio" name="sch-type" id="sch-type2" value="nonreccur">
                            <label class="form-check-label" for="sch-type2">
                                Non Recurring
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="recur col-md-12">
                            <div id="cron" class="cron-builder"></div>
                        </div>

                        <div class="non-rec col-md-5">
                            <label class="form-check-label" for="">
                                Select Time
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input id="datetimepicker" type="text" class="form-control" placeholder="Date Time">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-7 usergroupmessagepad">
                    <label class="form-check-label col-md-12">
                        Deliver To :
                    </label>
                    <div>
                        <div class="col-lg-3">
                            <ul class="nav nav-pills nav-stacked" role="tablist">
                                <li name="email"><a href="#email" name="email" role="tab" data-toggle="tab"><img class="img-responsive image-vender" name="email" src="~/images/svg/email.svg" style="width:47%" /></a></li>
                                <li name="sms"><a href="#SMS" name="sms" role="tab" data-toggle="tab"><img class="img-responsive image-vender" name="sms" src="~/images/svg/text.svg" style="width:47%" /></a></li>
                                <li name="slack"><a href="#Slack" name="slack" role="tab" data-toggle="tab"><img class="img-responsive image-vender" name="slack" src="~/images/slack.png" style="width:80%" /></a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade in active " id="email">
                                <div class="col-md-4">
                                    <label class="form-check-label usr">
                                        Users
                                    </label>
                                    <div class="user-common user-common-all">
                                        @{
                                            Dictionary<int, string> Users = ViewBag.users;
                                            foreach (KeyValuePair<int, string> user in Users)
                                            {
                                                if (user.Value != "")
                                                {
                                                    <div class="form-check form-check-inline user-line">
                                                        <input class="form-check-input email_user user" type="checkbox" id="user+@user.Key" value="@user.Key">
                                                        <label class="form-check-label" for="inlineCheckbox1">@user.Value</label>
                                                    </div>
                                                }

                                            }
                                        }
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-check-label usr">
                                        UserGroups
                                    </label>
                                    <div class="user-common usergroup-common-all">
                                        @{ Dictionary<int, string> UserGroups = ViewBag.usergroups;
                                            foreach (KeyValuePair<int, string> userg in UserGroups)
                                            {
                                                if (userg.Value != "")
                                                {
                                                    <div class="form-check form-check-inline user-line">
                                                        <input class="form-check-input Email_usergrp usergrp" type="checkbox" id="usergrp+@userg.Key" value="@userg.Key">
                                                        <label class="form-check-label" for="inlineCheckbox1">@userg.Value</label>
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-11">
                                        <label class="form-check-label">Message : </label>
                                    @*    <input type="text" class="form-control" rows="3" id="sch_email_Message">*@
                                        <textarea id="sch_email_Message" class="form-control Message" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="SMS">
                                <div class="col-md-4">
                                    <label class="form-check-label usr">
                                        Users
                                    </label>
                                    <div class="user-common user-common-all">
                                        @{
                                            Users = ViewBag.users;
                                            foreach (KeyValuePair<int, string> user in Users)
                                            {
                                                if (user.Value != "")
                                                {
                                                    <div class="form-check form-check-inline user-line">
                                                        <input class="form-check-input SMS_user user" type="checkbox" id="user+@user.Key" value="@user.Key">
                                                        <label class="form-check-label" for="inlineCheckbox1">@user.Value</label>
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-check-label usr">
                                        UserGroups
                                    </label>
                                    <div class="user-common usergroup-common-all">
                                        @{ UserGroups = ViewBag.usergroups;
                                            foreach (KeyValuePair<int, string> userg in UserGroups)
                                            {
                                                if (userg.Value != "")
                                                {
                                                    <div class="form-check form-check-inline user-line">
                                                        <input class="form-check-input SMS_usergrp usergrp" type="checkbox" id="usergrp+@userg.Key" value="@userg.Key">
                                                        <label class="form-check-label" for="inlineCheckbox1">@userg.Value</label>
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-11">
                                        <label class="form-check-label">Message : </label>
                                        @*<input type="text" class="form-control" id="sch_sms_Message">*@
                                        <textarea id="sch_sms_Message" class="form-control Message" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Slack">
                                <div class="col-md-4">
                                    <label class="form-check-label usr">
                                        Users
                                    </label>
                                    <div class="user-common user-common-all">
                                        @{
                                            Dictionary<int, string> Slackusers = ViewBag.Slackusers;
                                            if (Slackusers != null)
                                            {
                                                foreach (KeyValuePair<int, string> user in Slackusers)
                                                {
                                                    if (user.Value != "")
                                                    {
                                                    <div class="form-check form-check-inline user-line">
                                                        <input class="form-check-input Slack_user user " type="checkbox" id="user+@user.Key" value="@user.Value">
                                                        <label class="form-check-label" for="inlineCheckbox1">@user.Value</label>
                                                    </div>
                                                        }
                                                    }
                                                }
                                            }
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-check-label usr">
                                        UserGroups
                                    </label>
                                    <div class="user-common usergroup-common-all">
                                        @{
                                            Dictionary<int, string> SlackChannnel = ViewBag.SlackChannnel;
                                            if (SlackChannnel != null)
                                            {
                                                foreach (KeyValuePair<int, string> userg in SlackChannnel)
                                                {
                                                    if (userg.Value != "")
                                                    {
                                                    <div class="form-check form-check-inline user-line">
                                                        <input class="form-check-input Slack_usergrp usergrp" type="checkbox" id="usergrp+@userg.Key" value="@userg.Value">
                                                        <label class="form-check-label" for="inlineCheckbox1">@userg.Value</label>
                                                    </div>
                                                        }
                                                    }
                                                }
                                            }
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-11">
                                        <label class="form-check-label">Message : </label>
                                        @*<input type="text" class="form-control" id="sch_slack_Message">*@
                                        <textarea id="sch_slack_Message" class="form-control Message" rows="2"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="SendNow" class="btn btn-success" data-dismiss="modal">Send Now</button>
                <button type="button" id="schedule" class="btn btn-success" data-dismiss="modal">Schedule</button>
                <button type="button" id="edit_sch" class="btn btn-success" data-dismiss="modal">Apply Changes</button>
                <button type="button" id="del_sch" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>

</script>

