@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
    Layout = "~/Views/Shared/LayoutInner.cshtml";
}
<link href="~/css/LeadManagement.css" rel="stylesheet" asp-append-version=@bApnd />
<link rel="stylesheet" type="text/css" href="~/css/jquery.datetimepicker.css" asp-append-version=@bApnd />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css" />
<link href="~/css/Docs.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://rawgit.com/timschlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.css" />
<link href="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
<script src="https://rawgit.com/KidSysco/jquery-ui-month-picker/v3.0.0/demo/MonthPicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

<script type="text/javascript" src="https://rawgit.com/TimSchlechter/bootstrap-tagsinput/master/src/bootstrap-tagsinput.js"></script>

<link rel="stylesheet" type="text/css" href="~/css/Eb.css" asp-append-version=@bApnd />    <!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript" src="~/js/jquery.datetimepicker.min.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/LeadManagement.js" asp-append-version=@bApnd></script>
<link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css" asp-append-version=@bApnd />
<script type="text/javascript" src="~/js/datatables.min.js" asp-append-version=@bApnd></script>
@*<script type="text/javascript" src="~/js/EbCropper.js"></script>*@
@*<script type="text/javascript" src="~/js/UserScripts/EbFormsImageRender.js"></script>*@
<script type="text/javascript" src='~/js/Eb_dragula.js' asp-append-version=@bApnd></script>
@*<link href="~/css/EbControls/EbFileUpload.css" rel="stylesheet" />
<script src="~/js/EbControls/EbFileUpload.js" type="text/javascript"></script>*@

@*<link rel="stylesheet" type="text/css" href="~/css/bootstrap-multiselect.css" asp-append-version=@bApnd />
<script type="text/javascript" src="~/js/bootstrap-multiselect.js" asp-append-version=@bApnd></script>*@

<div class="form-cont">
    <div class="container" style="padding: 50px 0px 0px 0px;">
        <div class="lm-form-inline">
            <div class="col-md-10" style="padding-left:0px;width: 88%;">
                <div class="lm-form-inline">
                    <div class="col-md-2" style="min-width: 21%;">
                        <div class="lm-form-group">
                            <label>Cost Center</label>
                            <select id="selCostCenter" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>EN Date</label>
                            <div class="input-group">
                                <input id="txtEnDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtEnDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style="min-width: 31%;">
                        <div class="lm-form-group">
                            <label>Name</label>
                            <input id="txtName" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>Mobile</label>
                            <input id="txtMobile" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>Phone</label>
                            <input id="txtPhone" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-3">
                        <div class="lm-form-group">
                            <label>Profession</label>
                            <input id="txtProfession" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="lm-form-group">
                            <label>Email</label>
                            <input id="txtEmail" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 16%;">
                        <div class="lm-form-group">
                            <label>DOB</label>
                            <div class="input-group">
                                <input id="txtDob" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtDob').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 10%;">
                        <div class="lm-form-group">
                            <label>Age</label>
                            <input id="txtAge" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 14%;">
                        <div class="lm-form-group">
                            <label>Sex</label>
                            <select id="selSex" class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 10%;">
                        <div class="lm-form-group">
                            <label>NRI</label>
                            <select id="selNri" class="form-control">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>City</label>
                            <input id="txtCrntCity" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Country</label>
                            <input id="txtCrntCountry" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Home City</label>
                            <input id="txtHomeCity" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Home District</label>
                            <select id="selHomeDistrict" class="form-control">
                                @{ 
                                    foreach(string str in ViewBag.DistrictList)
                                    {
                                        <option value="@str">@str</option>
                                    }
                                } 
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 lm-img-cont" id="divCustomerDp">
                <div style="width:100%; height:100%; display:flex; align-items: center; justify-content: center;">
                    <img src="~/images/image.png" style="max-height: 135px; max-width: 130px; opacity: 0.3;" data-id="0" onerror="this.src = '/images/imagenotfound.svg';" />
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Basic Details</a></li>
            <li><a data-toggle="tab" href="#menuBilling">Billing</a></li>
            <li><a data-toggle="tab" href="#menuSurgery">Surgery Details</a></li>
            <li><a data-toggle="tab" href="#menuAttach">Attach</a></li>
        </ul>

        <div class="tab-content white-tab">

            <!-- Home Menu -->
            <div id="home" class="tab-pane fade in active" style="padding-top: 15px; height: calc(100vh - 256px); min-height: 200px;">
                <div class="lm-form-inline">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Service</label>
                            <select id="selService" class="form-control">
                                @{ 
                                    foreach(string str in ViewBag.ServiceList)
                                    {
                                        <option value="@str.ToLower()">@str</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Lead Owner</label>
                            <select id="selLeadOwner" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-2" style="min-width: 21%;">
                        <div class="form-group">
                            <label>Source Category</label>
                             <select id="selSourceCategory" class="form-control">
                                @{ 
                                    foreach(string str in ViewBag.SourceCategoryList)
                                    {
                                        <option value="@str">@str</option>
                                    }
                                } 
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2" style="min-width: 21%;">
                        <div class="form-group">
                            <label>Sub Category</label>
                            <input id="txtSubCategory" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 12%;">
                        <label>Consultation</label>
                        <select id="selConsultation" class="form-control">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </div>
                    <div class="col-md-1" style="min-width: 12%;">
                        <label>Pictures Recevied</label>
                        <select id="selPicReceived" class="form-control">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </div>
                </div>

                <div class="lm-form-inline">
                    <div class="col-md-2" style="min-width: 15%;">
                        <div class="form-group">
                            <label>Consulted Date</label>
                            <div class="input-group">
                                <input id="txtConsultedDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtConsultedDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 13%;">
                        <div class="form-group">
                            <label>Probable Month</label>
                            <input id="txtProbableMonth" type="text" class="form-control" maxlength="7">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 13%;">
                        <div class="form-group">
                            <label>No of Grafts</label>
                            <input id="txtTotalGrafts" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 13%;">
                        <div class="form-group">
                            <label>Total Rate</label>
                            <input id="txtTotalRate" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 13%;">
                        <div class="form-group">
                            <label>No of PRP</label>
                            <input id="txtNoOfPRP" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-2" style="min-width: 18.6%;">
                        <div class="form-group">
                            <label>Nature of Patient</label>
                            <select id="selNature" class="form-control">
                                <option value="easy">Easy</option>
                                <option value="moderate">Moderate</option>
                                <option value="difficult">Difficult</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1" style="min-width: 12%;">
                        <div class="form-group">
                            <label>Fee Paid</label>
                            <select id="selFeePaid" class="form-control">
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Consulting Doctor</label>
                            <select id="selDoctor" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Closing</label>
                            <select id="selClosing" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="lm-form-inline">
                    <div class="lm-form-sec-heading pd-lr-15" style="padding-bottom: 12px; display: inline-block; width:49%;">
                        Followup Details
                    </div>
                    <div style="text-align:right; padding: 15px 0px; display: inline-block; width:49%;">
                        <button id="btnNewFeedBack" class="ebbtn btn eb_btn-sm eb_btngreen"><i class="fa fa-plus"></i> New</button>
                    </div>
                    <div id="divFdbk"></div>
                </div>

            </div>

            <!-- Billing Menu -->
            <div id="menuBilling" class="tab-pane fade" style="height: calc(100vh - 256px); min-height: 200px; ">
                <div style="text-align:right; padding: 15px 15px;">
                    <button id="btnNewBilling" class="ebbtn btn eb_btn-sm eb_btngreen"><i class="fa fa-plus"></i> New</button>                    
                </div>
                <div class="lm-form-inline">
                    <div id="divBilling"></div>
                </div>
            </div>

            <!-- Surgery Menu -->
            <div id="menuSurgery" class="tab-pane fade" style="height: calc(100vh - 256px); min-height: 200px; ">
                <div style="text-align:right; padding: 15px 15px;">
                    @{
                        if (ViewBag.Permission)
                        {
                            <button id="btnNewSurgeryDtls" class="ebbtn btn eb_btn-sm eb_btngreen"><i class="fa fa-plus"></i> New</button>
                        }
                        else
                        {
                            <div></div>
                        }
                    }
                </div>
                <div class="lm-form-inline">
                    <div id="divSrgy"></div>
                </div>
            </div>

            <!-- Attach Menu -->
            <div id="menuAttach" class="tab-pane fade" style="min-height: 200px; ">
                @*<div style="padding: 15px 15px; display:inline-block; width:79%;">
                    <button id="btnFirstImgPage" class="ebbtn eb_btn-sm "><i class="fa fa-step-backward"></i> First</button>
                    <button id="btnPrevImgPage" class="ebbtn eb_btn-sm "><i class="fa fa-chevron-left"></i> Prev</button>
                    <label id="lblImgPage">Page 0 of 0</label>
                    <button id="btnNextImgPage" class="ebbtn eb_btn-sm ">Next <i class="fa fa-chevron-right"></i></button>
                    <button id="btnLastImgPage" class="ebbtn eb_btn-sm ">Last <i class="fa fa-step-forward"></i></button>
                </div>*@
				<div style="text-align:right; padding: 15px 15px 5px 15px; display:inline-block; width:100%;">
					<button id="btnUploadImg" class="ebbtn eb_btn-sm eb_btngreen"><i class="fa fa-upload"></i> Upload</button>
				</div>
                @*<div id="divAllImg"> </div>*@
                <div id="divAllImg1" style="padding: 0 15px;"> </div>
                @*<div style="text-align: center; padding-top: 13%; font-size: 32px; color: #bbb; "> Coming Soon </div>*@
            </div>
        </div>
    </div>
</div>

<!-- Add Followup Details Modal -->
<div class="modal fade" id="mdlFeedBack" role="dialog" data-id="">
    <div class="modal-dialog" style="max-width: 550px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Feedback Details</h4>
            </div>
            <div class="modal-body" style="height: 270px;">
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Date</label>
                            <div class="input-group">
                                <input id="txtFlUpDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtFlUpDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-8">
                        <div class="lm-form-group">
                            <label class="tag-title">Lead Status</label>
                            <select id="selFlUpStatus" class="form-control">
                                @{ 
                                    foreach(string str in ViewBag.StatusList)
                                    {
                                        <option value="@str">@str</option>
                                    }
                                } 
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Follow up Date</label>
                            <div class="input-group">
                                <input id="txtFlUpFolDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtFlUpFolDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-12">
                        <div class="lm-form-group">
                            <label class="tag-title">Comment</label>
                            <textarea id="txaFlUpComnt" class="form-control" style="height: 100px !important; resize:none;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnFlUpSave" class="ebbtn eb_btn-sm eb_btngreen" type="button"><i class="fa fa-spinner fa-pulse" aria-hidden="true" style="display:none;"></i> Save</button>
            </div>
        </div>
    </div>
</div>


<!-- Billing Details Modal -->
<div class="modal fade" id="mdlBilling" role="dialog" data-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Billing Details</h4>
            </div>
            <div class="modal-body" style="height: 290px;">
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Total Amount</label>
                            <input id="txtBlngTotal" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Amount Received</label>
                            <input id="txtBlngRcvd" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Balance Amount</label>
                            <input id="txtBlngBal" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline"></div>
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Cash Paid</label>
                            <input id="txtBlngPaid" type="number" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Date</label>
                            <div class="input-group">
                                <input id="txtBlngDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtBlngDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Payment Mode</label>
                            <select id="selBlngMode" class="form-control">
                                <option>Cash</option>
                                <option>Cheque</option>
                                <option>Credit Card</option>
                                <option>RTGS</option>
                                <option>Third Party Finance</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="lm-form-group">
                            <label class="tag-title">Bank</label>
                            <input id="txtBlngBank" type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">PDC</label>
                            <select id="selBlngPDC" class="form-control" disabled>
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Clearence Date</label>
                            <div class="input-group">
                                <input id="txtBlngClrDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtBlngClrDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="lm-form-group">
                            <label class="tag-title">Narration</label>
                            <input id="txtBlngNarr" type="text" class="form-control" maxlength="30">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnBlngSave" class="ebbtn eb_btn-sm eb_btngreen" type="button"><i class="fa fa-spinner fa-pulse" aria-hidden="true" style="display:none;"></i> Save</button>
            </div>
        </div>
    </div>
</div>


<!-- Surgery Details Modal -->
<div class="modal fade" id="mdlSurgery" role="dialog" data-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Surgery Details</h4>
            </div>
            <div class="modal-body" style="height: 240px;">
                <div class="lm-form-inline">
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Date of Surgery</label>
                            <div class="input-group">
                                <input id="txtSrgyDate" type="text" class="form-control" autocomplete="off">
                                <span class="input-group-addon" onclick="$('#txtSrgyDate').focusin();"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="lm-form-group">
                            <label class="tag-title">Branch</label>
                            <select id="selSrgyBranch" class="form-control">
                                <option>Kochi</option>
                                <option>Kozhikode</option>
                                <option>Trivandrum</option>
                                <option>Coimbatore</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="lm-form-inline">
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label class="tag-title">Extraction Done By</label>
                            <select id="selSrgyExtrDnBy" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label class="tag-title">Implantation By</label>
                            <select id="selSrgyImplantBy" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label class="tag-title">Consent By</label>
                            <select id="selSrgyConsentBy" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label class="tag-title">Anaesthesia By</label>
                            <select id="selSrgyAnasthBy" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label class="tag-title">Post Briefing By</label>
                            <select id="selSrgyPostBrfBy" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lm-form-group">
                            <label class="tag-title">Nurse</label>
                            <select id="selSrgyNurse" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSrgySave" class="ebbtn eb_btn-sm eb_btnblue" type="button"><i class="fa fa-spinner fa-pulse" aria-hidden="true" style="display:none;"></i> Save</button>
                <button type="button" class="ebbtn eb_btn-sm eb_btnblue" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- ViewImage Modal -->
@*<div class="modal fade" id="mdlViewImage" role="dialog" data-id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="opacity: 1; color: #f00; font-size: 52px; position: absolute; top: 5px; right: 10px;">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="modal-imgs-cont">
                    @{
                        if (ViewBag.MC_Mode == 1)
                        {
                            foreach (string id in ViewBag.ImageIdList)
                            {
                                string url = "/images/" + id + ".jpg";
                                <div class="image-cont">
                                    <img data-id="@id" class="img-in-viewer" src="~/images/spin.gif" data-lazy="@url" />
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>*@

<style>
    .MyTempColStyle {
        overflow: visible;
        white-space: normal !important;
        max-width: 350px;
        height: 30px !important;
    }
</style>

@{
    @using Newtonsoft.Json;
    var CInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.CustomerData));
    var CenterInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.CostCenter));
    var DocInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.DocDict));
    var StaffInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.StaffDict));
    var NurseInfo = Html.Raw(JsonConvert.SerializeObject(ViewBag.NurseDict));

    var CCityList = Html.Raw(JsonConvert.SerializeObject(ViewBag.CrntCityList));
    var CCountryList = Html.Raw(JsonConvert.SerializeObject(ViewBag.CrntCountryList));
    var CityList = Html.Raw(JsonConvert.SerializeObject(ViewBag.CityList));

    var SubCategoryList = Html.Raw(JsonConvert.SerializeObject(ViewBag.SubCategoryList));

    //var ImageIdList = Html.Raw(JsonConvert.SerializeObject(ViewBag.ImageIdList));

    var FeedbackList = (Html.Raw(ViewBag.FeedbackList).ToString() == "") ? "null" : Html.Raw(ViewBag.FeedbackList);
    var BillingList = (Html.Raw(ViewBag.BillingList).ToString() == "") ? "null" : Html.Raw(ViewBag.BillingList);
    var SurgeryList = (Html.Raw(ViewBag.SurgeryList).ToString() == "") ? "null" : Html.Raw(ViewBag.SurgeryList);

}

<script>
    var leadObject = new LeadManagementObj(@ViewBag.AccId, @ViewBag.MC_Mode, @CInfo, @CenterInfo, @DocInfo, @StaffInfo, @NurseInfo, @FeedbackList, @BillingList, @SurgeryList, @CCityList, @CCountryList, @CityList, @SubCategoryList );
    
    var imgup = new EbFileUpload({
        Type: "image",
        PreviewWraper: "#divAllImg1",
        Categories: ["Pre consultation", "Consultation", "Hairline", "Post procedure", "Clot removal", "M2", "M4", "M6", "M8", "M10"],
        FilesUrl: "/FilesOf/@ViewBag.AccId",
        Toggle: "#btnUploadImg",
        TenantId:"@ViewBag.cid",
        SolutionId: "@ViewBag.SolnId",
        Container: "uploadtest",
        Multiple: true,
        ServerEventUrl: 'https://se.eb-test.xyz',
        EnableTag: true,
        EnableCrop: true,
        MaxSize:(("@ViewBag.Env" === "Staging")? 15: 2),//in MegaBytes
        //Context: "dp",//if single and crop
        //ResizeViewPort: true //if single and crop
        CustomMenu: [{ name: "Set as DP", icon: "fa-user" }, { name: "Delete", icon: "fa-trash" }]
    }); 

    var uploadedImgRefList = [];
    imgup.uploadSuccess = function (fileid) {
        if (uploadedImgRefList.indexOf(fileid) === -1)
            uploadedImgRefList.push(fileid);
    }
    imgup.windowClose = function () {
        if (uploadedImgRefList.length > 0)
            EbMessage("show", { Message: 'Changes Affect only if Form is Saved', AutoHide: true, Background: '#0000aa' });
    }
    
    imgup.customTrigger = function (name,refids) {
        if (name === "Set as DP") {
            let id = refids[0];
            $("#divCustomerDp").children().remove();
            $("#divCustomerDp").append(`
                    <div style="width:100%; height:100%; display:flex; align-items: center; justify-content: center;">
                        <img src="/images/small/${id}.jpg" data-id="${id}" class="img-responsive" style="max-height: 135px; max-width: 130px;" onerror="this.src = '/images/imagenotfound.svg';" />
                    </div>`);
            EbMessage("show", { Message: 'Changes Affect only if Form is Saved', AutoHide: true, Background: '#0000aa' });
        }
        else if (name === "Delete") {
            EbDialog("show",
                {
                    Message: "Are you sure?",
                    Buttons: {
                        "Yes": {
                            Background: "green",
                            Align: "left",
                            FontColor: "white;"
                        },
                        "No": {
                            Background: "violet",
                            Align: "right",
                            FontColor: "white;"
                        }
                    },
                    CallBack: function (name) {
                        if (name === "Yes"){
                            $("#eb_common_loader").EbLoader("show");
                            $.ajax({
                                type: "POST",
                                url: "../CustomPage/DeleteImages",
                                data: { CustId: @ViewBag.AccId, ImgRefIds: JSON.stringify(refids) },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    EbMessage("show", { Message: 'Something Unexpected Occurred', AutoHide: true, Background: '#aa0000' });
                                    $("#eb_common_loader").EbLoader("hide");
                                },
                                success: function (result) {
                                    $("#eb_common_loader").EbLoader("hide");
                                    if (result) {
                                        EbMessage("show", { Message: 'Deleted Successfully', AutoHide: true, Background: '#00aa00' });
                                        imgup.deleteFromGallery(refids);
                                    }
                                    else {
                                        EbMessage("show", { Message: 'Something went wrong', AutoHide: true, Background: '#aa0000' });
                                    }
                                }
                            });
                        }
                    }
                });
        }
    }
</script>
