<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92530019-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-92530019-1');
    </script>
    <title>EXPRESSbots: Build & Deploy enterprise grade bots with drag-n-drop.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Convert complex business workflows into simple Bot conversations." />
    <meta name="hpapaas" content="hpapaas" />
    <meta name="apaas" content="apaas" />
    <meta name="apaas:platform" content="high productivity platform" />
    <meta name="hpapaas:platform" content="high productivity application platform as a service" />
    <meta name="saas" content="saas" />
    <meta name="rad" content="rad" />
    <meta name="rad:platform" content="rapid application development platform" />
    <meta name="cloud" content="cloud" />
    <meta name="smb" content="smb" />
    <meta name="business" content="business" />
    <meta name="google" content="Results from expressbase.com" />
    <meta name="bot:service" content="Bots as a Service" />
    <meta name="bot:builder" content="Bots builder as a Service" />
    <meta name="bot:drag-drop" content="Drag-n-Drop bot Builder" />
    <meta name="bot:multi-db" content="Multidatabse support" />
    <meta name="bot:rbac" content="Bots with RBAC security" />
    <meta name="bot:embed" content="Embeddable Bots" />

    <link async rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link async rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <link rel="icon" href="~/images/favicon.ico">

    <link async href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link async href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Ebproducts.css" />

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
</head>
<body>
    @{
        Html.RenderPartial("ExtPageHeader");
    }
    <!--message box top-->
    <section class="message-box-indexpage">
        <span>@ViewBag.message</span>
        <i class="fa fa-close pull-right" id="close-msg"></i>
    </section>
    <!--message box top end-->


    <section class="slider botsBanner" id="signupcall">
        <div class="container">
            <div class="row eb-bot-pdF-motion-frame">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padd eb-banner-text-img-sec bg-color-banner text-center" style="margin-top: 135px;">
                    <h2>Right users at the right time by Automated report scheduling </h2>
                    <p class="w-100">
                        Build enterprise grade Reports with just drag-n-drop.
                    </p>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padd get-start-sec">
                    <br /><br />
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-offset-3">
                        @*<div class="no-creditcared">No credit card required.</div>*@

                        @*<form id="signup_form" class="form-inline text-center" action="~/Ext/TenantExtSignup" method="post">
                                <div class="input-group eb-btn-tw">
                                    <input type="email" name="email" class="form-control" placeholder="Enter your email">
                                    <span class="btn input-group-addon no-hover-tw" id="btnGroupAddon">Get Started</span>
                                </div>
                                @*<a class="btn btn_liveDemos" href="#idF_botDemOCl">Live Demos</a>
                            </form>*@
                        <form action="" method="post" onsubmit="return validate(this)" class="joinbeta">
                            <div class="input-group jumb">
                                <input type="email" name="Email" class="form-control emailtxt" placeholder="Enter your email">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn getstarted">Join our Private Beta<i class="fa fa-spinner fa-spin jb"></i></button>
                                </span>
                            </div>
                        </form>
                        @*<div class="form-group social-btn-sec form-inline">
                                <a style="color: #cad4d3;font-size: 12px;">Or Sign In with</a>
                                <div class="form-inline">
                                <a class="btn socialbtns" href="/auth/facebook">
                                    <i class="fa fa-facebook fa-lg"></i>
                                </a>
                                <a class="btn socialbtns" href="/auth/twitter">
                                        <i class="fa fa-twitter fa-lg"></i>
                                    </a>
                                <a class="btn socialbtns" href="#">
                                    <i class="fa fa-linkedin fa-lg"></i>
                                </a>
                                <a class="btn socialbtns" href="/auth/googleoauth">
                                    <i class="fa fa-google-plus fa-lg"></i>
                                </a>
                                <a class="btn socialbtns" href="/auth/github">
                                    <i class="fa fa-github fa-lg"></i>
                                </a>
                                </div>
                            </div>*@
                    </div>
                    @*<div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                            <div class="no-creditcared">No sign-up required</div>
                            <a class="btn btn_liveDemos eb-btn-tw no-hover-tw" href="#idF_botDemOCl">Explore our Live Demo Bots</a>
                            <div class="form-group social-btn-sec">
                                <a class="btn socialbtns live-scenarios-text">Checkout 7 compelling USE CASES</a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </section>

    <!--img section-->
    <section role="tabpanel" class="report-wall mb mt">
       <div class="container">
           <div class="col-md-5 report-wall-text">
               <h2 class="eb_font_H">Lorem Ipsum is simply dummy text</h2>
               <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less 
               normal distribution of letters, as opposed to using 'Content here, content here', making it look like </p>
           </div>
           <div class="col-md-7 report-wall-img hidden-xs">
               <img src="" />
           </div>
       </div>
    </section>

    <section class="bot-pricing mt mb alt" id="pricing">
        <div class="container">
            <h3 class="mt0 eb_font_H text-center h_b">Pricing</h3>
            <div class="col-md-12 collg-12 col-sm-12 col-xs-12 nopadding bot-pricing-body">
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="price-tile">
                        <div class="price-tile-headsec">
                            <div class="headsec-textarea">Free For Ever </div>
                            <div class="headsec-amount">$0</div>
                        </div>
                        <div class="price-tile-bdy">
                            <div class="pricing-items">Anonymous User</div>
                            <div class="pricing-items">Single Bot</div>
                            <div class="pricing-items">100 Users</div>
                            <div class="pricing-items">3 Surveys</div>
                            <div class="pricing-items">5 Bot-form</div>
                            <div class="pricing-items">500 Responses/month </div>
                            <div class="pricing-items strikethrough">Customizable Look & Feel</div>
                            <div class="pricing-items strikethrough">Customizable Dashboard</div>
                            <div class="pricing-items strikethrough">No 'powered by EXPRESSbase'</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="price-tile">
                        <div class="price-tile-headsec">
                            <div class="headsec-textarea">Standard</div>
                            <div class="headsec-amount">$29</div>
                        </div>
                        <div class="price-tile-bdy">
                            <div class="pricing-items">Anonymous User</div>
                            <div class="pricing-items">5 Bots</div>
                            <div class="pricing-items">250 Users</div>
                            <div class="pricing-items">10 Surveys</div>
                            <div class="pricing-items">25 Bot-form</div>
                            <div class="pricing-items">5000 Responses/month </div>
                            <div class="pricing-items">Customizable Look & Feel</div>
                            <div class="pricing-items strikethrough">Customizable Dashboard</div>
                            <div class="pricing-items strikethrough">No 'powered by EXPRESSbase'</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="price-tile">
                        <div class="price-tile-headsec">
                            <div class="headsec-textarea">Pro</div>
                            <div class="headsec-amount">$49</div>
                        </div>
                        <div class="price-tile-bdy">
                            <div class="pricing-items">Anonymous User</div>
                            <div class="pricing-items">10 Bots</div>
                            <div class="pricing-items">500 Users</div>
                            <div class="pricing-items">25 Surveys</div>
                            <div class="pricing-items">50 Bot-form</div>
                            <div class="pricing-items">10000 Responses/month </div>
                            <div class="pricing-items">Customizable Look & Feel</div>
                            <div class="pricing-items">Customizable Dashboard</div>
                            <div class="pricing-items strikethrough">No 'powered by EXPRESSbase'</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="price-tile">
                        <div class="price-tile-headsec">
                            <div class="headsec-textarea">Enterprise</div>
                            <div class="headsec-amount">$99</div>
                        </div>
                        <div class="price-tile-bdy">
                            <div class="pricing-items">Anonymous User</div>
                            <div class="pricing-items">25 Bots</div>
                            <div class="pricing-items">1000 Users</div>
                            <div class="pricing-items">50 Surveys</div>
                            <div class="pricing-items">100 Bot-form</div>
                            <div class="pricing-items">25000 Responses/month </div>
                            <div class="pricing-items">Customizable Look & Feel</div>
                            <div class="pricing-items">Customizable Dashboard</div>
                            <div class="pricing-items">No 'powered by EXPRESSbase'</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="getStarted mt mb">
        <div class="container">
            <div class="text-center">
                @*<h3>Sign Up now. Start building your Business Apps...</h3>*@
                <h3 class="mt0 eb_font_H text-center h_b">Join Us</h3>
            </div>
            <div class="col-md-12 collg-12 col-sm-12 col-xs-12 no-padd get-start-sec">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 col-md-offset-3 col-lg-offset-3 col-sm-offset-3 callfaction_cont">
                    @*<div class="no-creditcared">No credit card required.</div>
                        <div class="no-creditcared">No credit card required.</div>
                        @*<form action="~/Ext/TenantExtSignup" onsubmit="return validate(this)" method="post">
                                <div class="input-group">
                                    <input type="email" id="emailtxt" name="email" class="form-control emailtxt" placeholder="Enter your email">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn getstarted">Get Started</button>
                                    </span>
                                </div>
                            </form>*@
                    <form action="" method="post" onsubmit="return validate(this)" class="joinbeta">
                        <div class="input-group jumb">
                            <input type="email" id="emailtxt" name="Email" class="form-control emailtxt" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button type="submit" class="btn getstarted">Join our Private Beta <i class="fa fa-spinner fa-spin jb"></i></button>
                            </span>
                        </div>
                    </form>
                    @*<div class="form-group social-btn-sec">
                            <a style="color: #7b7b7b;font-size: 12px;">Or Sign In with</a>
                            <div class="form-inline">
                                <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/facebook">
                                    <i class="fa fa-facebook fa-lg"></i>
                                </a>
                                <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/twitter">
                                    <i class="fa fa-twitter fa-lg"></i>
                                </a>
                                <a class="btn socialbtns" href="#">
                                    <i class="fa fa-linkedin fa-lg"></i>
                                </a>
                                <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/googleoauth">
                                    <i class="fa fa-google-plus fa-lg"></i>
                                </a>
                                <a class="btn socialbtns" href="@ViewBag.ServiceUrl/auth/github">
                                    <i class="fa fa-github fa-lg"></i>
                                </a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </section>
    @{
        Html.RenderPartial("PageFooter");
    }

    @if (ViewBag.message != null)
    {
        <script>
            $(".message-box-indexpage").show();
            $(".ext-pageheader .navbar").css("top", "52px");
            $(".slider").css("padding-top", "100px");
            $("#close-msg").click(function (e) {
                $(".message-box-indexpage").fadeOut();
                $(".ext-pageheader .navbar").css("top", "0");
                $(".slider").css("padding-top", "0");
            });
        </script>
    }
    <script>


            $(document).scroll(function () {
                var y = $(this).scrollTop();
                if (y > $('.slider').height()) {
                    $('#trial-btn').fadeIn();
                } else {
                    $('#trial-btn').fadeOut();
                }

                $('#btnGroupAddon').click(function () {
                    document.getElementById("signup_form").submit();
                })
            });

            function validate(form) {
                var email = form.Email.value.trim();
                if (ValidateEmail(email))
                    return true;
                else
                    return false;
            }
            function ValidateEmail(mail) {
                if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
                    return (true);
                return (false);
            }
            $(".joinbeta").submit(function (e) {
                e.preventDefault();
                if (validate(this)) {
                    $.ajax({
                        type: 'POST',
                        url: "../Ext/JoinBeta",
                        beforeSend: function () {
                            $(e.target).children().find('i').show();
                        },
                        data: $(e.target).serializeArray()
                    }).done(function (data) {
                        var msg = data ? "Thank you for your interest in our private beta. We will get back to you shortly." : "You have already specified your interest to join our private beta. We will get back to you shortly.";
                        $(e.target).children().find('i').hide();
                        $(e.target).children().find(".emailtxt").val("");
                        $(".message-box-indexpage").fadeIn().children("span").text(msg);
                        $(".ext-pageheader .navbar").css("top", "52px");
                        $(".slider").css("padding-top", "100px");
                        $("#close-msg").click(function (e) {
                            $(".message-box-indexpage").fadeOut();
                            $(".ext-pageheader .navbar").css("top", "0");
                            $(".slider").css("padding-top", "0");
                        });
                    });
                }
            });

            $(".icon-round, .icon-round i").on("click", function (e) {
                d = document;
                //$(d).scrollTop(1050);
                var $round = $(event.target).closest(".icon-round");
                var appid = $round.attr("appid");
                if (d.latestAppid === appid)
                    return;
                var roundIdx = $(".icon-round").toArray().indexOf($round[0]);
                d.appIdCount = roundIdx;
                $round.css({
                    "border-bottom": "4px solid green",
                    "background": "#e5f3f5",
                    "outline": "none"
                });
                $(".icon-round").siblings(".icon-label").css("border-bottom", "solid 1px #ccc").css("color", "#8A939E");

                $round.parent(".liveDemos_iconContainers").siblings().each(function (i, obj) {
                    $(obj).children(".icon-round").css({
                        "border-bottom": "none",
                        "background": "none",
                        "outline": "none"
                    });
                });
                var html = d.getElementsByTagName('html')[0];
                html.style.setProperty("--ebbotThemeColor", d.ebbotThemeColorColl[roundIdx]);

                if (appid === undefined)
                    return;
                if ($(`.usecase-bots-cont [appid=${appid}]`).length === 0)
                    d.createBotFns[roundIdx]();
                $(".eb_iframecont").not(`[appid=${appid}]`).animate({ opacity: '0' }, 0).css("right", "-5%").hide(300);
                $(`.usecase-bots-cont [appid=${appid}]`).show(0, function () { $(this).animate({ opacity: '1', right: '5%' }, 400); });

                $(".content").css("opacity", "0").hide(200);
                $(`.content:eq(${roundIdx})`).show(0, function () { $(this).animate({ opacity: '1' }, 400); });
                d.latestAppid = appid;
            });
    </script>
</body>
</html>