@using ExpressBase.Common.Objects;
@using ExpressBase.Objects;
@using ExpressBase.Common.Structures;
@using ExpressBase.Common.Objects.Attributes;

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="~/js/FilterDialogBuilder/Eb_FilterFormBuilder.js"></script>
<link rel="stylesheet" href="~/lib/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="~/lib/codemirror/addon/hint/show-hint.css">
<link rel="stylesheet" href="~/lib/codemirror/addon/fold/foldgutter.css" />
<script src="~/lib/codemirror/lib/codemirror.js"></script>
<script src="~/js/ChatBot/BotFormBuilder.js"></script>
<script src="~/lib/codemirror/addon/hint/show-hint.js"></script>
<script src="~/lib/codemirror/addon/hint/javascript-hint.js"></script>
<script src="~/lib/codemirror/mode/javascript/javascript.js"></script>
<script src="~/lib/codemirror/addon/fold/foldcode.js"></script>
<script src="~/lib/codemirror/addon/fold/foldgutter.js"></script>
<script src="~/lib/codemirror/addon/fold/brace-fold.js"></script>
<script src="~/lib/codemirror/addon/fold/xml-fold.js"></script>
<script src="~/lib/codemirror/addon/fold/comment-fold.js"></script>
<script src="~/lib/codemirror/mode/xml/xml.js"></script>
@{
    //Layout = "~/Views/Shared/_Layout1.cshtml";
}
@{
    //int typeInt = 0//(string.IsNullOrEmpty(ViewBag.Objtype)) ? Convert.ToInt32(Context.Request.Query["objtype"]) : Convert.ToInt32(ViewBag.Objtype);
    EbObjectType type = (EbObjectType)Convert.ToInt32(ViewBag.ObjType);
    int typeInt = Convert.ToInt32(ViewBag.ObjType);

    var _builderType = (BuilderType)Enum.Parse(typeof(BuilderType), type.ToString(), true);
    var _toolBox = new EbToolbox(_builderType);
}

<div class='eb-loaderFixed'><i class='fa fa-spinner fa-pulse fa-4x fa-fw center-block'></i></div>
<div id="con" class="form-buider-cont">
    <div id="toolbox_cont" class='formB-box toolbox-cont'>
        <div class="pgHead">Toolbox  <i class="fa fa-wrench" aria-hidden="true"></i> <i class="fa fa-times pin" onclick="slideLeft ('.form-save-wraper', '#toolbox_cont')" aria-hidden="true"></i></div>
        <div id="form-buider-toolBox" class="form-buider-toolBox">
            @Html.Raw(_toolBox.html)
        </div>
    </div>
    <div class="form-save-wraper">


        <div class="dev-chat-cont">
            <div class="eb-chat-head"><span>Filter Dialog <i class="fa fa-comment pull-right" aria-hidden="true"></i></span></div>
            <div id="form-buider-form" eb-type="@_builderType" tabindex="1" class="eb-chatBox-dev">
                @Html.Raw(@ViewBag.html)
                @*<textarea id="txtValues" rows="15" cols="40"></textarea>*@
                @*<textarea id="code" name="code" rows="50" cols="40"></textarea>*@
            </div>
        </div>

    </div>
    <input type="hidden" id="objtype" value="@type" />
    <input type="hidden" id="objid" value="@ViewBag.Refid" />
    <div id='form-buider-propGrid' class='formB-box property-grid-cont'>
        <div id='pgWraper'></div>
    </div>
</div>

<script>
    @Html.Raw(_toolBox.EbObjectTypes);
    @Html.Raw(_toolBox.AllControlls);
    @Html.Raw(_toolBox.AllMetas);
    @Html.Raw(_toolBox.JsonToJsObjectFuncs);
    @Html.Raw(_toolBox.TypeRegister);

    var formBuilderObj = null;
    var objid =$("#objid").val();
    var FBid = "form-buider-form";
    var editModeFormObj = null;
    var ToolBoxId = "form-buider-toolBox";
    var PGid = "form-buider-propGrid";
    commonO.ObjCollection["#vernav@(ViewBag.tabnum)"] = new FilterformBuilder(ToolBoxId, FBid, PGid, @((int)_builderType), @typeInt,  "@ViewBag.wc",  "@ViewBag.cid", @Html.Raw(ViewBag.dsObj));
    // if edit mode
    @*if(objid){
        var editModeObj = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.Json));
        //$.each(editModeFormObj, funcion(i, obj) {  });
        formBuilderObj= new formBuilder(ToolBoxId, FBid, PGid, @((int)_builderType), @typeInt,  "@ViewBag.wc",  "@ViewBag.cid");
        formBuilderObj.InitEditModeCtrls(JSON.parse(editModeObj));
    }
    else
        formBuilderObj= new formBuilder(ToolBoxId, FBid, PGid, @((int)_builderType), @typeInt,  "@ViewBag.wc",  "@ViewBag.cid");*@
</script>