@using ServiceStack;
@using ExpressBase.Objects;
@using ExpressBase.Common;
@using Newtonsoft.Json;
@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common.Objects;
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/splitWindow.css">
<script src="~/js/splitWindow.js" type="text/javascript"></script>
<script src="~/js/EbReportSample.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/minimap/1.0.0/minimap.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/minimap/1.0.0/minimap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-scrollstop@1.2.0/jquery.scrollstop.min.js"></script>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="~/js/pagemap.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/canvas2image@1.0.5/canvas2image.min.js"></script>
@await Component.InvokeAsync("PageHeaderCommon")
<style>
    /*.scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: visible;
        overflow-y: scroll;
    }

    .loadingdiv {
        vertical-align: middle;
        margin: 5% 50%;
        z-index: 1;
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    .minimaps {
        height: 200px;
        position: absolute;
        background: whitesmoke;
        width: 100%;
        z-index: 100;
        margin-top: 34px;
    }*/
</style>
@{
    string head = string.Empty;
    string html = string.Empty;

    var dvobj = EbSerializers.Json_Serialize(ViewBag.dvObject);
}
<script>
    $.fn.extend({
        treed: function (o) {
            var openedClass = 'fa-minus-square-o';
            var closedClass = 'fa-plus-square-o';
            var ic = o || 'fa-plus-square-o';

            if (typeof o !== 'undefined') {
                if (typeof o.openedClass !== 'undefined') {
                    //openedClass = o.openedClass;
                }
                if (typeof o.closedClass !== 'undefined') {
                    //closedClass = o.closedClass;
                }
            }
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.prepend("<i class='indicator fa " + ic + "'></i>");
                branch.addClass('branch');
                branch.off("click").on('click', function (e) {
                    if (this === e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                });
                branch.children().children().toggle();
            });
            tree.find('.branch .indicator').each(function () {
                $(this).off("click").on('click', function (e) {
                    $(this).closest('li').click();
                });
            });
            tree.find('.branch>a').each(function () {
                $(this).off("click").on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            tree.find('.branch>button').each(function () {
                $(this).off("off").on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });
    $.fn.extend({
        killTree: function (o) {
            var tree = $(this);
            tree.removeClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.children().children().show();
                branch.children("i").remove();
                branch.removeClass('branch');
                branch.off("click");
            });
        }
    });
</script>
<div class="dv-body">
    <div class="dv-body1">
        <div id='divDots' class='dotsDiv'><div class='navi-bar'><div class='dotstable'></div></div></div>
        <div id="Relateddiv" class='relatedCont' style="display:none;">
            <div id="relatedCurrentDiv">
                <div class="relatedHeader">Current</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedPipableDiv">
                <div class="relatedHeader">Pippable</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedTagedDiv">
                <div class="relatedHeader">Taged</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedOtherDiv">
                <div class="relatedHeader">Other</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedStartDiv">
                <div class="relatedHeader">Start</div>
                <div class="relatedBody"></div>
            </div>
        </div>
        
    </div>
    <div class="dv-body2">
        <div id="parent" class="parent"><div class="splitdiv_parent" id="parent-div0"></div></div>
    </div>
    <div class='filterCont fd' id='filterDiv'></div>
    <div class="ppcont"><div id="pp_inner"></div></div>
</div>

@section EbHead {
    <script>
        this.menuBarObj = $("#layout_div").data("EbHeader");
        $("#obj_icons").append(`<button id='btnGo0' class='btn commonControls'><i class="fa fa-play" aria-hidden="true"></i></button>`);
        $("#obj_icons").after(`<div id="Common_obj_icons" style="display:inline"></div>`);
        var counter = 0;
        @Html.Raw(ViewBag.EbObjectType)
        @Html.Raw(ViewBag.Meta)
        @Html.Raw(ViewBag.JsObjects);

        var dvcontainerObj = new DvContainerObj({
            refid: '@ViewBag.dvRefId',
            ver_num: '@ViewBag.VersionNumber',
            type: '@ViewBag.ObjType',
            dsobj:@Html.Raw(dvobj),
            cur_status:'@ViewBag.Status',
            ss_url: '@ViewBag.ServiceUrl',
            wc: '@ViewBag.wc',
            rowData: '@Html.Raw(ViewBag.rowData)',
            filterValues: '@Html.Raw(ViewBag.filterValues)',
            tabnum: @ViewBag.tabNum,
            DvList:@Html.Raw(ViewBag.DvList),
            DvTagList:@Html.Raw(ViewBag.DvTaggedList),
            url:'@ViewBag.BrowserURLContext'
        });

        $(document).ready(function () {
            @Html.Raw(head)
        });
    </script>
}
