@using ServiceStack;
@using ExpressBase.Objects;
@using ExpressBase.Common;
@using Newtonsoft.Json;
@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common.Objects;
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/splitWindow.css">
<script src="~/js/splitWindow.js" type="text/javascript"></script>

<style>
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: visible;
        overflow-y: scroll;
    }

    .loadingdiv {
        vertical-align: middle;
        margin: 5% 50%;
        z-index: 1;
        display: none;
    }
    body {
        overflow-x: hidden;
    }
</style>
@{
    string head = string.Empty;
    string html = string.Empty;

    var dvRefId = ViewBag.dvRefId;
    var dvobj = EbSerializers.Json_Serialize(ViewBag.dvObject);
}
<div class="row">
    <div class="toolbar objectDashB-toolbar">
        <div class="col-md-4">
            <div class="col-md-12">
                <h5 class="mr-0" style="color:white"> <label id="objname"></label></h5>
            </div>
        </div>
        <div class="col-md-8 pd-0">
            <div class='toolicons form-inline pull-right'>
                <div id="obj_icons" style="display:inline">
                    <button id='btnGo0' class='btn commonControls'><i class="fa fa-play" aria-hidden="true"></i></button>
                </div>
                <div id="Common_obj_icons" style="display:inline">
                    <button id='prev' class='btn commonControls' style="display:none"><i class="fa fa-caret-left fa-lg" aria-hidden="true"></i></button>
                    <button id='next' class='btn commonControls' style="display:none"><i class="fa fa-caret-right fa-lg" aria-hidden="true"></i></button>
                    <button id='Save_btn' style="display:none" class='btn'><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row splitdiv_parent" id="parent-div0"></div>


@section EbHead {
    <script>
        var counter = 0;
        @Html.Raw(ViewBag.EbObjectType)
        @Html.Raw(ViewBag.Meta)
        @Html.Raw(ViewBag.JsObjects);

        var dvcontainerObj = new DvContainerObj({
            refid: '@ViewBag.Refid',
            ver_num: '@ViewBag.VersionNumber',
            type: '@ViewBag.ObjType',
            dsobj:@Html.Raw(dvobj),
            cur_status:'@ViewBag.Status',
            ss_url: '@ViewBag.ServiceUrl',
            wc: '@ViewBag.wc'
        });

        $(document).ready(function () {
            @Html.Raw(head)
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
