@using ServiceStack;
@using ExpressBase.Objects;
@using ExpressBase.Common;
@using Newtonsoft.Json;
@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common.Objects;
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/splitWindow.css">
<style>
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: visible;
        overflow-y: scroll;
    }

    .loadingdiv {
        vertical-align: middle;
        margin: 5% 50%;
        z-index: 1;
        display: none;
    }
</style>
@{
    string head = string.Empty;
    string html = string.Empty;

    var dvRefId = ViewBag.dvRefId;
    var dvname = (ViewBag.dvObject != null) ? ViewBag.dvObject.Name : "* Untitled *";
}
<div class="row" style="margin-top: 52px;">
    <div class="toolbar-com" id='Toolbar'>
    </div>
</div>
        @*<div class="well well-sm" id="devpanel" style="margin-top: 53px;margin-bottom: 1px !important;">
            <div class='dropdown' id='datatSourceDropdown' style="display:inline-block">
                <select class="selectpicker" data-live-search="true">
                    @{
                        if (ViewBag.dvObject == null)
                        {
                            <option data-tokens="Select Datasource" data-dsid="Select Datasource" selected>Select Datasource</option>
                        }
                        foreach (var element in ViewBag.DSListAll)
                        {
                            if (ViewBag.dvObject != null && element.Key == ViewBag.dvObject.DataSourceRefId)
                            {
                                <option data-tokens="@element.Key" data-dsid="@element.Key" selected>@element.Value.Name</option>
                            }
                            else
                            {
                                <option data-tokens="@element.Key" data-dsid="@element.Key">@element.Value.Name</option>
                            }
                        }
                    }
                </select>
            </div>

                <input id='dvnametxt' type='text' class='form-control' placeholder='dvname' style="width: auto;display: inline-block;" />
                <input id='TableHeighttxt' type='number' class='form-control' placeholder='table height' style="width: auto;display: inline-block;" />

                <button id='Save_btn' class='btn btn-primary' style="float: right;display:inline-block"> Save </button>

            </div>*@
        <div id="ppgrid" class="col-md-2 pg no-padd pull-right">
            <div class="min-btn">
                <button class="btn-tb-com" onclick="pgBoxMin();" id='pg-min'><i class="fa fa-caret-right fa-lg" aria-hidden="true"></i></button>
            </div>
        </div>

        <div id="Outer">
            @if (ViewBag.dvObject != null)
            {
                @await Component.InvokeAsync("DataVisualization", new { dsRefid = ViewBag.dvObject.DataSourceRefId, Meta = ViewBag.Meta.Substring(11, (ViewBag.Meta.Length - 11)), dvRefId = ViewBag.dvRefId });
            }
        </div>

        @section EbHead {
            <script>

        @Html.Raw(ViewBag.Meta)
        @Html.Raw(ViewBag.JsObjects);
        var dvsetObj = new EbObjects["EbDataVisualizationSet"]("set1");
        var pg = new Eb_PropertyGrid("ppgrid");
        pg.setObject(dvsetObj, AllMetas["EbDataVisualizationSet"]);
        pg.PropertyChanged = function (obj) {
            console.log(obj);
                if (obj.Visualizations !== null) {
                    $.LoadingOverlay("show");
                    $("#Outer").load("../DV/dvCommon", { dsRefid: obj.EbDataSource, Meta: JSON.stringify( @Html.Raw(ViewBag.Meta.Substring(11, (ViewBag.Meta.Length-11))) ), dvRefId: null }, function () {
                    $.LoadingOverlay("hide");
                });

                }

        }
        if ("@ViewBag.wc" == "uc") {
            $("#datatSourceDropdown").css("display", "none");
            $("#dvnametxt").css("display", "none");
            $("#TableHeighttxt").css("display", "none");
            $("#devpanel").css("height", "50px");
        }
        $("#datatSourceDropdown select").on("changed.bs.select", function (e, clickedIndex, newValue, oldValue) {
            var dsRefid = $(this).find('option').eq(clickedIndex).attr("data-dsid");
            $.LoadingOverlay("show");
            $("#Outer").load("../DV/dvCommon", { dsRefid: dsRefid, Meta: JSON.stringify( @Html.Raw(ViewBag.Meta.Substring(11, (ViewBag.Meta.Length-11))) ), dvRefId: null }, function () {
                $.LoadingOverlay("hide");
                });
        });
        $('#datatSourceDropdown select').off("loaded.bs.select").on("loaded.bs.select", function () {
              $('.selectpicker').selectpicker({
                style: 'btn-info',
                size: 4
            });
            $('#datatSourceDropdown').selectpicker('refresh');

         });
        $(document).ready(function () {
            @Html.Raw(head)
            $('[data-toggle="tooltip"]').tooltip();
        });
            </script>
        }
