@using ServiceStack;
@using ExpressBase.Objects;
@using ExpressBase.Common;
@using System.Globalization;
@using Newtonsoft.Json;
@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common.Objects;
@using ExpressBase.Common.Singletons;
@{
    Layout = "~/Views/Shared/LayoutBuilders.cshtml";
}
@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin="" />
<script src="~/js/DV/leaflet.js" crossorigin=""></script>

<link rel="stylesheet" type="text/css" href="~/css/DV/slick.css" />
<link rel="stylesheet" type="text/css" href="~/css/DV/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="~/css/splitWindow.css" asp-append-version=@bApnd>
<link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css" asp-append-version=@bApnd>
<link rel="stylesheet" type="text/css" href="~/css/ChartStyle.css" asp-append-version=@bApnd>
<link rel="stylesheet" type="text/css" href="~/css/EbFileViewer/viewer.css" asp-append-version=@bApnd>

<script src="~/js/splitWindow.js" type="text/javascript" asp-append-version=@bApnd></script>
<script src="~/js/EbReportSample.js" type="text/javascript" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbDataTable.js" asp-append-version=@bApnd></script>
<script src="~/js/CommonDataTable.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Eb_chart.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/dvContainer.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Eb_Basic_chart.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbMapView/MapView.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbFileViewer/EbFileViewerPlugin.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbFileViewer/viewer.js" asp-append-version=@bApnd></script>

<script type="text/javascript" src="~/js/DV/Slick.js"></script>
<script type="text/javascript" src="~/js/DV/html2canvas.min.js"></script>
<script type="text/javascript" src="~/js/DV/Canvas2image.js"></script>
<script type="text/javascript" src="~/js/DV/Chart.min.js"></script>
<script type="text/javascript" src="~/js/DV/Chart.Zoom.min.js"></script>
<script type="text/javascript" src="~/js/DV/randomColor.min.js"></script>
@await Component.InvokeAsync("PageHeaderCommon")

@{
    string head = string.Empty;
    string html = string.Empty;

    var dvobj = EbSerializers.Json_Serialize(ViewBag.dvObject);

    //var _user_culture = CultureInfo.GetCultureInfo(ViewBag.currentUser.Preference.Locale);
    var _user_culture = CultureHelper.GetSerializedCultureInfo(ViewBag.currentUser.Preference.Locale).GetCultureInfo();
    var datePattern = (_user_culture as CultureInfo).DateTimeFormat.ShortDatePattern;
}
<script>
     $('title').text('@ViewBag.DispName');
    $.fn.extend({
        treed: function (o) {
            var openedClass = 'fa-minus-square-o';
            var closedClass = 'fa-plus-square-o';
            var ic = o || 'fa-plus-square-o';

            if (typeof o !== 'undefined') {
                if (typeof o.openedClass !== 'undefined') {
                    //openedClass = o.openedClass;
                }
                if (typeof o.closedClass !== 'undefined') {
                    //closedClass = o.closedClass;
                }
            }
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.prepend("<i class='indicator fa " + ic + "'></i>");
                branch.addClass('branch');
                branch.off("click").on('click', function (e) {
                    if (this === e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                });
                branch.children().children().toggle();
            });
            tree.find('.branch .indicator').each(function () {
                $(this).off("click").on('click', function (e) {
                    $(this).closest('li').click();
                });
            });
            tree.find('.branch>a').each(function () {
                $(this).off("click").on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            tree.find('.branch>button').each(function () {
                $(this).off("off").on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });
    $.fn.extend({
        killTree: function (o) {
            var tree = $(this);
            tree.removeClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.children().children().show();
                branch.children("i").remove();
                branch.removeClass('branch');
                branch.off("click");
            });
        }
    });
    $("body").prepend(`
<div class="modal fade" id="iFrameFormPopupModal" role="dialog">
    <div class="modal-dialog" style="width: 60%; margin: 8% auto;">
        <div class="modal-content">
            <div class="modal-body" style="height: 60vh; padding: 0px;">
                <div>
                    <div id="iFrameFormPopupOverlay" style=" text-align: center; position: absolute; height: 60vh; width: 100%; background-color: white; border-radius: 6px;">
                        <div style="position: relative; top: 50%;"><i class="fa fa-spinner fa-pulse" aria-hidden="true"></i> Loading...</div>
                    </div>
                    <iframe id="iFrameFormPopup" style="width: 100%; height: 60vh; border: none; border-radius: 6px;" ></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
`);
    window.closeModal = function (func) {// receives call from iFrame
        //func();
        $('#iFrameFormPopupModal').modal('hide');
    };
    $('#iFrameFormPopupModal').on('hidden.bs.modal', function () {
        $('#iFrameFormPopup').removeAttr("src");
        $("#iFrameFormPopupOverlay").show();
    });
    $("#iFrameFormPopup").on('load', function (evt) {
        console.log(evt.target);
        if ($(evt.target).attr("src") !== undefined)
            $("#iFrameFormPopupOverlay").hide();
    });
</script>

<div class="dv-body" eb-root-obj-container>
    <div class="dv-body1">
        <div id='divDots' class='dotsDiv'><div class='navi-bar'><div class='dotstable'></div></div></div>
        <div id="Relateddiv" class='relatedCont' style="display:none;">
            <div id="relatedCurrentDiv">
                <div class="relatedHeader">Current</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedPipableDiv">
                <div class="relatedHeader">Pippable</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedTagedDiv">
                <div class="relatedHeader">Taged</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedOtherDiv">
                <div class="relatedHeader">Other</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedStartDiv">
                <div class="relatedHeader">Start</div>
                <div class="relatedBody"></div>
            </div>
        </div>

    </div>
    <div class="dv-body2">
        <div id="parent" class="parent"><div class="splitdiv_parent" id="parent-div0"></div></div>
    </div>
    @*<div class='filterCont fd' id='filterDiv'></div>*@
    <div class="ppcont"><div id="pp_inner"></div></div>
</div>
<script>
        $("#obj_icons").append(`<button id='btnGo0' class='btn commonControls'><i class="fa fa-play" aria-hidden="true"></i></button>`);
    $("#obj_icons").after(`<div id="Common_obj_icons" style="display:inline"></div>`);

    let _TableVisualization = @Html.Raw(dvobj);
    let header = new EbHeader();
    header.addRootObjectHelp(_TableVisualization);
    debugger;

        var counter = 0;
        @Html.Raw(ViewBag.EbObjectType)
        @Html.Raw(ViewBag.Meta)
        @Html.Raw(ViewBag.JsObjects);
        @Html.Raw(ViewBag.TypeRegister);

        var dvcontainerObj = new DvContainerObj({
            refid: '@ViewBag.dvRefId',
            ver_num: '@ViewBag.VersionNumber',
            type: '@ViewBag.ObjType',
            dsobj: _TableVisualization,
            cur_status:'@ViewBag.Status',
            ss_url: '@ViewBag.ServiceUrl',
            wc: '@ViewBag.wc',
            rowData:'@Html.Raw(ViewBag.rowData)',
            filterValues:'@Html.Raw(ViewBag.filterValues)',
            tabnum: @ViewBag.tabNum,
            DvList:@Html.Raw(ViewBag.DvList),
            DvTagList:@Html.Raw(ViewBag.DvTaggedList),
            url: '@ViewBag.BrowserURLContext',
            datePattern: '@datePattern',
            TenantId: '@ViewBag.cid',
            UserId: '@ViewBag.uid',
            googlekey:'@ViewBag.al_arz_map_key'
        });

        $(document).ready(function () {
            @Html.Raw(head)
        });
</script>