@using ServiceStack;
@using ExpressBase.Objects;
@using ExpressBase.Common;
@using System.Globalization;
@using Newtonsoft.Json;
@using ExpressBase.Objects.ServiceStack_Artifacts;
@using ExpressBase.Common.Objects;
@using ExpressBase.Common.Singletons;
@{
    Layout = "~/Views/Shared/LayoutBuilders.cshtml";
}
@{
    var bApnd = true;
    if (ViewBag.Env == "Development")
    {
        bApnd = false;
    }
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin="" />
<script src="~/js/DV/leaflet.js" crossorigin=""></script>

<link rel="stylesheet" type="text/css" href="~/css/DV/slick.css" />
<link rel="stylesheet" type="text/css" href="~/css/DV/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="~/css/splitWindow.css" asp-append-version=@bApnd>
<link rel="stylesheet" type="text/css" href="~/css/Eb_datatable.css" asp-append-version=@bApnd>
<link rel="stylesheet" type="text/css" href="~/css/ChartStyle.css" asp-append-version=@bApnd>
<link rel="stylesheet" type="text/css" href="~/css/EbFileViewer/viewer.css" asp-append-version=@bApnd>

<script src="~/js/splitWindow.js" type="text/javascript" asp-append-version=@bApnd></script>
<script src="~/js/EbReportSample.js" type="text/javascript" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbDataTable.js" asp-append-version=@bApnd></script>
<script src="~/js/CommonDataTable.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Eb_chart.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/dvContainer.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/Eb_Basic_chart.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbMapView/MapView.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbFileViewer/EbFileViewerPlugin.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/EbFileViewer/viewer.js" asp-append-version=@bApnd></script>
<script type="text/javascript" src="~/js/FormBuilder/locationpicker.jquery.min.js"></script>

<script type="text/javascript" src="~/js/DV/Slick.js"></script>
<script type="text/javascript" src="~/js/DV/html2canvas.min.js"></script>
<script type="text/javascript" src="~/js/DV/Canvas2image.js"></script>
<script type="text/javascript" src="~/js/DV/Chart.min.js"></script>
<script type="text/javascript" src="~/js/DV/Chart.Zoom.min.js"></script>
<script type="text/javascript" src="~/js/DV/randomColor.min.js"></script>
@await Component.InvokeAsync("PageHeaderCommon")

@{
    string head = string.Empty;
    string html = string.Empty;

    var dvobj = EbSerializers.Json_Serialize(ViewBag.dvObject);

    //var _user_culture = CultureInfo.GetCultureInfo(ViewBag.currentUser.Preference.Locale);
    var _user_culture = CultureHelper.GetSerializedCultureInfo(ViewBag.currentUser.Preference.Locale).GetCultureInfo();
    var datePattern = (_user_culture as CultureInfo).DateTimeFormat.ShortDatePattern;
}
<script>
    $('title').text('@ViewBag.DispName');
    $.fn.extend({
        treed: function (o) {
            var openedClass = 'fa-minus-square-o';
            var closedClass = 'fa-plus-square-o';
            var ic = o || 'fa-plus-square-o';

            if (typeof o !== 'undefined') {
                if (typeof o.openedClass !== 'undefined') {
                    //openedClass = o.openedClass;
                }
                if (typeof o.closedClass !== 'undefined') {
                    //closedClass = o.closedClass;
                }
            }
            var tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.prepend("<i class='indicator fa " + ic + "'></i>");
                branch.addClass('branch');
                branch.off("click").on('click', function (e) {
                    if (this === e.target) {
                        var icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                });
                branch.children().children().toggle();
            });
            tree.find('.branch .indicator').each(function () {
                $(this).off("click").on('click', function (e) {
                    $(this).closest('li').click();
                });
            });
            tree.find('.branch>a').each(function () {
                $(this).off("click").on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            tree.find('.branch>button').each(function () {
                $(this).off("off").on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });
    $.fn.extend({
        killTree: function (o) {
            var tree = $(this);
            tree.removeClass("tree");
            tree.find('li').has("ul").each(function () {
                var branch = $(this);
                branch.children().children().show();
                branch.children("i").remove();
                branch.removeClass('branch');
                branch.off("click");
            });
        }
    });

</script>

<div class="dv-body" eb-root-obj-container>
    <div class="dv-body1">
        <div id='divDots' class='dotsDiv'><div class='navi-bar'><div class='dotstable'></div></div></div>
        <div id="Relateddiv" class='relatedCont' style="display:none;">
            <div id="relatedCurrentDiv">
                <div class="relatedHeader">Current</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedPipableDiv">
                <div class="relatedHeader">Pippable</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedTagedDiv">
                <div class="relatedHeader">Taged</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedOtherDiv">
                <div class="relatedHeader">Other</div>
                <div class="relatedBody"></div>
            </div>
            <div id="relatedStartDiv">
                <div class="relatedHeader">Start</div>
                <div class="relatedBody"></div>
            </div>
        </div>

    </div>
    <div class="dv-body2">
        <div id="parent" class="parent"><div class="splitdiv_parent" id="parent-div0"></div></div>
    </div>
    @*<div class='filterCont fd' id='filterDiv'></div>*@
    @*<div class="ppcont"><div id="pp_inner"></div></div>*@
</div>
<script>

    $("body").prepend(`
        <div class="modal fade" id="AuditHistoryModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" style="opacity: 1;">&times;</button>
                        <h4 class="modal-title">Audit Trail</h4>
                    </div>
                    <div class="modal-body">
                        <div id="divAuditTrail"> </div>
                    </div>
                </div>
            </div>
        </div>
        `);

    $("body").prepend(`
        <div class="modal fade" id="iFramePdfModal4dv" role="dialog">
            <div class="modal-dialog" style="width: 100%; margin: 38px 0 0 0;">
                <div class="modal-content" style="border-radius: 0; border: none;">
                    <div class="modal-body" style="height: calc(100vh - 38px); padding: 0px;">
                        <div style="position: absolute; top: -33px; z-index: -1000; right: 11px; color: #fdd;">
                            <i class="fa fa-times fa-2x" aria-hidden="true" data-dismiss="modal"></i>
                        </div>
                        <iframe id="iFramePdf4dv" style="width: 100%; height: calc(100vh - 38px); border: none;" ></iframe>
                    </div>
                </div>
            </div>
        </div>`);

    $("#iFramePdf4dv").on('load', function (evt) {
        try {
            if ($(evt.target).attr("src") !== undefined) {
                if (document.getElementById("iFramePdf4dv").contentWindow.document.embeds.length === 1) {
                    document.getElementById("iFramePdf4dv").focus();
                    document.getElementById("iFramePdf4dv").contentWindow.print();
                }
                else {
                    EbMessage("show", { Message: 'Something went wrong', AutoHide: true, Background: '#aa0000' });
                }
                ebcontext.webform.hideLoader();
                //$("#iFramePdfModal4dv").modal("show");
            }
        }
        catch (e) {
            ebcontext.webform.hideLoader();
            EbMessage("show", { Message: 'Something Unexpected Occurred', AutoHide: true, Background: '#aa0000' });
        }
    });

    $("#obj_icons").append(`<button id='btnGo0' class='btn commonControls'><i class="fa fa-play" aria-hidden="true"></i></button>`);
    $("#obj_icons").after(`<div id="Common_obj_icons" style="display:inline"></div>`);

    let _TableVisualization = @Html.Raw(dvobj);
    let header = new EbHeader();
    header.addRootObjectHelp(_TableVisualization);

    var counter = 0;
    @Html.Raw(ViewBag.EbObjectType)
    @Html.Raw(ViewBag.Meta)
    @Html.Raw(ViewBag.JsObjects);
    @Html.Raw(ViewBag.TypeRegister);

    var dvcontainerObj = new DvContainerObj({
        refid: '@ViewBag.dvRefId',
        ver_num: '@ViewBag.VersionNumber',
        type: '@ViewBag.ObjType',
        dsobj: _TableVisualization,
        cur_status: '@ViewBag.Status',
        ss_url: '@ViewBag.ServiceUrl',
        wc: '@ViewBag.wc',
        rowData: '@Html.Raw(ViewBag.rowData)',
        filterValues: '@Html.Raw(ViewBag.filterValues)',
        tabnum: @ViewBag.tabNum,
        DvList: @Html.Raw(ViewBag.DvList),
        DvTagList: @Html.Raw(ViewBag.DvTaggedList),
        url: '@ViewBag.BrowserURLContext',
        datePattern: '@datePattern',
        TenantId: '@ViewBag.cid',
        UserId: '@ViewBag.uid',
        googlekey: '@ViewBag.al_arz_map_key'
    });

    $(document).ready(function () {
    @Html.Raw(head)
                });
</script>