
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    @using ExpressBase.Common;
    var dvobj = EbSerializers.Json_Serialize(ViewBag.dvObject);
}
<style>
    .tools {
        border: none;
        background: none;
        color: black;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/css/splitWindow.css">
<script src="~/js/splitWindow.js" type="text/javascript"></script>

<div class="row" style="margin-top: 52px;">
    <div class="toolbar-com" id='Toolbar'>
        <label class='dvname commonControls' style='color: #333;width:200px'></label>
        <button id='btnGo' class='tools commonControls' style='display:none'><i class="fa fa-play" aria-hidden="true"></i></button>
        <button id='Save_btn' class='tools commonControls' style="display:none">Save</button>
        <button id='fd_toggle' class='tools commonControls' style="display:none">Toggle</button>
    </div>
</div>
<div class="row" id="parent-div" style="height:calc(100vh - 87px);">
    @*<div class="no-padd cont-wnd" id="contBox">
        </div>*@
    @*<div class="col-md-2">
            <div class="no-padd pull-right" id="ppgrid">
            </div>
        </div>*@
</div>
<script>
        //var counter = 0;
    @Html.Raw(ViewBag.EbObjectType)
    @Html.Raw(ViewBag.Meta)
    @Html.Raw(ViewBag.JsObjects);
    var dvcontainerObj = new DvContainerObj({
        ss_url: '@ViewBag.ServiceUrl'
        });

    var split = new splitWindow("parent-div", "contBox");
    var pg = {};
    if ('@ViewBag.dvObject'.indexOf("EbTableVisualization") === -1) {
        var dvTableObj = new EbObjects["EbTableVisualization"]("table_" + Date.now());
        $("label.dvname").text(dvTableObj.Name);
        split.createContentWindow(dvTableObj.EbSid + "_" + ++counter, "EbTableVisualization");
        pg["sub_window_dv" + dvTableObj.EbSid + "_" + counter] = new Eb_PropertyGrid("ppgrid_dv" + dvTableObj.EbSid + "_" + counter);
        pg["sub_window_dv" + dvTableObj.EbSid + "_" + counter].setObject(dvTableObj, AllMetas["EbTableVisualization"]);
    }
    else {
        var dvTableObj = @Html.Raw(dvobj);
        $("label.dvname").text(dvTableObj.Name);
        split.createContentWindow(dvTableObj.EbSid + "_" + ++counter, "EbTableVisualization");
        pg["sub_window_dv" + dvTableObj.EbSid + "_" + counter] = new Eb_PropertyGrid("ppgrid_dv" + dvTableObj.EbSid + "_" + counter);
        pg["sub_window_dv" + dvTableObj.EbSid + "_" + counter].setObject(dvTableObj, AllMetas["EbTableVisualization"]);
        call2dv(dvTableObj);
    }

    pg["sub_window_dv" + dvTableObj.EbSid + "_" + counter].PropertyChanged = function (obj, Pname) {
        dvcontainerObj.currentObj = obj;
        if (Pname == "DataSourceRefId") {
            if (obj[Pname] !== null) {
                call2dv(obj);
            }
        }
        else if (Pname == "Name") {
            dvcontainerObj.currentObj = obj;
            $("label.dvname").text(obj.Name);
            console.log(obj);
        }
        else if (Pname == "Columns") {
            console.log(obj);
        }
    };

    function call2dv(obj) {
        dvcontainerObj.currentObj = obj;
        $.LoadingOverlay("show");
        $.ajax({
            type: "POST",
            url: "../DV/dvCommon",
            data: { dvobj: JSON.stringify(obj), dvRefId: null },
            success: ajaxSucc
        });

    };

    function ajaxSucc(text) {
            obj = dvcontainerObj.currentObj;
            $("#btnGo").css("display", "inline-block");
            var sideDivId = "#sub_windows_sidediv_dv" + obj.EbSid + "_" + counter;
            var subDivId = "#sub_window_dv" + obj.EbSid + "_" + counter;
            $("#content_dv" + obj.EbSid + "_" + counter).empty();
            $(sideDivId).empty();
            $(sideDivId).append("<div class='pgHead'> Param window <button class='close' type='button' style='float:right;font-size: 15px;' >x</button></div >");
            $(sideDivId).append(text);
            if (text.indexOf("filterBox") === -1) {
                $(sideDivId).css("display", "none");
                $.LoadingOverlay("hide");
                dvcontainerObj.dvcol["sub_window_dv" + obj.EbSid + "_" + counter] = dvcontainerObj.currentObj;
                $("#content_dv" + obj.EbSid + "_" + counter).removeClass("col-md-8").addClass("col-md-10");
            }
            else {
                $(sideDivId).css("display", "inline");
                $.LoadingOverlay("hide");
                dvcontainerObj.dvcol["sub_window_dv" + obj.EbSid + "_" + counter] = dvcontainerObj.currentObj;
            }
            $(subDivId).focus();
    };

        split.windowOnFocus = function (ev) {
            if ($(ev.target).attr("class").indexOf("sub-windows") !== -1) {
                var id = $(ev.target).attr("id");
                focusedId = id;
                var type = $(ev.target).attr("eb-type");
                var dvobj = dvcontainerObj.dvcol[id];
                pg["sub_window_dv" + dvTableObj.EbSid + "_" + counter].setObject(dvobj, AllMetas[type]);
            }
        };

</script>
